In [70]:
import pandas as pd
import numpy as np
from glob import glob
from dateutil.relativedelta import relativedelta ,TH
from datetime import datetime
import warnings
from ast import literal_eval
warnings.filterwarnings('ignore')

In [71]:
data_path = glob(r'D:\option_data\data/*')

In [72]:
data_path

['D:\\option_data\\data\\contract.txt',
 'D:\\option_data\\data\\data_frame',
 'D:\\option_data\\data\\option_data.txt',
 'D:\\option_data\\data\\option_data_091453.txt',
 'D:\\option_data\\data\\option_data_file',
 'D:\\option_data\\data\\token_details']

In [73]:
file_path = data_path[3]
dataframe_path = data_path[1]
token_path = data_path[5]
dataset_path = data_path[4]

In [74]:
dataset_path

'D:\\option_data\\data\\option_data_file'

In [75]:
token_path

'D:\\option_data\\data\\token_details'

In [76]:
token_data = pd.read_csv(token_path)

In [77]:
token_data

     token_number instrument_type index_name expiry  strike_price option_types
0           35002          OPTIDX  BANKNIFTY  23D06         49300           CE
1           35003          OPTIDX  BANKNIFTY  23D06         49300           PE
2           35028          OPTIDX  BANKNIFTY  23D06         48800           CE
3           35029          OPTIDX  BANKNIFTY  23D06         47800           CE
4           35030          OPTIDX  BANKNIFTY  23D06         47800           PE
..            ...             ...        ...    ...           ...          ...
293         44202          OPTIDX  BANKNIFTY  23D06         55500           PE
294         45529          OPTIDX  BANKNIFTY  23D06         48400           CE
295         45530          OPTIDX  BANKNIFTY  23D06         48400           PE
296         45547          OPTIDX  BANKNIFTY  23D06         48600           CE
297         45548          OPTIDX  BANKNIFTY  23D06         48600           PE

[298 rows x 6 columns]

In [78]:
df=pd.read_csv(dataset_path)

In [79]:
df

,token_number,timestamp,time_entry,volume,open,high,low,prev-close,ltp,atp
0,36687,2023-12-01 08:00:33,2023-12-01 09:14:56,21850,200.00,200.00,200.00,200.00,200.00,200.00
1,35548,2023-12-01 09:50:59,2023-12-01 09:55:58,120,110.10,125.05,109.00,104.85,125.05,114.71
2,63375,2023-12-01 09:55:13,2023-12-01 09:55:58,97800,1923.30,1927.70,1908.35,1916.55,1915.60,1915.69
3,40682,1980-01-01 00:00:00,2023-12-01 09:55:58,0,0.00,0.00,0.00,714.75,0.00,0.00
4,18580,2023-12-01 09:20:26,2023-12-01 09:55:58,3000,39.05,39.05,39.00,37.00,39.00,39.03
...,...,...,...,...,...,...,...,...,...,...
999995,72629,2023-12-01 10:02:05,2023-12-01 10:02:07,422400,6.75,8.85,6.30,7.90,8.25,7.94
999996,12328,2023-12-01 09:58:40,2023-12-01 10:02:07,655000,3.55,3.60,2.95,4.00,2.95,3.27
999997,72645,2023-12-01 10:02:01,2023-12-01 10:02:07,205600,38.00,40.50,33.65,34.60,34.80,35.81
999998,18835,1980-01-01 00:00:00,2023-12-01 10:02:07,0,0.00,0.00,0.00,133.90,0.00,0.00
999999,13763,2023-12-01 10:01:38,2023-12-01 10:02:07,638400,3.00,4.85,2.95,2.70,4.65,3.78

In [80]:
main_file = pd.read_csv('main_file_1')

In [81]:
main_file

,token_number,timestamp,time_entry,volume,open,high,low,prev-close,ltp,atp
0,40550,1980-01-01 00:00:00,2023-12-01 09:15:02,0,0.0,0.0,0.0,6455.1,0.0,0.0
1,40550,1980-01-01 00:00:00,2023-12-01 09:15:02,0,0.0,0.0,0.0,6455.1,0.0,0.0
2,40550,1980-01-01 00:00:00,2023-12-01 09:15:04,0,0.0,0.0,0.0,6455.1,0.0,0.0
3,40550,1980-01-01 00:00:00,2023-12-01 09:15:14,0,0.0,0.0,0.0,6455.1,0.0,0.0
4,40550,1980-01-01 00:00:00,2023-12-01 09:15:23,0,0.0,0.0,0.0,6455.1,0.0,0.0
...,...,...,...,...,...,...,...,...,...,...
108265,41234,2023-12-01 09:17:50,2023-12-01 09:55:44,15,6260.4,6260.4,6260.4,6030.0,6260.4,6260.4
108266,41234,2023-12-01 09:17:50,2023-12-01 09:55:49,15,6260.4,6260.4,6260.4,6030.0,6260.4,6260.4
108267,41234,2023-12-01 09:17:50,2023-12-01 09:55:54,15,6260.4,6260.4,6260.4,6030.0,6260.4,6260.4
108268,41234,2023-12-01 09:17:50,2023-12-01 09:55:55,15,6260.4,6260.4,6260.4,6030.0,6260.4,6260.4
108269,41234,2023-12-01 09:17:50,2023-12-01 09:55:58,15,6260.4,6260.4,6260.4,6030.0,6260.4,6260.4

In [82]:
for token in token_data['token_number']:
    main_file = pd.read_csv('main_file_1')
    main_data = df[df['token_number'] == token]
    data = pd.concat([main_file , main_data],ignore_index=True)
    data.to_csv('main_file_1' , index = False)
    print(data)

        token_number            timestamp           time_entry  volume  \
0              40550  1980-01-01 00:00:00  2023-12-01 09:15:02       0
1              40550  1980-01-01 00:00:00  2023-12-01 09:15:02       0
2              40550  1980-01-01 00:00:00  2023-12-01 09:15:04       0
3              40550  1980-01-01 00:00:00  2023-12-01 09:15:14       0
4              40550  1980-01-01 00:00:00  2023-12-01 09:15:23       0
...              ...                  ...                  ...     ...
108265         41234  2023-12-01 09:17:50  2023-12-01 09:55:44      15
108266         41234  2023-12-01 09:17:50  2023-12-01 09:55:49      15
108267         41234  2023-12-01 09:17:50  2023-12-01 09:55:54      15
108268         41234  2023-12-01 09:17:50  2023-12-01 09:55:55      15
108269         41234  2023-12-01 09:17:50  2023-12-01 09:55:58      15

          open    high     low  prev-close     ltp     atp
0          0.0     0.0     0.0      6455.1     0.0     0.0
1          0.0     0.0     0.0      6455.1     0.0     0.0
2          0.0     0.0     0.0      6455.1     0.0     0.0
3          0.0     0.0     0.0      6455.1     0.0     0.0
4          0.0     0.0     0.0      6455.1     0.0     0.0
...        ...     ...     ...         ...     ...     ...
108265  6260.4  6260.4  6260.4      6030.0  6260.4  6260.4
108266  6260.4  6260.4  6260.4      6030.0  6260.4  6260.4
108267  6260.4  6260.4  6260.4      6030.0  6260.4  6260.4
108268  6260.4  6260.4  6260.4      6030.0  6260.4  6260.4
108269  6260.4  6260.4  6260.4      6030.0  6260.4  6260.4

[108270 rows x 10 columns]
        token_number            timestamp           time_entry  volume  \
0              40550  1980-01-01 00:00:00  2023-12-01 09:15:02       0
1              40550  1980-01-01 00:00:00  2023-12-01 09:15:02       0
2              40550  1980-01-01 00:00:00  2023-12-01 09:15:04       0
3              40550  1980-01-01 00:00:00  2023-12-01 09:15:14       0
4              40550  1980-01-01 00:00:00  2023-12-01 09:15:23       0
...              ...                  ...                  ...     ...
108265         41234  2023-12-01 09:17:50  2023-12-01 09:55:44      15
108266         41234  2023-12-01 09:17:50  2023-12-01 09:55:49      15
108267         41234  2023-12-01 09:17:50  2023-12-01 09:55:54      15
108268         41234  2023-12-01 09:17:50  2023-12-01 09:55:55      15
108269         41234  2023-12-01 09:17:50  2023-12-01 09:55:58      15

          open    high     low  prev-close     ltp     atp
0          0.0     0.0     0.0      6455.1     0.0     0.0
1          0.0     0.0     0.0      6455.1     0.0     0.0
2          0.0     0.0     0.0      6455.1     0.0     0.0
3          0.0     0.0     0.0      6455.1     0.0     0.0
4          0.0     0.0     0.0      6455.1     0.0     0.0
...        ...     ...     ...         ...     ...     ...
108265  6260.4  6260.4  6260.4      6030.0  6260.4  6260.4
108266  6260.4  6260.4  6260.4      6030.0  6260.4  6260.4
108267  6260.4  6260.4  6260.4      6030.0  6260.4  6260.4
108268  6260.4  6260.4  6260.4      6030.0  6260.4  6260.4
108269  6260.4  6260.4  6260.4      6030.0  6260.4  6260.4

[108270 rows x 10 columns]
        token_number            timestamp           time_entry  volume  \
0              40550  1980-01-01 00:00:00  2023-12-01 09:15:02       0
1              40550  1980-01-01 00:00:00  2023-12-01 09:15:02       0
2              40550  1980-01-01 00:00:00  2023-12-01 09:15:04       0
3              40550  1980-01-01 00:00:00  2023-12-01 09:15:14       0
4              40550  1980-01-01 00:00:00  2023-12-01 09:15:23       0
...              ...                  ...                  ...     ...
108265         41234  2023-12-01 09:17:50  2023-12-01 09:55:44      15
108266         41234  2023-12-01 09:17:50  2023-12-01 09:55:49      15
108267         41234  2023-12-01 09:17:50  2023-12-01 09:55:54      15
108268         41234  2023-12-01 09:17:50  2023-12-01 09:55:55      15
108269         41234  2023-12-01 09:17:50  2023-12-01 09:55:58      15

          open    high     low  prev-close     ltp     atp
0          0.0     0.0     0.0      6455.1     0.0     0.0
1          0.0     0.0     0.0      6455.1     0.0     0.0
2          0.0     0.0     0.0      6455.1     0.0     0.0
3          0.0     0.0     0.0      6455.1     0.0     0.0
4          0.0     0.0     0.0      6455.1     0.0     0.0
...        ...     ...     ...         ...     ...     ...
108265  6260.4  6260.4  6260.4      6030.0  6260.4  6260.4
108266  6260.4  6260.4  6260.4      6030.0  6260.4  6260.4
108267  6260.4  6260.4  6260.4      6030.0  6260.4  6260.4
108268  6260.4  6260.4  6260.4      6030.0  6260.4  6260.4
108269  6260.4  6260.4  6260.4      6030.0  6260.4  6260.4

[108270 rows x 10 columns]
        token_number            timestamp           time_entry  volume  \
0              40550  1980-01-01 00:00:00  2023-12-01 09:15:02       0
1              40550  1980-01-01 00:00:00  2023-12-01 09:15:02       0
2              40550  1980-01-01 00:00:00  2023-12-01 09:15:04       0
3              40550  1980-01-01 00:00:00  2023-12-01 09:15:14       0
4              40550  1980-01-01 00:00:00  2023-12-01 09:15:23       0
...              ...                  ...                  ...     ...
108265         41234  2023-12-01 09:17:50  2023-12-01 09:55:44      15
108266         41234  2023-12-01 09:17:50  2023-12-01 09:55:49      15
108267         41234  2023-12-01 09:17:50  2023-12-01 09:55:54      15
108268         41234  2023-12-01 09:17:50  2023-12-01 09:55:55      15
108269         41234  2023-12-01 09:17:50  2023-12-01 09:55:58      15

          open    high     low  prev-close     ltp     atp
0          0.0     0.0     0.0      6455.1     0.0     0.0
1          0.0     0.0     0.0      6455.1     0.0     0.0
2          0.0     0.0     0.0      6455.1     0.0     0.0
3          0.0     0.0     0.0      6455.1     0.0     0.0
4          0.0     0.0     0.0      6455.1     0.0     0.0
...        ...     ...     ...         ...     ...     ...
108265  6260.4  6260.4  6260.4      6030.0  6260.4  6260.4
108266  6260.4  6260.4  6260.4      6030.0  6260.4  6260.4
108267  6260.4  6260.4  6260.4      6030.0  6260.4  6260.4
108268  6260.4  6260.4  6260.4      6030.0  6260.4  6260.4
108269  6260.4  6260.4  6260.4      6030.0  6260.4  6260.4

[108270 rows x 10 columns]
        token_number            timestamp           time_entry  volume  \
0              40550  1980-01-01 00:00:00  2023-12-01 09:15:02       0
1              40550  1980-01-01 00:00:00  2023-12-01 09:15:02       0
2              40550  1980-01-01 00:00:00  2023-12-01 09:15:04       0
3              40550  1980-01-01 00:00:00  2023-12-01 09:15:14       0
4              40550  1980-01-01 00:00:00  2023-12-01 09:15:23       0
...              ...                  ...                  ...     ...
108265         41234  2023-12-01 09:17:50  2023-12-01 09:55:44      15
108266         41234  2023-12-01 09:17:50  2023-12-01 09:55:49      15
108267         41234  2023-12-01 09:17:50  2023-12-01 09:55:54      15
108268         41234  2023-12-01 09:17:50  2023-12-01 09:55:55      15
108269         41234  2023-12-01 09:17:50  2023-12-01 09:55:58      15

          open    high     low  prev-close     ltp     atp
0          0.0     0.0     0.0      6455.1     0.0     0.0
1          0.0     0.0     0.0      6455.1     0.0     0.0
2          0.0     0.0     0.0      6455.1     0.0     0.0
3          0.0     0.0     0.0      6455.1     0.0     0.0
4          0.0     0.0     0.0      6455.1     0.0     0.0
...        ...     ...     ...         ...     ...     ...
108265  6260.4  6260.4  6260.4      6030.0  6260.4  6260.4
108266  6260.4  6260.4  6260.4      6030.0  6260.4  6260.4
108267  6260.4  6260.4  6260.4      6030.0  6260.4  6260.4
108268  6260.4  6260.4  6260.4      6030.0  6260.4  6260.4
108269  6260.4  6260.4  6260.4      6030.0  6260.4  6260.4

[108270 rows x 10 columns]

        token_number            timestamp           time_entry  volume  \
0              40550  1980-01-01 00:00:00  2023-12-01 09:15:02       0
1              40550  1980-01-01 00:00:00  2023-12-01 09:15:02       0
2              40550  1980-01-01 00:00:00  2023-12-01 09:15:04       0
3              40550  1980-01-01 00:00:00  2023-12-01 09:15:14       0
4              40550  1980-01-01 00:00:00  2023-12-01 09:15:23       0
...              ...                  ...                  ...     ...
108265         41234  2023-12-01 09:17:50  2023-12-01 09:55:44      15
108266         41234  2023-12-01 09:17:50  2023-12-01 09:55:49      15
108267         41234  2023-12-01 09:17:50  2023-12-01 09:55:54      15
108268         41234  2023-12-01 09:17:50  2023-12-01 09:55:55      15
108269         41234  2023-12-01 09:17:50  2023-12-01 09:55:58      15

          open    high     low  prev-close     ltp     atp
0          0.0     0.0     0.0      6455.1     0.0     0.0
1          0.0     0.0     0.0      6455.1     0.0     0.0
2          0.0     0.0     0.0      6455.1     0.0     0.0
3          0.0     0.0     0.0      6455.1     0.0     0.0
4          0.0     0.0     0.0      6455.1     0.0     0.0
...        ...     ...     ...         ...     ...     ...
108265  6260.4  6260.4  6260.4      6030.0  6260.4  6260.4
108266  6260.4  6260.4  6260.4      6030.0  6260.4  6260.4
108267  6260.4  6260.4  6260.4      6030.0  6260.4  6260.4
108268  6260.4  6260.4  6260.4      6030.0  6260.4  6260.4
108269  6260.4  6260.4  6260.4      6030.0  6260.4  6260.4

[108270 rows x 10 columns]
        token_number            timestamp           time_entry  volume  \
0              40550  1980-01-01 00:00:00  2023-12-01 09:15:02       0
1              40550  1980-01-01 00:00:00  2023-12-01 09:15:02       0
2              40550  1980-01-01 00:00:00  2023-12-01 09:15:04       0
3              40550  1980-01-01 00:00:00  2023-12-01 09:15:14       0
4              40550  1980-01-01 00:00:00  2023-12-01 09:15:23       0
...              ...                  ...                  ...     ...
108265         41234  2023-12-01 09:17:50  2023-12-01 09:55:44      15
108266         41234  2023-12-01 09:17:50  2023-12-01 09:55:49      15
108267         41234  2023-12-01 09:17:50  2023-12-01 09:55:54      15
108268         41234  2023-12-01 09:17:50  2023-12-01 09:55:55      15
108269         41234  2023-12-01 09:17:50  2023-12-01 09:55:58      15

          open    high     low  prev-close     ltp     atp
0          0.0     0.0     0.0      6455.1     0.0     0.0
1          0.0     0.0     0.0      6455.1     0.0     0.0
2          0.0     0.0     0.0      6455.1     0.0     0.0
3          0.0     0.0     0.0      6455.1     0.0     0.0
4          0.0     0.0     0.0      6455.1     0.0     0.0
...        ...     ...     ...         ...     ...     ...
108265  6260.4  6260.4  6260.4      6030.0  6260.4  6260.4
108266  6260.4  6260.4  6260.4      6030.0  6260.4  6260.4
108267  6260.4  6260.4  6260.4      6030.0  6260.4  6260.4
108268  6260.4  6260.4  6260.4      6030.0  6260.4  6260.4
108269  6260.4  6260.4  6260.4      6030.0  6260.4  6260.4

[108270 rows x 10 columns]
        token_number            timestamp           time_entry  volume  \
0              40550  1980-01-01 00:00:00  2023-12-01 09:15:02       0
1              40550  1980-01-01 00:00:00  2023-12-01 09:15:02       0
2              40550  1980-01-01 00:00:00  2023-12-01 09:15:04       0
3              40550  1980-01-01 00:00:00  2023-12-01 09:15:14       0
4              40550  1980-01-01 00:00:00  2023-12-01 09:15:23       0
...              ...                  ...                  ...     ...
108265         41234  2023-12-01 09:17:50  2023-12-01 09:55:44      15
108266         41234  2023-12-01 09:17:50  2023-12-01 09:55:49      15
108267         41234  2023-12-01 09:17:50  2023-12-01 09:55:54      15
108268         41234  2023-12-01 09:17:50  2023-12-01 09:55:55      15
108269         41234  2023-12-01 09:17:50  2023-12-01 09:55:58      15

          open    high     low  prev-close     ltp     atp
0          0.0     0.0     0.0      6455.1     0.0     0.0
1          0.0     0.0     0.0      6455.1     0.0     0.0
2          0.0     0.0     0.0      6455.1     0.0     0.0
3          0.0     0.0     0.0      6455.1     0.0     0.0
4          0.0     0.0     0.0      6455.1     0.0     0.0
...        ...     ...     ...         ...     ...     ...
108265  6260.4  6260.4  6260.4      6030.0  6260.4  6260.4
108266  6260.4  6260.4  6260.4      6030.0  6260.4  6260.4
108267  6260.4  6260.4  6260.4      6030.0  6260.4  6260.4
108268  6260.4  6260.4  6260.4      6030.0  6260.4  6260.4
108269  6260.4  6260.4  6260.4      6030.0  6260.4  6260.4

[108270 rows x 10 columns]
        token_number            timestamp           time_entry  volume  \
0              40550  1980-01-01 00:00:00  2023-12-01 09:15:02       0
1              40550  1980-01-01 00:00:00  2023-12-01 09:15:02       0
2              40550  1980-01-01 00:00:00  2023-12-01 09:15:04       0
3              40550  1980-01-01 00:00:00  2023-12-01 09:15:14       0
4              40550  1980-01-01 00:00:00  2023-12-01 09:15:23       0
...              ...                  ...                  ...     ...
108265         41234  2023-12-01 09:17:50  2023-12-01 09:55:44      15
108266         41234  2023-12-01 09:17:50  2023-12-01 09:55:49      15
108267         41234  2023-12-01 09:17:50  2023-12-01 09:55:54      15
108268         41234  2023-12-01 09:17:50  2023-12-01 09:55:55      15
108269         41234  2023-12-01 09:17:50  2023-12-01 09:55:58      15

          open    high     low  prev-close     ltp     atp
0          0.0     0.0     0.0      6455.1     0.0     0.0
1          0.0     0.0     0.0      6455.1     0.0     0.0
2          0.0     0.0     0.0      6455.1     0.0     0.0
3          0.0     0.0     0.0      6455.1     0.0     0.0
4          0.0     0.0     0.0      6455.1     0.0     0.0
...        ...     ...     ...         ...     ...     ...
108265  6260.4  6260.4  6260.4      6030.0  6260.4  6260.4
108266  6260.4  6260.4  6260.4      6030.0  6260.4  6260.4
108267  6260.4  6260.4  6260.4      6030.0  6260.4  6260.4
108268  6260.4  6260.4  6260.4      6030.0  6260.4  6260.4
108269  6260.4  6260.4  6260.4      6030.0  6260.4  6260.4

[108270 rows x 10 columns]
        token_number            timestamp           time_entry  volume  \
0              40550  1980-01-01 00:00:00  2023-12-01 09:15:02       0
1              40550  1980-01-01 00:00:00  2023-12-01 09:15:02       0
2              40550  1980-01-01 00:00:00  2023-12-01 09:15:04       0
3              40550  1980-01-01 00:00:00  2023-12-01 09:15:14       0
4              40550  1980-01-01 00:00:00  2023-12-01 09:15:23       0
...              ...                  ...                  ...     ...
108265         41234  2023-12-01 09:17:50  2023-12-01 09:55:44      15
108266         41234  2023-12-01 09:17:50  2023-12-01 09:55:49      15
108267         41234  2023-12-01 09:17:50  2023-12-01 09:55:54      15
108268         41234  2023-12-01 09:17:50  2023-12-01 09:55:55      15
108269         41234  2023-12-01 09:17:50  2023-12-01 09:55:58      15

          open    high     low  prev-close     ltp     atp
0          0.0     0.0     0.0      6455.1     0.0     0.0
1          0.0     0.0     0.0      6455.1     0.0     0.0
2          0.0     0.0     0.0      6455.1     0.0     0.0
3          0.0     0.0     0.0      6455.1     0.0     0.0
4          0.0     0.0     0.0      6455.1     0.0     0.0
...        ...     ...     ...         ...     ...     ...
108265  6260.4  6260.4  6260.4      6030.0  6260.4  6260.4
108266  6260.4  6260.4  6260.4      6030.0  6260.4  6260.4
108267  6260.4  6260.4  6260.4      6030.0  6260.4  6260.4
108268  6260.4  6260.4  6260.4      6030.0  6260.4  6260.4
108269  6260.4  6260.4  6260.4      6030.0  6260.4  6260.4

[108270 rows x 10 columns]

        token_number            timestamp           time_entry  volume  \
0              40550  1980-01-01 00:00:00  2023-12-01 09:15:02       0
1              40550  1980-01-01 00:00:00  2023-12-01 09:15:02       0
2              40550  1980-01-01 00:00:00  2023-12-01 09:15:04       0
3              40550  1980-01-01 00:00:00  2023-12-01 09:15:14       0
4              40550  1980-01-01 00:00:00  2023-12-01 09:15:23       0
...              ...                  ...                  ...     ...
108265         41234  2023-12-01 09:17:50  2023-12-01 09:55:44      15
108266         41234  2023-12-01 09:17:50  2023-12-01 09:55:49      15
108267         41234  2023-12-01 09:17:50  2023-12-01 09:55:54      15
108268         41234  2023-12-01 09:17:50  2023-12-01 09:55:55      15
108269         41234  2023-12-01 09:17:50  2023-12-01 09:55:58      15

          open    high     low  prev-close     ltp     atp
0          0.0     0.0     0.0      6455.1     0.0     0.0
1          0.0     0.0     0.0      6455.1     0.0     0.0
2          0.0     0.0     0.0      6455.1     0.0     0.0
3          0.0     0.0     0.0      6455.1     0.0     0.0
4          0.0     0.0     0.0      6455.1     0.0     0.0
...        ...     ...     ...         ...     ...     ...
108265  6260.4  6260.4  6260.4      6030.0  6260.4  6260.4
108266  6260.4  6260.4  6260.4      6030.0  6260.4  6260.4
108267  6260.4  6260.4  6260.4      6030.0  6260.4  6260.4
108268  6260.4  6260.4  6260.4      6030.0  6260.4  6260.4
108269  6260.4  6260.4  6260.4      6030.0  6260.4  6260.4

[108270 rows x 10 columns]
        token_number            timestamp           time_entry  volume  \
0              40550  1980-01-01 00:00:00  2023-12-01 09:15:02       0
1              40550  1980-01-01 00:00:00  2023-12-01 09:15:02       0
2              40550  1980-01-01 00:00:00  2023-12-01 09:15:04       0
3              40550  1980-01-01 00:00:00  2023-12-01 09:15:14       0
4              40550  1980-01-01 00:00:00  2023-12-01 09:15:23       0
...              ...                  ...                  ...     ...
108265         41234  2023-12-01 09:17:50  2023-12-01 09:55:44      15
108266         41234  2023-12-01 09:17:50  2023-12-01 09:55:49      15
108267         41234  2023-12-01 09:17:50  2023-12-01 09:55:54      15
108268         41234  2023-12-01 09:17:50  2023-12-01 09:55:55      15
108269         41234  2023-12-01 09:17:50  2023-12-01 09:55:58      15

          open    high     low  prev-close     ltp     atp
0          0.0     0.0     0.0      6455.1     0.0     0.0
1          0.0     0.0     0.0      6455.1     0.0     0.0
2          0.0     0.0     0.0      6455.1     0.0     0.0
3          0.0     0.0     0.0      6455.1     0.0     0.0
4          0.0     0.0     0.0      6455.1     0.0     0.0
...        ...     ...     ...         ...     ...     ...
108265  6260.4  6260.4  6260.4      6030.0  6260.4  6260.4
108266  6260.4  6260.4  6260.4      6030.0  6260.4  6260.4
108267  6260.4  6260.4  6260.4      6030.0  6260.4  6260.4
108268  6260.4  6260.4  6260.4      6030.0  6260.4  6260.4
108269  6260.4  6260.4  6260.4      6030.0  6260.4  6260.4

[108270 rows x 10 columns]
        token_number            timestamp           time_entry  volume  \
0              40550  1980-01-01 00:00:00  2023-12-01 09:15:02       0
1              40550  1980-01-01 00:00:00  2023-12-01 09:15:02       0
2              40550  1980-01-01 00:00:00  2023-12-01 09:15:04       0
3              40550  1980-01-01 00:00:00  2023-12-01 09:15:14       0
4              40550  1980-01-01 00:00:00  2023-12-01 09:15:23       0
...              ...                  ...                  ...     ...
108265         41234  2023-12-01 09:17:50  2023-12-01 09:55:44      15
108266         41234  2023-12-01 09:17:50  2023-12-01 09:55:49      15
108267         41234  2023-12-01 09:17:50  2023-12-01 09:55:54      15
108268         41234  2023-12-01 09:17:50  2023-12-01 09:55:55      15
108269         41234  2023-12-01 09:17:50  2023-12-01 09:55:58      15

          open    high     low  prev-close     ltp     atp
0          0.0     0.0     0.0      6455.1     0.0     0.0
1          0.0     0.0     0.0      6455.1     0.0     0.0
2          0.0     0.0     0.0      6455.1     0.0     0.0
3          0.0     0.0     0.0      6455.1     0.0     0.0
4          0.0     0.0     0.0      6455.1     0.0     0.0
...        ...     ...     ...         ...     ...     ...
108265  6260.4  6260.4  6260.4      6030.0  6260.4  6260.4
108266  6260.4  6260.4  6260.4      6030.0  6260.4  6260.4
108267  6260.4  6260.4  6260.4      6030.0  6260.4  6260.4
108268  6260.4  6260.4  6260.4      6030.0  6260.4  6260.4
108269  6260.4  6260.4  6260.4      6030.0  6260.4  6260.4

[108270 rows x 10 columns]
        token_number            timestamp           time_entry  volume  \
0              40550  1980-01-01 00:00:00  2023-12-01 09:15:02       0
1              40550  1980-01-01 00:00:00  2023-12-01 09:15:02       0
2              40550  1980-01-01 00:00:00  2023-12-01 09:15:04       0
3              40550  1980-01-01 00:00:00  2023-12-01 09:15:14       0
4              40550  1980-01-01 00:00:00  2023-12-01 09:15:23       0
...              ...                  ...                  ...     ...
108265         41234  2023-12-01 09:17:50  2023-12-01 09:55:44      15
108266         41234  2023-12-01 09:17:50  2023-12-01 09:55:49      15
108267         41234  2023-12-01 09:17:50  2023-12-01 09:55:54      15
108268         41234  2023-12-01 09:17:50  2023-12-01 09:55:55      15
108269         41234  2023-12-01 09:17:50  2023-12-01 09:55:58      15

          open    high     low  prev-close     ltp     atp
0          0.0     0.0     0.0      6455.1     0.0     0.0
1          0.0     0.0     0.0      6455.1     0.0     0.0
2          0.0     0.0     0.0      6455.1     0.0     0.0
3          0.0     0.0     0.0      6455.1     0.0     0.0
4          0.0     0.0     0.0      6455.1     0.0     0.0
...        ...     ...     ...         ...     ...     ...
108265  6260.4  6260.4  6260.4      6030.0  6260.4  6260.4
108266  6260.4  6260.4  6260.4      6030.0  6260.4  6260.4
108267  6260.4  6260.4  6260.4      6030.0  6260.4  6260.4
108268  6260.4  6260.4  6260.4      6030.0  6260.4  6260.4
108269  6260.4  6260.4  6260.4      6030.0  6260.4  6260.4

[108270 rows x 10 columns]
        token_number            timestamp           time_entry  volume  \
0              40550  1980-01-01 00:00:00  2023-12-01 09:15:02       0
1              40550  1980-01-01 00:00:00  2023-12-01 09:15:02       0
2              40550  1980-01-01 00:00:00  2023-12-01 09:15:04       0
3              40550  1980-01-01 00:00:00  2023-12-01 09:15:14       0
4              40550  1980-01-01 00:00:00  2023-12-01 09:15:23       0
...              ...                  ...                  ...     ...
108265         41234  2023-12-01 09:17:50  2023-12-01 09:55:44      15
108266         41234  2023-12-01 09:17:50  2023-12-01 09:55:49      15
108267         41234  2023-12-01 09:17:50  2023-12-01 09:55:54      15
108268         41234  2023-12-01 09:17:50  2023-12-01 09:55:55      15
108269         41234  2023-12-01 09:17:50  2023-12-01 09:55:58      15

          open    high     low  prev-close     ltp     atp
0          0.0     0.0     0.0      6455.1     0.0     0.0
1          0.0     0.0     0.0      6455.1     0.0     0.0
2          0.0     0.0     0.0      6455.1     0.0     0.0
3          0.0     0.0     0.0      6455.1     0.0     0.0
4          0.0     0.0     0.0      6455.1     0.0     0.0
...        ...     ...     ...         ...     ...     ...
108265  6260.4  6260.4  6260.4      6030.0  6260.4  6260.4
108266  6260.4  6260.4  6260.4      6030.0  6260.4  6260.4
108267  6260.4  6260.4  6260.4      6030.0  6260.4  6260.4
108268  6260.4  6260.4  6260.4      6030.0  6260.4  6260.4
108269  6260.4  6260.4  6260.4      6030.0  6260.4  6260.4

[108270 rows x 10 columns]

        token_number            timestamp           time_entry  volume  \
0              40550  1980-01-01 00:00:00  2023-12-01 09:15:02       0
1              40550  1980-01-01 00:00:00  2023-12-01 09:15:02       0
2              40550  1980-01-01 00:00:00  2023-12-01 09:15:04       0
3              40550  1980-01-01 00:00:00  2023-12-01 09:15:14       0
4              40550  1980-01-01 00:00:00  2023-12-01 09:15:23       0
...              ...                  ...                  ...     ...
108265         41234  2023-12-01 09:17:50  2023-12-01 09:55:44      15
108266         41234  2023-12-01 09:17:50  2023-12-01 09:55:49      15
108267         41234  2023-12-01 09:17:50  2023-12-01 09:55:54      15
108268         41234  2023-12-01 09:17:50  2023-12-01 09:55:55      15
108269         41234  2023-12-01 09:17:50  2023-12-01 09:55:58      15

          open    high     low  prev-close     ltp     atp
0          0.0     0.0     0.0      6455.1     0.0     0.0
1          0.0     0.0     0.0      6455.1     0.0     0.0
2          0.0     0.0     0.0      6455.1     0.0     0.0
3          0.0     0.0     0.0      6455.1     0.0     0.0
4          0.0     0.0     0.0      6455.1     0.0     0.0
...        ...     ...     ...         ...     ...     ...
108265  6260.4  6260.4  6260.4      6030.0  6260.4  6260.4
108266  6260.4  6260.4  6260.4      6030.0  6260.4  6260.4
108267  6260.4  6260.4  6260.4      6030.0  6260.4  6260.4
108268  6260.4  6260.4  6260.4      6030.0  6260.4  6260.4
108269  6260.4  6260.4  6260.4      6030.0  6260.4  6260.4

[108270 rows x 10 columns]
        token_number            timestamp           time_entry  volume  \
0              40550  1980-01-01 00:00:00  2023-12-01 09:15:02       0
1              40550  1980-01-01 00:00:00  2023-12-01 09:15:02       0
2              40550  1980-01-01 00:00:00  2023-12-01 09:15:04       0
3              40550  1980-01-01 00:00:00  2023-12-01 09:15:14       0
4              40550  1980-01-01 00:00:00  2023-12-01 09:15:23       0
...              ...                  ...                  ...     ...
108265         41234  2023-12-01 09:17:50  2023-12-01 09:55:44      15
108266         41234  2023-12-01 09:17:50  2023-12-01 09:55:49      15
108267         41234  2023-12-01 09:17:50  2023-12-01 09:55:54      15
108268         41234  2023-12-01 09:17:50  2023-12-01 09:55:55      15
108269         41234  2023-12-01 09:17:50  2023-12-01 09:55:58      15

          open    high     low  prev-close     ltp     atp
0          0.0     0.0     0.0      6455.1     0.0     0.0
1          0.0     0.0     0.0      6455.1     0.0     0.0
2          0.0     0.0     0.0      6455.1     0.0     0.0
3          0.0     0.0     0.0      6455.1     0.0     0.0
4          0.0     0.0     0.0      6455.1     0.0     0.0
...        ...     ...     ...         ...     ...     ...
108265  6260.4  6260.4  6260.4      6030.0  6260.4  6260.4
108266  6260.4  6260.4  6260.4      6030.0  6260.4  6260.4
108267  6260.4  6260.4  6260.4      6030.0  6260.4  6260.4
108268  6260.4  6260.4  6260.4      6030.0  6260.4  6260.4
108269  6260.4  6260.4  6260.4      6030.0  6260.4  6260.4

[108270 rows x 10 columns]
        token_number            timestamp           time_entry  volume  \
0              40550  1980-01-01 00:00:00  2023-12-01 09:15:02       0
1              40550  1980-01-01 00:00:00  2023-12-01 09:15:02       0
2              40550  1980-01-01 00:00:00  2023-12-01 09:15:04       0
3              40550  1980-01-01 00:00:00  2023-12-01 09:15:14       0
4              40550  1980-01-01 00:00:00  2023-12-01 09:15:23       0
...              ...                  ...                  ...     ...
108265         41234  2023-12-01 09:17:50  2023-12-01 09:55:44      15
108266         41234  2023-12-01 09:17:50  2023-12-01 09:55:49      15
108267         41234  2023-12-01 09:17:50  2023-12-01 09:55:54      15
108268         41234  2023-12-01 09:17:50  2023-12-01 09:55:55      15
108269         41234  2023-12-01 09:17:50  2023-12-01 09:55:58      15

          open    high     low  prev-close     ltp     atp
0          0.0     0.0     0.0      6455.1     0.0     0.0
1          0.0     0.0     0.0      6455.1     0.0     0.0
2          0.0     0.0     0.0      6455.1     0.0     0.0
3          0.0     0.0     0.0      6455.1     0.0     0.0
4          0.0     0.0     0.0      6455.1     0.0     0.0
...        ...     ...     ...         ...     ...     ...
108265  6260.4  6260.4  6260.4      6030.0  6260.4  6260.4
108266  6260.4  6260.4  6260.4      6030.0  6260.4  6260.4
108267  6260.4  6260.4  6260.4      6030.0  6260.4  6260.4
108268  6260.4  6260.4  6260.4      6030.0  6260.4  6260.4
108269  6260.4  6260.4  6260.4      6030.0  6260.4  6260.4

[108270 rows x 10 columns]
        token_number            timestamp           time_entry  volume  \
0              40550  1980-01-01 00:00:00  2023-12-01 09:15:02       0
1              40550  1980-01-01 00:00:00  2023-12-01 09:15:02       0
2              40550  1980-01-01 00:00:00  2023-12-01 09:15:04       0
3              40550  1980-01-01 00:00:00  2023-12-01 09:15:14       0
4              40550  1980-01-01 00:00:00  2023-12-01 09:15:23       0
...              ...                  ...                  ...     ...
108265         41234  2023-12-01 09:17:50  2023-12-01 09:55:44      15
108266         41234  2023-12-01 09:17:50  2023-12-01 09:55:49      15
108267         41234  2023-12-01 09:17:50  2023-12-01 09:55:54      15
108268         41234  2023-12-01 09:17:50  2023-12-01 09:55:55      15
108269         41234  2023-12-01 09:17:50  2023-12-01 09:55:58      15

          open    high     low  prev-close     ltp     atp
0          0.0     0.0     0.0      6455.1     0.0     0.0
1          0.0     0.0     0.0      6455.1     0.0     0.0
2          0.0     0.0     0.0      6455.1     0.0     0.0
3          0.0     0.0     0.0      6455.1     0.0     0.0
4          0.0     0.0     0.0      6455.1     0.0     0.0
...        ...     ...     ...         ...     ...     ...
108265  6260.4  6260.4  6260.4      6030.0  6260.4  6260.4
108266  6260.4  6260.4  6260.4      6030.0  6260.4  6260.4
108267  6260.4  6260.4  6260.4      6030.0  6260.4  6260.4
108268  6260.4  6260.4  6260.4      6030.0  6260.4  6260.4
108269  6260.4  6260.4  6260.4      6030.0  6260.4  6260.4

[108270 rows x 10 columns]
        token_number            timestamp           time_entry  volume  \
0              40550  1980-01-01 00:00:00  2023-12-01 09:15:02       0
1              40550  1980-01-01 00:00:00  2023-12-01 09:15:02       0
2              40550  1980-01-01 00:00:00  2023-12-01 09:15:04       0
3              40550  1980-01-01 00:00:00  2023-12-01 09:15:14       0
4              40550  1980-01-01 00:00:00  2023-12-01 09:15:23       0
...              ...                  ...                  ...     ...
108265         41234  2023-12-01 09:17:50  2023-12-01 09:55:44      15
108266         41234  2023-12-01 09:17:50  2023-12-01 09:55:49      15
108267         41234  2023-12-01 09:17:50  2023-12-01 09:55:54      15
108268         41234  2023-12-01 09:17:50  2023-12-01 09:55:55      15
108269         41234  2023-12-01 09:17:50  2023-12-01 09:55:58      15

          open    high     low  prev-close     ltp     atp
0          0.0     0.0     0.0      6455.1     0.0     0.0
1          0.0     0.0     0.0      6455.1     0.0     0.0
2          0.0     0.0     0.0      6455.1     0.0     0.0
3          0.0     0.0     0.0      6455.1     0.0     0.0
4          0.0     0.0     0.0      6455.1     0.0     0.0
...        ...     ...     ...         ...     ...     ...
108265  6260.4  6260.4  6260.4      6030.0  6260.4  6260.4
108266  6260.4  6260.4  6260.4      6030.0  6260.4  6260.4
108267  6260.4  6260.4  6260.4      6030.0  6260.4  6260.4
108268  6260.4  6260.4  6260.4      6030.0  6260.4  6260.4
108269  6260.4  6260.4  6260.4      6030.0  6260.4  6260.4

[108270 rows x 10 columns]

        token_number            timestamp           time_entry  volume  \
0              40550  1980-01-01 00:00:00  2023-12-01 09:15:02       0
1              40550  1980-01-01 00:00:00  2023-12-01 09:15:02       0
2              40550  1980-01-01 00:00:00  2023-12-01 09:15:04       0
3              40550  1980-01-01 00:00:00  2023-12-01 09:15:14       0
4              40550  1980-01-01 00:00:00  2023-12-01 09:15:23       0
...              ...                  ...                  ...     ...
108265         41234  2023-12-01 09:17:50  2023-12-01 09:55:44      15
108266         41234  2023-12-01 09:17:50  2023-12-01 09:55:49      15
108267         41234  2023-12-01 09:17:50  2023-12-01 09:55:54      15
108268         41234  2023-12-01 09:17:50  2023-12-01 09:55:55      15
108269         41234  2023-12-01 09:17:50  2023-12-01 09:55:58      15

          open    high     low  prev-close     ltp     atp
0          0.0     0.0     0.0      6455.1     0.0     0.0
1          0.0     0.0     0.0      6455.1     0.0     0.0
2          0.0     0.0     0.0      6455.1     0.0     0.0
3          0.0     0.0     0.0      6455.1     0.0     0.0
4          0.0     0.0     0.0      6455.1     0.0     0.0
...        ...     ...     ...         ...     ...     ...
108265  6260.4  6260.4  6260.4      6030.0  6260.4  6260.4
108266  6260.4  6260.4  6260.4      6030.0  6260.4  6260.4
108267  6260.4  6260.4  6260.4      6030.0  6260.4  6260.4
108268  6260.4  6260.4  6260.4      6030.0  6260.4  6260.4
108269  6260.4  6260.4  6260.4      6030.0  6260.4  6260.4

[108270 rows x 10 columns]
        token_number            timestamp           time_entry  volume  \
0              40550  1980-01-01 00:00:00  2023-12-01 09:15:02       0
1              40550  1980-01-01 00:00:00  2023-12-01 09:15:02       0
2              40550  1980-01-01 00:00:00  2023-12-01 09:15:04       0
3              40550  1980-01-01 00:00:00  2023-12-01 09:15:14       0
4              40550  1980-01-01 00:00:00  2023-12-01 09:15:23       0
...              ...                  ...                  ...     ...
108265         41234  2023-12-01 09:17:50  2023-12-01 09:55:44      15
108266         41234  2023-12-01 09:17:50  2023-12-01 09:55:49      15
108267         41234  2023-12-01 09:17:50  2023-12-01 09:55:54      15
108268         41234  2023-12-01 09:17:50  2023-12-01 09:55:55      15
108269         41234  2023-12-01 09:17:50  2023-12-01 09:55:58      15

          open    high     low  prev-close     ltp     atp
0          0.0     0.0     0.0      6455.1     0.0     0.0
1          0.0     0.0     0.0      6455.1     0.0     0.0
2          0.0     0.0     0.0      6455.1     0.0     0.0
3          0.0     0.0     0.0      6455.1     0.0     0.0
4          0.0     0.0     0.0      6455.1     0.0     0.0
...        ...     ...     ...         ...     ...     ...
108265  6260.4  6260.4  6260.4      6030.0  6260.4  6260.4
108266  6260.4  6260.4  6260.4      6030.0  6260.4  6260.4
108267  6260.4  6260.4  6260.4      6030.0  6260.4  6260.4
108268  6260.4  6260.4  6260.4      6030.0  6260.4  6260.4
108269  6260.4  6260.4  6260.4      6030.0  6260.4  6260.4

[108270 rows x 10 columns]
        token_number            timestamp           time_entry  volume  \
0              40550  1980-01-01 00:00:00  2023-12-01 09:15:02       0
1              40550  1980-01-01 00:00:00  2023-12-01 09:15:02       0
2              40550  1980-01-01 00:00:00  2023-12-01 09:15:04       0
3              40550  1980-01-01 00:00:00  2023-12-01 09:15:14       0
4              40550  1980-01-01 00:00:00  2023-12-01 09:15:23       0
...              ...                  ...                  ...     ...
108265         41234  2023-12-01 09:17:50  2023-12-01 09:55:44      15
108266         41234  2023-12-01 09:17:50  2023-12-01 09:55:49      15
108267         41234  2023-12-01 09:17:50  2023-12-01 09:55:54      15
108268         41234  2023-12-01 09:17:50  2023-12-01 09:55:55      15
108269         41234  2023-12-01 09:17:50  2023-12-01 09:55:58      15

          open    high     low  prev-close     ltp     atp
0          0.0     0.0     0.0      6455.1     0.0     0.0
1          0.0     0.0     0.0      6455.1     0.0     0.0
2          0.0     0.0     0.0      6455.1     0.0     0.0
3          0.0     0.0     0.0      6455.1     0.0     0.0
4          0.0     0.0     0.0      6455.1     0.0     0.0
...        ...     ...     ...         ...     ...     ...
108265  6260.4  6260.4  6260.4      6030.0  6260.4  6260.4
108266  6260.4  6260.4  6260.4      6030.0  6260.4  6260.4
108267  6260.4  6260.4  6260.4      6030.0  6260.4  6260.4
108268  6260.4  6260.4  6260.4      6030.0  6260.4  6260.4
108269  6260.4  6260.4  6260.4      6030.0  6260.4  6260.4

[108270 rows x 10 columns]
        token_number            timestamp           time_entry  volume  \
0              40550  1980-01-01 00:00:00  2023-12-01 09:15:02       0
1              40550  1980-01-01 00:00:00  2023-12-01 09:15:02       0
2              40550  1980-01-01 00:00:00  2023-12-01 09:15:04       0
3              40550  1980-01-01 00:00:00  2023-12-01 09:15:14       0
4              40550  1980-01-01 00:00:00  2023-12-01 09:15:23       0
...              ...                  ...                  ...     ...
108265         41234  2023-12-01 09:17:50  2023-12-01 09:55:44      15
108266         41234  2023-12-01 09:17:50  2023-12-01 09:55:49      15
108267         41234  2023-12-01 09:17:50  2023-12-01 09:55:54      15
108268         41234  2023-12-01 09:17:50  2023-12-01 09:55:55      15
108269         41234  2023-12-01 09:17:50  2023-12-01 09:55:58      15

          open    high     low  prev-close     ltp     atp
0          0.0     0.0     0.0      6455.1     0.0     0.0
1          0.0     0.0     0.0      6455.1     0.0     0.0
2          0.0     0.0     0.0      6455.1     0.0     0.0
3          0.0     0.0     0.0      6455.1     0.0     0.0
4          0.0     0.0     0.0      6455.1     0.0     0.0
...        ...     ...     ...         ...     ...     ...
108265  6260.4  6260.4  6260.4      6030.0  6260.4  6260.4
108266  6260.4  6260.4  6260.4      6030.0  6260.4  6260.4
108267  6260.4  6260.4  6260.4      6030.0  6260.4  6260.4
108268  6260.4  6260.4  6260.4      6030.0  6260.4  6260.4
108269  6260.4  6260.4  6260.4      6030.0  6260.4  6260.4

[108270 rows x 10 columns]
        token_number            timestamp           time_entry  volume  \
0              40550  1980-01-01 00:00:00  2023-12-01 09:15:02       0
1              40550  1980-01-01 00:00:00  2023-12-01 09:15:02       0
2              40550  1980-01-01 00:00:00  2023-12-01 09:15:04       0
3              40550  1980-01-01 00:00:00  2023-12-01 09:15:14       0
4              40550  1980-01-01 00:00:00  2023-12-01 09:15:23       0
...              ...                  ...                  ...     ...
108265         41234  2023-12-01 09:17:50  2023-12-01 09:55:44      15
108266         41234  2023-12-01 09:17:50  2023-12-01 09:55:49      15
108267         41234  2023-12-01 09:17:50  2023-12-01 09:55:54      15
108268         41234  2023-12-01 09:17:50  2023-12-01 09:55:55      15
108269         41234  2023-12-01 09:17:50  2023-12-01 09:55:58      15

          open    high     low  prev-close     ltp     atp
0          0.0     0.0     0.0      6455.1     0.0     0.0
1          0.0     0.0     0.0      6455.1     0.0     0.0
2          0.0     0.0     0.0      6455.1     0.0     0.0
3          0.0     0.0     0.0      6455.1     0.0     0.0
4          0.0     0.0     0.0      6455.1     0.0     0.0
...        ...     ...     ...         ...     ...     ...
108265  6260.4  6260.4  6260.4      6030.0  6260.4  6260.4
108266  6260.4  6260.4  6260.4      6030.0  6260.4  6260.4
108267  6260.4  6260.4  6260.4      6030.0  6260.4  6260.4
108268  6260.4  6260.4  6260.4      6030.0  6260.4  6260.4
108269  6260.4  6260.4  6260.4      6030.0  6260.4  6260.4

[108270 rows x 10 columns]

        token_number            timestamp           time_entry  volume  \
0              40550  1980-01-01 00:00:00  2023-12-01 09:15:02       0
1              40550  1980-01-01 00:00:00  2023-12-01 09:15:02       0
2              40550  1980-01-01 00:00:00  2023-12-01 09:15:04       0
3              40550  1980-01-01 00:00:00  2023-12-01 09:15:14       0
4              40550  1980-01-01 00:00:00  2023-12-01 09:15:23       0
...              ...                  ...                  ...     ...
108265         41234  2023-12-01 09:17:50  2023-12-01 09:55:44      15
108266         41234  2023-12-01 09:17:50  2023-12-01 09:55:49      15
108267         41234  2023-12-01 09:17:50  2023-12-01 09:55:54      15
108268         41234  2023-12-01 09:17:50  2023-12-01 09:55:55      15
108269         41234  2023-12-01 09:17:50  2023-12-01 09:55:58      15

          open    high     low  prev-close     ltp     atp
0          0.0     0.0     0.0      6455.1     0.0     0.0
1          0.0     0.0     0.0      6455.1     0.0     0.0
2          0.0     0.0     0.0      6455.1     0.0     0.0
3          0.0     0.0     0.0      6455.1     0.0     0.0
4          0.0     0.0     0.0      6455.1     0.0     0.0
...        ...     ...     ...         ...     ...     ...
108265  6260.4  6260.4  6260.4      6030.0  6260.4  6260.4
108266  6260.4  6260.4  6260.4      6030.0  6260.4  6260.4
108267  6260.4  6260.4  6260.4      6030.0  6260.4  6260.4
108268  6260.4  6260.4  6260.4      6030.0  6260.4  6260.4
108269  6260.4  6260.4  6260.4      6030.0  6260.4  6260.4

[108270 rows x 10 columns]
        token_number            timestamp           time_entry  volume  \
0              40550  1980-01-01 00:00:00  2023-12-01 09:15:02       0
1              40550  1980-01-01 00:00:00  2023-12-01 09:15:02       0
2              40550  1980-01-01 00:00:00  2023-12-01 09:15:04       0
3              40550  1980-01-01 00:00:00  2023-12-01 09:15:14       0
4              40550  1980-01-01 00:00:00  2023-12-01 09:15:23       0
...              ...                  ...                  ...     ...
108265         41234  2023-12-01 09:17:50  2023-12-01 09:55:44      15
108266         41234  2023-12-01 09:17:50  2023-12-01 09:55:49      15
108267         41234  2023-12-01 09:17:50  2023-12-01 09:55:54      15
108268         41234  2023-12-01 09:17:50  2023-12-01 09:55:55      15
108269         41234  2023-12-01 09:17:50  2023-12-01 09:55:58      15

          open    high     low  prev-close     ltp     atp
0          0.0     0.0     0.0      6455.1     0.0     0.0
1          0.0     0.0     0.0      6455.1     0.0     0.0
2          0.0     0.0     0.0      6455.1     0.0     0.0
3          0.0     0.0     0.0      6455.1     0.0     0.0
4          0.0     0.0     0.0      6455.1     0.0     0.0
...        ...     ...     ...         ...     ...     ...
108265  6260.4  6260.4  6260.4      6030.0  6260.4  6260.4
108266  6260.4  6260.4  6260.4      6030.0  6260.4  6260.4
108267  6260.4  6260.4  6260.4      6030.0  6260.4  6260.4
108268  6260.4  6260.4  6260.4      6030.0  6260.4  6260.4
108269  6260.4  6260.4  6260.4      6030.0  6260.4  6260.4

[108270 rows x 10 columns]
        token_number            timestamp           time_entry  volume  \
0              40550  1980-01-01 00:00:00  2023-12-01 09:15:02       0
1              40550  1980-01-01 00:00:00  2023-12-01 09:15:02       0
2              40550  1980-01-01 00:00:00  2023-12-01 09:15:04       0
3              40550  1980-01-01 00:00:00  2023-12-01 09:15:14       0
4              40550  1980-01-01 00:00:00  2023-12-01 09:15:23       0
...              ...                  ...                  ...     ...
108265         41234  2023-12-01 09:17:50  2023-12-01 09:55:44      15
108266         41234  2023-12-01 09:17:50  2023-12-01 09:55:49      15
108267         41234  2023-12-01 09:17:50  2023-12-01 09:55:54      15
108268         41234  2023-12-01 09:17:50  2023-12-01 09:55:55      15
108269         41234  2023-12-01 09:17:50  2023-12-01 09:55:58      15

          open    high     low  prev-close     ltp     atp
0          0.0     0.0     0.0      6455.1     0.0     0.0
1          0.0     0.0     0.0      6455.1     0.0     0.0
2          0.0     0.0     0.0      6455.1     0.0     0.0
3          0.0     0.0     0.0      6455.1     0.0     0.0
4          0.0     0.0     0.0      6455.1     0.0     0.0
...        ...     ...     ...         ...     ...     ...
108265  6260.4  6260.4  6260.4      6030.0  6260.4  6260.4
108266  6260.4  6260.4  6260.4      6030.0  6260.4  6260.4
108267  6260.4  6260.4  6260.4      6030.0  6260.4  6260.4
108268  6260.4  6260.4  6260.4      6030.0  6260.4  6260.4
108269  6260.4  6260.4  6260.4      6030.0  6260.4  6260.4

[108270 rows x 10 columns]
        token_number            timestamp           time_entry  volume  \
0              40550  1980-01-01 00:00:00  2023-12-01 09:15:02       0
1              40550  1980-01-01 00:00:00  2023-12-01 09:15:02       0
2              40550  1980-01-01 00:00:00  2023-12-01 09:15:04       0
3              40550  1980-01-01 00:00:00  2023-12-01 09:15:14       0
4              40550  1980-01-01 00:00:00  2023-12-01 09:15:23       0
...              ...                  ...                  ...     ...
108265         41234  2023-12-01 09:17:50  2023-12-01 09:55:44      15
108266         41234  2023-12-01 09:17:50  2023-12-01 09:55:49      15
108267         41234  2023-12-01 09:17:50  2023-12-01 09:55:54      15
108268         41234  2023-12-01 09:17:50  2023-12-01 09:55:55      15
108269         41234  2023-12-01 09:17:50  2023-12-01 09:55:58      15

          open    high     low  prev-close     ltp     atp
0          0.0     0.0     0.0      6455.1     0.0     0.0
1          0.0     0.0     0.0      6455.1     0.0     0.0
2          0.0     0.0     0.0      6455.1     0.0     0.0
3          0.0     0.0     0.0      6455.1     0.0     0.0
4          0.0     0.0     0.0      6455.1     0.0     0.0
...        ...     ...     ...         ...     ...     ...
108265  6260.4  6260.4  6260.4      6030.0  6260.4  6260.4
108266  6260.4  6260.4  6260.4      6030.0  6260.4  6260.4
108267  6260.4  6260.4  6260.4      6030.0  6260.4  6260.4
108268  6260.4  6260.4  6260.4      6030.0  6260.4  6260.4
108269  6260.4  6260.4  6260.4      6030.0  6260.4  6260.4

[108270 rows x 10 columns]
        token_number            timestamp           time_entry  volume  \
0              40550  1980-01-01 00:00:00  2023-12-01 09:15:02       0
1              40550  1980-01-01 00:00:00  2023-12-01 09:15:02       0
2              40550  1980-01-01 00:00:00  2023-12-01 09:15:04       0
3              40550  1980-01-01 00:00:00  2023-12-01 09:15:14       0
4              40550  1980-01-01 00:00:00  2023-12-01 09:15:23       0
...              ...                  ...                  ...     ...
108265         41234  2023-12-01 09:17:50  2023-12-01 09:55:44      15
108266         41234  2023-12-01 09:17:50  2023-12-01 09:55:49      15
108267         41234  2023-12-01 09:17:50  2023-12-01 09:55:54      15
108268         41234  2023-12-01 09:17:50  2023-12-01 09:55:55      15
108269         41234  2023-12-01 09:17:50  2023-12-01 09:55:58      15

          open    high     low  prev-close     ltp     atp
0          0.0     0.0     0.0      6455.1     0.0     0.0
1          0.0     0.0     0.0      6455.1     0.0     0.0
2          0.0     0.0     0.0      6455.1     0.0     0.0
3          0.0     0.0     0.0      6455.1     0.0     0.0
4          0.0     0.0     0.0      6455.1     0.0     0.0
...        ...     ...     ...         ...     ...     ...
108265  6260.4  6260.4  6260.4      6030.0  6260.4  6260.4
108266  6260.4  6260.4  6260.4      6030.0  6260.4  6260.4
108267  6260.4  6260.4  6260.4      6030.0  6260.4  6260.4
108268  6260.4  6260.4  6260.4      6030.0  6260.4  6260.4
108269  6260.4  6260.4  6260.4      6030.0  6260.4  6260.4

[108270 rows x 10 columns]

        token_number            timestamp           time_entry  volume  \
0              40550  1980-01-01 00:00:00  2023-12-01 09:15:02       0
1              40550  1980-01-01 00:00:00  2023-12-01 09:15:02       0
2              40550  1980-01-01 00:00:00  2023-12-01 09:15:04       0
3              40550  1980-01-01 00:00:00  2023-12-01 09:15:14       0
4              40550  1980-01-01 00:00:00  2023-12-01 09:15:23       0
...              ...                  ...                  ...     ...
108265         41234  2023-12-01 09:17:50  2023-12-01 09:55:44      15
108266         41234  2023-12-01 09:17:50  2023-12-01 09:55:49      15
108267         41234  2023-12-01 09:17:50  2023-12-01 09:55:54      15
108268         41234  2023-12-01 09:17:50  2023-12-01 09:55:55      15
108269         41234  2023-12-01 09:17:50  2023-12-01 09:55:58      15

          open    high     low  prev-close     ltp     atp
0          0.0     0.0     0.0      6455.1     0.0     0.0
1          0.0     0.0     0.0      6455.1     0.0     0.0
2          0.0     0.0     0.0      6455.1     0.0     0.0
3          0.0     0.0     0.0      6455.1     0.0     0.0
4          0.0     0.0     0.0      6455.1     0.0     0.0
...        ...     ...     ...         ...     ...     ...
108265  6260.4  6260.4  6260.4      6030.0  6260.4  6260.4
108266  6260.4  6260.4  6260.4      6030.0  6260.4  6260.4
108267  6260.4  6260.4  6260.4      6030.0  6260.4  6260.4
108268  6260.4  6260.4  6260.4      6030.0  6260.4  6260.4
108269  6260.4  6260.4  6260.4      6030.0  6260.4  6260.4

[108270 rows x 10 columns]
        token_number            timestamp           time_entry  volume  \
0              40550  1980-01-01 00:00:00  2023-12-01 09:15:02       0
1              40550  1980-01-01 00:00:00  2023-12-01 09:15:02       0
2              40550  1980-01-01 00:00:00  2023-12-01 09:15:04       0
3              40550  1980-01-01 00:00:00  2023-12-01 09:15:14       0
4              40550  1980-01-01 00:00:00  2023-12-01 09:15:23       0
...              ...                  ...                  ...     ...
108265         41234  2023-12-01 09:17:50  2023-12-01 09:55:44      15
108266         41234  2023-12-01 09:17:50  2023-12-01 09:55:49      15
108267         41234  2023-12-01 09:17:50  2023-12-01 09:55:54      15
108268         41234  2023-12-01 09:17:50  2023-12-01 09:55:55      15
108269         41234  2023-12-01 09:17:50  2023-12-01 09:55:58      15

          open    high     low  prev-close     ltp     atp
0          0.0     0.0     0.0      6455.1     0.0     0.0
1          0.0     0.0     0.0      6455.1     0.0     0.0
2          0.0     0.0     0.0      6455.1     0.0     0.0
3          0.0     0.0     0.0      6455.1     0.0     0.0
4          0.0     0.0     0.0      6455.1     0.0     0.0
...        ...     ...     ...         ...     ...     ...
108265  6260.4  6260.4  6260.4      6030.0  6260.4  6260.4
108266  6260.4  6260.4  6260.4      6030.0  6260.4  6260.4
108267  6260.4  6260.4  6260.4      6030.0  6260.4  6260.4
108268  6260.4  6260.4  6260.4      6030.0  6260.4  6260.4
108269  6260.4  6260.4  6260.4      6030.0  6260.4  6260.4

[108270 rows x 10 columns]
        token_number            timestamp           time_entry  volume  \
0              40550  1980-01-01 00:00:00  2023-12-01 09:15:02       0
1              40550  1980-01-01 00:00:00  2023-12-01 09:15:02       0
2              40550  1980-01-01 00:00:00  2023-12-01 09:15:04       0
3              40550  1980-01-01 00:00:00  2023-12-01 09:15:14       0
4              40550  1980-01-01 00:00:00  2023-12-01 09:15:23       0
...              ...                  ...                  ...     ...
108265         41234  2023-12-01 09:17:50  2023-12-01 09:55:44      15
108266         41234  2023-12-01 09:17:50  2023-12-01 09:55:49      15
108267         41234  2023-12-01 09:17:50  2023-12-01 09:55:54      15
108268         41234  2023-12-01 09:17:50  2023-12-01 09:55:55      15
108269         41234  2023-12-01 09:17:50  2023-12-01 09:55:58      15

          open    high     low  prev-close     ltp     atp
0          0.0     0.0     0.0      6455.1     0.0     0.0
1          0.0     0.0     0.0      6455.1     0.0     0.0
2          0.0     0.0     0.0      6455.1     0.0     0.0
3          0.0     0.0     0.0      6455.1     0.0     0.0
4          0.0     0.0     0.0      6455.1     0.0     0.0
...        ...     ...     ...         ...     ...     ...
108265  6260.4  6260.4  6260.4      6030.0  6260.4  6260.4
108266  6260.4  6260.4  6260.4      6030.0  6260.4  6260.4
108267  6260.4  6260.4  6260.4      6030.0  6260.4  6260.4
108268  6260.4  6260.4  6260.4      6030.0  6260.4  6260.4
108269  6260.4  6260.4  6260.4      6030.0  6260.4  6260.4

[108270 rows x 10 columns]
        token_number            timestamp           time_entry  volume  \
0              40550  1980-01-01 00:00:00  2023-12-01 09:15:02       0
1              40550  1980-01-01 00:00:00  2023-12-01 09:15:02       0
2              40550  1980-01-01 00:00:00  2023-12-01 09:15:04       0
3              40550  1980-01-01 00:00:00  2023-12-01 09:15:14       0
4              40550  1980-01-01 00:00:00  2023-12-01 09:15:23       0
...              ...                  ...                  ...     ...
108265         41234  2023-12-01 09:17:50  2023-12-01 09:55:44      15
108266         41234  2023-12-01 09:17:50  2023-12-01 09:55:49      15
108267         41234  2023-12-01 09:17:50  2023-12-01 09:55:54      15
108268         41234  2023-12-01 09:17:50  2023-12-01 09:55:55      15
108269         41234  2023-12-01 09:17:50  2023-12-01 09:55:58      15

          open    high     low  prev-close     ltp     atp
0          0.0     0.0     0.0      6455.1     0.0     0.0
1          0.0     0.0     0.0      6455.1     0.0     0.0
2          0.0     0.0     0.0      6455.1     0.0     0.0
3          0.0     0.0     0.0      6455.1     0.0     0.0
4          0.0     0.0     0.0      6455.1     0.0     0.0
...        ...     ...     ...         ...     ...     ...
108265  6260.4  6260.4  6260.4      6030.0  6260.4  6260.4
108266  6260.4  6260.4  6260.4      6030.0  6260.4  6260.4
108267  6260.4  6260.4  6260.4      6030.0  6260.4  6260.4
108268  6260.4  6260.4  6260.4      6030.0  6260.4  6260.4
108269  6260.4  6260.4  6260.4      6030.0  6260.4  6260.4

[108270 rows x 10 columns]
        token_number            timestamp           time_entry  volume  \
0              40550  1980-01-01 00:00:00  2023-12-01 09:15:02       0
1              40550  1980-01-01 00:00:00  2023-12-01 09:15:02       0
2              40550  1980-01-01 00:00:00  2023-12-01 09:15:04       0
3              40550  1980-01-01 00:00:00  2023-12-01 09:15:14       0
4              40550  1980-01-01 00:00:00  2023-12-01 09:15:23       0
...              ...                  ...                  ...     ...
108265         41234  2023-12-01 09:17:50  2023-12-01 09:55:44      15
108266         41234  2023-12-01 09:17:50  2023-12-01 09:55:49      15
108267         41234  2023-12-01 09:17:50  2023-12-01 09:55:54      15
108268         41234  2023-12-01 09:17:50  2023-12-01 09:55:55      15
108269         41234  2023-12-01 09:17:50  2023-12-01 09:55:58      15

          open    high     low  prev-close     ltp     atp
0          0.0     0.0     0.0      6455.1     0.0     0.0
1          0.0     0.0     0.0      6455.1     0.0     0.0
2          0.0     0.0     0.0      6455.1     0.0     0.0
3          0.0     0.0     0.0      6455.1     0.0     0.0
4          0.0     0.0     0.0      6455.1     0.0     0.0
...        ...     ...     ...         ...     ...     ...
108265  6260.4  6260.4  6260.4      6030.0  6260.4  6260.4
108266  6260.4  6260.4  6260.4      6030.0  6260.4  6260.4
108267  6260.4  6260.4  6260.4      6030.0  6260.4  6260.4
108268  6260.4  6260.4  6260.4      6030.0  6260.4  6260.4
108269  6260.4  6260.4  6260.4      6030.0  6260.4  6260.4

[108270 rows x 10 columns]

        token_number            timestamp           time_entry  volume  \
0              40550  1980-01-01 00:00:00  2023-12-01 09:15:02       0
1              40550  1980-01-01 00:00:00  2023-12-01 09:15:02       0
2              40550  1980-01-01 00:00:00  2023-12-01 09:15:04       0
3              40550  1980-01-01 00:00:00  2023-12-01 09:15:14       0
4              40550  1980-01-01 00:00:00  2023-12-01 09:15:23       0
...              ...                  ...                  ...     ...
108265         41234  2023-12-01 09:17:50  2023-12-01 09:55:44      15
108266         41234  2023-12-01 09:17:50  2023-12-01 09:55:49      15
108267         41234  2023-12-01 09:17:50  2023-12-01 09:55:54      15
108268         41234  2023-12-01 09:17:50  2023-12-01 09:55:55      15
108269         41234  2023-12-01 09:17:50  2023-12-01 09:55:58      15

          open    high     low  prev-close     ltp     atp
0          0.0     0.0     0.0      6455.1     0.0     0.0
1          0.0     0.0     0.0      6455.1     0.0     0.0
2          0.0     0.0     0.0      6455.1     0.0     0.0
3          0.0     0.0     0.0      6455.1     0.0     0.0
4          0.0     0.0     0.0      6455.1     0.0     0.0
...        ...     ...     ...         ...     ...     ...
108265  6260.4  6260.4  6260.4      6030.0  6260.4  6260.4
108266  6260.4  6260.4  6260.4      6030.0  6260.4  6260.4
108267  6260.4  6260.4  6260.4      6030.0  6260.4  6260.4
108268  6260.4  6260.4  6260.4      6030.0  6260.4  6260.4
108269  6260.4  6260.4  6260.4      6030.0  6260.4  6260.4

[108270 rows x 10 columns]
        token_number            timestamp           time_entry  volume  \
0              40550  1980-01-01 00:00:00  2023-12-01 09:15:02       0
1              40550  1980-01-01 00:00:00  2023-12-01 09:15:02       0
2              40550  1980-01-01 00:00:00  2023-12-01 09:15:04       0
3              40550  1980-01-01 00:00:00  2023-12-01 09:15:14       0
4              40550  1980-01-01 00:00:00  2023-12-01 09:15:23       0
...              ...                  ...                  ...     ...
108265         41234  2023-12-01 09:17:50  2023-12-01 09:55:44      15
108266         41234  2023-12-01 09:17:50  2023-12-01 09:55:49      15
108267         41234  2023-12-01 09:17:50  2023-12-01 09:55:54      15
108268         41234  2023-12-01 09:17:50  2023-12-01 09:55:55      15
108269         41234  2023-12-01 09:17:50  2023-12-01 09:55:58      15

          open    high     low  prev-close     ltp     atp
0          0.0     0.0     0.0      6455.1     0.0     0.0
1          0.0     0.0     0.0      6455.1     0.0     0.0
2          0.0     0.0     0.0      6455.1     0.0     0.0
3          0.0     0.0     0.0      6455.1     0.0     0.0
4          0.0     0.0     0.0      6455.1     0.0     0.0
...        ...     ...     ...         ...     ...     ...
108265  6260.4  6260.4  6260.4      6030.0  6260.4  6260.4
108266  6260.4  6260.4  6260.4      6030.0  6260.4  6260.4
108267  6260.4  6260.4  6260.4      6030.0  6260.4  6260.4
108268  6260.4  6260.4  6260.4      6030.0  6260.4  6260.4
108269  6260.4  6260.4  6260.4      6030.0  6260.4  6260.4

[108270 rows x 10 columns]
        token_number            timestamp           time_entry  volume  \
0              40550  1980-01-01 00:00:00  2023-12-01 09:15:02       0
1              40550  1980-01-01 00:00:00  2023-12-01 09:15:02       0
2              40550  1980-01-01 00:00:00  2023-12-01 09:15:04       0
3              40550  1980-01-01 00:00:00  2023-12-01 09:15:14       0
4              40550  1980-01-01 00:00:00  2023-12-01 09:15:23       0
...              ...                  ...                  ...     ...
108265         41234  2023-12-01 09:17:50  2023-12-01 09:55:44      15
108266         41234  2023-12-01 09:17:50  2023-12-01 09:55:49      15
108267         41234  2023-12-01 09:17:50  2023-12-01 09:55:54      15
108268         41234  2023-12-01 09:17:50  2023-12-01 09:55:55      15
108269         41234  2023-12-01 09:17:50  2023-12-01 09:55:58      15

          open    high     low  prev-close     ltp     atp
0          0.0     0.0     0.0      6455.1     0.0     0.0
1          0.0     0.0     0.0      6455.1     0.0     0.0
2          0.0     0.0     0.0      6455.1     0.0     0.0
3          0.0     0.0     0.0      6455.1     0.0     0.0
4          0.0     0.0     0.0      6455.1     0.0     0.0
...        ...     ...     ...         ...     ...     ...
108265  6260.4  6260.4  6260.4      6030.0  6260.4  6260.4
108266  6260.4  6260.4  6260.4      6030.0  6260.4  6260.4
108267  6260.4  6260.4  6260.4      6030.0  6260.4  6260.4
108268  6260.4  6260.4  6260.4      6030.0  6260.4  6260.4
108269  6260.4  6260.4  6260.4      6030.0  6260.4  6260.4

[108270 rows x 10 columns]
        token_number            timestamp           time_entry  volume  \
0              40550  1980-01-01 00:00:00  2023-12-01 09:15:02       0
1              40550  1980-01-01 00:00:00  2023-12-01 09:15:02       0
2              40550  1980-01-01 00:00:00  2023-12-01 09:15:04       0
3              40550  1980-01-01 00:00:00  2023-12-01 09:15:14       0
4              40550  1980-01-01 00:00:00  2023-12-01 09:15:23       0
...              ...                  ...                  ...     ...
108265         41234  2023-12-01 09:17:50  2023-12-01 09:55:44      15
108266         41234  2023-12-01 09:17:50  2023-12-01 09:55:49      15
108267         41234  2023-12-01 09:17:50  2023-12-01 09:55:54      15
108268         41234  2023-12-01 09:17:50  2023-12-01 09:55:55      15
108269         41234  2023-12-01 09:17:50  2023-12-01 09:55:58      15

          open    high     low  prev-close     ltp     atp
0          0.0     0.0     0.0      6455.1     0.0     0.0
1          0.0     0.0     0.0      6455.1     0.0     0.0
2          0.0     0.0     0.0      6455.1     0.0     0.0
3          0.0     0.0     0.0      6455.1     0.0     0.0
4          0.0     0.0     0.0      6455.1     0.0     0.0
...        ...     ...     ...         ...     ...     ...
108265  6260.4  6260.4  6260.4      6030.0  6260.4  6260.4
108266  6260.4  6260.4  6260.4      6030.0  6260.4  6260.4
108267  6260.4  6260.4  6260.4      6030.0  6260.4  6260.4
108268  6260.4  6260.4  6260.4      6030.0  6260.4  6260.4
108269  6260.4  6260.4  6260.4      6030.0  6260.4  6260.4

[108270 rows x 10 columns]
        token_number            timestamp           time_entry  volume  \
0              40550  1980-01-01 00:00:00  2023-12-01 09:15:02       0
1              40550  1980-01-01 00:00:00  2023-12-01 09:15:02       0
2              40550  1980-01-01 00:00:00  2023-12-01 09:15:04       0
3              40550  1980-01-01 00:00:00  2023-12-01 09:15:14       0
4              40550  1980-01-01 00:00:00  2023-12-01 09:15:23       0
...              ...                  ...                  ...     ...
108265         41234  2023-12-01 09:17:50  2023-12-01 09:55:44      15
108266         41234  2023-12-01 09:17:50  2023-12-01 09:55:49      15
108267         41234  2023-12-01 09:17:50  2023-12-01 09:55:54      15
108268         41234  2023-12-01 09:17:50  2023-12-01 09:55:55      15
108269         41234  2023-12-01 09:17:50  2023-12-01 09:55:58      15

          open    high     low  prev-close     ltp     atp
0          0.0     0.0     0.0      6455.1     0.0     0.0
1          0.0     0.0     0.0      6455.1     0.0     0.0
2          0.0     0.0     0.0      6455.1     0.0     0.0
3          0.0     0.0     0.0      6455.1     0.0     0.0
4          0.0     0.0     0.0      6455.1     0.0     0.0
...        ...     ...     ...         ...     ...     ...
108265  6260.4  6260.4  6260.4      6030.0  6260.4  6260.4
108266  6260.4  6260.4  6260.4      6030.0  6260.4  6260.4
108267  6260.4  6260.4  6260.4      6030.0  6260.4  6260.4
108268  6260.4  6260.4  6260.4      6030.0  6260.4  6260.4
108269  6260.4  6260.4  6260.4      6030.0  6260.4  6260.4

[108270 rows x 10 columns]

        token_number            timestamp           time_entry  volume  \
0              40550  1980-01-01 00:00:00  2023-12-01 09:15:02       0
1              40550  1980-01-01 00:00:00  2023-12-01 09:15:02       0
2              40550  1980-01-01 00:00:00  2023-12-01 09:15:04       0
3              40550  1980-01-01 00:00:00  2023-12-01 09:15:14       0
4              40550  1980-01-01 00:00:00  2023-12-01 09:15:23       0
...              ...                  ...                  ...     ...
108265         41234  2023-12-01 09:17:50  2023-12-01 09:55:44      15
108266         41234  2023-12-01 09:17:50  2023-12-01 09:55:49      15
108267         41234  2023-12-01 09:17:50  2023-12-01 09:55:54      15
108268         41234  2023-12-01 09:17:50  2023-12-01 09:55:55      15
108269         41234  2023-12-01 09:17:50  2023-12-01 09:55:58      15

          open    high     low  prev-close     ltp     atp
0          0.0     0.0     0.0      6455.1     0.0     0.0
1          0.0     0.0     0.0      6455.1     0.0     0.0
2          0.0     0.0     0.0      6455.1     0.0     0.0
3          0.0     0.0     0.0      6455.1     0.0     0.0
4          0.0     0.0     0.0      6455.1     0.0     0.0
...        ...     ...     ...         ...     ...     ...
108265  6260.4  6260.4  6260.4      6030.0  6260.4  6260.4
108266  6260.4  6260.4  6260.4      6030.0  6260.4  6260.4
108267  6260.4  6260.4  6260.4      6030.0  6260.4  6260.4
108268  6260.4  6260.4  6260.4      6030.0  6260.4  6260.4
108269  6260.4  6260.4  6260.4      6030.0  6260.4  6260.4

[108270 rows x 10 columns]
        token_number            timestamp           time_entry  volume  \
0              40550  1980-01-01 00:00:00  2023-12-01 09:15:02       0
1              40550  1980-01-01 00:00:00  2023-12-01 09:15:02       0
2              40550  1980-01-01 00:00:00  2023-12-01 09:15:04       0
3              40550  1980-01-01 00:00:00  2023-12-01 09:15:14       0
4              40550  1980-01-01 00:00:00  2023-12-01 09:15:23       0
...              ...                  ...                  ...     ...
108265         41234  2023-12-01 09:17:50  2023-12-01 09:55:44      15
108266         41234  2023-12-01 09:17:50  2023-12-01 09:55:49      15
108267         41234  2023-12-01 09:17:50  2023-12-01 09:55:54      15
108268         41234  2023-12-01 09:17:50  2023-12-01 09:55:55      15
108269         41234  2023-12-01 09:17:50  2023-12-01 09:55:58      15

          open    high     low  prev-close     ltp     atp
0          0.0     0.0     0.0      6455.1     0.0     0.0
1          0.0     0.0     0.0      6455.1     0.0     0.0
2          0.0     0.0     0.0      6455.1     0.0     0.0
3          0.0     0.0     0.0      6455.1     0.0     0.0
4          0.0     0.0     0.0      6455.1     0.0     0.0
...        ...     ...     ...         ...     ...     ...
108265  6260.4  6260.4  6260.4      6030.0  6260.4  6260.4
108266  6260.4  6260.4  6260.4      6030.0  6260.4  6260.4
108267  6260.4  6260.4  6260.4      6030.0  6260.4  6260.4
108268  6260.4  6260.4  6260.4      6030.0  6260.4  6260.4
108269  6260.4  6260.4  6260.4      6030.0  6260.4  6260.4

[108270 rows x 10 columns]
        token_number            timestamp           time_entry  volume  \
0              40550  1980-01-01 00:00:00  2023-12-01 09:15:02       0
1              40550  1980-01-01 00:00:00  2023-12-01 09:15:02       0
2              40550  1980-01-01 00:00:00  2023-12-01 09:15:04       0
3              40550  1980-01-01 00:00:00  2023-12-01 09:15:14       0
4              40550  1980-01-01 00:00:00  2023-12-01 09:15:23       0
...              ...                  ...                  ...     ...
108265         41234  2023-12-01 09:17:50  2023-12-01 09:55:44      15
108266         41234  2023-12-01 09:17:50  2023-12-01 09:55:49      15
108267         41234  2023-12-01 09:17:50  2023-12-01 09:55:54      15
108268         41234  2023-12-01 09:17:50  2023-12-01 09:55:55      15
108269         41234  2023-12-01 09:17:50  2023-12-01 09:55:58      15

          open    high     low  prev-close     ltp     atp
0          0.0     0.0     0.0      6455.1     0.0     0.0
1          0.0     0.0     0.0      6455.1     0.0     0.0
2          0.0     0.0     0.0      6455.1     0.0     0.0
3          0.0     0.0     0.0      6455.1     0.0     0.0
4          0.0     0.0     0.0      6455.1     0.0     0.0
...        ...     ...     ...         ...     ...     ...
108265  6260.4  6260.4  6260.4      6030.0  6260.4  6260.4
108266  6260.4  6260.4  6260.4      6030.0  6260.4  6260.4
108267  6260.4  6260.4  6260.4      6030.0  6260.4  6260.4
108268  6260.4  6260.4  6260.4      6030.0  6260.4  6260.4
108269  6260.4  6260.4  6260.4      6030.0  6260.4  6260.4

[108270 rows x 10 columns]
        token_number            timestamp           time_entry  volume  \
0              40550  1980-01-01 00:00:00  2023-12-01 09:15:02       0
1              40550  1980-01-01 00:00:00  2023-12-01 09:15:02       0
2              40550  1980-01-01 00:00:00  2023-12-01 09:15:04       0
3              40550  1980-01-01 00:00:00  2023-12-01 09:15:14       0
4              40550  1980-01-01 00:00:00  2023-12-01 09:15:23       0
...              ...                  ...                  ...     ...
108265         41234  2023-12-01 09:17:50  2023-12-01 09:55:44      15
108266         41234  2023-12-01 09:17:50  2023-12-01 09:55:49      15
108267         41234  2023-12-01 09:17:50  2023-12-01 09:55:54      15
108268         41234  2023-12-01 09:17:50  2023-12-01 09:55:55      15
108269         41234  2023-12-01 09:17:50  2023-12-01 09:55:58      15

          open    high     low  prev-close     ltp     atp
0          0.0     0.0     0.0      6455.1     0.0     0.0
1          0.0     0.0     0.0      6455.1     0.0     0.0
2          0.0     0.0     0.0      6455.1     0.0     0.0
3          0.0     0.0     0.0      6455.1     0.0     0.0
4          0.0     0.0     0.0      6455.1     0.0     0.0
...        ...     ...     ...         ...     ...     ...
108265  6260.4  6260.4  6260.4      6030.0  6260.4  6260.4
108266  6260.4  6260.4  6260.4      6030.0  6260.4  6260.4
108267  6260.4  6260.4  6260.4      6030.0  6260.4  6260.4
108268  6260.4  6260.4  6260.4      6030.0  6260.4  6260.4
108269  6260.4  6260.4  6260.4      6030.0  6260.4  6260.4

[108270 rows x 10 columns]
        token_number            timestamp           time_entry  volume  \
0              40550  1980-01-01 00:00:00  2023-12-01 09:15:02       0
1              40550  1980-01-01 00:00:00  2023-12-01 09:15:02       0
2              40550  1980-01-01 00:00:00  2023-12-01 09:15:04       0
3              40550  1980-01-01 00:00:00  2023-12-01 09:15:14       0
4              40550  1980-01-01 00:00:00  2023-12-01 09:15:23       0
...              ...                  ...                  ...     ...
108265         41234  2023-12-01 09:17:50  2023-12-01 09:55:44      15
108266         41234  2023-12-01 09:17:50  2023-12-01 09:55:49      15
108267         41234  2023-12-01 09:17:50  2023-12-01 09:55:54      15
108268         41234  2023-12-01 09:17:50  2023-12-01 09:55:55      15
108269         41234  2023-12-01 09:17:50  2023-12-01 09:55:58      15

          open    high     low  prev-close     ltp     atp
0          0.0     0.0     0.0      6455.1     0.0     0.0
1          0.0     0.0     0.0      6455.1     0.0     0.0
2          0.0     0.0     0.0      6455.1     0.0     0.0
3          0.0     0.0     0.0      6455.1     0.0     0.0
4          0.0     0.0     0.0      6455.1     0.0     0.0
...        ...     ...     ...         ...     ...     ...
108265  6260.4  6260.4  6260.4      6030.0  6260.4  6260.4
108266  6260.4  6260.4  6260.4      6030.0  6260.4  6260.4
108267  6260.4  6260.4  6260.4      6030.0  6260.4  6260.4
108268  6260.4  6260.4  6260.4      6030.0  6260.4  6260.4
108269  6260.4  6260.4  6260.4      6030.0  6260.4  6260.4

[108270 rows x 10 columns]

        token_number            timestamp           time_entry  volume  \
0              40550  1980-01-01 00:00:00  2023-12-01 09:15:02       0
1              40550  1980-01-01 00:00:00  2023-12-01 09:15:02       0
2              40550  1980-01-01 00:00:00  2023-12-01 09:15:04       0
3              40550  1980-01-01 00:00:00  2023-12-01 09:15:14       0
4              40550  1980-01-01 00:00:00  2023-12-01 09:15:23       0
...              ...                  ...                  ...     ...
108265         41234  2023-12-01 09:17:50  2023-12-01 09:55:44      15
108266         41234  2023-12-01 09:17:50  2023-12-01 09:55:49      15
108267         41234  2023-12-01 09:17:50  2023-12-01 09:55:54      15
108268         41234  2023-12-01 09:17:50  2023-12-01 09:55:55      15
108269         41234  2023-12-01 09:17:50  2023-12-01 09:55:58      15

          open    high     low  prev-close     ltp     atp
0          0.0     0.0     0.0      6455.1     0.0     0.0
1          0.0     0.0     0.0      6455.1     0.0     0.0
2          0.0     0.0     0.0      6455.1     0.0     0.0
3          0.0     0.0     0.0      6455.1     0.0     0.0
4          0.0     0.0     0.0      6455.1     0.0     0.0
...        ...     ...     ...         ...     ...     ...
108265  6260.4  6260.4  6260.4      6030.0  6260.4  6260.4
108266  6260.4  6260.4  6260.4      6030.0  6260.4  6260.4
108267  6260.4  6260.4  6260.4      6030.0  6260.4  6260.4
108268  6260.4  6260.4  6260.4      6030.0  6260.4  6260.4
108269  6260.4  6260.4  6260.4      6030.0  6260.4  6260.4

[108270 rows x 10 columns]
        token_number            timestamp           time_entry  volume  \
0              40550  1980-01-01 00:00:00  2023-12-01 09:15:02       0
1              40550  1980-01-01 00:00:00  2023-12-01 09:15:02       0
2              40550  1980-01-01 00:00:00  2023-12-01 09:15:04       0
3              40550  1980-01-01 00:00:00  2023-12-01 09:15:14       0
4              40550  1980-01-01 00:00:00  2023-12-01 09:15:23       0
...              ...                  ...                  ...     ...
108265         41234  2023-12-01 09:17:50  2023-12-01 09:55:44      15
108266         41234  2023-12-01 09:17:50  2023-12-01 09:55:49      15
108267         41234  2023-12-01 09:17:50  2023-12-01 09:55:54      15
108268         41234  2023-12-01 09:17:50  2023-12-01 09:55:55      15
108269         41234  2023-12-01 09:17:50  2023-12-01 09:55:58      15

          open    high     low  prev-close     ltp     atp
0          0.0     0.0     0.0      6455.1     0.0     0.0
1          0.0     0.0     0.0      6455.1     0.0     0.0
2          0.0     0.0     0.0      6455.1     0.0     0.0
3          0.0     0.0     0.0      6455.1     0.0     0.0
4          0.0     0.0     0.0      6455.1     0.0     0.0
...        ...     ...     ...         ...     ...     ...
108265  6260.4  6260.4  6260.4      6030.0  6260.4  6260.4
108266  6260.4  6260.4  6260.4      6030.0  6260.4  6260.4
108267  6260.4  6260.4  6260.4      6030.0  6260.4  6260.4
108268  6260.4  6260.4  6260.4      6030.0  6260.4  6260.4
108269  6260.4  6260.4  6260.4      6030.0  6260.4  6260.4

[108270 rows x 10 columns]
        token_number            timestamp           time_entry  volume  \
0              40550  1980-01-01 00:00:00  2023-12-01 09:15:02       0
1              40550  1980-01-01 00:00:00  2023-12-01 09:15:02       0
2              40550  1980-01-01 00:00:00  2023-12-01 09:15:04       0
3              40550  1980-01-01 00:00:00  2023-12-01 09:15:14       0
4              40550  1980-01-01 00:00:00  2023-12-01 09:15:23       0
...              ...                  ...                  ...     ...
108265         41234  2023-12-01 09:17:50  2023-12-01 09:55:44      15
108266         41234  2023-12-01 09:17:50  2023-12-01 09:55:49      15
108267         41234  2023-12-01 09:17:50  2023-12-01 09:55:54      15
108268         41234  2023-12-01 09:17:50  2023-12-01 09:55:55      15
108269         41234  2023-12-01 09:17:50  2023-12-01 09:55:58      15

          open    high     low  prev-close     ltp     atp
0          0.0     0.0     0.0      6455.1     0.0     0.0
1          0.0     0.0     0.0      6455.1     0.0     0.0
2          0.0     0.0     0.0      6455.1     0.0     0.0
3          0.0     0.0     0.0      6455.1     0.0     0.0
4          0.0     0.0     0.0      6455.1     0.0     0.0
...        ...     ...     ...         ...     ...     ...
108265  6260.4  6260.4  6260.4      6030.0  6260.4  6260.4
108266  6260.4  6260.4  6260.4      6030.0  6260.4  6260.4
108267  6260.4  6260.4  6260.4      6030.0  6260.4  6260.4
108268  6260.4  6260.4  6260.4      6030.0  6260.4  6260.4
108269  6260.4  6260.4  6260.4      6030.0  6260.4  6260.4

[108270 rows x 10 columns]
        token_number            timestamp           time_entry  volume  \
0              40550  1980-01-01 00:00:00  2023-12-01 09:15:02       0
1              40550  1980-01-01 00:00:00  2023-12-01 09:15:02       0
2              40550  1980-01-01 00:00:00  2023-12-01 09:15:04       0
3              40550  1980-01-01 00:00:00  2023-12-01 09:15:14       0
4              40550  1980-01-01 00:00:00  2023-12-01 09:15:23       0
...              ...                  ...                  ...     ...
108265         41234  2023-12-01 09:17:50  2023-12-01 09:55:44      15
108266         41234  2023-12-01 09:17:50  2023-12-01 09:55:49      15
108267         41234  2023-12-01 09:17:50  2023-12-01 09:55:54      15
108268         41234  2023-12-01 09:17:50  2023-12-01 09:55:55      15
108269         41234  2023-12-01 09:17:50  2023-12-01 09:55:58      15

          open    high     low  prev-close     ltp     atp
0          0.0     0.0     0.0      6455.1     0.0     0.0
1          0.0     0.0     0.0      6455.1     0.0     0.0
2          0.0     0.0     0.0      6455.1     0.0     0.0
3          0.0     0.0     0.0      6455.1     0.0     0.0
4          0.0     0.0     0.0      6455.1     0.0     0.0
...        ...     ...     ...         ...     ...     ...
108265  6260.4  6260.4  6260.4      6030.0  6260.4  6260.4
108266  6260.4  6260.4  6260.4      6030.0  6260.4  6260.4
108267  6260.4  6260.4  6260.4      6030.0  6260.4  6260.4
108268  6260.4  6260.4  6260.4      6030.0  6260.4  6260.4
108269  6260.4  6260.4  6260.4      6030.0  6260.4  6260.4

[108270 rows x 10 columns]
        token_number            timestamp           time_entry  volume  \
0              40550  1980-01-01 00:00:00  2023-12-01 09:15:02       0
1              40550  1980-01-01 00:00:00  2023-12-01 09:15:02       0
2              40550  1980-01-01 00:00:00  2023-12-01 09:15:04       0
3              40550  1980-01-01 00:00:00  2023-12-01 09:15:14       0
4              40550  1980-01-01 00:00:00  2023-12-01 09:15:23       0
...              ...                  ...                  ...     ...
108265         41234  2023-12-01 09:17:50  2023-12-01 09:55:44      15
108266         41234  2023-12-01 09:17:50  2023-12-01 09:55:49      15
108267         41234  2023-12-01 09:17:50  2023-12-01 09:55:54      15
108268         41234  2023-12-01 09:17:50  2023-12-01 09:55:55      15
108269         41234  2023-12-01 09:17:50  2023-12-01 09:55:58      15

          open    high     low  prev-close     ltp     atp
0          0.0     0.0     0.0      6455.1     0.0     0.0
1          0.0     0.0     0.0      6455.1     0.0     0.0
2          0.0     0.0     0.0      6455.1     0.0     0.0
3          0.0     0.0     0.0      6455.1     0.0     0.0
4          0.0     0.0     0.0      6455.1     0.0     0.0
...        ...     ...     ...         ...     ...     ...
108265  6260.4  6260.4  6260.4      6030.0  6260.4  6260.4
108266  6260.4  6260.4  6260.4      6030.0  6260.4  6260.4
108267  6260.4  6260.4  6260.4      6030.0  6260.4  6260.4
108268  6260.4  6260.4  6260.4      6030.0  6260.4  6260.4
108269  6260.4  6260.4  6260.4      6030.0  6260.4  6260.4

[108270 rows x 10 columns]

        token_number            timestamp           time_entry  volume  \
0              40550  1980-01-01 00:00:00  2023-12-01 09:15:02       0
1              40550  1980-01-01 00:00:00  2023-12-01 09:15:02       0
2              40550  1980-01-01 00:00:00  2023-12-01 09:15:04       0
3              40550  1980-01-01 00:00:00  2023-12-01 09:15:14       0
4              40550  1980-01-01 00:00:00  2023-12-01 09:15:23       0
...              ...                  ...                  ...     ...
108265         41234  2023-12-01 09:17:50  2023-12-01 09:55:44      15
108266         41234  2023-12-01 09:17:50  2023-12-01 09:55:49      15
108267         41234  2023-12-01 09:17:50  2023-12-01 09:55:54      15
108268         41234  2023-12-01 09:17:50  2023-12-01 09:55:55      15
108269         41234  2023-12-01 09:17:50  2023-12-01 09:55:58      15

          open    high     low  prev-close     ltp     atp
0          0.0     0.0     0.0      6455.1     0.0     0.0
1          0.0     0.0     0.0      6455.1     0.0     0.0
2          0.0     0.0     0.0      6455.1     0.0     0.0
3          0.0     0.0     0.0      6455.1     0.0     0.0
4          0.0     0.0     0.0      6455.1     0.0     0.0
...        ...     ...     ...         ...     ...     ...
108265  6260.4  6260.4  6260.4      6030.0  6260.4  6260.4
108266  6260.4  6260.4  6260.4      6030.0  6260.4  6260.4
108267  6260.4  6260.4  6260.4      6030.0  6260.4  6260.4
108268  6260.4  6260.4  6260.4      6030.0  6260.4  6260.4
108269  6260.4  6260.4  6260.4      6030.0  6260.4  6260.4

[108270 rows x 10 columns]
        token_number            timestamp           time_entry  volume  \
0              40550  1980-01-01 00:00:00  2023-12-01 09:15:02       0
1              40550  1980-01-01 00:00:00  2023-12-01 09:15:02       0
2              40550  1980-01-01 00:00:00  2023-12-01 09:15:04       0
3              40550  1980-01-01 00:00:00  2023-12-01 09:15:14       0
4              40550  1980-01-01 00:00:00  2023-12-01 09:15:23       0
...              ...                  ...                  ...     ...
108265         41234  2023-12-01 09:17:50  2023-12-01 09:55:44      15
108266         41234  2023-12-01 09:17:50  2023-12-01 09:55:49      15
108267         41234  2023-12-01 09:17:50  2023-12-01 09:55:54      15
108268         41234  2023-12-01 09:17:50  2023-12-01 09:55:55      15
108269         41234  2023-12-01 09:17:50  2023-12-01 09:55:58      15

          open    high     low  prev-close     ltp     atp
0          0.0     0.0     0.0      6455.1     0.0     0.0
1          0.0     0.0     0.0      6455.1     0.0     0.0
2          0.0     0.0     0.0      6455.1     0.0     0.0
3          0.0     0.0     0.0      6455.1     0.0     0.0
4          0.0     0.0     0.0      6455.1     0.0     0.0
...        ...     ...     ...         ...     ...     ...
108265  6260.4  6260.4  6260.4      6030.0  6260.4  6260.4
108266  6260.4  6260.4  6260.4      6030.0  6260.4  6260.4
108267  6260.4  6260.4  6260.4      6030.0  6260.4  6260.4
108268  6260.4  6260.4  6260.4      6030.0  6260.4  6260.4
108269  6260.4  6260.4  6260.4      6030.0  6260.4  6260.4

[108270 rows x 10 columns]
        token_number            timestamp           time_entry  volume  \
0              40550  1980-01-01 00:00:00  2023-12-01 09:15:02       0
1              40550  1980-01-01 00:00:00  2023-12-01 09:15:02       0
2              40550  1980-01-01 00:00:00  2023-12-01 09:15:04       0
3              40550  1980-01-01 00:00:00  2023-12-01 09:15:14       0
4              40550  1980-01-01 00:00:00  2023-12-01 09:15:23       0
...              ...                  ...                  ...     ...
108265         41234  2023-12-01 09:17:50  2023-12-01 09:55:44      15
108266         41234  2023-12-01 09:17:50  2023-12-01 09:55:49      15
108267         41234  2023-12-01 09:17:50  2023-12-01 09:55:54      15
108268         41234  2023-12-01 09:17:50  2023-12-01 09:55:55      15
108269         41234  2023-12-01 09:17:50  2023-12-01 09:55:58      15

          open    high     low  prev-close     ltp     atp
0          0.0     0.0     0.0      6455.1     0.0     0.0
1          0.0     0.0     0.0      6455.1     0.0     0.0
2          0.0     0.0     0.0      6455.1     0.0     0.0
3          0.0     0.0     0.0      6455.1     0.0     0.0
4          0.0     0.0     0.0      6455.1     0.0     0.0
...        ...     ...     ...         ...     ...     ...
108265  6260.4  6260.4  6260.4      6030.0  6260.4  6260.4
108266  6260.4  6260.4  6260.4      6030.0  6260.4  6260.4
108267  6260.4  6260.4  6260.4      6030.0  6260.4  6260.4
108268  6260.4  6260.4  6260.4      6030.0  6260.4  6260.4
108269  6260.4  6260.4  6260.4      6030.0  6260.4  6260.4

[108270 rows x 10 columns]
        token_number            timestamp           time_entry  volume  \
0              40550  1980-01-01 00:00:00  2023-12-01 09:15:02       0
1              40550  1980-01-01 00:00:00  2023-12-01 09:15:02       0
2              40550  1980-01-01 00:00:00  2023-12-01 09:15:04       0
3              40550  1980-01-01 00:00:00  2023-12-01 09:15:14       0
4              40550  1980-01-01 00:00:00  2023-12-01 09:15:23       0
...              ...                  ...                  ...     ...
108265         41234  2023-12-01 09:17:50  2023-12-01 09:55:44      15
108266         41234  2023-12-01 09:17:50  2023-12-01 09:55:49      15
108267         41234  2023-12-01 09:17:50  2023-12-01 09:55:54      15
108268         41234  2023-12-01 09:17:50  2023-12-01 09:55:55      15
108269         41234  2023-12-01 09:17:50  2023-12-01 09:55:58      15

          open    high     low  prev-close     ltp     atp
0          0.0     0.0     0.0      6455.1     0.0     0.0
1          0.0     0.0     0.0      6455.1     0.0     0.0
2          0.0     0.0     0.0      6455.1     0.0     0.0
3          0.0     0.0     0.0      6455.1     0.0     0.0
4          0.0     0.0     0.0      6455.1     0.0     0.0
...        ...     ...     ...         ...     ...     ...
108265  6260.4  6260.4  6260.4      6030.0  6260.4  6260.4
108266  6260.4  6260.4  6260.4      6030.0  6260.4  6260.4
108267  6260.4  6260.4  6260.4      6030.0  6260.4  6260.4
108268  6260.4  6260.4  6260.4      6030.0  6260.4  6260.4
108269  6260.4  6260.4  6260.4      6030.0  6260.4  6260.4

[108270 rows x 10 columns]
        token_number            timestamp           time_entry  volume  open  \
0              40550  1980-01-01 00:00:00  2023-12-01 09:15:02       0   0.0
1              40550  1980-01-01 00:00:00  2023-12-01 09:15:02       0   0.0
2              40550  1980-01-01 00:00:00  2023-12-01 09:15:04       0   0.0
3              40550  1980-01-01 00:00:00  2023-12-01 09:15:14       0   0.0
4              40550  1980-01-01 00:00:00  2023-12-01 09:15:23       0   0.0
...              ...                  ...                  ...     ...   ...
108322         40550  1980-01-01 00:00:00  2023-12-01 09:59:26       0   0.0
108323         40550  1980-01-01 00:00:00  2023-12-01 09:59:30       0   0.0
108324         40550  1980-01-01 00:00:00  2023-12-01 10:00:15       0   0.0
108325         40550  1980-01-01 00:00:00  2023-12-01 10:00:49       0   0.0
108326         40550  1980-01-01 00:00:00  2023-12-01 10:01:00       0   0.0

        high  low  prev-close  ltp  atp
0        0.0  0.0      6455.1  0.0  0.0
1        0.0  0.0      6455.1  0.0  0.0
2        0.0  0.0      6455.1  0.0  0.0
3        0.0  0.0      6455.1  0.0  0.0
4        0.0  0.0      6455.1  0.0  0.0
...      ...  ...         ...  ...  ...
108322   0.0  0.0      6455.1  0.0  0.0
108323   0.0  0.0      6455.1  0.0  0.0
108324   0.0  0.0      6455.1  0.0  0.0
108325   0.0  0.0      6455.1  0.0  0.0
108326   0.0  0.0      6455.1  0.0  0.0

[108327 rows x 10 columns]
        token_number            timestamp           time_entry  volume  open  \
0              40550  1980-01-01 00:00:00  2023-12-01 09:15:02       0   0.0
1              40550  1980-01-01 00:00:00  2023-12-01 09:15:02       0   0.0
2              40550  1980-01-01 00:00:00  2023-12-01 09:15:04       0   0.0
3              40550  1980-01-01 00:00:00  2023-12-01 09:15:14       0   0.0
4              40550  1980-01-01 00:00:00  2023-12-01 09:15:23       0   0.0
...              ...                  ...                  ...     ...   ...
108385         40551  2023-12-01 10:01:22  2023-12-01 10:01:27  199110   2.7
108386         40551  2023-12-01 10:01:22  2023-12-01 10:01:31  199110   2.7
108387         40551  2023-12-01 10:01:31  2023-12-01 10:01:31  199125   2.7
108388         40551  2023-12-01 10:01:31  2023-12-01 10:01:34  199125   2.7
108389         40551  2023-12-01 10:01:50  2023-12-01 10:01:50  201480   2.7

        high   low  prev-close   ltp   atp
0        0.0  0.00     6455.10  0.00  0.00
1        0.0  0.00     6455.10  0.00  0.00
2        0.0  0.00     6455.10  0.00  0.00
3        0.0  0.00     6455.10  0.00  0.00
4        0.0  0.00     6455.10  0.00  0.00
...      ...   ...         ...   ...   ...
108385   2.7  2.35        3.45  2.65  2.52
108386   2.7  2.35        3.45  2.65  2.52
108387   2.7  2.35        3.45  2.65  2.52
108388   2.7  2.35        3.45  2.65  2.52
108389   2.7  2.35        3.45  2.65  2.52

[108390 rows x 10 columns]

        token_number            timestamp           time_entry  volume  open  \
0              40550  1980-01-01 00:00:00  2023-12-01 09:15:02       0   0.0
1              40550  1980-01-01 00:00:00  2023-12-01 09:15:02       0   0.0
2              40550  1980-01-01 00:00:00  2023-12-01 09:15:04       0   0.0
3              40550  1980-01-01 00:00:00  2023-12-01 09:15:14       0   0.0
4              40550  1980-01-01 00:00:00  2023-12-01 09:15:23       0   0.0
...              ...                  ...                  ...     ...   ...
108481         40555  2023-11-30 12:00:10  2023-12-01 10:01:30       0   0.0
108482         40555  2023-11-30 12:00:10  2023-12-01 10:01:32       0   0.0
108483         40555  2023-11-30 12:00:10  2023-12-01 10:01:48       0   0.0
108484         40555  2023-11-30 12:00:10  2023-12-01 10:01:54       0   0.0
108485         40555  2023-11-30 12:00:10  2023-12-01 10:02:06       0   0.0

        high  low  prev-close     ltp  atp
0        0.0  0.0      6455.1     0.0  0.0
1        0.0  0.0      6455.1     0.0  0.0
2        0.0  0.0      6455.1     0.0  0.0
3        0.0  0.0      6455.1     0.0  0.0
4        0.0  0.0      6455.1     0.0  0.0
...      ...  ...         ...     ...  ...
108481   0.0  0.0      7400.0  7400.0  0.0
108482   0.0  0.0      7400.0  7400.0  0.0
108483   0.0  0.0      7400.0  7400.0  0.0
108484   0.0  0.0      7400.0  7400.0  0.0
108485   0.0  0.0      7400.0  7400.0  0.0

[108486 rows x 10 columns]
        token_number            timestamp           time_entry  volume  open  \
0              40550  1980-01-01 00:00:00  2023-12-01 09:15:02       0  0.00
1              40550  1980-01-01 00:00:00  2023-12-01 09:15:02       0  0.00
2              40550  1980-01-01 00:00:00  2023-12-01 09:15:04       0  0.00
3              40550  1980-01-01 00:00:00  2023-12-01 09:15:14       0  0.00
4              40550  1980-01-01 00:00:00  2023-12-01 09:15:23       0  0.00
...              ...                  ...                  ...     ...   ...
108546         40556  2023-12-01 10:00:58  2023-12-01 10:01:03  416775  2.95
108547         40556  2023-12-01 10:00:58  2023-12-01 10:01:10  416775  2.95
108548         40556  2023-12-01 10:00:58  2023-12-01 10:01:20  416775  2.95
108549         40556  2023-12-01 10:00:58  2023-12-01 10:01:37  416775  2.95
108550         40556  2023-12-01 10:02:04  2023-12-01 10:02:05  416970  2.95

        high  low  prev-close   ltp   atp
0       0.00  0.0      6455.1  0.00  0.00
1       0.00  0.0      6455.1  0.00  0.00
2       0.00  0.0      6455.1  0.00  0.00
3       0.00  0.0      6455.1  0.00  0.00
4       0.00  0.0      6455.1  0.00  0.00
...      ...  ...         ...   ...   ...
108546  2.95  2.1         4.1  2.85  2.59
108547  2.95  2.1         4.1  2.85  2.59
108548  2.95  2.1         4.1  2.85  2.59
108549  2.95  2.1         4.1  2.85  2.59
108550  2.95  2.1         4.1  2.90  2.59

[108551 rows x 10 columns]
        token_number            timestamp           time_entry  volume  open  \
0              40550  1980-01-01 00:00:00  2023-12-01 09:15:02       0   0.0
1              40550  1980-01-01 00:00:00  2023-12-01 09:15:02       0   0.0
2              40550  1980-01-01 00:00:00  2023-12-01 09:15:04       0   0.0
3              40550  1980-01-01 00:00:00  2023-12-01 09:15:14       0   0.0
4              40550  1980-01-01 00:00:00  2023-12-01 09:15:23       0   0.0
...              ...                  ...                  ...     ...   ...
108633         40557  1980-01-01 00:00:00  2023-12-01 10:01:55       0   0.0
108634         40557  1980-01-01 00:00:00  2023-12-01 10:01:58       0   0.0
108635         40557  1980-01-01 00:00:00  2023-12-01 10:02:01       0   0.0
108636         40557  1980-01-01 00:00:00  2023-12-01 10:02:04       0   0.0
108637         40557  1980-01-01 00:00:00  2023-12-01 10:02:07       0   0.0

        high  low  prev-close  ltp  atp
0        0.0  0.0     6455.10  0.0  0.0
1        0.0  0.0     6455.10  0.0  0.0
2        0.0  0.0     6455.10  0.0  0.0
3        0.0  0.0     6455.10  0.0  0.0
4        0.0  0.0     6455.10  0.0  0.0
...      ...  ...         ...  ...  ...
108633   0.0  0.0     5469.05  0.0  0.0
108634   0.0  0.0     5469.05  0.0  0.0
108635   0.0  0.0     5469.05  0.0  0.0
108636   0.0  0.0     5469.05  0.0  0.0
108637   0.0  0.0     5469.05  0.0  0.0

[108638 rows x 10 columns]
        token_number            timestamp           time_entry  volume  open  \
0              40550  1980-01-01 00:00:00  2023-12-01 09:15:02       0   0.0
1              40550  1980-01-01 00:00:00  2023-12-01 09:15:02       0   0.0
2              40550  1980-01-01 00:00:00  2023-12-01 09:15:04       0   0.0
3              40550  1980-01-01 00:00:00  2023-12-01 09:15:14       0   0.0
4              40550  1980-01-01 00:00:00  2023-12-01 09:15:23       0   0.0
...              ...                  ...                  ...     ...   ...
108698         40558  2023-12-01 10:01:20  2023-12-01 10:01:20  114480   3.0
108699         40558  2023-12-01 10:01:22  2023-12-01 10:01:32  116685   3.0
108700         40558  2023-12-01 10:01:22  2023-12-01 10:01:34  116685   3.0
108701         40558  2023-12-01 10:01:35  2023-12-01 10:01:36  116760   3.0
108702         40558  2023-12-01 10:02:04  2023-12-01 10:02:04  120165   3.0

        high  low  prev-close   ltp   atp
0        0.0  0.0      6455.1  0.00  0.00
1        0.0  0.0      6455.1  0.00  0.00
2        0.0  0.0      6455.1  0.00  0.00
3        0.0  0.0      6455.1  0.00  0.00
4        0.0  0.0      6455.1  0.00  0.00
...      ...  ...         ...   ...   ...
108698   3.2  2.6         3.8  3.05  2.91
108699   3.2  2.6         3.8  3.00  2.91
108700   3.2  2.6         3.8  3.00  2.91
108701   3.2  2.6         3.8  3.10  2.91
108702   3.2  2.6         3.8  3.05  2.91

[108703 rows x 10 columns]
        token_number            timestamp           time_entry  volume  open  \
0              40550  1980-01-01 00:00:00  2023-12-01 09:15:02       0   0.0
1              40550  1980-01-01 00:00:00  2023-12-01 09:15:02       0   0.0
2              40550  1980-01-01 00:00:00  2023-12-01 09:15:04       0   0.0
3              40550  1980-01-01 00:00:00  2023-12-01 09:15:14       0   0.0
4              40550  1980-01-01 00:00:00  2023-12-01 09:15:23       0   0.0
...              ...                  ...                  ...     ...   ...
108698         40558  2023-12-01 10:01:20  2023-12-01 10:01:20  114480   3.0
108699         40558  2023-12-01 10:01:22  2023-12-01 10:01:32  116685   3.0
108700         40558  2023-12-01 10:01:22  2023-12-01 10:01:34  116685   3.0
108701         40558  2023-12-01 10:01:35  2023-12-01 10:01:36  116760   3.0
108702         40558  2023-12-01 10:02:04  2023-12-01 10:02:04  120165   3.0

        high  low  prev-close   ltp   atp
0        0.0  0.0      6455.1  0.00  0.00
1        0.0  0.0      6455.1  0.00  0.00
2        0.0  0.0      6455.1  0.00  0.00
3        0.0  0.0      6455.1  0.00  0.00
4        0.0  0.0      6455.1  0.00  0.00
...      ...  ...         ...   ...   ...
108698   3.2  2.6         3.8  3.05  2.91
108699   3.2  2.6         3.8  3.00  2.91
108700   3.2  2.6         3.8  3.00  2.91
108701   3.2  2.6         3.8  3.10  2.91
108702   3.2  2.6         3.8  3.05  2.91

[108703 rows x 10 columns]
        token_number            timestamp           time_entry  volume  open  \
0              40550  1980-01-01 00:00:00  2023-12-01 09:15:02       0   0.0
1              40550  1980-01-01 00:00:00  2023-12-01 09:15:02       0   0.0
2              40550  1980-01-01 00:00:00  2023-12-01 09:15:04       0   0.0
3              40550  1980-01-01 00:00:00  2023-12-01 09:15:14       0   0.0
4              40550  1980-01-01 00:00:00  2023-12-01 09:15:23       0   0.0
...              ...                  ...                  ...     ...   ...
108698         40558  2023-12-01 10:01:20  2023-12-01 10:01:20  114480   3.0
108699         40558  2023-12-01 10:01:22  2023-12-01 10:01:32  116685   3.0
108700         40558  2023-12-01 10:01:22  2023-12-01 10:01:34  116685   3.0
108701         40558  2023-12-01 10:01:35  2023-12-01 10:01:36  116760   3.0
108702         40558  2023-12-01 10:02:04  2023-12-01 10:02:04  120165   3.0

        high  low  prev-close   ltp   atp
0        0.0  0.0      6455.1  0.00  0.00
1        0.0  0.0      6455.1  0.00  0.00
2        0.0  0.0      6455.1  0.00  0.00
3        0.0  0.0      6455.1  0.00  0.00
4        0.0  0.0      6455.1  0.00  0.00
...      ...  ...         ...   ...   ...
108698   3.2  2.6         3.8  3.05  2.91
108699   3.2  2.6         3.8  3.00  2.91
108700   3.2  2.6         3.8  3.00  2.91
108701   3.2  2.6         3.8  3.10  2.91
108702   3.2  2.6         3.8  3.05  2.91

[108703 rows x 10 columns]

        token_number            timestamp           time_entry  volume  open  \
0              40550  1980-01-01 00:00:00  2023-12-01 09:15:02       0   0.0
1              40550  1980-01-01 00:00:00  2023-12-01 09:15:02       0   0.0
2              40550  1980-01-01 00:00:00  2023-12-01 09:15:04       0   0.0
3              40550  1980-01-01 00:00:00  2023-12-01 09:15:14       0   0.0
4              40550  1980-01-01 00:00:00  2023-12-01 09:15:23       0   0.0
...              ...                  ...                  ...     ...   ...
108698         40558  2023-12-01 10:01:20  2023-12-01 10:01:20  114480   3.0
108699         40558  2023-12-01 10:01:22  2023-12-01 10:01:32  116685   3.0
108700         40558  2023-12-01 10:01:22  2023-12-01 10:01:34  116685   3.0
108701         40558  2023-12-01 10:01:35  2023-12-01 10:01:36  116760   3.0
108702         40558  2023-12-01 10:02:04  2023-12-01 10:02:04  120165   3.0

        high  low  prev-close   ltp   atp
0        0.0  0.0      6455.1  0.00  0.00
1        0.0  0.0      6455.1  0.00  0.00
2        0.0  0.0      6455.1  0.00  0.00
3        0.0  0.0      6455.1  0.00  0.00
4        0.0  0.0      6455.1  0.00  0.00
...      ...  ...         ...   ...   ...
108698   3.2  2.6         3.8  3.05  2.91
108699   3.2  2.6         3.8  3.00  2.91
108700   3.2  2.6         3.8  3.00  2.91
108701   3.2  2.6         3.8  3.10  2.91
108702   3.2  2.6         3.8  3.05  2.91

[108703 rows x 10 columns]
        token_number            timestamp           time_entry  volume  open  \
0              40550  1980-01-01 00:00:00  2023-12-01 09:15:02       0   0.0
1              40550  1980-01-01 00:00:00  2023-12-01 09:15:02       0   0.0
2              40550  1980-01-01 00:00:00  2023-12-01 09:15:04       0   0.0
3              40550  1980-01-01 00:00:00  2023-12-01 09:15:14       0   0.0
4              40550  1980-01-01 00:00:00  2023-12-01 09:15:23       0   0.0
...              ...                  ...                  ...     ...   ...
108698         40558  2023-12-01 10:01:20  2023-12-01 10:01:20  114480   3.0
108699         40558  2023-12-01 10:01:22  2023-12-01 10:01:32  116685   3.0
108700         40558  2023-12-01 10:01:22  2023-12-01 10:01:34  116685   3.0
108701         40558  2023-12-01 10:01:35  2023-12-01 10:01:36  116760   3.0
108702         40558  2023-12-01 10:02:04  2023-12-01 10:02:04  120165   3.0

        high  low  prev-close   ltp   atp
0        0.0  0.0      6455.1  0.00  0.00
1        0.0  0.0      6455.1  0.00  0.00
2        0.0  0.0      6455.1  0.00  0.00
3        0.0  0.0      6455.1  0.00  0.00
4        0.0  0.0      6455.1  0.00  0.00
...      ...  ...         ...   ...   ...
108698   3.2  2.6         3.8  3.05  2.91
108699   3.2  2.6         3.8  3.00  2.91
108700   3.2  2.6         3.8  3.00  2.91
108701   3.2  2.6         3.8  3.10  2.91
108702   3.2  2.6         3.8  3.05  2.91

[108703 rows x 10 columns]
        token_number            timestamp           time_entry  volume  open  \
0              40550  1980-01-01 00:00:00  2023-12-01 09:15:02       0   0.0
1              40550  1980-01-01 00:00:00  2023-12-01 09:15:02       0   0.0
2              40550  1980-01-01 00:00:00  2023-12-01 09:15:04       0   0.0
3              40550  1980-01-01 00:00:00  2023-12-01 09:15:14       0   0.0
4              40550  1980-01-01 00:00:00  2023-12-01 09:15:23       0   0.0
...              ...                  ...                  ...     ...   ...
108698         40558  2023-12-01 10:01:20  2023-12-01 10:01:20  114480   3.0
108699         40558  2023-12-01 10:01:22  2023-12-01 10:01:32  116685   3.0
108700         40558  2023-12-01 10:01:22  2023-12-01 10:01:34  116685   3.0
108701         40558  2023-12-01 10:01:35  2023-12-01 10:01:36  116760   3.0
108702         40558  2023-12-01 10:02:04  2023-12-01 10:02:04  120165   3.0

        high  low  prev-close   ltp   atp
0        0.0  0.0      6455.1  0.00  0.00
1        0.0  0.0      6455.1  0.00  0.00
2        0.0  0.0      6455.1  0.00  0.00
3        0.0  0.0      6455.1  0.00  0.00
4        0.0  0.0      6455.1  0.00  0.00
...      ...  ...         ...   ...   ...
108698   3.2  2.6         3.8  3.05  2.91
108699   3.2  2.6         3.8  3.00  2.91
108700   3.2  2.6         3.8  3.00  2.91
108701   3.2  2.6         3.8  3.10  2.91
108702   3.2  2.6         3.8  3.05  2.91

[108703 rows x 10 columns]
        token_number            timestamp           time_entry  volume  open  \
0              40550  1980-01-01 00:00:00  2023-12-01 09:15:02       0   0.0
1              40550  1980-01-01 00:00:00  2023-12-01 09:15:02       0   0.0
2              40550  1980-01-01 00:00:00  2023-12-01 09:15:04       0   0.0
3              40550  1980-01-01 00:00:00  2023-12-01 09:15:14       0   0.0
4              40550  1980-01-01 00:00:00  2023-12-01 09:15:23       0   0.0
...              ...                  ...                  ...     ...   ...
108698         40558  2023-12-01 10:01:20  2023-12-01 10:01:20  114480   3.0
108699         40558  2023-12-01 10:01:22  2023-12-01 10:01:32  116685   3.0
108700         40558  2023-12-01 10:01:22  2023-12-01 10:01:34  116685   3.0
108701         40558  2023-12-01 10:01:35  2023-12-01 10:01:36  116760   3.0
108702         40558  2023-12-01 10:02:04  2023-12-01 10:02:04  120165   3.0

        high  low  prev-close   ltp   atp
0        0.0  0.0      6455.1  0.00  0.00
1        0.0  0.0      6455.1  0.00  0.00
2        0.0  0.0      6455.1  0.00  0.00
3        0.0  0.0      6455.1  0.00  0.00
4        0.0  0.0      6455.1  0.00  0.00
...      ...  ...         ...   ...   ...
108698   3.2  2.6         3.8  3.05  2.91
108699   3.2  2.6         3.8  3.00  2.91
108700   3.2  2.6         3.8  3.00  2.91
108701   3.2  2.6         3.8  3.10  2.91
108702   3.2  2.6         3.8  3.05  2.91

[108703 rows x 10 columns]
        token_number            timestamp           time_entry  volume  open  \
0              40550  1980-01-01 00:00:00  2023-12-01 09:15:02       0   0.0
1              40550  1980-01-01 00:00:00  2023-12-01 09:15:02       0   0.0
2              40550  1980-01-01 00:00:00  2023-12-01 09:15:04       0   0.0
3              40550  1980-01-01 00:00:00  2023-12-01 09:15:14       0   0.0
4              40550  1980-01-01 00:00:00  2023-12-01 09:15:23       0   0.0
...              ...                  ...                  ...     ...   ...
108788         40571  2023-11-29 15:27:31  2023-12-01 10:01:24       0   0.0
108789         40571  2023-11-29 15:27:31  2023-12-01 10:01:26       0   0.0
108790         40571  2023-11-29 15:27:31  2023-12-01 10:01:34       0   0.0
108791         40571  2023-11-29 15:27:31  2023-12-01 10:01:37       0   0.0
108792         40571  2023-11-29 15:27:31  2023-12-01 10:02:02       0   0.0

        high  low  prev-close     ltp  atp
0        0.0  0.0      6455.1     0.0  0.0
1        0.0  0.0      6455.1     0.0  0.0
2        0.0  0.0      6455.1     0.0  0.0
3        0.0  0.0      6455.1     0.0  0.0
4        0.0  0.0      6455.1     0.0  0.0
...      ...  ...         ...     ...  ...
108788   0.0  0.0      6800.0  6800.0  0.0
108789   0.0  0.0      6800.0  6800.0  0.0
108790   0.0  0.0      6800.0  6800.0  0.0
108791   0.0  0.0      6800.0  6800.0  0.0
108792   0.0  0.0      6800.0  6800.0  0.0

[108793 rows x 10 columns]
        token_number            timestamp           time_entry   volume  open  \
0              40550  1980-01-01 00:00:00  2023-12-01 09:15:02        0  0.00
1              40550  1980-01-01 00:00:00  2023-12-01 09:15:02        0  0.00
2              40550  1980-01-01 00:00:00  2023-12-01 09:15:04        0  0.00
3              40550  1980-01-01 00:00:00  2023-12-01 09:15:14        0  0.00
4              40550  1980-01-01 00:00:00  2023-12-01 09:15:23        0  0.00
...              ...                  ...                  ...      ...   ...
108897         40572  2023-12-01 10:01:30  2023-12-01 10:01:32  1008690  3.15
108898         40572  2023-12-01 10:01:37  2023-12-01 10:01:37  1009890  3.15
108899         40572  2023-12-01 10:01:44  2023-12-01 10:01:45  1015035  3.15
108900         40572  2023-12-01 10:01:52  2023-12-01 10:01:55  1015365  3.15
108901         40572  2023-12-01 10:01:57  2023-12-01 10:02:00  1016205  3.15

        high  low  prev-close   ltp   atp
0        0.0  0.0     6455.10  0.00  0.00
1        0.0  0.0     6455.10  0.00  0.00
2        0.0  0.0     6455.10  0.00  0.00
3        0.0  0.0     6455.10  0.00  0.00
4        0.0  0.0     6455.10  0.00  0.00
...      ...  ...         ...   ...   ...
108897   3.6  2.9        3.25  3.45  3.11
108898   3.6  2.9        3.25  3.45  3.11
108899   3.6  2.9        3.25  3.45  3.11
108900   3.6  2.9        3.25  3.45  3.11
108901   3.6  2.9        3.25  3.45  3.11

[108902 rows x 10 columns]

        token_number            timestamp           time_entry   volume  open  \
0              40550  1980-01-01 00:00:00  2023-12-01 09:15:02        0  0.00
1              40550  1980-01-01 00:00:00  2023-12-01 09:15:02        0  0.00
2              40550  1980-01-01 00:00:00  2023-12-01 09:15:04        0  0.00
3              40550  1980-01-01 00:00:00  2023-12-01 09:15:14        0  0.00
4              40550  1980-01-01 00:00:00  2023-12-01 09:15:23        0  0.00
...              ...                  ...                  ...      ...   ...
108897         40572  2023-12-01 10:01:30  2023-12-01 10:01:32  1008690  3.15
108898         40572  2023-12-01 10:01:37  2023-12-01 10:01:37  1009890  3.15
108899         40572  2023-12-01 10:01:44  2023-12-01 10:01:45  1015035  3.15
108900         40572  2023-12-01 10:01:52  2023-12-01 10:01:55  1015365  3.15
108901         40572  2023-12-01 10:01:57  2023-12-01 10:02:00  1016205  3.15

        high  low  prev-close   ltp   atp
0        0.0  0.0     6455.10  0.00  0.00
1        0.0  0.0     6455.10  0.00  0.00
2        0.0  0.0     6455.10  0.00  0.00
3        0.0  0.0     6455.10  0.00  0.00
4        0.0  0.0     6455.10  0.00  0.00
...      ...  ...         ...   ...   ...
108897   3.6  2.9        3.25  3.45  3.11
108898   3.6  2.9        3.25  3.45  3.11
108899   3.6  2.9        3.25  3.45  3.11
108900   3.6  2.9        3.25  3.45  3.11
108901   3.6  2.9        3.25  3.45  3.11

[108902 rows x 10 columns]
        token_number            timestamp           time_entry   volume  open  \
0              40550  1980-01-01 00:00:00  2023-12-01 09:15:02        0  0.00
1              40550  1980-01-01 00:00:00  2023-12-01 09:15:02        0  0.00
2              40550  1980-01-01 00:00:00  2023-12-01 09:15:04        0  0.00
3              40550  1980-01-01 00:00:00  2023-12-01 09:15:14        0  0.00
4              40550  1980-01-01 00:00:00  2023-12-01 09:15:23        0  0.00
...              ...                  ...                  ...      ...   ...
108897         40572  2023-12-01 10:01:30  2023-12-01 10:01:32  1008690  3.15
108898         40572  2023-12-01 10:01:37  2023-12-01 10:01:37  1009890  3.15
108899         40572  2023-12-01 10:01:44  2023-12-01 10:01:45  1015035  3.15
108900         40572  2023-12-01 10:01:52  2023-12-01 10:01:55  1015365  3.15
108901         40572  2023-12-01 10:01:57  2023-12-01 10:02:00  1016205  3.15

        high  low  prev-close   ltp   atp
0        0.0  0.0     6455.10  0.00  0.00
1        0.0  0.0     6455.10  0.00  0.00
2        0.0  0.0     6455.10  0.00  0.00
3        0.0  0.0     6455.10  0.00  0.00
4        0.0  0.0     6455.10  0.00  0.00
...      ...  ...         ...   ...   ...
108897   3.6  2.9        3.25  3.45  3.11
108898   3.6  2.9        3.25  3.45  3.11
108899   3.6  2.9        3.25  3.45  3.11
108900   3.6  2.9        3.25  3.45  3.11
108901   3.6  2.9        3.25  3.45  3.11

[108902 rows x 10 columns]
        token_number            timestamp           time_entry   volume  open  \
0              40550  1980-01-01 00:00:00  2023-12-01 09:15:02        0  0.00
1              40550  1980-01-01 00:00:00  2023-12-01 09:15:02        0  0.00
2              40550  1980-01-01 00:00:00  2023-12-01 09:15:04        0  0.00
3              40550  1980-01-01 00:00:00  2023-12-01 09:15:14        0  0.00
4              40550  1980-01-01 00:00:00  2023-12-01 09:15:23        0  0.00
...              ...                  ...                  ...      ...   ...
108897         40572  2023-12-01 10:01:30  2023-12-01 10:01:32  1008690  3.15
108898         40572  2023-12-01 10:01:37  2023-12-01 10:01:37  1009890  3.15
108899         40572  2023-12-01 10:01:44  2023-12-01 10:01:45  1015035  3.15
108900         40572  2023-12-01 10:01:52  2023-12-01 10:01:55  1015365  3.15
108901         40572  2023-12-01 10:01:57  2023-12-01 10:02:00  1016205  3.15

        high  low  prev-close   ltp   atp
0        0.0  0.0     6455.10  0.00  0.00
1        0.0  0.0     6455.10  0.00  0.00
2        0.0  0.0     6455.10  0.00  0.00
3        0.0  0.0     6455.10  0.00  0.00
4        0.0  0.0     6455.10  0.00  0.00
...      ...  ...         ...   ...   ...
108897   3.6  2.9        3.25  3.45  3.11
108898   3.6  2.9        3.25  3.45  3.11
108899   3.6  2.9        3.25  3.45  3.11
108900   3.6  2.9        3.25  3.45  3.11
108901   3.6  2.9        3.25  3.45  3.11

[108902 rows x 10 columns]
        token_number            timestamp           time_entry   volume  open  \
0              40550  1980-01-01 00:00:00  2023-12-01 09:15:02        0  0.00
1              40550  1980-01-01 00:00:00  2023-12-01 09:15:02        0  0.00
2              40550  1980-01-01 00:00:00  2023-12-01 09:15:04        0  0.00
3              40550  1980-01-01 00:00:00  2023-12-01 09:15:14        0  0.00
4              40550  1980-01-01 00:00:00  2023-12-01 09:15:23        0  0.00
...              ...                  ...                  ...      ...   ...
108897         40572  2023-12-01 10:01:30  2023-12-01 10:01:32  1008690  3.15
108898         40572  2023-12-01 10:01:37  2023-12-01 10:01:37  1009890  3.15
108899         40572  2023-12-01 10:01:44  2023-12-01 10:01:45  1015035  3.15
108900         40572  2023-12-01 10:01:52  2023-12-01 10:01:55  1015365  3.15
108901         40572  2023-12-01 10:01:57  2023-12-01 10:02:00  1016205  3.15

        high  low  prev-close   ltp   atp
0        0.0  0.0     6455.10  0.00  0.00
1        0.0  0.0     6455.10  0.00  0.00
2        0.0  0.0     6455.10  0.00  0.00
3        0.0  0.0     6455.10  0.00  0.00
4        0.0  0.0     6455.10  0.00  0.00
...      ...  ...         ...   ...   ...
108897   3.6  2.9        3.25  3.45  3.11
108898   3.6  2.9        3.25  3.45  3.11
108899   3.6  2.9        3.25  3.45  3.11
108900   3.6  2.9        3.25  3.45  3.11
108901   3.6  2.9        3.25  3.45  3.11

[108902 rows x 10 columns]
        token_number            timestamp           time_entry   volume  open  \
0              40550  1980-01-01 00:00:00  2023-12-01 09:15:02        0  0.00
1              40550  1980-01-01 00:00:00  2023-12-01 09:15:02        0  0.00
2              40550  1980-01-01 00:00:00  2023-12-01 09:15:04        0  0.00
3              40550  1980-01-01 00:00:00  2023-12-01 09:15:14        0  0.00
4              40550  1980-01-01 00:00:00  2023-12-01 09:15:23        0  0.00
...              ...                  ...                  ...      ...   ...
108897         40572  2023-12-01 10:01:30  2023-12-01 10:01:32  1008690  3.15
108898         40572  2023-12-01 10:01:37  2023-12-01 10:01:37  1009890  3.15
108899         40572  2023-12-01 10:01:44  2023-12-01 10:01:45  1015035  3.15
108900         40572  2023-12-01 10:01:52  2023-12-01 10:01:55  1015365  3.15
108901         40572  2023-12-01 10:01:57  2023-12-01 10:02:00  1016205  3.15

        high  low  prev-close   ltp   atp
0        0.0  0.0     6455.10  0.00  0.00
1        0.0  0.0     6455.10  0.00  0.00
2        0.0  0.0     6455.10  0.00  0.00
3        0.0  0.0     6455.10  0.00  0.00
4        0.0  0.0     6455.10  0.00  0.00
...      ...  ...         ...   ...   ...
108897   3.6  2.9        3.25  3.45  3.11
108898   3.6  2.9        3.25  3.45  3.11
108899   3.6  2.9        3.25  3.45  3.11
108900   3.6  2.9        3.25  3.45  3.11
108901   3.6  2.9        3.25  3.45  3.11

[108902 rows x 10 columns]
        token_number            timestamp           time_entry   volume  open  \
0              40550  1980-01-01 00:00:00  2023-12-01 09:15:02        0  0.00
1              40550  1980-01-01 00:00:00  2023-12-01 09:15:02        0  0.00
2              40550  1980-01-01 00:00:00  2023-12-01 09:15:04        0  0.00
3              40550  1980-01-01 00:00:00  2023-12-01 09:15:14        0  0.00
4              40550  1980-01-01 00:00:00  2023-12-01 09:15:23        0  0.00
...              ...                  ...                  ...      ...   ...
108897         40572  2023-12-01 10:01:30  2023-12-01 10:01:32  1008690  3.15
108898         40572  2023-12-01 10:01:37  2023-12-01 10:01:37  1009890  3.15
108899         40572  2023-12-01 10:01:44  2023-12-01 10:01:45  1015035  3.15
108900         40572  2023-12-01 10:01:52  2023-12-01 10:01:55  1015365  3.15
108901         40572  2023-12-01 10:01:57  2023-12-01 10:02:00  1016205  3.15

        high  low  prev-close   ltp   atp
0        0.0  0.0     6455.10  0.00  0.00
1        0.0  0.0     6455.10  0.00  0.00
2        0.0  0.0     6455.10  0.00  0.00
3        0.0  0.0     6455.10  0.00  0.00
4        0.0  0.0     6455.10  0.00  0.00
...      ...  ...         ...   ...   ...
108897   3.6  2.9        3.25  3.45  3.11
108898   3.6  2.9        3.25  3.45  3.11
108899   3.6  2.9        3.25  3.45  3.11
108900   3.6  2.9        3.25  3.45  3.11
108901   3.6  2.9        3.25  3.45  3.11

[108902 rows x 10 columns]

        token_number            timestamp           time_entry   volume  open  \
0              40550  1980-01-01 00:00:00  2023-12-01 09:15:02        0  0.00
1              40550  1980-01-01 00:00:00  2023-12-01 09:15:02        0  0.00
2              40550  1980-01-01 00:00:00  2023-12-01 09:15:04        0  0.00
3              40550  1980-01-01 00:00:00  2023-12-01 09:15:14        0  0.00
4              40550  1980-01-01 00:00:00  2023-12-01 09:15:23        0  0.00
...              ...                  ...                  ...      ...   ...
108897         40572  2023-12-01 10:01:30  2023-12-01 10:01:32  1008690  3.15
108898         40572  2023-12-01 10:01:37  2023-12-01 10:01:37  1009890  3.15
108899         40572  2023-12-01 10:01:44  2023-12-01 10:01:45  1015035  3.15
108900         40572  2023-12-01 10:01:52  2023-12-01 10:01:55  1015365  3.15
108901         40572  2023-12-01 10:01:57  2023-12-01 10:02:00  1016205  3.15

        high  low  prev-close   ltp   atp
0        0.0  0.0     6455.10  0.00  0.00
1        0.0  0.0     6455.10  0.00  0.00
2        0.0  0.0     6455.10  0.00  0.00
3        0.0  0.0     6455.10  0.00  0.00
4        0.0  0.0     6455.10  0.00  0.00
...      ...  ...         ...   ...   ...
108897   3.6  2.9        3.25  3.45  3.11
108898   3.6  2.9        3.25  3.45  3.11
108899   3.6  2.9        3.25  3.45  3.11
108900   3.6  2.9        3.25  3.45  3.11
108901   3.6  2.9        3.25  3.45  3.11

[108902 rows x 10 columns]
        token_number            timestamp           time_entry   volume  open  \
0              40550  1980-01-01 00:00:00  2023-12-01 09:15:02        0  0.00
1              40550  1980-01-01 00:00:00  2023-12-01 09:15:02        0  0.00
2              40550  1980-01-01 00:00:00  2023-12-01 09:15:04        0  0.00
3              40550  1980-01-01 00:00:00  2023-12-01 09:15:14        0  0.00
4              40550  1980-01-01 00:00:00  2023-12-01 09:15:23        0  0.00
...              ...                  ...                  ...      ...   ...
108897         40572  2023-12-01 10:01:30  2023-12-01 10:01:32  1008690  3.15
108898         40572  2023-12-01 10:01:37  2023-12-01 10:01:37  1009890  3.15
108899         40572  2023-12-01 10:01:44  2023-12-01 10:01:45  1015035  3.15
108900         40572  2023-12-01 10:01:52  2023-12-01 10:01:55  1015365  3.15
108901         40572  2023-12-01 10:01:57  2023-12-01 10:02:00  1016205  3.15

        high  low  prev-close   ltp   atp
0        0.0  0.0     6455.10  0.00  0.00
1        0.0  0.0     6455.10  0.00  0.00
2        0.0  0.0     6455.10  0.00  0.00
3        0.0  0.0     6455.10  0.00  0.00
4        0.0  0.0     6455.10  0.00  0.00
...      ...  ...         ...   ...   ...
108897   3.6  2.9        3.25  3.45  3.11
108898   3.6  2.9        3.25  3.45  3.11
108899   3.6  2.9        3.25  3.45  3.11
108900   3.6  2.9        3.25  3.45  3.11
108901   3.6  2.9        3.25  3.45  3.11

[108902 rows x 10 columns]
        token_number            timestamp           time_entry  volume  open  \
0              40550  1980-01-01 00:00:00  2023-12-01 09:15:02       0   0.0
1              40550  1980-01-01 00:00:00  2023-12-01 09:15:02       0   0.0
2              40550  1980-01-01 00:00:00  2023-12-01 09:15:04       0   0.0
3              40550  1980-01-01 00:00:00  2023-12-01 09:15:14       0   0.0
4              40550  1980-01-01 00:00:00  2023-12-01 09:15:23       0   0.0
...              ...                  ...                  ...     ...   ...
108979         40598  1980-01-01 00:00:00  2023-12-01 10:01:52       0   0.0
108980         40598  1980-01-01 00:00:00  2023-12-01 10:01:53       0   0.0
108981         40598  1980-01-01 00:00:00  2023-12-01 10:01:56       0   0.0
108982         40598  1980-01-01 00:00:00  2023-12-01 10:02:01       0   0.0
108983         40598  1980-01-01 00:00:00  2023-12-01 10:02:07       0   0.0

        high  low  prev-close  ltp  atp
0        0.0  0.0     6455.10  0.0  0.0
1        0.0  0.0     6455.10  0.0  0.0
2        0.0  0.0     6455.10  0.0  0.0
3        0.0  0.0     6455.10  0.0  0.0
4        0.0  0.0     6455.10  0.0  0.0
...      ...  ...         ...  ...  ...
108979   0.0  0.0     4497.95  0.0  0.0
108980   0.0  0.0     4497.95  0.0  0.0
108981   0.0  0.0     4497.95  0.0  0.0
108982   0.0  0.0     4497.95  0.0  0.0
108983   0.0  0.0     4497.95  0.0  0.0

[108984 rows x 10 columns]
        token_number            timestamp           time_entry  volume  open  \
0              40550  1980-01-01 00:00:00  2023-12-01 09:15:02       0   0.0
1              40550  1980-01-01 00:00:00  2023-12-01 09:15:02       0   0.0
2              40550  1980-01-01 00:00:00  2023-12-01 09:15:04       0   0.0
3              40550  1980-01-01 00:00:00  2023-12-01 09:15:14       0   0.0
4              40550  1980-01-01 00:00:00  2023-12-01 09:15:23       0   0.0
...              ...                  ...                  ...     ...   ...
109081         40599  2023-12-01 10:01:26  2023-12-01 10:01:29  227325   3.2
109082         40599  2023-12-01 10:01:26  2023-12-01 10:01:32  227325   3.2
109083         40599  2023-12-01 10:01:33  2023-12-01 10:01:34  227460   3.2
109084         40599  2023-12-01 10:01:37  2023-12-01 10:01:39  229980   3.2
109085         40599  2023-12-01 10:01:37  2023-12-01 10:01:42  229980   3.2

        high  low  prev-close   ltp   atp
0        0.0  0.0     6455.10  0.00  0.00
1        0.0  0.0     6455.10  0.00  0.00
2        0.0  0.0     6455.10  0.00  0.00
3        0.0  0.0     6455.10  0.00  0.00
4        0.0  0.0     6455.10  0.00  0.00
...      ...  ...         ...   ...   ...
109081   3.5  1.7        3.15  3.40  3.26
109082   3.5  1.7        3.15  3.40  3.26
109083   3.5  1.7        3.15  3.45  3.26
109084   3.5  1.7        3.15  3.45  3.27
109085   3.5  1.7        3.15  3.45  3.27

[109086 rows x 10 columns]
        token_number            timestamp           time_entry  volume  open  \
0              40550  1980-01-01 00:00:00  2023-12-01 09:15:02       0   0.0
1              40550  1980-01-01 00:00:00  2023-12-01 09:15:02       0   0.0
2              40550  1980-01-01 00:00:00  2023-12-01 09:15:04       0   0.0
3              40550  1980-01-01 00:00:00  2023-12-01 09:15:14       0   0.0
4              40550  1980-01-01 00:00:00  2023-12-01 09:15:23       0   0.0
...              ...                  ...                  ...     ...   ...
109081         40599  2023-12-01 10:01:26  2023-12-01 10:01:29  227325   3.2
109082         40599  2023-12-01 10:01:26  2023-12-01 10:01:32  227325   3.2
109083         40599  2023-12-01 10:01:33  2023-12-01 10:01:34  227460   3.2
109084         40599  2023-12-01 10:01:37  2023-12-01 10:01:39  229980   3.2
109085         40599  2023-12-01 10:01:37  2023-12-01 10:01:42  229980   3.2

        high  low  prev-close   ltp   atp
0        0.0  0.0     6455.10  0.00  0.00
1        0.0  0.0     6455.10  0.00  0.00
2        0.0  0.0     6455.10  0.00  0.00
3        0.0  0.0     6455.10  0.00  0.00
4        0.0  0.0     6455.10  0.00  0.00
...      ...  ...         ...   ...   ...
109081   3.5  1.7        3.15  3.40  3.26
109082   3.5  1.7        3.15  3.40  3.26
109083   3.5  1.7        3.15  3.45  3.26
109084   3.5  1.7        3.15  3.45  3.27
109085   3.5  1.7        3.15  3.45  3.27

[109086 rows x 10 columns]
        token_number            timestamp           time_entry  volume  open  \
0              40550  1980-01-01 00:00:00  2023-12-01 09:15:02       0   0.0
1              40550  1980-01-01 00:00:00  2023-12-01 09:15:02       0   0.0
2              40550  1980-01-01 00:00:00  2023-12-01 09:15:04       0   0.0
3              40550  1980-01-01 00:00:00  2023-12-01 09:15:14       0   0.0
4              40550  1980-01-01 00:00:00  2023-12-01 09:15:23       0   0.0
...              ...                  ...                  ...     ...   ...
109081         40599  2023-12-01 10:01:26  2023-12-01 10:01:29  227325   3.2
109082         40599  2023-12-01 10:01:26  2023-12-01 10:01:32  227325   3.2
109083         40599  2023-12-01 10:01:33  2023-12-01 10:01:34  227460   3.2
109084         40599  2023-12-01 10:01:37  2023-12-01 10:01:39  229980   3.2
109085         40599  2023-12-01 10:01:37  2023-12-01 10:01:42  229980   3.2

        high  low  prev-close   ltp   atp
0        0.0  0.0     6455.10  0.00  0.00
1        0.0  0.0     6455.10  0.00  0.00
2        0.0  0.0     6455.10  0.00  0.00
3        0.0  0.0     6455.10  0.00  0.00
4        0.0  0.0     6455.10  0.00  0.00
...      ...  ...         ...   ...   ...
109081   3.5  1.7        3.15  3.40  3.26
109082   3.5  1.7        3.15  3.40  3.26
109083   3.5  1.7        3.15  3.45  3.26
109084   3.5  1.7        3.15  3.45  3.27
109085   3.5  1.7        3.15  3.45  3.27

[109086 rows x 10 columns]

        token_number            timestamp           time_entry  volume  open  \
0              40550  1980-01-01 00:00:00  2023-12-01 09:15:02       0   0.0
1              40550  1980-01-01 00:00:00  2023-12-01 09:15:02       0   0.0
2              40550  1980-01-01 00:00:00  2023-12-01 09:15:04       0   0.0
3              40550  1980-01-01 00:00:00  2023-12-01 09:15:14       0   0.0
4              40550  1980-01-01 00:00:00  2023-12-01 09:15:23       0   0.0
...              ...                  ...                  ...     ...   ...
109081         40599  2023-12-01 10:01:26  2023-12-01 10:01:29  227325   3.2
109082         40599  2023-12-01 10:01:26  2023-12-01 10:01:32  227325   3.2
109083         40599  2023-12-01 10:01:33  2023-12-01 10:01:34  227460   3.2
109084         40599  2023-12-01 10:01:37  2023-12-01 10:01:39  229980   3.2
109085         40599  2023-12-01 10:01:37  2023-12-01 10:01:42  229980   3.2

        high  low  prev-close   ltp   atp
0        0.0  0.0     6455.10  0.00  0.00
1        0.0  0.0     6455.10  0.00  0.00
2        0.0  0.0     6455.10  0.00  0.00
3        0.0  0.0     6455.10  0.00  0.00
4        0.0  0.0     6455.10  0.00  0.00
...      ...  ...         ...   ...   ...
109081   3.5  1.7        3.15  3.40  3.26
109082   3.5  1.7        3.15  3.40  3.26
109083   3.5  1.7        3.15  3.45  3.26
109084   3.5  1.7        3.15  3.45  3.27
109085   3.5  1.7        3.15  3.45  3.27

[109086 rows x 10 columns]
        token_number            timestamp           time_entry  volume  open  \
0              40550  1980-01-01 00:00:00  2023-12-01 09:15:02       0   0.0
1              40550  1980-01-01 00:00:00  2023-12-01 09:15:02       0   0.0
2              40550  1980-01-01 00:00:00  2023-12-01 09:15:04       0   0.0
3              40550  1980-01-01 00:00:00  2023-12-01 09:15:14       0   0.0
4              40550  1980-01-01 00:00:00  2023-12-01 09:15:23       0   0.0
...              ...                  ...                  ...     ...   ...
109081         40599  2023-12-01 10:01:26  2023-12-01 10:01:29  227325   3.2
109082         40599  2023-12-01 10:01:26  2023-12-01 10:01:32  227325   3.2
109083         40599  2023-12-01 10:01:33  2023-12-01 10:01:34  227460   3.2
109084         40599  2023-12-01 10:01:37  2023-12-01 10:01:39  229980   3.2
109085         40599  2023-12-01 10:01:37  2023-12-01 10:01:42  229980   3.2

        high  low  prev-close   ltp   atp
0        0.0  0.0     6455.10  0.00  0.00
1        0.0  0.0     6455.10  0.00  0.00
2        0.0  0.0     6455.10  0.00  0.00
3        0.0  0.0     6455.10  0.00  0.00
4        0.0  0.0     6455.10  0.00  0.00
...      ...  ...         ...   ...   ...
109081   3.5  1.7        3.15  3.40  3.26
109082   3.5  1.7        3.15  3.40  3.26
109083   3.5  1.7        3.15  3.45  3.26
109084   3.5  1.7        3.15  3.45  3.27
109085   3.5  1.7        3.15  3.45  3.27

[109086 rows x 10 columns]
        token_number            timestamp           time_entry  volume  open  \
0              40550  1980-01-01 00:00:00  2023-12-01 09:15:02       0   0.0
1              40550  1980-01-01 00:00:00  2023-12-01 09:15:02       0   0.0
2              40550  1980-01-01 00:00:00  2023-12-01 09:15:04       0   0.0
3              40550  1980-01-01 00:00:00  2023-12-01 09:15:14       0   0.0
4              40550  1980-01-01 00:00:00  2023-12-01 09:15:23       0   0.0
...              ...                  ...                  ...     ...   ...
109081         40599  2023-12-01 10:01:26  2023-12-01 10:01:29  227325   3.2
109082         40599  2023-12-01 10:01:26  2023-12-01 10:01:32  227325   3.2
109083         40599  2023-12-01 10:01:33  2023-12-01 10:01:34  227460   3.2
109084         40599  2023-12-01 10:01:37  2023-12-01 10:01:39  229980   3.2
109085         40599  2023-12-01 10:01:37  2023-12-01 10:01:42  229980   3.2

        high  low  prev-close   ltp   atp
0        0.0  0.0     6455.10  0.00  0.00
1        0.0  0.0     6455.10  0.00  0.00
2        0.0  0.0     6455.10  0.00  0.00
3        0.0  0.0     6455.10  0.00  0.00
4        0.0  0.0     6455.10  0.00  0.00
...      ...  ...         ...   ...   ...
109081   3.5  1.7        3.15  3.40  3.26
109082   3.5  1.7        3.15  3.40  3.26
109083   3.5  1.7        3.15  3.45  3.26
109084   3.5  1.7        3.15  3.45  3.27
109085   3.5  1.7        3.15  3.45  3.27

[109086 rows x 10 columns]
        token_number            timestamp           time_entry  volume  open  \
0              40550  1980-01-01 00:00:00  2023-12-01 09:15:02       0   0.0
1              40550  1980-01-01 00:00:00  2023-12-01 09:15:02       0   0.0
2              40550  1980-01-01 00:00:00  2023-12-01 09:15:04       0   0.0
3              40550  1980-01-01 00:00:00  2023-12-01 09:15:14       0   0.0
4              40550  1980-01-01 00:00:00  2023-12-01 09:15:23       0   0.0
...              ...                  ...                  ...     ...   ...
109081         40599  2023-12-01 10:01:26  2023-12-01 10:01:29  227325   3.2
109082         40599  2023-12-01 10:01:26  2023-12-01 10:01:32  227325   3.2
109083         40599  2023-12-01 10:01:33  2023-12-01 10:01:34  227460   3.2
109084         40599  2023-12-01 10:01:37  2023-12-01 10:01:39  229980   3.2
109085         40599  2023-12-01 10:01:37  2023-12-01 10:01:42  229980   3.2

        high  low  prev-close   ltp   atp
0        0.0  0.0     6455.10  0.00  0.00
1        0.0  0.0     6455.10  0.00  0.00
2        0.0  0.0     6455.10  0.00  0.00
3        0.0  0.0     6455.10  0.00  0.00
4        0.0  0.0     6455.10  0.00  0.00
...      ...  ...         ...   ...   ...
109081   3.5  1.7        3.15  3.40  3.26
109082   3.5  1.7        3.15  3.40  3.26
109083   3.5  1.7        3.15  3.45  3.26
109084   3.5  1.7        3.15  3.45  3.27
109085   3.5  1.7        3.15  3.45  3.27

[109086 rows x 10 columns]
        token_number            timestamp           time_entry  volume  open  \
0              40550  1980-01-01 00:00:00  2023-12-01 09:15:02       0   0.0
1              40550  1980-01-01 00:00:00  2023-12-01 09:15:02       0   0.0
2              40550  1980-01-01 00:00:00  2023-12-01 09:15:04       0   0.0
3              40550  1980-01-01 00:00:00  2023-12-01 09:15:14       0   0.0
4              40550  1980-01-01 00:00:00  2023-12-01 09:15:23       0   0.0
...              ...                  ...                  ...     ...   ...
109081         40599  2023-12-01 10:01:26  2023-12-01 10:01:29  227325   3.2
109082         40599  2023-12-01 10:01:26  2023-12-01 10:01:32  227325   3.2
109083         40599  2023-12-01 10:01:33  2023-12-01 10:01:34  227460   3.2
109084         40599  2023-12-01 10:01:37  2023-12-01 10:01:39  229980   3.2
109085         40599  2023-12-01 10:01:37  2023-12-01 10:01:42  229980   3.2

        high  low  prev-close   ltp   atp
0        0.0  0.0     6455.10  0.00  0.00
1        0.0  0.0     6455.10  0.00  0.00
2        0.0  0.0     6455.10  0.00  0.00
3        0.0  0.0     6455.10  0.00  0.00
4        0.0  0.0     6455.10  0.00  0.00
...      ...  ...         ...   ...   ...
109081   3.5  1.7        3.15  3.40  3.26
109082   3.5  1.7        3.15  3.40  3.26
109083   3.5  1.7        3.15  3.45  3.26
109084   3.5  1.7        3.15  3.45  3.27
109085   3.5  1.7        3.15  3.45  3.27

[109086 rows x 10 columns]
        token_number            timestamp           time_entry  volume  open  \
0              40550  1980-01-01 00:00:00  2023-12-01 09:15:02       0   0.0
1              40550  1980-01-01 00:00:00  2023-12-01 09:15:02       0   0.0
2              40550  1980-01-01 00:00:00  2023-12-01 09:15:04       0   0.0
3              40550  1980-01-01 00:00:00  2023-12-01 09:15:14       0   0.0
4              40550  1980-01-01 00:00:00  2023-12-01 09:15:23       0   0.0
...              ...                  ...                  ...     ...   ...
109081         40599  2023-12-01 10:01:26  2023-12-01 10:01:29  227325   3.2
109082         40599  2023-12-01 10:01:26  2023-12-01 10:01:32  227325   3.2
109083         40599  2023-12-01 10:01:33  2023-12-01 10:01:34  227460   3.2
109084         40599  2023-12-01 10:01:37  2023-12-01 10:01:39  229980   3.2
109085         40599  2023-12-01 10:01:37  2023-12-01 10:01:42  229980   3.2

        high  low  prev-close   ltp   atp
0        0.0  0.0     6455.10  0.00  0.00
1        0.0  0.0     6455.10  0.00  0.00
2        0.0  0.0     6455.10  0.00  0.00
3        0.0  0.0     6455.10  0.00  0.00
4        0.0  0.0     6455.10  0.00  0.00
...      ...  ...         ...   ...   ...
109081   3.5  1.7        3.15  3.40  3.26
109082   3.5  1.7        3.15  3.40  3.26
109083   3.5  1.7        3.15  3.45  3.26
109084   3.5  1.7        3.15  3.45  3.27
109085   3.5  1.7        3.15  3.45  3.27

[109086 rows x 10 columns]

        token_number            timestamp           time_entry  volume  open  \
0              40550  1980-01-01 00:00:00  2023-12-01 09:15:02       0   0.0
1              40550  1980-01-01 00:00:00  2023-12-01 09:15:02       0   0.0
2              40550  1980-01-01 00:00:00  2023-12-01 09:15:04       0   0.0
3              40550  1980-01-01 00:00:00  2023-12-01 09:15:14       0   0.0
4              40550  1980-01-01 00:00:00  2023-12-01 09:15:23       0   0.0
...              ...                  ...                  ...     ...   ...
109180         40609  1980-01-01 00:00:00  2023-12-01 10:01:31       0   0.0
109181         40609  1980-01-01 00:00:00  2023-12-01 10:01:41       0   0.0
109182         40609  1980-01-01 00:00:00  2023-12-01 10:01:47       0   0.0
109183         40609  1980-01-01 00:00:00  2023-12-01 10:01:50       0   0.0
109184         40609  1980-01-01 00:00:00  2023-12-01 10:01:51       0   0.0

        high  low  prev-close  ltp  atp
0        0.0  0.0     6455.10  0.0  0.0
1        0.0  0.0     6455.10  0.0  0.0
2        0.0  0.0     6455.10  0.0  0.0
3        0.0  0.0     6455.10  0.0  0.0
4        0.0  0.0     6455.10  0.0  0.0
...      ...  ...         ...  ...  ...
109180   0.0  0.0     4023.65  0.0  0.0
109181   0.0  0.0     4023.65  0.0  0.0
109182   0.0  0.0     4023.65  0.0  0.0
109183   0.0  0.0     4023.65  0.0  0.0
109184   0.0  0.0     4023.65  0.0  0.0

[109185 rows x 10 columns]
        token_number            timestamp           time_entry  volume  open  \
0              40550  1980-01-01 00:00:00  2023-12-01 09:15:02       0  0.00
1              40550  1980-01-01 00:00:00  2023-12-01 09:15:02       0  0.00
2              40550  1980-01-01 00:00:00  2023-12-01 09:15:04       0  0.00
3              40550  1980-01-01 00:00:00  2023-12-01 09:15:14       0  0.00
4              40550  1980-01-01 00:00:00  2023-12-01 09:15:23       0  0.00
...              ...                  ...                  ...     ...   ...
109269         40610  2023-12-01 10:01:29  2023-12-01 10:01:32  385080  4.25
109270         40610  2023-12-01 10:01:29  2023-12-01 10:01:32  385080  4.25
109271         40610  2023-12-01 10:01:39  2023-12-01 10:01:40  385095  4.25
109272         40610  2023-12-01 10:01:39  2023-12-01 10:01:48  385095  4.25
109273         40610  2023-12-01 10:01:57  2023-12-01 10:01:59  387645  4.25

        high   low  prev-close   ltp   atp
0       0.00  0.00      6455.1  0.00  0.00
1       0.00  0.00      6455.1  0.00  0.00
2       0.00  0.00      6455.1  0.00  0.00
3       0.00  0.00      6455.1  0.00  0.00
4       0.00  0.00      6455.1  0.00  0.00
...      ...   ...         ...   ...   ...
109269  4.25  2.25         4.2  3.75  3.53
109270  4.25  2.25         4.2  3.75  3.53
109271  4.25  2.25         4.2  3.70  3.53
109272  4.25  2.25         4.2  3.70  3.53
109273  4.25  2.25         4.2  3.70  3.53

[109274 rows x 10 columns]
        token_number            timestamp           time_entry  volume  open  \
0              40550  1980-01-01 00:00:00  2023-12-01 09:15:02       0  0.00
1              40550  1980-01-01 00:00:00  2023-12-01 09:15:02       0  0.00
2              40550  1980-01-01 00:00:00  2023-12-01 09:15:04       0  0.00
3              40550  1980-01-01 00:00:00  2023-12-01 09:15:14       0  0.00
4              40550  1980-01-01 00:00:00  2023-12-01 09:15:23       0  0.00
...              ...                  ...                  ...     ...   ...
109269         40610  2023-12-01 10:01:29  2023-12-01 10:01:32  385080  4.25
109270         40610  2023-12-01 10:01:29  2023-12-01 10:01:32  385080  4.25
109271         40610  2023-12-01 10:01:39  2023-12-01 10:01:40  385095  4.25
109272         40610  2023-12-01 10:01:39  2023-12-01 10:01:48  385095  4.25
109273         40610  2023-12-01 10:01:57  2023-12-01 10:01:59  387645  4.25

        high   low  prev-close   ltp   atp
0       0.00  0.00      6455.1  0.00  0.00
1       0.00  0.00      6455.1  0.00  0.00
2       0.00  0.00      6455.1  0.00  0.00
3       0.00  0.00      6455.1  0.00  0.00
4       0.00  0.00      6455.1  0.00  0.00
...      ...   ...         ...   ...   ...
109269  4.25  2.25         4.2  3.75  3.53
109270  4.25  2.25         4.2  3.75  3.53
109271  4.25  2.25         4.2  3.70  3.53
109272  4.25  2.25         4.2  3.70  3.53
109273  4.25  2.25         4.2  3.70  3.53

[109274 rows x 10 columns]
        token_number            timestamp           time_entry  volume  open  \
0              40550  1980-01-01 00:00:00  2023-12-01 09:15:02       0  0.00
1              40550  1980-01-01 00:00:00  2023-12-01 09:15:02       0  0.00
2              40550  1980-01-01 00:00:00  2023-12-01 09:15:04       0  0.00
3              40550  1980-01-01 00:00:00  2023-12-01 09:15:14       0  0.00
4              40550  1980-01-01 00:00:00  2023-12-01 09:15:23       0  0.00
...              ...                  ...                  ...     ...   ...
109269         40610  2023-12-01 10:01:29  2023-12-01 10:01:32  385080  4.25
109270         40610  2023-12-01 10:01:29  2023-12-01 10:01:32  385080  4.25
109271         40610  2023-12-01 10:01:39  2023-12-01 10:01:40  385095  4.25
109272         40610  2023-12-01 10:01:39  2023-12-01 10:01:48  385095  4.25
109273         40610  2023-12-01 10:01:57  2023-12-01 10:01:59  387645  4.25

        high   low  prev-close   ltp   atp
0       0.00  0.00      6455.1  0.00  0.00
1       0.00  0.00      6455.1  0.00  0.00
2       0.00  0.00      6455.1  0.00  0.00
3       0.00  0.00      6455.1  0.00  0.00
4       0.00  0.00      6455.1  0.00  0.00
...      ...   ...         ...   ...   ...
109269  4.25  2.25         4.2  3.75  3.53
109270  4.25  2.25         4.2  3.75  3.53
109271  4.25  2.25         4.2  3.70  3.53
109272  4.25  2.25         4.2  3.70  3.53
109273  4.25  2.25         4.2  3.70  3.53

[109274 rows x 10 columns]
        token_number            timestamp           time_entry  volume  open  \
0              40550  1980-01-01 00:00:00  2023-12-01 09:15:02       0  0.00
1              40550  1980-01-01 00:00:00  2023-12-01 09:15:02       0  0.00
2              40550  1980-01-01 00:00:00  2023-12-01 09:15:04       0  0.00
3              40550  1980-01-01 00:00:00  2023-12-01 09:15:14       0  0.00
4              40550  1980-01-01 00:00:00  2023-12-01 09:15:23       0  0.00
...              ...                  ...                  ...     ...   ...
109269         40610  2023-12-01 10:01:29  2023-12-01 10:01:32  385080  4.25
109270         40610  2023-12-01 10:01:29  2023-12-01 10:01:32  385080  4.25
109271         40610  2023-12-01 10:01:39  2023-12-01 10:01:40  385095  4.25
109272         40610  2023-12-01 10:01:39  2023-12-01 10:01:48  385095  4.25
109273         40610  2023-12-01 10:01:57  2023-12-01 10:01:59  387645  4.25

        high   low  prev-close   ltp   atp
0       0.00  0.00      6455.1  0.00  0.00
1       0.00  0.00      6455.1  0.00  0.00
2       0.00  0.00      6455.1  0.00  0.00
3       0.00  0.00      6455.1  0.00  0.00
4       0.00  0.00      6455.1  0.00  0.00
...      ...   ...         ...   ...   ...
109269  4.25  2.25         4.2  3.75  3.53
109270  4.25  2.25         4.2  3.75  3.53
109271  4.25  2.25         4.2  3.70  3.53
109272  4.25  2.25         4.2  3.70  3.53
109273  4.25  2.25         4.2  3.70  3.53

[109274 rows x 10 columns]
        token_number            timestamp           time_entry  volume  open  \
0              40550  1980-01-01 00:00:00  2023-12-01 09:15:02       0  0.00
1              40550  1980-01-01 00:00:00  2023-12-01 09:15:02       0  0.00
2              40550  1980-01-01 00:00:00  2023-12-01 09:15:04       0  0.00
3              40550  1980-01-01 00:00:00  2023-12-01 09:15:14       0  0.00
4              40550  1980-01-01 00:00:00  2023-12-01 09:15:23       0  0.00
...              ...                  ...                  ...     ...   ...
109269         40610  2023-12-01 10:01:29  2023-12-01 10:01:32  385080  4.25
109270         40610  2023-12-01 10:01:29  2023-12-01 10:01:32  385080  4.25
109271         40610  2023-12-01 10:01:39  2023-12-01 10:01:40  385095  4.25
109272         40610  2023-12-01 10:01:39  2023-12-01 10:01:48  385095  4.25
109273         40610  2023-12-01 10:01:57  2023-12-01 10:01:59  387645  4.25

        high   low  prev-close   ltp   atp
0       0.00  0.00      6455.1  0.00  0.00
1       0.00  0.00      6455.1  0.00  0.00
2       0.00  0.00      6455.1  0.00  0.00
3       0.00  0.00      6455.1  0.00  0.00
4       0.00  0.00      6455.1  0.00  0.00
...      ...   ...         ...   ...   ...
109269  4.25  2.25         4.2  3.75  3.53
109270  4.25  2.25         4.2  3.75  3.53
109271  4.25  2.25         4.2  3.70  3.53
109272  4.25  2.25         4.2  3.70  3.53
109273  4.25  2.25         4.2  3.70  3.53

[109274 rows x 10 columns]

        token_number            timestamp           time_entry  volume  open  \
0              40550  1980-01-01 00:00:00  2023-12-01 09:15:02       0  0.00
1              40550  1980-01-01 00:00:00  2023-12-01 09:15:02       0  0.00
2              40550  1980-01-01 00:00:00  2023-12-01 09:15:04       0  0.00
3              40550  1980-01-01 00:00:00  2023-12-01 09:15:14       0  0.00
4              40550  1980-01-01 00:00:00  2023-12-01 09:15:23       0  0.00
...              ...                  ...                  ...     ...   ...
109269         40610  2023-12-01 10:01:29  2023-12-01 10:01:32  385080  4.25
109270         40610  2023-12-01 10:01:29  2023-12-01 10:01:32  385080  4.25
109271         40610  2023-12-01 10:01:39  2023-12-01 10:01:40  385095  4.25
109272         40610  2023-12-01 10:01:39  2023-12-01 10:01:48  385095  4.25
109273         40610  2023-12-01 10:01:57  2023-12-01 10:01:59  387645  4.25

        high   low  prev-close   ltp   atp
0       0.00  0.00      6455.1  0.00  0.00
1       0.00  0.00      6455.1  0.00  0.00
2       0.00  0.00      6455.1  0.00  0.00
3       0.00  0.00      6455.1  0.00  0.00
4       0.00  0.00      6455.1  0.00  0.00
...      ...   ...         ...   ...   ...
109269  4.25  2.25         4.2  3.75  3.53
109270  4.25  2.25         4.2  3.75  3.53
109271  4.25  2.25         4.2  3.70  3.53
109272  4.25  2.25         4.2  3.70  3.53
109273  4.25  2.25         4.2  3.70  3.53

[109274 rows x 10 columns]
        token_number            timestamp           time_entry  volume  open  \
0              40550  1980-01-01 00:00:00  2023-12-01 09:15:02       0  0.00
1              40550  1980-01-01 00:00:00  2023-12-01 09:15:02       0  0.00
2              40550  1980-01-01 00:00:00  2023-12-01 09:15:04       0  0.00
3              40550  1980-01-01 00:00:00  2023-12-01 09:15:14       0  0.00
4              40550  1980-01-01 00:00:00  2023-12-01 09:15:23       0  0.00
...              ...                  ...                  ...     ...   ...
109269         40610  2023-12-01 10:01:29  2023-12-01 10:01:32  385080  4.25
109270         40610  2023-12-01 10:01:29  2023-12-01 10:01:32  385080  4.25
109271         40610  2023-12-01 10:01:39  2023-12-01 10:01:40  385095  4.25
109272         40610  2023-12-01 10:01:39  2023-12-01 10:01:48  385095  4.25
109273         40610  2023-12-01 10:01:57  2023-12-01 10:01:59  387645  4.25

        high   low  prev-close   ltp   atp
0       0.00  0.00      6455.1  0.00  0.00
1       0.00  0.00      6455.1  0.00  0.00
2       0.00  0.00      6455.1  0.00  0.00
3       0.00  0.00      6455.1  0.00  0.00
4       0.00  0.00      6455.1  0.00  0.00
...      ...   ...         ...   ...   ...
109269  4.25  2.25         4.2  3.75  3.53
109270  4.25  2.25         4.2  3.75  3.53
109271  4.25  2.25         4.2  3.70  3.53
109272  4.25  2.25         4.2  3.70  3.53
109273  4.25  2.25         4.2  3.70  3.53

[109274 rows x 10 columns]
        token_number            timestamp           time_entry  volume  open  \
0              40550  1980-01-01 00:00:00  2023-12-01 09:15:02       0  0.00
1              40550  1980-01-01 00:00:00  2023-12-01 09:15:02       0  0.00
2              40550  1980-01-01 00:00:00  2023-12-01 09:15:04       0  0.00
3              40550  1980-01-01 00:00:00  2023-12-01 09:15:14       0  0.00
4              40550  1980-01-01 00:00:00  2023-12-01 09:15:23       0  0.00
...              ...                  ...                  ...     ...   ...
109269         40610  2023-12-01 10:01:29  2023-12-01 10:01:32  385080  4.25
109270         40610  2023-12-01 10:01:29  2023-12-01 10:01:32  385080  4.25
109271         40610  2023-12-01 10:01:39  2023-12-01 10:01:40  385095  4.25
109272         40610  2023-12-01 10:01:39  2023-12-01 10:01:48  385095  4.25
109273         40610  2023-12-01 10:01:57  2023-12-01 10:01:59  387645  4.25

        high   low  prev-close   ltp   atp
0       0.00  0.00      6455.1  0.00  0.00
1       0.00  0.00      6455.1  0.00  0.00
2       0.00  0.00      6455.1  0.00  0.00
3       0.00  0.00      6455.1  0.00  0.00
4       0.00  0.00      6455.1  0.00  0.00
...      ...   ...         ...   ...   ...
109269  4.25  2.25         4.2  3.75  3.53
109270  4.25  2.25         4.2  3.75  3.53
109271  4.25  2.25         4.2  3.70  3.53
109272  4.25  2.25         4.2  3.70  3.53
109273  4.25  2.25         4.2  3.70  3.53

[109274 rows x 10 columns]
        token_number            timestamp           time_entry  volume  open  \
0              40550  1980-01-01 00:00:00  2023-12-01 09:15:02       0  0.00
1              40550  1980-01-01 00:00:00  2023-12-01 09:15:02       0  0.00
2              40550  1980-01-01 00:00:00  2023-12-01 09:15:04       0  0.00
3              40550  1980-01-01 00:00:00  2023-12-01 09:15:14       0  0.00
4              40550  1980-01-01 00:00:00  2023-12-01 09:15:23       0  0.00
...              ...                  ...                  ...     ...   ...
109269         40610  2023-12-01 10:01:29  2023-12-01 10:01:32  385080  4.25
109270         40610  2023-12-01 10:01:29  2023-12-01 10:01:32  385080  4.25
109271         40610  2023-12-01 10:01:39  2023-12-01 10:01:40  385095  4.25
109272         40610  2023-12-01 10:01:39  2023-12-01 10:01:48  385095  4.25
109273         40610  2023-12-01 10:01:57  2023-12-01 10:01:59  387645  4.25

        high   low  prev-close   ltp   atp
0       0.00  0.00      6455.1  0.00  0.00
1       0.00  0.00      6455.1  0.00  0.00
2       0.00  0.00      6455.1  0.00  0.00
3       0.00  0.00      6455.1  0.00  0.00
4       0.00  0.00      6455.1  0.00  0.00
...      ...   ...         ...   ...   ...
109269  4.25  2.25         4.2  3.75  3.53
109270  4.25  2.25         4.2  3.75  3.53
109271  4.25  2.25         4.2  3.70  3.53
109272  4.25  2.25         4.2  3.70  3.53
109273  4.25  2.25         4.2  3.70  3.53

[109274 rows x 10 columns]
        token_number            timestamp           time_entry  volume  open  \
0              40550  1980-01-01 00:00:00  2023-12-01 09:15:02       0   0.0
1              40550  1980-01-01 00:00:00  2023-12-01 09:15:02       0   0.0
2              40550  1980-01-01 00:00:00  2023-12-01 09:15:04       0   0.0
3              40550  1980-01-01 00:00:00  2023-12-01 09:15:14       0   0.0
4              40550  1980-01-01 00:00:00  2023-12-01 09:15:23       0   0.0
...              ...                  ...                  ...     ...   ...
109356         40632  1980-01-01 00:00:00  2023-12-01 10:01:56       0   0.0
109357         40632  1980-01-01 00:00:00  2023-12-01 10:01:59       0   0.0
109358         40632  1980-01-01 00:00:00  2023-12-01 10:02:02       0   0.0
109359         40632  1980-01-01 00:00:00  2023-12-01 10:02:04       0   0.0
109360         40632  1980-01-01 00:00:00  2023-12-01 10:02:05       0   0.0

        high  low  prev-close  ltp  atp
0        0.0  0.0     6455.10  0.0  0.0
1        0.0  0.0     6455.10  0.0  0.0
2        0.0  0.0     6455.10  0.0  0.0
3        0.0  0.0     6455.10  0.0  0.0
4        0.0  0.0     6455.10  0.0  0.0
...      ...  ...         ...  ...  ...
109356   0.0  0.0     3561.25  0.0  0.0
109357   0.0  0.0     3561.25  0.0  0.0
109358   0.0  0.0     3561.25  0.0  0.0
109359   0.0  0.0     3561.25  0.0  0.0
109360   0.0  0.0     3561.25  0.0  0.0

[109361 rows x 10 columns]
        token_number            timestamp           time_entry  volume  open  \
0              40550  1980-01-01 00:00:00  2023-12-01 09:15:02       0   0.0
1              40550  1980-01-01 00:00:00  2023-12-01 09:15:02       0   0.0
2              40550  1980-01-01 00:00:00  2023-12-01 09:15:04       0   0.0
3              40550  1980-01-01 00:00:00  2023-12-01 09:15:14       0   0.0
4              40550  1980-01-01 00:00:00  2023-12-01 09:15:23       0   0.0
...              ...                  ...                  ...     ...   ...
109432         40633  2023-12-01 10:01:20  2023-12-01 10:01:30  393585   4.0
109433         40633  2023-12-01 10:01:31  2023-12-01 10:01:31  394485   4.0
109434         40633  2023-12-01 10:01:32  2023-12-01 10:01:32  395385   4.0
109435         40633  2023-12-01 10:01:32  2023-12-01 10:01:48  395385   4.0
109436         40633  2023-12-01 10:01:32  2023-12-01 10:02:02  395385   4.0

        high  low  prev-close  ltp   atp
0        0.0  0.0      6455.1  0.0  0.00
1        0.0  0.0      6455.1  0.0  0.00
2        0.0  0.0      6455.1  0.0  0.00
3        0.0  0.0      6455.1  0.0  0.00
4        0.0  0.0      6455.1  0.0  0.00
...      ...  ...         ...  ...   ...
109432   4.0  3.0         4.7  3.8  3.67
109433   4.0  3.0         4.7  3.8  3.67
109434   4.0  3.0         4.7  3.8  3.67
109435   4.0  3.0         4.7  3.8  3.67
109436   4.0  3.0         4.7  3.8  3.67

[109437 rows x 10 columns]

        token_number            timestamp           time_entry  volume  open  \
0              40550  1980-01-01 00:00:00  2023-12-01 09:15:02       0   0.0
1              40550  1980-01-01 00:00:00  2023-12-01 09:15:02       0   0.0
2              40550  1980-01-01 00:00:00  2023-12-01 09:15:04       0   0.0
3              40550  1980-01-01 00:00:00  2023-12-01 09:15:14       0   0.0
4              40550  1980-01-01 00:00:00  2023-12-01 09:15:23       0   0.0
...              ...                  ...                  ...     ...   ...
109432         40633  2023-12-01 10:01:20  2023-12-01 10:01:30  393585   4.0
109433         40633  2023-12-01 10:01:31  2023-12-01 10:01:31  394485   4.0
109434         40633  2023-12-01 10:01:32  2023-12-01 10:01:32  395385   4.0
109435         40633  2023-12-01 10:01:32  2023-12-01 10:01:48  395385   4.0
109436         40633  2023-12-01 10:01:32  2023-12-01 10:02:02  395385   4.0

        high  low  prev-close  ltp   atp
0        0.0  0.0      6455.1  0.0  0.00
1        0.0  0.0      6455.1  0.0  0.00
2        0.0  0.0      6455.1  0.0  0.00
3        0.0  0.0      6455.1  0.0  0.00
4        0.0  0.0      6455.1  0.0  0.00
...      ...  ...         ...  ...   ...
109432   4.0  3.0         4.7  3.8  3.67
109433   4.0  3.0         4.7  3.8  3.67
109434   4.0  3.0         4.7  3.8  3.67
109435   4.0  3.0         4.7  3.8  3.67
109436   4.0  3.0         4.7  3.8  3.67

[109437 rows x 10 columns]
        token_number            timestamp           time_entry  volume  open  \
0              40550  1980-01-01 00:00:00  2023-12-01 09:15:02       0   0.0
1              40550  1980-01-01 00:00:00  2023-12-01 09:15:02       0   0.0
2              40550  1980-01-01 00:00:00  2023-12-01 09:15:04       0   0.0
3              40550  1980-01-01 00:00:00  2023-12-01 09:15:14       0   0.0
4              40550  1980-01-01 00:00:00  2023-12-01 09:15:23       0   0.0
...              ...                  ...                  ...     ...   ...
109432         40633  2023-12-01 10:01:20  2023-12-01 10:01:30  393585   4.0
109433         40633  2023-12-01 10:01:31  2023-12-01 10:01:31  394485   4.0
109434         40633  2023-12-01 10:01:32  2023-12-01 10:01:32  395385   4.0
109435         40633  2023-12-01 10:01:32  2023-12-01 10:01:48  395385   4.0
109436         40633  2023-12-01 10:01:32  2023-12-01 10:02:02  395385   4.0

        high  low  prev-close  ltp   atp
0        0.0  0.0      6455.1  0.0  0.00
1        0.0  0.0      6455.1  0.0  0.00
2        0.0  0.0      6455.1  0.0  0.00
3        0.0  0.0      6455.1  0.0  0.00
4        0.0  0.0      6455.1  0.0  0.00
...      ...  ...         ...  ...   ...
109432   4.0  3.0         4.7  3.8  3.67
109433   4.0  3.0         4.7  3.8  3.67
109434   4.0  3.0         4.7  3.8  3.67
109435   4.0  3.0         4.7  3.8  3.67
109436   4.0  3.0         4.7  3.8  3.67

[109437 rows x 10 columns]
        token_number            timestamp           time_entry  volume  open  \
0              40550  1980-01-01 00:00:00  2023-12-01 09:15:02       0   0.0
1              40550  1980-01-01 00:00:00  2023-12-01 09:15:02       0   0.0
2              40550  1980-01-01 00:00:00  2023-12-01 09:15:04       0   0.0
3              40550  1980-01-01 00:00:00  2023-12-01 09:15:14       0   0.0
4              40550  1980-01-01 00:00:00  2023-12-01 09:15:23       0   0.0
...              ...                  ...                  ...     ...   ...
109432         40633  2023-12-01 10:01:20  2023-12-01 10:01:30  393585   4.0
109433         40633  2023-12-01 10:01:31  2023-12-01 10:01:31  394485   4.0
109434         40633  2023-12-01 10:01:32  2023-12-01 10:01:32  395385   4.0
109435         40633  2023-12-01 10:01:32  2023-12-01 10:01:48  395385   4.0
109436         40633  2023-12-01 10:01:32  2023-12-01 10:02:02  395385   4.0

        high  low  prev-close  ltp   atp
0        0.0  0.0      6455.1  0.0  0.00
1        0.0  0.0      6455.1  0.0  0.00
2        0.0  0.0      6455.1  0.0  0.00
3        0.0  0.0      6455.1  0.0  0.00
4        0.0  0.0      6455.1  0.0  0.00
...      ...  ...         ...  ...   ...
109432   4.0  3.0         4.7  3.8  3.67
109433   4.0  3.0         4.7  3.8  3.67
109434   4.0  3.0         4.7  3.8  3.67
109435   4.0  3.0         4.7  3.8  3.67
109436   4.0  3.0         4.7  3.8  3.67

[109437 rows x 10 columns]
        token_number            timestamp           time_entry  volume  open  \
0              40550  1980-01-01 00:00:00  2023-12-01 09:15:02       0   0.0
1              40550  1980-01-01 00:00:00  2023-12-01 09:15:02       0   0.0
2              40550  1980-01-01 00:00:00  2023-12-01 09:15:04       0   0.0
3              40550  1980-01-01 00:00:00  2023-12-01 09:15:14       0   0.0
4              40550  1980-01-01 00:00:00  2023-12-01 09:15:23       0   0.0
...              ...                  ...                  ...     ...   ...
109432         40633  2023-12-01 10:01:20  2023-12-01 10:01:30  393585   4.0
109433         40633  2023-12-01 10:01:31  2023-12-01 10:01:31  394485   4.0
109434         40633  2023-12-01 10:01:32  2023-12-01 10:01:32  395385   4.0
109435         40633  2023-12-01 10:01:32  2023-12-01 10:01:48  395385   4.0
109436         40633  2023-12-01 10:01:32  2023-12-01 10:02:02  395385   4.0

        high  low  prev-close  ltp   atp
0        0.0  0.0      6455.1  0.0  0.00
1        0.0  0.0      6455.1  0.0  0.00
2        0.0  0.0      6455.1  0.0  0.00
3        0.0  0.0      6455.1  0.0  0.00
4        0.0  0.0      6455.1  0.0  0.00
...      ...  ...         ...  ...   ...
109432   4.0  3.0         4.7  3.8  3.67
109433   4.0  3.0         4.7  3.8  3.67
109434   4.0  3.0         4.7  3.8  3.67
109435   4.0  3.0         4.7  3.8  3.67
109436   4.0  3.0         4.7  3.8  3.67

[109437 rows x 10 columns]
        token_number            timestamp           time_entry  volume  open  \
0              40550  1980-01-01 00:00:00  2023-12-01 09:15:02       0   0.0
1              40550  1980-01-01 00:00:00  2023-12-01 09:15:02       0   0.0
2              40550  1980-01-01 00:00:00  2023-12-01 09:15:04       0   0.0
3              40550  1980-01-01 00:00:00  2023-12-01 09:15:14       0   0.0
4              40550  1980-01-01 00:00:00  2023-12-01 09:15:23       0   0.0
...              ...                  ...                  ...     ...   ...
109432         40633  2023-12-01 10:01:20  2023-12-01 10:01:30  393585   4.0
109433         40633  2023-12-01 10:01:31  2023-12-01 10:01:31  394485   4.0
109434         40633  2023-12-01 10:01:32  2023-12-01 10:01:32  395385   4.0
109435         40633  2023-12-01 10:01:32  2023-12-01 10:01:48  395385   4.0
109436         40633  2023-12-01 10:01:32  2023-12-01 10:02:02  395385   4.0

        high  low  prev-close  ltp   atp
0        0.0  0.0      6455.1  0.0  0.00
1        0.0  0.0      6455.1  0.0  0.00
2        0.0  0.0      6455.1  0.0  0.00
3        0.0  0.0      6455.1  0.0  0.00
4        0.0  0.0      6455.1  0.0  0.00
...      ...  ...         ...  ...   ...
109432   4.0  3.0         4.7  3.8  3.67
109433   4.0  3.0         4.7  3.8  3.67
109434   4.0  3.0         4.7  3.8  3.67
109435   4.0  3.0         4.7  3.8  3.67
109436   4.0  3.0         4.7  3.8  3.67

[109437 rows x 10 columns]
        token_number            timestamp           time_entry  volume  open  \
0              40550  1980-01-01 00:00:00  2023-12-01 09:15:02       0   0.0
1              40550  1980-01-01 00:00:00  2023-12-01 09:15:02       0   0.0
2              40550  1980-01-01 00:00:00  2023-12-01 09:15:04       0   0.0
3              40550  1980-01-01 00:00:00  2023-12-01 09:15:14       0   0.0
4              40550  1980-01-01 00:00:00  2023-12-01 09:15:23       0   0.0
...              ...                  ...                  ...     ...   ...
109432         40633  2023-12-01 10:01:20  2023-12-01 10:01:30  393585   4.0
109433         40633  2023-12-01 10:01:31  2023-12-01 10:01:31  394485   4.0
109434         40633  2023-12-01 10:01:32  2023-12-01 10:01:32  395385   4.0
109435         40633  2023-12-01 10:01:32  2023-12-01 10:01:48  395385   4.0
109436         40633  2023-12-01 10:01:32  2023-12-01 10:02:02  395385   4.0

        high  low  prev-close  ltp   atp
0        0.0  0.0      6455.1  0.0  0.00
1        0.0  0.0      6455.1  0.0  0.00
2        0.0  0.0      6455.1  0.0  0.00
3        0.0  0.0      6455.1  0.0  0.00
4        0.0  0.0      6455.1  0.0  0.00
...      ...  ...         ...  ...   ...
109432   4.0  3.0         4.7  3.8  3.67
109433   4.0  3.0         4.7  3.8  3.67
109434   4.0  3.0         4.7  3.8  3.67
109435   4.0  3.0         4.7  3.8  3.67
109436   4.0  3.0         4.7  3.8  3.67

[109437 rows x 10 columns]

        token_number            timestamp           time_entry  volume  open  \
0              40550  1980-01-01 00:00:00  2023-12-01 09:15:02       0   0.0
1              40550  1980-01-01 00:00:00  2023-12-01 09:15:02       0   0.0
2              40550  1980-01-01 00:00:00  2023-12-01 09:15:04       0   0.0
3              40550  1980-01-01 00:00:00  2023-12-01 09:15:14       0   0.0
4              40550  1980-01-01 00:00:00  2023-12-01 09:15:23       0   0.0
...              ...                  ...                  ...     ...   ...
109432         40633  2023-12-01 10:01:20  2023-12-01 10:01:30  393585   4.0
109433         40633  2023-12-01 10:01:31  2023-12-01 10:01:31  394485   4.0
109434         40633  2023-12-01 10:01:32  2023-12-01 10:01:32  395385   4.0
109435         40633  2023-12-01 10:01:32  2023-12-01 10:01:48  395385   4.0
109436         40633  2023-12-01 10:01:32  2023-12-01 10:02:02  395385   4.0

        high  low  prev-close  ltp   atp
0        0.0  0.0      6455.1  0.0  0.00
1        0.0  0.0      6455.1  0.0  0.00
2        0.0  0.0      6455.1  0.0  0.00
3        0.0  0.0      6455.1  0.0  0.00
4        0.0  0.0      6455.1  0.0  0.00
...      ...  ...         ...  ...   ...
109432   4.0  3.0         4.7  3.8  3.67
109433   4.0  3.0         4.7  3.8  3.67
109434   4.0  3.0         4.7  3.8  3.67
109435   4.0  3.0         4.7  3.8  3.67
109436   4.0  3.0         4.7  3.8  3.67

[109437 rows x 10 columns]
        token_number            timestamp           time_entry  volume  open  \
0              40550  1980-01-01 00:00:00  2023-12-01 09:15:02       0   0.0
1              40550  1980-01-01 00:00:00  2023-12-01 09:15:02       0   0.0
2              40550  1980-01-01 00:00:00  2023-12-01 09:15:04       0   0.0
3              40550  1980-01-01 00:00:00  2023-12-01 09:15:14       0   0.0
4              40550  1980-01-01 00:00:00  2023-12-01 09:15:23       0   0.0
...              ...                  ...                  ...     ...   ...
109432         40633  2023-12-01 10:01:20  2023-12-01 10:01:30  393585   4.0
109433         40633  2023-12-01 10:01:31  2023-12-01 10:01:31  394485   4.0
109434         40633  2023-12-01 10:01:32  2023-12-01 10:01:32  395385   4.0
109435         40633  2023-12-01 10:01:32  2023-12-01 10:01:48  395385   4.0
109436         40633  2023-12-01 10:01:32  2023-12-01 10:02:02  395385   4.0

        high  low  prev-close  ltp   atp
0        0.0  0.0      6455.1  0.0  0.00
1        0.0  0.0      6455.1  0.0  0.00
2        0.0  0.0      6455.1  0.0  0.00
3        0.0  0.0      6455.1  0.0  0.00
4        0.0  0.0      6455.1  0.0  0.00
...      ...  ...         ...  ...   ...
109432   4.0  3.0         4.7  3.8  3.67
109433   4.0  3.0         4.7  3.8  3.67
109434   4.0  3.0         4.7  3.8  3.67
109435   4.0  3.0         4.7  3.8  3.67
109436   4.0  3.0         4.7  3.8  3.67

[109437 rows x 10 columns]
        token_number            timestamp           time_entry  volume  open  \
0              40550  1980-01-01 00:00:00  2023-12-01 09:15:02       0   0.0
1              40550  1980-01-01 00:00:00  2023-12-01 09:15:02       0   0.0
2              40550  1980-01-01 00:00:00  2023-12-01 09:15:04       0   0.0
3              40550  1980-01-01 00:00:00  2023-12-01 09:15:14       0   0.0
4              40550  1980-01-01 00:00:00  2023-12-01 09:15:23       0   0.0
...              ...                  ...                  ...     ...   ...
109507         40643  2023-11-30 15:20:52  2023-12-01 10:00:15       0   0.0
109508         40643  2023-11-30 15:20:52  2023-12-01 10:00:16       0   0.0
109509         40643  2023-11-30 15:20:52  2023-12-01 10:00:59       0   0.0
109510         40643  2023-11-30 15:20:52  2023-12-01 10:01:00       0   0.0
109511         40643  2023-11-30 15:20:52  2023-12-01 10:01:09       0   0.0

        high  low  prev-close     ltp  atp
0        0.0  0.0      6455.1     0.0  0.0
1        0.0  0.0      6455.1     0.0  0.0
2        0.0  0.0      6455.1     0.0  0.0
3        0.0  0.0      6455.1     0.0  0.0
4        0.0  0.0      6455.1     0.0  0.0
...      ...  ...         ...     ...  ...
109507   0.0  0.0      4563.9  4580.0  0.0
109508   0.0  0.0      4563.9  4580.0  0.0
109509   0.0  0.0      4563.9  4580.0  0.0
109510   0.0  0.0      4563.9  4580.0  0.0
109511   0.0  0.0      4563.9  4580.0  0.0

[109512 rows x 10 columns]
        token_number            timestamp           time_entry  volume  open  \
0              40550  1980-01-01 00:00:00  2023-12-01 09:15:02       0   0.0
1              40550  1980-01-01 00:00:00  2023-12-01 09:15:02       0   0.0
2              40550  1980-01-01 00:00:00  2023-12-01 09:15:04       0   0.0
3              40550  1980-01-01 00:00:00  2023-12-01 09:15:14       0   0.0
4              40550  1980-01-01 00:00:00  2023-12-01 09:15:23       0   0.0
...              ...                  ...                  ...     ...   ...
109630         40644  2023-12-01 10:01:20  2023-12-01 10:01:25  710325   4.3
109631         40644  2023-12-01 10:01:20  2023-12-01 10:01:27  710325   4.3
109632         40644  2023-12-01 10:01:29  2023-12-01 10:01:31  710475   4.3
109633         40644  2023-12-01 10:01:29  2023-12-01 10:01:34  710475   4.3
109634         40644  2023-12-01 10:01:48  2023-12-01 10:01:50  711120   4.3

        high   low  prev-close  ltp   atp
0        0.0  0.00      6455.1  0.0  0.00
1        0.0  0.00      6455.1  0.0  0.00
2        0.0  0.00      6455.1  0.0  0.00
3        0.0  0.00      6455.1  0.0  0.00
4        0.0  0.00      6455.1  0.0  0.00
...      ...   ...         ...  ...   ...
109630   4.3  3.45         4.7  4.0  3.93
109631   4.3  3.45         4.7  4.0  3.93
109632   4.3  3.45         4.7  4.0  3.93
109633   4.3  3.45         4.7  4.0  3.93
109634   4.3  3.45         4.7  4.0  3.93

[109635 rows x 10 columns]
        token_number            timestamp           time_entry  volume  open  \
0              40550  1980-01-01 00:00:00  2023-12-01 09:15:02       0   0.0
1              40550  1980-01-01 00:00:00  2023-12-01 09:15:02       0   0.0
2              40550  1980-01-01 00:00:00  2023-12-01 09:15:04       0   0.0
3              40550  1980-01-01 00:00:00  2023-12-01 09:15:14       0   0.0
4              40550  1980-01-01 00:00:00  2023-12-01 09:15:23       0   0.0
...              ...                  ...                  ...     ...   ...
109630         40644  2023-12-01 10:01:20  2023-12-01 10:01:25  710325   4.3
109631         40644  2023-12-01 10:01:20  2023-12-01 10:01:27  710325   4.3
109632         40644  2023-12-01 10:01:29  2023-12-01 10:01:31  710475   4.3
109633         40644  2023-12-01 10:01:29  2023-12-01 10:01:34  710475   4.3
109634         40644  2023-12-01 10:01:48  2023-12-01 10:01:50  711120   4.3

        high   low  prev-close  ltp   atp
0        0.0  0.00      6455.1  0.0  0.00
1        0.0  0.00      6455.1  0.0  0.00
2        0.0  0.00      6455.1  0.0  0.00
3        0.0  0.00      6455.1  0.0  0.00
4        0.0  0.00      6455.1  0.0  0.00
...      ...   ...         ...  ...   ...
109630   4.3  3.45         4.7  4.0  3.93
109631   4.3  3.45         4.7  4.0  3.93
109632   4.3  3.45         4.7  4.0  3.93
109633   4.3  3.45         4.7  4.0  3.93
109634   4.3  3.45         4.7  4.0  3.93

[109635 rows x 10 columns]
        token_number            timestamp           time_entry  volume  open  \
0              40550  1980-01-01 00:00:00  2023-12-01 09:15:02       0   0.0
1              40550  1980-01-01 00:00:00  2023-12-01 09:15:02       0   0.0
2              40550  1980-01-01 00:00:00  2023-12-01 09:15:04       0   0.0
3              40550  1980-01-01 00:00:00  2023-12-01 09:15:14       0   0.0
4              40550  1980-01-01 00:00:00  2023-12-01 09:15:23       0   0.0
...              ...                  ...                  ...     ...   ...
109630         40644  2023-12-01 10:01:20  2023-12-01 10:01:25  710325   4.3
109631         40644  2023-12-01 10:01:20  2023-12-01 10:01:27  710325   4.3
109632         40644  2023-12-01 10:01:29  2023-12-01 10:01:31  710475   4.3
109633         40644  2023-12-01 10:01:29  2023-12-01 10:01:34  710475   4.3
109634         40644  2023-12-01 10:01:48  2023-12-01 10:01:50  711120   4.3

        high   low  prev-close  ltp   atp
0        0.0  0.00      6455.1  0.0  0.00
1        0.0  0.00      6455.1  0.0  0.00
2        0.0  0.00      6455.1  0.0  0.00
3        0.0  0.00      6455.1  0.0  0.00
4        0.0  0.00      6455.1  0.0  0.00
...      ...   ...         ...  ...   ...
109630   4.3  3.45         4.7  4.0  3.93
109631   4.3  3.45         4.7  4.0  3.93
109632   4.3  3.45         4.7  4.0  3.93
109633   4.3  3.45         4.7  4.0  3.93
109634   4.3  3.45         4.7  4.0  3.93

[109635 rows x 10 columns]

        token_number            timestamp           time_entry  volume  open  \
0              40550  1980-01-01 00:00:00  2023-12-01 09:15:02       0   0.0
1              40550  1980-01-01 00:00:00  2023-12-01 09:15:02       0   0.0
2              40550  1980-01-01 00:00:00  2023-12-01 09:15:04       0   0.0
3              40550  1980-01-01 00:00:00  2023-12-01 09:15:14       0   0.0
4              40550  1980-01-01 00:00:00  2023-12-01 09:15:23       0   0.0
...              ...                  ...                  ...     ...   ...
109710         40662  1980-01-01 00:00:00  2023-12-01 10:01:26       0   0.0
109711         40662  1980-01-01 00:00:00  2023-12-01 10:01:30       0   0.0
109712         40662  1980-01-01 00:00:00  2023-12-01 10:01:38       0   0.0
109713         40662  1980-01-01 00:00:00  2023-12-01 10:01:46       0   0.0
109714         40662  1980-01-01 00:00:00  2023-12-01 10:01:59       0   0.0

        high  low  prev-close  ltp  atp
0        0.0  0.0      6455.1  0.0  0.0
1        0.0  0.0      6455.1  0.0  0.0
2        0.0  0.0      6455.1  0.0  0.0
3        0.0  0.0      6455.1  0.0  0.0
4        0.0  0.0      6455.1  0.0  0.0
...      ...  ...         ...  ...  ...
109710   0.0  0.0      2941.9  0.0  0.0
109711   0.0  0.0      2941.9  0.0  0.0
109712   0.0  0.0      2941.9  0.0  0.0
109713   0.0  0.0      2941.9  0.0  0.0
109714   0.0  0.0      2941.9  0.0  0.0

[109715 rows x 10 columns]
        token_number            timestamp           time_entry  volume  open  \
0              40550  1980-01-01 00:00:00  2023-12-01 09:15:02       0   0.0
1              40550  1980-01-01 00:00:00  2023-12-01 09:15:02       0   0.0
2              40550  1980-01-01 00:00:00  2023-12-01 09:15:04       0   0.0
3              40550  1980-01-01 00:00:00  2023-12-01 09:15:14       0   0.0
4              40550  1980-01-01 00:00:00  2023-12-01 09:15:23       0   0.0
...              ...                  ...                  ...     ...   ...
109778         40663  2023-12-01 10:01:01  2023-12-01 10:01:21  127350   4.5
109779         40663  2023-12-01 10:01:01  2023-12-01 10:01:29  127350   4.5
109780         40663  2023-12-01 10:01:01  2023-12-01 10:01:45  127350   4.5
109781         40663  2023-12-01 10:01:01  2023-12-01 10:02:03  127350   4.5
109782         40663  2023-12-01 10:01:01  2023-12-01 10:02:07  127350   4.5

        high   low  prev-close  ltp   atp
0        0.0  0.00     6455.10  0.0  0.00
1        0.0  0.00     6455.10  0.0  0.00
2        0.0  0.00     6455.10  0.0  0.00
3        0.0  0.00     6455.10  0.0  0.00
4        0.0  0.00     6455.10  0.0  0.00
...      ...   ...         ...  ...   ...
109778   4.5  3.05        4.75  4.0  3.96
109779   4.5  3.05        4.75  4.0  3.96
109780   4.5  3.05        4.75  4.0  3.96
109781   4.5  3.05        4.75  4.0  3.96
109782   4.5  3.05        4.75  4.0  3.96

[109783 rows x 10 columns]
        token_number            timestamp           time_entry  volume  open  \
0              40550  1980-01-01 00:00:00  2023-12-01 09:15:02       0   0.0
1              40550  1980-01-01 00:00:00  2023-12-01 09:15:02       0   0.0
2              40550  1980-01-01 00:00:00  2023-12-01 09:15:04       0   0.0
3              40550  1980-01-01 00:00:00  2023-12-01 09:15:14       0   0.0
4              40550  1980-01-01 00:00:00  2023-12-01 09:15:23       0   0.0
...              ...                  ...                  ...     ...   ...
109878         40664  1980-01-01 00:00:00  2023-12-01 10:01:44       0   0.0
109879         40664  1980-01-01 00:00:00  2023-12-01 10:01:51       0   0.0
109880         40664  1980-01-01 00:00:00  2023-12-01 10:01:58       0   0.0
109881         40664  1980-01-01 00:00:00  2023-12-01 10:02:02       0   0.0
109882         40664  1980-01-01 00:00:00  2023-12-01 10:02:04       0   0.0

        high  low  prev-close  ltp  atp
0        0.0  0.0     6455.10  0.0  0.0
1        0.0  0.0     6455.10  0.0  0.0
2        0.0  0.0     6455.10  0.0  0.0
3        0.0  0.0     6455.10  0.0  0.0
4        0.0  0.0     6455.10  0.0  0.0
...      ...  ...         ...  ...  ...
109878   0.0  0.0     2856.75  0.0  0.0
109879   0.0  0.0     2856.75  0.0  0.0
109880   0.0  0.0     2856.75  0.0  0.0
109881   0.0  0.0     2856.75  0.0  0.0
109882   0.0  0.0     2856.75  0.0  0.0

[109883 rows x 10 columns]
        token_number            timestamp           time_entry  volume  open  \
0              40550  1980-01-01 00:00:00  2023-12-01 09:15:02       0   0.0
1              40550  1980-01-01 00:00:00  2023-12-01 09:15:02       0   0.0
2              40550  1980-01-01 00:00:00  2023-12-01 09:15:04       0   0.0
3              40550  1980-01-01 00:00:00  2023-12-01 09:15:14       0   0.0
4              40550  1980-01-01 00:00:00  2023-12-01 09:15:23       0   0.0
...              ...                  ...                  ...     ...   ...
109985         40669  2023-12-01 10:01:20  2023-12-01 10:01:46  102585   2.4
109986         40669  2023-12-01 10:01:20  2023-12-01 10:01:49  102585   2.4
109987         40669  2023-12-01 10:01:20  2023-12-01 10:01:52  102585   2.4
109988         40669  2023-12-01 10:01:57  2023-12-01 10:02:04  102645   2.4
109989         40669  2023-12-01 10:01:57  2023-12-01 10:02:05  102645   2.4

        high  low  prev-close   ltp   atp
0        0.0  0.0     6455.10  0.00  0.00
1        0.0  0.0     6455.10  0.00  0.00
2        0.0  0.0     6455.10  0.00  0.00
3        0.0  0.0     6455.10  0.00  0.00
4        0.0  0.0     6455.10  0.00  0.00
...      ...  ...         ...   ...   ...
109985   5.0  2.4        5.15  4.15  4.13
109986   5.0  2.4        5.15  4.15  4.13
109987   5.0  2.4        5.15  4.15  4.13
109988   5.0  2.4        5.15  4.15  4.13
109989   5.0  2.4        5.15  4.15  4.13

[109990 rows x 10 columns]
        token_number            timestamp           time_entry  volume  open  \
0              40550  1980-01-01 00:00:00  2023-12-01 09:15:02       0   0.0
1              40550  1980-01-01 00:00:00  2023-12-01 09:15:02       0   0.0
2              40550  1980-01-01 00:00:00  2023-12-01 09:15:04       0   0.0
3              40550  1980-01-01 00:00:00  2023-12-01 09:15:14       0   0.0
4              40550  1980-01-01 00:00:00  2023-12-01 09:15:23       0   0.0
...              ...                  ...                  ...     ...   ...
110036         40675  1980-01-01 00:00:00  2023-12-01 10:00:58       0   0.0
110037         40675  1980-01-01 00:00:00  2023-12-01 10:01:00       0   0.0
110038         40675  1980-01-01 00:00:00  2023-12-01 10:01:00       0   0.0
110039         40675  1980-01-01 00:00:00  2023-12-01 10:01:01       0   0.0
110040         40675  1980-01-01 00:00:00  2023-12-01 10:01:04       0   0.0

        high  low  prev-close  ltp  atp
0        0.0  0.0      6455.1  0.0  0.0
1        0.0  0.0      6455.1  0.0  0.0
2        0.0  0.0      6455.1  0.0  0.0
3        0.0  0.0      6455.1  0.0  0.0
4        0.0  0.0      6455.1  0.0  0.0
...      ...  ...         ...  ...  ...
110036   0.0  0.0      2772.5  0.0  0.0
110037   0.0  0.0      2772.5  0.0  0.0
110038   0.0  0.0      2772.5  0.0  0.0
110039   0.0  0.0      2772.5  0.0  0.0
110040   0.0  0.0      2772.5  0.0  0.0

[110041 rows x 10 columns]
        token_number            timestamp           time_entry  volume  open  \
0              40550  1980-01-01 00:00:00  2023-12-01 09:15:02       0   0.0
1              40550  1980-01-01 00:00:00  2023-12-01 09:15:02       0   0.0
2              40550  1980-01-01 00:00:00  2023-12-01 09:15:04       0   0.0
3              40550  1980-01-01 00:00:00  2023-12-01 09:15:14       0   0.0
4              40550  1980-01-01 00:00:00  2023-12-01 09:15:23       0   0.0
...              ...                  ...                  ...     ...   ...
110112         40676  2023-12-01 10:01:01  2023-12-01 10:01:14  156285   4.6
110113         40676  2023-12-01 10:01:14  2023-12-01 10:01:16  156300   4.6
110114         40676  2023-12-01 10:01:19  2023-12-01 10:01:19  156480   4.6
110115         40676  2023-12-01 10:01:19  2023-12-01 10:01:37  156480   4.6
110116         40676  2023-12-01 10:01:39  2023-12-01 10:01:52  156495   4.6

        high   low  prev-close   ltp   atp
0        0.0  0.00      6455.1  0.00  0.00
1        0.0  0.00      6455.1  0.00  0.00
2        0.0  0.00      6455.1  0.00  0.00
3        0.0  0.00      6455.1  0.00  0.00
4        0.0  0.00      6455.1  0.00  0.00
...      ...   ...         ...   ...   ...
110112   4.6  3.75         4.8  4.25  4.32
110113   4.6  3.75         4.8  4.25  4.32
110114   4.6  3.75         4.8  4.20  4.32
110115   4.6  3.75         4.8  4.20  4.32
110116   4.6  3.75         4.8  4.15  4.32

[110117 rows x 10 columns]

        token_number            timestamp           time_entry  volume  open  \
0              40550  1980-01-01 00:00:00  2023-12-01 09:15:02       0   0.0
1              40550  1980-01-01 00:00:00  2023-12-01 09:15:02       0   0.0
2              40550  1980-01-01 00:00:00  2023-12-01 09:15:04       0   0.0
3              40550  1980-01-01 00:00:00  2023-12-01 09:15:14       0   0.0
4              40550  1980-01-01 00:00:00  2023-12-01 09:15:23       0   0.0
...              ...                  ...                  ...     ...   ...
110174         40677  2023-11-30 15:21:23  2023-12-01 10:00:42       0   0.0
110175         40677  2023-11-30 15:21:23  2023-12-01 10:00:43       0   0.0
110176         40677  2023-11-30 15:21:23  2023-12-01 10:00:45       0   0.0
110177         40677  2023-11-30 15:21:23  2023-12-01 10:00:59       0   0.0
110178         40677  2023-11-30 15:21:23  2023-12-01 10:01:00       0   0.0

        high  low  prev-close     ltp  atp
0        0.0  0.0     6455.10     0.0  0.0
1        0.0  0.0     6455.10     0.0  0.0
2        0.0  0.0     6455.10     0.0  0.0
3        0.0  0.0     6455.10     0.0  0.0
4        0.0  0.0     6455.10     0.0  0.0
...      ...  ...         ...     ...  ...
110174   0.0  0.0     3946.45  4090.0  0.0
110175   0.0  0.0     3946.45  4090.0  0.0
110176   0.0  0.0     3946.45  4090.0  0.0
110177   0.0  0.0     3946.45  4090.0  0.0
110178   0.0  0.0     3946.45  4090.0  0.0

[110179 rows x 10 columns]
        token_number            timestamp           time_entry  volume  open  \
0              40550  1980-01-01 00:00:00  2023-12-01 09:15:02       0  0.00
1              40550  1980-01-01 00:00:00  2023-12-01 09:15:02       0  0.00
2              40550  1980-01-01 00:00:00  2023-12-01 09:15:04       0  0.00
3              40550  1980-01-01 00:00:00  2023-12-01 09:15:14       0  0.00
4              40550  1980-01-01 00:00:00  2023-12-01 09:15:23       0  0.00
...              ...                  ...                  ...     ...   ...
110260         40678  2023-12-01 10:01:24  2023-12-01 10:01:31  918300  4.85
110261         40678  2023-12-01 10:01:24  2023-12-01 10:01:32  918300  4.85
110262         40678  2023-12-01 10:01:45  2023-12-01 10:01:46  921690  4.85
110263         40678  2023-12-01 10:01:48  2023-12-01 10:01:50  922830  4.85
110264         40678  2023-12-01 10:01:53  2023-12-01 10:01:58  924330  4.85

        high  low  prev-close   ltp   atp
0       0.00  0.0      6455.1  0.00  0.00
1       0.00  0.0      6455.1  0.00  0.00
2       0.00  0.0      6455.1  0.00  0.00
3       0.00  0.0      6455.1  0.00  0.00
4       0.00  0.0      6455.1  0.00  0.00
...      ...  ...         ...   ...   ...
110260  5.05  4.0         5.5  4.25  4.26
110261  5.05  4.0         5.5  4.25  4.26
110262  5.05  4.0         5.5  4.25  4.25
110263  5.05  4.0         5.5  4.25  4.25
110264  5.05  4.0         5.5  4.25  4.25

[110265 rows x 10 columns]
        token_number            timestamp           time_entry  volume  open  \
0              40550  1980-01-01 00:00:00  2023-12-01 09:15:02       0   0.0
1              40550  1980-01-01 00:00:00  2023-12-01 09:15:02       0   0.0
2              40550  1980-01-01 00:00:00  2023-12-01 09:15:04       0   0.0
3              40550  1980-01-01 00:00:00  2023-12-01 09:15:14       0   0.0
4              40550  1980-01-01 00:00:00  2023-12-01 09:15:23       0   0.0
...              ...                  ...                  ...     ...   ...
110331         40692  1980-01-01 00:00:00  2023-12-01 10:01:30       0   0.0
110332         40692  1980-01-01 00:00:00  2023-12-01 10:01:31       0   0.0
110333         40692  1980-01-01 00:00:00  2023-12-01 10:01:37       0   0.0
110334         40692  1980-01-01 00:00:00  2023-12-01 10:01:52       0   0.0
110335         40692  1980-01-01 00:00:00  2023-12-01 10:02:04       0   0.0

        high  low  prev-close  ltp  atp
0        0.0  0.0     6455.10  0.0  0.0
1        0.0  0.0     6455.10  0.0  0.0
2        0.0  0.0     6455.10  0.0  0.0
3        0.0  0.0     6455.10  0.0  0.0
4        0.0  0.0     6455.10  0.0  0.0
...      ...  ...         ...  ...  ...
110331   0.0  0.0     2607.05  0.0  0.0
110332   0.0  0.0     2607.05  0.0  0.0
110333   0.0  0.0     2607.05  0.0  0.0
110334   0.0  0.0     2607.05  0.0  0.0
110335   0.0  0.0     2607.05  0.0  0.0

[110336 rows x 10 columns]
        token_number            timestamp           time_entry  volume  open  \
0              40550  1980-01-01 00:00:00  2023-12-01 09:15:02       0  0.00
1              40550  1980-01-01 00:00:00  2023-12-01 09:15:02       0  0.00
2              40550  1980-01-01 00:00:00  2023-12-01 09:15:04       0  0.00
3              40550  1980-01-01 00:00:00  2023-12-01 09:15:14       0  0.00
4              40550  1980-01-01 00:00:00  2023-12-01 09:15:23       0  0.00
...              ...                  ...                  ...     ...   ...
110410         40698  2023-12-01 10:01:13  2023-12-01 10:01:19  138825  4.55
110411         40698  2023-12-01 10:01:26  2023-12-01 10:01:28  139170  4.55
110412         40698  2023-12-01 10:01:26  2023-12-01 10:01:30  139170  4.55
110413         40698  2023-12-01 10:01:51  2023-12-01 10:01:53  139530  4.55
110414         40698  2023-12-01 10:01:56  2023-12-01 10:01:56  140430  4.55

        high   low  prev-close   ltp   atp
0       0.00  0.00     6455.10  0.00  0.00
1       0.00  0.00     6455.10  0.00  0.00
2       0.00  0.00     6455.10  0.00  0.00
3       0.00  0.00     6455.10  0.00  0.00
4       0.00  0.00     6455.10  0.00  0.00
...      ...   ...         ...   ...   ...
110410  4.75  4.25        5.65  4.35  4.47
110411  4.75  4.25        5.65  4.30  4.47
110412  4.75  4.25        5.65  4.30  4.47
110413  4.75  4.25        5.65  4.35  4.47
110414  4.75  4.25        5.65  4.40  4.47

[110415 rows x 10 columns]
        token_number            timestamp           time_entry  volume  open  \
0              40550  1980-01-01 00:00:00  2023-12-01 09:15:02       0   0.0
1              40550  1980-01-01 00:00:00  2023-12-01 09:15:02       0   0.0
2              40550  1980-01-01 00:00:00  2023-12-01 09:15:04       0   0.0
3              40550  1980-01-01 00:00:00  2023-12-01 09:15:14       0   0.0
4              40550  1980-01-01 00:00:00  2023-12-01 09:15:23       0   0.0
...              ...                  ...                  ...     ...   ...
110487         40716  1980-01-01 00:00:00  2023-12-01 10:00:38       0   0.0
110488         40716  1980-01-01 00:00:00  2023-12-01 10:00:40       0   0.0
110489         40716  1980-01-01 00:00:00  2023-12-01 10:00:44       0   0.0
110490         40716  1980-01-01 00:00:00  2023-12-01 10:00:48       0   0.0
110491         40716  1980-01-01 00:00:00  2023-12-01 10:00:49       0   0.0

        high  low  prev-close  ltp  atp
0        0.0  0.0     6455.10  0.0  0.0
1        0.0  0.0     6455.10  0.0  0.0
2        0.0  0.0     6455.10  0.0  0.0
3        0.0  0.0     6455.10  0.0  0.0
4        0.0  0.0     6455.10  0.0  0.0
...      ...  ...         ...  ...  ...
110487   0.0  0.0     2525.85  0.0  0.0
110488   0.0  0.0     2525.85  0.0  0.0
110489   0.0  0.0     2525.85  0.0  0.0
110490   0.0  0.0     2525.85  0.0  0.0
110491   0.0  0.0     2525.85  0.0  0.0

[110492 rows x 10 columns]
        token_number            timestamp           time_entry  volume  open  \
0              40550  1980-01-01 00:00:00  2023-12-01 09:15:02       0  0.00
1              40550  1980-01-01 00:00:00  2023-12-01 09:15:02       0  0.00
2              40550  1980-01-01 00:00:00  2023-12-01 09:15:04       0  0.00
3              40550  1980-01-01 00:00:00  2023-12-01 09:15:14       0  0.00
4              40550  1980-01-01 00:00:00  2023-12-01 09:15:23       0  0.00
...              ...                  ...                  ...     ...   ...
110615         40717  2023-12-01 10:01:33  2023-12-01 10:01:34   74685  5.95
110616         40717  2023-12-01 10:01:34  2023-12-01 10:01:36   74700  5.95
110617         40717  2023-12-01 10:01:41  2023-12-01 10:01:42   74760  5.95
110618         40717  2023-12-01 10:01:45  2023-12-01 10:01:50   75180  5.95
110619         40717  2023-12-01 10:02:03  2023-12-01 10:02:07   76290  5.95

        high  low  prev-close   ltp   atp
0       0.00  0.0     6455.10  0.00  0.00
1       0.00  0.0     6455.10  0.00  0.00
2       0.00  0.0     6455.10  0.00  0.00
3       0.00  0.0     6455.10  0.00  0.00
4       0.00  0.0     6455.10  0.00  0.00
...      ...  ...         ...   ...   ...
110615  5.95  4.4        5.55  4.55  4.65
110616  5.95  4.4        5.55  4.55  4.65
110617  5.95  4.4        5.55  4.55  4.65
110618  5.95  4.4        5.55  4.60  4.65
110619  5.95  4.4        5.55  4.55  4.65

[110620 rows x 10 columns]

        token_number            timestamp           time_entry  volume  open  \
0              40550  1980-01-01 00:00:00  2023-12-01 09:15:02       0   0.0
1              40550  1980-01-01 00:00:00  2023-12-01 09:15:02       0   0.0
2              40550  1980-01-01 00:00:00  2023-12-01 09:15:04       0   0.0
3              40550  1980-01-01 00:00:00  2023-12-01 09:15:14       0   0.0
4              40550  1980-01-01 00:00:00  2023-12-01 09:15:23       0   0.0
...              ...                  ...                  ...     ...   ...
110697         40718  1980-01-01 00:00:00  2023-12-01 10:01:17       0   0.0
110698         40718  1980-01-01 00:00:00  2023-12-01 10:01:22       0   0.0
110699         40718  1980-01-01 00:00:00  2023-12-01 10:01:25       0   0.0
110700         40718  1980-01-01 00:00:00  2023-12-01 10:01:37       0   0.0
110701         40718  1980-01-01 00:00:00  2023-12-01 10:02:03       0   0.0

        high  low  prev-close  ltp  atp
0        0.0  0.0      6455.1  0.0  0.0
1        0.0  0.0      6455.1  0.0  0.0
2        0.0  0.0      6455.1  0.0  0.0
3        0.0  0.0      6455.1  0.0  0.0
4        0.0  0.0      6455.1  0.0  0.0
...      ...  ...         ...  ...  ...
110697   0.0  0.0      2445.8  0.0  0.0
110698   0.0  0.0      2445.8  0.0  0.0
110699   0.0  0.0      2445.8  0.0  0.0
110700   0.0  0.0      2445.8  0.0  0.0
110701   0.0  0.0      2445.8  0.0  0.0

[110702 rows x 10 columns]
        token_number            timestamp           time_entry  volume  open  \
0              40550  1980-01-01 00:00:00  2023-12-01 09:15:02       0   0.0
1              40550  1980-01-01 00:00:00  2023-12-01 09:15:02       0   0.0
2              40550  1980-01-01 00:00:00  2023-12-01 09:15:04       0   0.0
3              40550  1980-01-01 00:00:00  2023-12-01 09:15:14       0   0.0
4              40550  1980-01-01 00:00:00  2023-12-01 09:15:23       0   0.0
...              ...                  ...                  ...     ...   ...
110762         40719  2023-12-01 10:01:06  2023-12-01 10:01:17   94305   5.5
110763         40719  2023-12-01 10:01:06  2023-12-01 10:01:19   94305   5.5
110764         40719  2023-12-01 10:01:20  2023-12-01 10:01:25   94320   5.5
110765         40719  2023-12-01 10:01:20  2023-12-01 10:01:26   94320   5.5
110766         40719  2023-12-01 10:01:51  2023-12-01 10:02:05   94980   5.5

        high   low  prev-close   ltp   atp
0        0.0  0.00      6455.1  0.00  0.00
1        0.0  0.00      6455.1  0.00  0.00
2        0.0  0.00      6455.1  0.00  0.00
3        0.0  0.00      6455.1  0.00  0.00
4        0.0  0.00      6455.1  0.00  0.00
...      ...   ...         ...   ...   ...
110762   5.5  3.75         5.7  4.70  4.79
110763   5.5  3.75         5.7  4.70  4.79
110764   5.5  3.75         5.7  4.70  4.79
110765   5.5  3.75         5.7  4.70  4.79
110766   5.5  3.75         5.7  4.75  4.79

[110767 rows x 10 columns]
        token_number            timestamp           time_entry  volume  open  \
0              40550  1980-01-01 00:00:00  2023-12-01 09:15:02       0   0.0
1              40550  1980-01-01 00:00:00  2023-12-01 09:15:02       0   0.0
2              40550  1980-01-01 00:00:00  2023-12-01 09:15:04       0   0.0
3              40550  1980-01-01 00:00:00  2023-12-01 09:15:14       0   0.0
4              40550  1980-01-01 00:00:00  2023-12-01 09:15:23       0   0.0
...              ...                  ...                  ...     ...   ...
110827         40720  1980-01-01 00:00:00  2023-12-01 09:59:27       0   0.0
110828         40720  1980-01-01 00:00:00  2023-12-01 10:00:13       0   0.0
110829         40720  1980-01-01 00:00:00  2023-12-01 10:00:13       0   0.0
110830         40720  1980-01-01 00:00:00  2023-12-01 10:00:16       0   0.0
110831         40720  1980-01-01 00:00:00  2023-12-01 10:01:00       0   0.0

        high  low  prev-close  ltp  atp
0        0.0  0.0     6455.10  0.0  0.0
1        0.0  0.0     6455.10  0.0  0.0
2        0.0  0.0     6455.10  0.0  0.0
3        0.0  0.0     6455.10  0.0  0.0
4        0.0  0.0     6455.10  0.0  0.0
...      ...  ...         ...  ...  ...
110827   0.0  0.0     2366.85  0.0  0.0
110828   0.0  0.0     2366.85  0.0  0.0
110829   0.0  0.0     2366.85  0.0  0.0
110830   0.0  0.0     2366.85  0.0  0.0
110831   0.0  0.0     2366.85  0.0  0.0

[110832 rows x 10 columns]
        token_number            timestamp           time_entry  volume  open  \
0              40550  1980-01-01 00:00:00  2023-12-01 09:15:02       0  0.00
1              40550  1980-01-01 00:00:00  2023-12-01 09:15:02       0  0.00
2              40550  1980-01-01 00:00:00  2023-12-01 09:15:04       0  0.00
3              40550  1980-01-01 00:00:00  2023-12-01 09:15:14       0  0.00
4              40550  1980-01-01 00:00:00  2023-12-01 09:15:23       0  0.00
...              ...                  ...                  ...     ...   ...
110919         40724  2023-12-01 10:01:44  2023-12-01 10:01:45  149295  6.25
110920         40724  2023-12-01 10:01:44  2023-12-01 10:01:46  149295  6.25
110921         40724  2023-12-01 10:01:50  2023-12-01 10:01:50  149520  6.25
110922         40724  2023-12-01 10:01:50  2023-12-01 10:01:53  149520  6.25
110923         40724  2023-12-01 10:01:50  2023-12-01 10:02:04  149520  6.25

        high   low  prev-close  ltp   atp
0       0.00  0.00     6455.10  0.0  0.00
1       0.00  0.00     6455.10  0.0  0.00
2       0.00  0.00     6455.10  0.0  0.00
3       0.00  0.00     6455.10  0.0  0.00
4       0.00  0.00     6455.10  0.0  0.00
...      ...   ...         ...  ...   ...
110919  6.25  4.55        6.25  4.9  4.95
110920  6.25  4.55        6.25  4.9  4.95
110921  6.25  4.55        6.25  4.9  4.95
110922  6.25  4.55        6.25  4.9  4.95
110923  6.25  4.55        6.25  4.9  4.95

[110924 rows x 10 columns]
        token_number            timestamp           time_entry  volume  open  \
0              40550  1980-01-01 00:00:00  2023-12-01 09:15:02       0   0.0
1              40550  1980-01-01 00:00:00  2023-12-01 09:15:02       0   0.0
2              40550  1980-01-01 00:00:00  2023-12-01 09:15:04       0   0.0
3              40550  1980-01-01 00:00:00  2023-12-01 09:15:14       0   0.0
4              40550  1980-01-01 00:00:00  2023-12-01 09:15:23       0   0.0
...              ...                  ...                  ...     ...   ...
111024         40730  2023-11-30 14:34:59  2023-12-01 10:01:51       0   0.0
111025         40730  2023-11-30 14:34:59  2023-12-01 10:01:55       0   0.0
111026         40730  2023-11-30 14:34:59  2023-12-01 10:01:59       0   0.0
111027         40730  2023-11-30 14:34:59  2023-12-01 10:02:06       0   0.0
111028         40730  2023-11-30 14:34:59  2023-12-01 10:02:07       0   0.0

        high  low  prev-close     ltp  atp
0        0.0  0.0      6455.1     0.0  0.0
1        0.0  0.0      6455.1     0.0  0.0
2        0.0  0.0      6455.1     0.0  0.0
3        0.0  0.0      6455.1     0.0  0.0
4        0.0  0.0      6455.1     0.0  0.0
...      ...  ...         ...     ...  ...
111024   0.0  0.0      3452.6  3452.6  0.0
111025   0.0  0.0      3452.6  3452.6  0.0
111026   0.0  0.0      3452.6  3452.6  0.0
111027   0.0  0.0      3452.6  3452.6  0.0
111028   0.0  0.0      3452.6  3452.6  0.0

[111029 rows x 10 columns]
        token_number            timestamp           time_entry   volume  open  \
0              40550  1980-01-01 00:00:00  2023-12-01 09:15:02        0  0.00
1              40550  1980-01-01 00:00:00  2023-12-01 09:15:02        0  0.00
2              40550  1980-01-01 00:00:00  2023-12-01 09:15:04        0  0.00
3              40550  1980-01-01 00:00:00  2023-12-01 09:15:14        0  0.00
4              40550  1980-01-01 00:00:00  2023-12-01 09:15:23        0  0.00
...              ...                  ...                  ...      ...   ...
111111         40731  2023-12-01 10:01:19  2023-12-01 10:01:20  1567890  5.55
111112         40731  2023-12-01 10:01:33  2023-12-01 10:01:34  1575585  5.55
111113         40731  2023-12-01 10:01:46  2023-12-01 10:01:48  1591980  5.55
111114         40731  2023-12-01 10:02:01  2023-12-01 10:02:01  1593390  5.55
111115         40731  2023-12-01 10:02:04  2023-12-01 10:02:05  1594590  5.55

        high   low  prev-close   ltp   atp
0       0.00  0.00      6455.1  0.00  0.00
1       0.00  0.00      6455.1  0.00  0.00
2       0.00  0.00      6455.1  0.00  0.00
3       0.00  0.00      6455.1  0.00  0.00
4       0.00  0.00      6455.1  0.00  0.00
...      ...   ...         ...   ...   ...
111111  5.65  4.75         6.3  4.95  5.05
111112  5.65  4.75         6.3  4.95  5.05
111113  5.65  4.75         6.3  5.10  5.05
111114  5.65  4.75         6.3  5.10  5.05
111115  5.65  4.75         6.3  5.10  5.05

[111116 rows x 10 columns]

        token_number            timestamp           time_entry  volume  open  \
0              40550  1980-01-01 00:00:00  2023-12-01 09:15:02       0   0.0
1              40550  1980-01-01 00:00:00  2023-12-01 09:15:02       0   0.0
2              40550  1980-01-01 00:00:00  2023-12-01 09:15:04       0   0.0
3              40550  1980-01-01 00:00:00  2023-12-01 09:15:14       0   0.0
4              40550  1980-01-01 00:00:00  2023-12-01 09:15:23       0   0.0
...              ...                  ...                  ...     ...   ...
111204         40752  1980-01-01 00:00:00  2023-12-01 10:01:49       0   0.0
111205         40752  1980-01-01 00:00:00  2023-12-01 10:02:01       0   0.0
111206         40752  1980-01-01 00:00:00  2023-12-01 10:02:02       0   0.0
111207         40752  1980-01-01 00:00:00  2023-12-01 10:02:04       0   0.0
111208         40752  1980-01-01 00:00:00  2023-12-01 10:02:07       0   0.0

        high  low  prev-close  ltp  atp
0        0.0  0.0     6455.10  0.0  0.0
1        0.0  0.0     6455.10  0.0  0.0
2        0.0  0.0     6455.10  0.0  0.0
3        0.0  0.0     6455.10  0.0  0.0
4        0.0  0.0     6455.10  0.0  0.0
...      ...  ...         ...  ...  ...
111204   0.0  0.0     2212.45  0.0  0.0
111205   0.0  0.0     2212.45  0.0  0.0
111206   0.0  0.0     2212.45  0.0  0.0
111207   0.0  0.0     2212.45  0.0  0.0
111208   0.0  0.0     2212.45  0.0  0.0

[111209 rows x 10 columns]
        token_number            timestamp           time_entry  volume  open  \
0              40550  1980-01-01 00:00:00  2023-12-01 09:15:02       0   0.0
1              40550  1980-01-01 00:00:00  2023-12-01 09:15:02       0   0.0
2              40550  1980-01-01 00:00:00  2023-12-01 09:15:04       0   0.0
3              40550  1980-01-01 00:00:00  2023-12-01 09:15:14       0   0.0
4              40550  1980-01-01 00:00:00  2023-12-01 09:15:23       0   0.0
...              ...                  ...                  ...     ...   ...
111300         40753  2023-12-01 10:01:27  2023-12-01 10:01:32  196845   6.3
111301         40753  2023-12-01 10:01:27  2023-12-01 10:01:34  196845   6.3
111302         40753  2023-12-01 10:01:43  2023-12-01 10:01:44  197310   6.3
111303         40753  2023-12-01 10:01:45  2023-12-01 10:01:46  197700   6.3
111304         40753  2023-12-01 10:01:45  2023-12-01 10:02:05  197700   6.3

        high   low  prev-close   ltp   atp
0        0.0  0.00      6455.1  0.00  0.00
1        0.0  0.00      6455.1  0.00  0.00
2        0.0  0.00      6455.1  0.00  0.00
3        0.0  0.00      6455.1  0.00  0.00
4        0.0  0.00      6455.1  0.00  0.00
...      ...   ...         ...   ...   ...
111300   6.3  4.85         6.2  5.05  5.18
111301   6.3  4.85         6.2  5.05  5.18
111302   6.3  4.85         6.2  5.10  5.18
111303   6.3  4.85         6.2  5.20  5.18
111304   6.3  4.85         6.2  5.20  5.18

[111305 rows x 10 columns]
        token_number            timestamp           time_entry  volume  open  \
0              40550  1980-01-01 00:00:00  2023-12-01 09:15:02       0   0.0
1              40550  1980-01-01 00:00:00  2023-12-01 09:15:02       0   0.0
2              40550  1980-01-01 00:00:00  2023-12-01 09:15:04       0   0.0
3              40550  1980-01-01 00:00:00  2023-12-01 09:15:14       0   0.0
4              40550  1980-01-01 00:00:00  2023-12-01 09:15:23       0   0.0
...              ...                  ...                  ...     ...   ...
111364         40754  1980-01-01 00:00:00  2023-12-01 10:01:20       0   0.0
111365         40754  1980-01-01 00:00:00  2023-12-01 10:01:23       0   0.0
111366         40754  1980-01-01 00:00:00  2023-12-01 10:01:28       0   0.0
111367         40754  1980-01-01 00:00:00  2023-12-01 10:01:32       0   0.0
111368         40754  1980-01-01 00:00:00  2023-12-01 10:01:35       0   0.0

        high  low  prev-close  ltp  atp
0        0.0  0.0      6455.1  0.0  0.0
1        0.0  0.0      6455.1  0.0  0.0
2        0.0  0.0      6455.1  0.0  0.0
3        0.0  0.0      6455.1  0.0  0.0
4        0.0  0.0      6455.1  0.0  0.0
...      ...  ...         ...  ...  ...
111364   0.0  0.0      2137.1  0.0  0.0
111365   0.0  0.0      2137.1  0.0  0.0
111366   0.0  0.0      2137.1  0.0  0.0
111367   0.0  0.0      2137.1  0.0  0.0
111368   0.0  0.0      2137.1  0.0  0.0

[111369 rows x 10 columns]
        token_number            timestamp           time_entry  volume  open  \
0              40550  1980-01-01 00:00:00  2023-12-01 09:15:02       0   0.0
1              40550  1980-01-01 00:00:00  2023-12-01 09:15:02       0   0.0
2              40550  1980-01-01 00:00:00  2023-12-01 09:15:04       0   0.0
3              40550  1980-01-01 00:00:00  2023-12-01 09:15:14       0   0.0
4              40550  1980-01-01 00:00:00  2023-12-01 09:15:23       0   0.0
...              ...                  ...                  ...     ...   ...
111451         40755  2023-12-01 10:01:18  2023-12-01 10:01:25  237990   6.0
111452         40755  2023-12-01 10:01:18  2023-12-01 10:01:28  237990   6.0
111453         40755  2023-12-01 10:01:18  2023-12-01 10:01:29  237990   6.0
111454         40755  2023-12-01 10:01:45  2023-12-01 10:01:59  238260   6.0
111455         40755  2023-12-01 10:01:45  2023-12-01 10:02:00  238260   6.0

        high   low  prev-close  ltp   atp
0        0.0  0.00     6455.10  0.0  0.00
1        0.0  0.00     6455.10  0.0  0.00
2        0.0  0.00     6455.10  0.0  0.00
3        0.0  0.00     6455.10  0.0  0.00
4        0.0  0.00     6455.10  0.0  0.00
...      ...   ...         ...  ...   ...
111451   6.0  4.95        6.55  5.3  5.36
111452   6.0  4.95        6.55  5.3  5.36
111453   6.0  4.95        6.55  5.3  5.36
111454   6.0  4.95        6.55  5.4  5.36
111455   6.0  4.95        6.55  5.4  5.36

[111456 rows x 10 columns]
        token_number            timestamp           time_entry  volume  open  \
0              40550  1980-01-01 00:00:00  2023-12-01 09:15:02       0   0.0
1              40550  1980-01-01 00:00:00  2023-12-01 09:15:02       0   0.0
2              40550  1980-01-01 00:00:00  2023-12-01 09:15:04       0   0.0
3              40550  1980-01-01 00:00:00  2023-12-01 09:15:14       0   0.0
4              40550  1980-01-01 00:00:00  2023-12-01 09:15:23       0   0.0
...              ...                  ...                  ...     ...   ...
111576         40756  2023-11-29 11:32:18  2023-12-01 10:02:01       0   0.0
111577         40756  2023-11-29 11:32:18  2023-12-01 10:02:02       0   0.0
111578         40756  2023-11-29 11:32:18  2023-12-01 10:02:04       0   0.0
111579         40756  2023-11-29 11:32:18  2023-12-01 10:02:04       0   0.0
111580         40756  2023-11-29 11:32:18  2023-12-01 10:02:07       0   0.0

        high  low  prev-close     ltp  atp
0        0.0  0.0      6455.1     0.0  0.0
1        0.0  0.0      6455.1     0.0  0.0
2        0.0  0.0      6455.1     0.0  0.0
3        0.0  0.0      6455.1     0.0  0.0
4        0.0  0.0      6455.1     0.0  0.0
...      ...  ...         ...     ...  ...
111576   0.0  0.0      3038.0  3038.0  0.0
111577   0.0  0.0      3038.0  3038.0  0.0
111578   0.0  0.0      3038.0  3038.0  0.0
111579   0.0  0.0      3038.0  3038.0  0.0
111580   0.0  0.0      3038.0  3038.0  0.0

[111581 rows x 10 columns]
        token_number            timestamp           time_entry  volume  open  \
0              40550  1980-01-01 00:00:00  2023-12-01 09:15:02       0  0.00
1              40550  1980-01-01 00:00:00  2023-12-01 09:15:02       0  0.00
2              40550  1980-01-01 00:00:00  2023-12-01 09:15:04       0  0.00
3              40550  1980-01-01 00:00:00  2023-12-01 09:15:14       0  0.00
4              40550  1980-01-01 00:00:00  2023-12-01 09:15:23       0  0.00
...              ...                  ...                  ...     ...   ...
111693         40757  2023-12-01 10:01:17  2023-12-01 10:01:31  313635  5.15
111694         40757  2023-12-01 10:01:17  2023-12-01 10:01:32  313635  5.15
111695         40757  2023-12-01 10:01:17  2023-12-01 10:01:34  313635  5.15
111696         40757  2023-12-01 10:01:45  2023-12-01 10:01:46  314040  5.15
111697         40757  2023-12-01 10:01:57  2023-12-01 10:01:59  315120  5.15

        high   low  prev-close   ltp   atp
0        0.0  0.00     6455.10  0.00  0.00
1        0.0  0.00     6455.10  0.00  0.00
2        0.0  0.00     6455.10  0.00  0.00
3        0.0  0.00     6455.10  0.00  0.00
4        0.0  0.00     6455.10  0.00  0.00
...      ...   ...         ...   ...   ...
111693   5.9  5.15        6.55  5.40  5.51
111694   5.9  5.15        6.55  5.40  5.51
111695   5.9  5.15        6.55  5.40  5.51
111696   5.9  5.15        6.55  5.50  5.51
111697   5.9  5.15        6.55  5.45  5.51

[111698 rows x 10 columns]

        token_number            timestamp           time_entry  volume  open  \
0              40550  1980-01-01 00:00:00  2023-12-01 09:15:02       0   0.0
1              40550  1980-01-01 00:00:00  2023-12-01 09:15:02       0   0.0
2              40550  1980-01-01 00:00:00  2023-12-01 09:15:04       0   0.0
3              40550  1980-01-01 00:00:00  2023-12-01 09:15:14       0   0.0
4              40550  1980-01-01 00:00:00  2023-12-01 09:15:23       0   0.0
...              ...                  ...                  ...     ...   ...
111816         40765  2023-11-28 13:32:35  2023-12-01 10:01:48       0   0.0
111817         40765  2023-11-28 13:32:35  2023-12-01 10:01:51       0   0.0
111818         40765  2023-11-28 13:32:35  2023-12-01 10:01:55       0   0.0
111819         40765  2023-11-28 13:32:35  2023-12-01 10:02:04       0   0.0
111820         40765  2023-11-28 13:32:35  2023-12-01 10:02:07       0   0.0

        high  low  prev-close     ltp  atp
0        0.0  0.0      6455.1     0.0  0.0
1        0.0  0.0      6455.1     0.0  0.0
2        0.0  0.0      6455.1     0.0  0.0
3        0.0  0.0      6455.1     0.0  0.0
4        0.0  0.0      6455.1     0.0  0.0
...      ...  ...         ...     ...  ...
111816   0.0  0.0      2617.0  2617.0  0.0
111817   0.0  0.0      2617.0  2617.0  0.0
111818   0.0  0.0      2617.0  2617.0  0.0
111819   0.0  0.0      2617.0  2617.0  0.0
111820   0.0  0.0      2617.0  2617.0  0.0

[111821 rows x 10 columns]
        token_number            timestamp           time_entry  volume  open  \
0              40550  1980-01-01 00:00:00  2023-12-01 09:15:02       0   0.0
1              40550  1980-01-01 00:00:00  2023-12-01 09:15:02       0   0.0
2              40550  1980-01-01 00:00:00  2023-12-01 09:15:04       0   0.0
3              40550  1980-01-01 00:00:00  2023-12-01 09:15:14       0   0.0
4              40550  1980-01-01 00:00:00  2023-12-01 09:15:23       0   0.0
...              ...                  ...                  ...     ...   ...
111922         40766  2023-12-01 10:01:24  2023-12-01 10:01:26  247770   6.1
111923         40766  2023-12-01 10:01:31  2023-12-01 10:01:31  248025   6.1
111924         40766  2023-12-01 10:01:32  2023-12-01 10:01:32  248040   6.1
111925         40766  2023-12-01 10:01:37  2023-12-01 10:01:40  248100   6.1
111926         40766  2023-12-01 10:01:47  2023-12-01 10:02:01  248550   6.1

        high  low  prev-close   ltp   atp
0       0.00  0.0     6455.10  0.00  0.00
1       0.00  0.0     6455.10  0.00  0.00
2       0.00  0.0     6455.10  0.00  0.00
3       0.00  0.0     6455.10  0.00  0.00
4       0.00  0.0     6455.10  0.00  0.00
...      ...  ...         ...   ...   ...
111922  6.15  5.3        6.85  5.60  5.76
111923  6.15  5.3        6.85  5.60  5.76
111924  6.15  5.3        6.85  5.65  5.76
111925  6.15  5.3        6.85  5.65  5.76
111926  6.15  5.3        6.85  5.75  5.76

[111927 rows x 10 columns]
        token_number            timestamp           time_entry  volume  open  \
0              40550  1980-01-01 00:00:00  2023-12-01 09:15:02       0   0.0
1              40550  1980-01-01 00:00:00  2023-12-01 09:15:02       0   0.0
2              40550  1980-01-01 00:00:00  2023-12-01 09:15:04       0   0.0
3              40550  1980-01-01 00:00:00  2023-12-01 09:15:14       0   0.0
4              40550  1980-01-01 00:00:00  2023-12-01 09:15:23       0   0.0
...              ...                  ...                  ...     ...   ...
111971         40767  2023-11-30 14:36:49  2023-12-01 09:59:34       0   0.0
111972         40767  2023-11-30 14:36:49  2023-12-01 10:00:13       0   0.0
111973         40767  2023-11-30 14:36:49  2023-12-01 10:00:17       0   0.0
111974         40767  2023-11-30 14:36:49  2023-12-01 10:00:56       0   0.0
111975         40767  2023-11-30 14:36:49  2023-12-01 10:00:57       0   0.0

        high  low  prev-close     ltp  atp
0        0.0  0.0      6455.1     0.0  0.0
1        0.0  0.0      6455.1     0.0  0.0
2        0.0  0.0      6455.1     0.0  0.0
3        0.0  0.0      6455.1     0.0  0.0
4        0.0  0.0      6455.1     0.0  0.0
...      ...  ...         ...     ...  ...
111971   0.0  0.0      3000.0  3000.0  0.0
111972   0.0  0.0      3000.0  3000.0  0.0
111973   0.0  0.0      3000.0  3000.0  0.0
111974   0.0  0.0      3000.0  3000.0  0.0
111975   0.0  0.0      3000.0  3000.0  0.0

[111976 rows x 10 columns]
        token_number            timestamp           time_entry   volume  open  \
0              40550  1980-01-01 00:00:00  2023-12-01 09:15:02        0   0.0
1              40550  1980-01-01 00:00:00  2023-12-01 09:15:02        0   0.0
2              40550  1980-01-01 00:00:00  2023-12-01 09:15:04        0   0.0
3              40550  1980-01-01 00:00:00  2023-12-01 09:15:14        0   0.0
4              40550  1980-01-01 00:00:00  2023-12-01 09:15:23        0   0.0
...              ...                  ...                  ...      ...   ...
112094         40770  2023-12-01 10:01:35  2023-12-01 10:01:36  2123610   5.5
112095         40770  2023-12-01 10:01:39  2023-12-01 10:01:42  2126040   5.5
112096         40770  2023-12-01 10:01:39  2023-12-01 10:01:42  2126040   5.5
112097         40770  2023-12-01 10:01:45  2023-12-01 10:01:46  2135715   5.5
112098         40770  2023-12-01 10:01:56  2023-12-01 10:01:59  2136090   5.5

        high   low  prev-close  ltp   atp
0       0.00  0.00      6455.1  0.0  0.00
1       0.00  0.00      6455.1  0.0  0.00
2       0.00  0.00      6455.1  0.0  0.00
3       0.00  0.00      6455.1  0.0  0.00
4       0.00  0.00      6455.1  0.0  0.00
...      ...   ...         ...  ...   ...
112094  6.25  4.55         7.1  5.8  5.84
112095  6.25  4.55         7.1  5.8  5.84
112096  6.25  4.55         7.1  5.8  5.84
112097  6.25  4.55         7.1  5.9  5.84
112098  6.25  4.55         7.1  5.9  5.84

[112099 rows x 10 columns]
        token_number            timestamp           time_entry  volume  open  \
0              40550  1980-01-01 00:00:00  2023-12-01 09:15:02       0   0.0
1              40550  1980-01-01 00:00:00  2023-12-01 09:15:02       0   0.0
2              40550  1980-01-01 00:00:00  2023-12-01 09:15:04       0   0.0
3              40550  1980-01-01 00:00:00  2023-12-01 09:15:14       0   0.0
4              40550  1980-01-01 00:00:00  2023-12-01 09:15:23       0   0.0
...              ...                  ...                  ...     ...   ...
112168         40789  1980-01-01 00:00:00  2023-12-01 10:00:40       0   0.0
112169         40789  1980-01-01 00:00:00  2023-12-01 10:01:00       0   0.0
112170         40789  1980-01-01 00:00:00  2023-12-01 10:01:00       0   0.0
112171         40789  1980-01-01 00:00:00  2023-12-01 10:01:01       0   0.0
112172         40789  1980-01-01 00:00:00  2023-12-01 10:01:04       0   0.0

        high  low  prev-close  ltp  atp
0        0.0  0.0      6455.1  0.0  0.0
1        0.0  0.0      6455.1  0.0  0.0
2        0.0  0.0      6455.1  0.0  0.0
3        0.0  0.0      6455.1  0.0  0.0
4        0.0  0.0      6455.1  0.0  0.0
...      ...  ...         ...  ...  ...
112168   0.0  0.0      1848.3  0.0  0.0
112169   0.0  0.0      1848.3  0.0  0.0
112170   0.0  0.0      1848.3  0.0  0.0
112171   0.0  0.0      1848.3  0.0  0.0
112172   0.0  0.0      1848.3  0.0  0.0

[112173 rows x 10 columns]
        token_number            timestamp           time_entry  volume  open  \
0              40550  1980-01-01 00:00:00  2023-12-01 09:15:02       0   0.0
1              40550  1980-01-01 00:00:00  2023-12-01 09:15:02       0   0.0
2              40550  1980-01-01 00:00:00  2023-12-01 09:15:04       0   0.0
3              40550  1980-01-01 00:00:00  2023-12-01 09:15:14       0   0.0
4              40550  1980-01-01 00:00:00  2023-12-01 09:15:23       0   0.0
...              ...                  ...                  ...     ...   ...
112297         40791  2023-12-01 10:01:10  2023-12-01 10:01:16  603150   7.5
112298         40791  2023-12-01 10:01:10  2023-12-01 10:01:17  603150   7.5
112299         40791  2023-12-01 10:01:18  2023-12-01 10:01:19  603480   7.5
112300         40791  2023-12-01 10:01:18  2023-12-01 10:01:20  603480   7.5
112301         40791  2023-12-01 10:01:56  2023-12-01 10:01:56  604335   7.5

        high   low  prev-close   ltp   atp
0        0.0  0.00      6455.1  0.00  0.00
1        0.0  0.00      6455.1  0.00  0.00
2        0.0  0.00      6455.1  0.00  0.00
3        0.0  0.00      6455.1  0.00  0.00
4        0.0  0.00      6455.1  0.00  0.00
...      ...   ...         ...   ...   ...
112297   7.5  5.65         7.6  6.20  6.26
112298   7.5  5.65         7.6  6.20  6.26
112299   7.5  5.65         7.6  6.20  6.26
112300   7.5  5.65         7.6  6.20  6.26
112301   7.5  5.65         7.6  6.35  6.26

[112302 rows x 10 columns]

        token_number            timestamp           time_entry  volume  open  \
0              40550  1980-01-01 00:00:00  2023-12-01 09:15:02       0   0.0
1              40550  1980-01-01 00:00:00  2023-12-01 09:15:02       0   0.0
2              40550  1980-01-01 00:00:00  2023-12-01 09:15:04       0   0.0
3              40550  1980-01-01 00:00:00  2023-12-01 09:15:14       0   0.0
4              40550  1980-01-01 00:00:00  2023-12-01 09:15:23       0   0.0
...              ...                  ...                  ...     ...   ...
112393         40792  2023-11-29 13:56:28  2023-12-01 10:01:56       0   0.0
112394         40792  2023-11-29 13:56:28  2023-12-01 10:02:01       0   0.0
112395         40792  2023-11-29 13:56:28  2023-12-01 10:02:02       0   0.0
112396         40792  2023-11-29 13:56:28  2023-12-01 10:02:05       0   0.0
112397         40792  2023-11-29 13:56:28  2023-12-01 10:02:05       0   0.0

        high  low  prev-close     ltp  atp
0        0.0  0.0      6455.1     0.0  0.0
1        0.0  0.0      6455.1     0.0  0.0
2        0.0  0.0      6455.1     0.0  0.0
3        0.0  0.0      6455.1     0.0  0.0
4        0.0  0.0      6455.1     0.0  0.0
...      ...  ...         ...     ...  ...
112393   0.0  0.0      2783.0  2783.0  0.0
112394   0.0  0.0      2783.0  2783.0  0.0
112395   0.0  0.0      2783.0  2783.0  0.0
112396   0.0  0.0      2783.0  2783.0  0.0
112397   0.0  0.0      2783.0  2783.0  0.0

[112398 rows x 10 columns]
        token_number            timestamp           time_entry  volume  open  \
0              40550  1980-01-01 00:00:00  2023-12-01 09:15:02       0  0.00
1              40550  1980-01-01 00:00:00  2023-12-01 09:15:02       0  0.00
2              40550  1980-01-01 00:00:00  2023-12-01 09:15:04       0  0.00
3              40550  1980-01-01 00:00:00  2023-12-01 09:15:14       0  0.00
4              40550  1980-01-01 00:00:00  2023-12-01 09:15:23       0  0.00
...              ...                  ...                  ...     ...   ...
112520         40795  2023-12-01 10:01:28  2023-12-01 10:01:32  513660  7.25
112521         40795  2023-12-01 10:01:32  2023-12-01 10:01:34  514260  7.25
112522         40795  2023-12-01 10:01:32  2023-12-01 10:01:46  514260  7.25
112523         40795  2023-12-01 10:01:47  2023-12-01 10:01:48  514380  7.25
112524         40795  2023-12-01 10:01:56  2023-12-01 10:02:02  514575  7.25

        high  low  prev-close   ltp   atp
0        0.0  0.0     6455.10  0.00  0.00
1        0.0  0.0     6455.10  0.00  0.00
2        0.0  0.0     6455.10  0.00  0.00
3        0.0  0.0     6455.10  0.00  0.00
4        0.0  0.0     6455.10  0.00  0.00
...      ...  ...         ...   ...   ...
112520   7.6  6.0        7.45  6.50  6.63
112521   7.6  6.0        7.45  6.50  6.63
112522   7.6  6.0        7.45  6.50  6.63
112523   7.6  6.0        7.45  6.70  6.63
112524   7.6  6.0        7.45  6.75  6.63

[112525 rows x 10 columns]
        token_number            timestamp           time_entry  volume  open  \
0              40550  1980-01-01 00:00:00  2023-12-01 09:15:02       0   0.0
1              40550  1980-01-01 00:00:00  2023-12-01 09:15:02       0   0.0
2              40550  1980-01-01 00:00:00  2023-12-01 09:15:04       0   0.0
3              40550  1980-01-01 00:00:00  2023-12-01 09:15:14       0   0.0
4              40550  1980-01-01 00:00:00  2023-12-01 09:15:23       0   0.0
...              ...                  ...                  ...     ...   ...
112623         40796  2023-11-30 14:49:47  2023-12-01 10:01:33       0   0.0
112624         40796  2023-11-30 14:49:47  2023-12-01 10:01:34       0   0.0
112625         40796  2023-11-30 14:49:47  2023-12-01 10:01:37       0   0.0
112626         40796  2023-11-30 14:49:47  2023-12-01 10:01:42       0   0.0
112627         40796  2023-11-30 14:49:47  2023-12-01 10:01:54       0   0.0

        high  low  prev-close     ltp  atp
0        0.0  0.0      6455.1     0.0  0.0
1        0.0  0.0      6455.1     0.0  0.0
2        0.0  0.0      6455.1     0.0  0.0
3        0.0  0.0      6455.1     0.0  0.0
4        0.0  0.0      6455.1     0.0  0.0
...      ...  ...         ...     ...  ...
112623   0.0  0.0      2710.0  2710.0  0.0
112624   0.0  0.0      2710.0  2710.0  0.0
112625   0.0  0.0      2710.0  2710.0  0.0
112626   0.0  0.0      2710.0  2710.0  0.0
112627   0.0  0.0      2710.0  2710.0  0.0

[112628 rows x 10 columns]
        token_number            timestamp           time_entry  volume  open  \
0              40550  1980-01-01 00:00:00  2023-12-01 09:15:02       0   0.0
1              40550  1980-01-01 00:00:00  2023-12-01 09:15:02       0   0.0
2              40550  1980-01-01 00:00:00  2023-12-01 09:15:04       0   0.0
3              40550  1980-01-01 00:00:00  2023-12-01 09:15:14       0   0.0
4              40550  1980-01-01 00:00:00  2023-12-01 09:15:23       0   0.0
...              ...                  ...                  ...     ...   ...
112768         40797  2023-12-01 10:01:20  2023-12-01 10:01:22  868440   7.8
112769         40797  2023-12-01 10:01:28  2023-12-01 10:01:30  868485   7.8
112770         40797  2023-12-01 10:01:49  2023-12-01 10:01:50  877845   7.8
112771         40797  2023-12-01 10:02:01  2023-12-01 10:02:02  879690   7.8
112772         40797  2023-12-01 10:02:01  2023-12-01 10:02:05  879690   7.8

        high   low  prev-close   ltp   atp
0        0.0  0.00      6455.1  0.00  0.00
1        0.0  0.00      6455.1  0.00  0.00
2        0.0  0.00      6455.1  0.00  0.00
3        0.0  0.00      6455.1  0.00  0.00
4        0.0  0.00      6455.1  0.00  0.00
...      ...   ...         ...   ...   ...
112768   7.8  6.25         8.4  6.90  6.85
112769   7.8  6.25         8.4  6.85  6.85
112770   7.8  6.25         8.4  7.05  6.85
112771   7.8  6.25         8.4  7.05  6.85
112772   7.8  6.25         8.4  7.05  6.85

[112773 rows x 10 columns]
        token_number            timestamp           time_entry  volume  open  \
0              40550  1980-01-01 00:00:00  2023-12-01 09:15:02       0   0.0
1              40550  1980-01-01 00:00:00  2023-12-01 09:15:02       0   0.0
2              40550  1980-01-01 00:00:00  2023-12-01 09:15:04       0   0.0
3              40550  1980-01-01 00:00:00  2023-12-01 09:15:14       0   0.0
4              40550  1980-01-01 00:00:00  2023-12-01 09:15:23       0   0.0
...              ...                  ...                  ...     ...   ...
112872         40799  2023-11-29 13:33:30  2023-12-01 10:02:01       0   0.0
112873         40799  2023-11-29 13:33:30  2023-12-01 10:02:03       0   0.0
112874         40799  2023-11-29 13:33:30  2023-12-01 10:02:03       0   0.0
112875         40799  2023-11-29 13:33:30  2023-12-01 10:02:04       0   0.0
112876         40799  2023-11-29 13:33:30  2023-12-01 10:02:07       0   0.0

        high  low  prev-close     ltp  atp
0        0.0  0.0      6455.1     0.0  0.0
1        0.0  0.0      6455.1     0.0  0.0
2        0.0  0.0      6455.1     0.0  0.0
3        0.0  0.0      6455.1     0.0  0.0
4        0.0  0.0      6455.1     0.0  0.0
...      ...  ...         ...     ...  ...
112872   0.0  0.0      2588.0  2588.0  0.0
112873   0.0  0.0      2588.0  2588.0  0.0
112874   0.0  0.0      2588.0  2588.0  0.0
112875   0.0  0.0      2588.0  2588.0  0.0
112876   0.0  0.0      2588.0  2588.0  0.0

[112877 rows x 10 columns]
        token_number            timestamp           time_entry  volume  open  \
0              40550  1980-01-01 00:00:00  2023-12-01 09:15:02       0  0.00
1              40550  1980-01-01 00:00:00  2023-12-01 09:15:02       0  0.00
2              40550  1980-01-01 00:00:00  2023-12-01 09:15:04       0  0.00
3              40550  1980-01-01 00:00:00  2023-12-01 09:15:14       0  0.00
4              40550  1980-01-01 00:00:00  2023-12-01 09:15:23       0  0.00
...              ...                  ...                  ...     ...   ...
112979         40800  2023-12-01 10:01:26  2023-12-01 10:01:31  504705  8.15
112980         40800  2023-12-01 10:01:26  2023-12-01 10:01:32  504705  8.15
112981         40800  2023-12-01 10:01:33  2023-12-01 10:01:34  504750  8.15
112982         40800  2023-12-01 10:01:34  2023-12-01 10:01:36  504765  8.15
112983         40800  2023-12-01 10:01:47  2023-12-01 10:01:50  506220  8.15

        high   low  prev-close   ltp   atp
0        0.0  0.00     6455.10  0.00  0.00
1        0.0  0.00     6455.10  0.00  0.00
2        0.0  0.00     6455.10  0.00  0.00
3        0.0  0.00     6455.10  0.00  0.00
4        0.0  0.00     6455.10  0.00  0.00
...      ...   ...         ...   ...   ...
112979   8.4  6.75        9.35  7.25  7.32
112980   8.4  6.75        9.35  7.25  7.32
112981   8.4  6.75        9.35  7.30  7.32
112982   8.4  6.75        9.35  7.25  7.32
112983   8.4  6.75        9.35  7.50  7.32

[112984 rows x 10 columns]

        token_number            timestamp           time_entry  volume  \
0              40550  1980-01-01 00:00:00  2023-12-01 09:15:02       0
1              40550  1980-01-01 00:00:00  2023-12-01 09:15:02       0
2              40550  1980-01-01 00:00:00  2023-12-01 09:15:04       0
3              40550  1980-01-01 00:00:00  2023-12-01 09:15:14       0
4              40550  1980-01-01 00:00:00  2023-12-01 09:15:23       0
...              ...                  ...                  ...     ...
113023         40809  2023-12-01 10:00:59  2023-12-01 10:01:35     315
113024         40809  2023-12-01 10:00:59  2023-12-01 10:01:45     315
113025         40809  2023-12-01 10:00:59  2023-12-01 10:01:48     315
113026         40809  2023-12-01 10:00:59  2023-12-01 10:01:52     315
113027         40809  2023-12-01 10:00:59  2023-12-01 10:02:04     315

          open    high     low  prev-close      ltp      atp
0          0.0     0.0     0.0     6455.10     0.00     0.00
1          0.0     0.0     0.0     6455.10     0.00     0.00
2          0.0     0.0     0.0     6455.10     0.00     0.00
3          0.0     0.0     0.0     6455.10     0.00     0.00
4          0.0     0.0     0.0     6455.10     0.00     0.00
...        ...     ...     ...         ...      ...      ...
113023  2825.0  2985.7  2825.0     2549.85  2952.95  2963.97
113024  2825.0  2985.7  2825.0     2549.85  2952.95  2963.97
113025  2825.0  2985.7  2825.0     2549.85  2952.95  2963.97
113026  2825.0  2985.7  2825.0     2549.85  2952.95  2963.97
113027  2825.0  2985.7  2825.0     2549.85  2952.95  2963.97

[113028 rows x 10 columns]
        token_number            timestamp           time_entry   volume  open  \
0              40550  1980-01-01 00:00:00  2023-12-01 09:15:02        0  0.00
1              40550  1980-01-01 00:00:00  2023-12-01 09:15:02        0  0.00
2              40550  1980-01-01 00:00:00  2023-12-01 09:15:04        0  0.00
3              40550  1980-01-01 00:00:00  2023-12-01 09:15:14        0  0.00
4              40550  1980-01-01 00:00:00  2023-12-01 09:15:23        0  0.00
...              ...                  ...                  ...      ...   ...
113157         40810  2023-12-01 10:01:22  2023-12-01 10:01:23  2980230  9.35
113158         40810  2023-12-01 10:01:28  2023-12-01 10:01:29  2981130  9.35
113159         40810  2023-12-01 10:01:42  2023-12-01 10:01:42  2996745  9.35
113160         40810  2023-12-01 10:02:01  2023-12-01 10:02:02  3018945  9.35
113161         40810  2023-12-01 10:02:04  2023-12-01 10:02:05  3021270  9.35

        high  low  prev-close   ltp   atp
0       0.00  0.0     6455.10  0.00  0.00
1       0.00  0.0     6455.10  0.00  0.00
2       0.00  0.0     6455.10  0.00  0.00
3       0.00  0.0     6455.10  0.00  0.00
4       0.00  0.0     6455.10  0.00  0.00
...      ...  ...         ...   ...   ...
113157  9.35  7.3       10.15  7.65  7.73
113158  9.35  7.3       10.15  7.70  7.73
113159  9.35  7.3       10.15  7.70  7.73
113160  9.35  7.3       10.15  7.90  7.73
113161  9.35  7.3       10.15  7.85  7.73

[113162 rows x 10 columns]
        token_number            timestamp           time_entry  volume  \
0              40550  1980-01-01 00:00:00  2023-12-01 09:15:02       0
1              40550  1980-01-01 00:00:00  2023-12-01 09:15:02       0
2              40550  1980-01-01 00:00:00  2023-12-01 09:15:04       0
3              40550  1980-01-01 00:00:00  2023-12-01 09:15:14       0
4              40550  1980-01-01 00:00:00  2023-12-01 09:15:23       0
...              ...                  ...                  ...     ...
113238         40815  2023-12-01 09:18:07  2023-12-01 10:02:01      15
113239         40815  2023-12-01 09:18:07  2023-12-01 10:02:02      15
113240         40815  2023-12-01 09:18:07  2023-12-01 10:02:03      15
113241         40815  2023-12-01 09:18:07  2023-12-01 10:02:06      15
113242         40815  2023-12-01 09:18:07  2023-12-01 10:02:07      15

          open    high     low  prev-close     ltp     atp
0          0.0     0.0     0.0      6455.1     0.0     0.0
1          0.0     0.0     0.0      6455.1     0.0     0.0
2          0.0     0.0     0.0      6455.1     0.0     0.0
3          0.0     0.0     0.0      6455.1     0.0     0.0
4          0.0     0.0     0.0      6455.1     0.0     0.0
...        ...     ...     ...         ...     ...     ...
113238  2599.1  2599.1  2599.1      2360.0  2599.1  2599.1
113239  2599.1  2599.1  2599.1      2360.0  2599.1  2599.1
113240  2599.1  2599.1  2599.1      2360.0  2599.1  2599.1
113241  2599.1  2599.1  2599.1      2360.0  2599.1  2599.1
113242  2599.1  2599.1  2599.1      2360.0  2599.1  2599.1

[113243 rows x 10 columns]
        token_number            timestamp           time_entry  volume  open  \
0              40550  1980-01-01 00:00:00  2023-12-01 09:15:02       0   0.0
1              40550  1980-01-01 00:00:00  2023-12-01 09:15:02       0   0.0
2              40550  1980-01-01 00:00:00  2023-12-01 09:15:04       0   0.0
3              40550  1980-01-01 00:00:00  2023-12-01 09:15:14       0   0.0
4              40550  1980-01-01 00:00:00  2023-12-01 09:15:23       0   0.0
...              ...                  ...                  ...     ...   ...
113336         40816  2023-12-01 10:01:33  2023-12-01 10:01:34  508050   9.1
113337         40816  2023-12-01 10:01:33  2023-12-01 10:01:36  508050   9.1
113338         40816  2023-12-01 10:01:44  2023-12-01 10:01:50  509925   9.1
113339         40816  2023-12-01 10:01:50  2023-12-01 10:01:52  510030   9.1
113340         40816  2023-12-01 10:01:50  2023-12-01 10:01:53  510030   9.1

         high  low  prev-close   ltp   atp
0        0.00  0.0      6455.1  0.00  0.00
1        0.00  0.0      6455.1  0.00  0.00
2        0.00  0.0      6455.1  0.00  0.00
3        0.00  0.0      6455.1  0.00  0.00
4        0.00  0.0      6455.1  0.00  0.00
...       ...  ...         ...   ...   ...
113336  10.95  7.8        10.7  8.30  8.32
113337  10.95  7.8        10.7  8.30  8.32
113338  10.95  7.8        10.7  8.45  8.32
113339  10.95  7.8        10.7  8.45  8.32
113340  10.95  7.8        10.7  8.45  8.32

[113341 rows x 10 columns]
        token_number            timestamp           time_entry  volume  open  \
0              40550  1980-01-01 00:00:00  2023-12-01 09:15:02       0   0.0
1              40550  1980-01-01 00:00:00  2023-12-01 09:15:02       0   0.0
2              40550  1980-01-01 00:00:00  2023-12-01 09:15:04       0   0.0
3              40550  1980-01-01 00:00:00  2023-12-01 09:15:14       0   0.0
4              40550  1980-01-01 00:00:00  2023-12-01 09:15:23       0   0.0
...              ...                  ...                  ...     ...   ...
113437         40819  1980-01-01 00:00:00  2023-12-01 10:01:27       0   0.0
113438         40819  1980-01-01 00:00:00  2023-12-01 10:01:30       0   0.0
113439         40819  1980-01-01 00:00:00  2023-12-01 10:01:33       0   0.0
113440         40819  1980-01-01 00:00:00  2023-12-01 10:01:58       0   0.0
113441         40819  1980-01-01 00:00:00  2023-12-01 10:01:59       0   0.0

        high  low  prev-close  ltp  atp
0        0.0  0.0     6455.10  0.0  0.0
1        0.0  0.0     6455.10  0.0  0.0
2        0.0  0.0     6455.10  0.0  0.0
3        0.0  0.0     6455.10  0.0  0.0
4        0.0  0.0     6455.10  0.0  0.0
...      ...  ...         ...  ...  ...
113437   0.0  0.0     1457.75  0.0  0.0
113438   0.0  0.0     1457.75  0.0  0.0
113439   0.0  0.0     1457.75  0.0  0.0
113440   0.0  0.0     1457.75  0.0  0.0
113441   0.0  0.0     1457.75  0.0  0.0

[113442 rows x 10 columns]
        token_number            timestamp           time_entry   volume  \
0              40550  1980-01-01 00:00:00  2023-12-01 09:15:02        0
1              40550  1980-01-01 00:00:00  2023-12-01 09:15:02        0
2              40550  1980-01-01 00:00:00  2023-12-01 09:15:04        0
3              40550  1980-01-01 00:00:00  2023-12-01 09:15:14        0
4              40550  1980-01-01 00:00:00  2023-12-01 09:15:23        0
...              ...                  ...                  ...      ...
113539         40820  2023-12-01 10:01:21  2023-12-01 10:01:22  1260435
113540         40820  2023-12-01 10:01:27  2023-12-01 10:01:28  1260600
113541         40820  2023-12-01 10:01:28  2023-12-01 10:01:28  1260615
113542         40820  2023-12-01 10:01:48  2023-12-01 10:01:49  1262235
113543         40820  2023-12-01 10:02:03  2023-12-01 10:02:05  1262640

         open  high   low  prev-close  ltp  atp
0        0.00   0.0  0.00      6455.1  0.0  0.0
1        0.00   0.0  0.00      6455.1  0.0  0.0
2        0.00   0.0  0.00      6455.1  0.0  0.0
3        0.00   0.0  0.00      6455.1  0.0  0.0
4        0.00   0.0  0.00      6455.1  0.0  0.0
...       ...   ...   ...         ...  ...  ...
113539  10.05  12.7  8.35        11.8  8.8  8.9
113540  10.05  12.7  8.35        11.8  8.8  8.9
113541  10.05  12.7  8.35        11.8  8.8  8.9
113542  10.05  12.7  8.35        11.8  9.0  8.9
113543  10.05  12.7  8.35        11.8  9.0  8.9

[113544 rows x 10 columns]

        token_number            timestamp           time_entry  volume  open  \
0              40550  1980-01-01 00:00:00  2023-12-01 09:15:02       0   0.0
1              40550  1980-01-01 00:00:00  2023-12-01 09:15:02       0   0.0
2              40550  1980-01-01 00:00:00  2023-12-01 09:15:04       0   0.0
3              40550  1980-01-01 00:00:00  2023-12-01 09:15:14       0   0.0
4              40550  1980-01-01 00:00:00  2023-12-01 09:15:23       0   0.0
...              ...                  ...                  ...     ...   ...
113606         40821  2023-11-30 14:33:06  2023-12-01 10:01:51       0   0.0
113607         40821  2023-11-30 14:33:06  2023-12-01 10:01:56       0   0.0
113608         40821  2023-11-30 14:33:06  2023-12-01 10:01:58       0   0.0
113609         40821  2023-11-30 14:33:06  2023-12-01 10:02:02       0   0.0
113610         40821  2023-11-30 14:33:06  2023-12-01 10:02:05       0   0.0

        high  low  prev-close      ltp  atp
0        0.0  0.0     6455.10     0.00  0.0
1        0.0  0.0     6455.10     0.00  0.0
2        0.0  0.0     6455.10     0.00  0.0
3        0.0  0.0     6455.10     0.00  0.0
4        0.0  0.0     6455.10     0.00  0.0
...      ...  ...         ...      ...  ...
113606   0.0  0.0     2200.85  2200.85  0.0
113607   0.0  0.0     2200.85  2200.85  0.0
113608   0.0  0.0     2200.85  2200.85  0.0
113609   0.0  0.0     2200.85  2200.85  0.0
113610   0.0  0.0     2200.85  2200.85  0.0

[113611 rows x 10 columns]
        token_number            timestamp           time_entry  volume  open  \
0              40550  1980-01-01 00:00:00  2023-12-01 09:15:02       0   0.0
1              40550  1980-01-01 00:00:00  2023-12-01 09:15:02       0   0.0
2              40550  1980-01-01 00:00:00  2023-12-01 09:15:04       0   0.0
3              40550  1980-01-01 00:00:00  2023-12-01 09:15:14       0   0.0
4              40550  1980-01-01 00:00:00  2023-12-01 09:15:23       0   0.0
...              ...                  ...                  ...     ...   ...
113722         40822  2023-12-01 10:01:30  2023-12-01 10:01:34  732465  11.9
113723         40822  2023-12-01 10:01:35  2023-12-01 10:01:36  732480  11.9
113724         40822  2023-12-01 10:01:54  2023-12-01 10:01:56  734115  11.9
113725         40822  2023-12-01 10:01:54  2023-12-01 10:01:58  734115  11.9
113726         40822  2023-12-01 10:01:54  2023-12-01 10:02:02  734115  11.9

        high  low  prev-close   ltp   atp
0        0.0  0.0     6455.10  0.00  0.00
1        0.0  0.0     6455.10  0.00  0.00
2        0.0  0.0     6455.10  0.00  0.00
3        0.0  0.0     6455.10  0.00  0.00
4        0.0  0.0     6455.10  0.00  0.00
...      ...  ...         ...   ...   ...
113722  11.9  9.0       13.35  9.55  9.67
113723  11.9  9.0       13.35  9.65  9.67
113724  11.9  9.0       13.35  9.80  9.67
113725  11.9  9.0       13.35  9.80  9.67
113726  11.9  9.0       13.35  9.80  9.67

[113727 rows x 10 columns]
        token_number            timestamp           time_entry  volume  open  \
0              40550  1980-01-01 00:00:00  2023-12-01 09:15:02       0   0.0
1              40550  1980-01-01 00:00:00  2023-12-01 09:15:02       0   0.0
2              40550  1980-01-01 00:00:00  2023-12-01 09:15:04       0   0.0
3              40550  1980-01-01 00:00:00  2023-12-01 09:15:14       0   0.0
4              40550  1980-01-01 00:00:00  2023-12-01 09:15:23       0   0.0
...              ...                  ...                  ...     ...   ...
113748         40823  2023-11-28 09:29:33  2023-12-01 10:00:18       0   0.0
113749         40823  2023-11-28 09:29:33  2023-12-01 10:01:00       0   0.0
113750         40823  2023-11-28 09:29:33  2023-12-01 10:01:00       0   0.0
113751         40823  2023-11-28 09:29:33  2023-12-01 10:01:01       0   0.0
113752         40823  2023-11-28 09:29:33  2023-12-01 10:01:04       0   0.0

        high  low  prev-close      ltp  atp
0        0.0  0.0     6455.10     0.00  0.0
1        0.0  0.0     6455.10     0.00  0.0
2        0.0  0.0     6455.10     0.00  0.0
3        0.0  0.0     6455.10     0.00  0.0
4        0.0  0.0     6455.10     0.00  0.0
...      ...  ...         ...      ...  ...
113748   0.0  0.0     1496.35  1496.35  0.0
113749   0.0  0.0     1496.35  1496.35  0.0
113750   0.0  0.0     1496.35  1496.35  0.0
113751   0.0  0.0     1496.35  1496.35  0.0
113752   0.0  0.0     1496.35  1496.35  0.0

[113753 rows x 10 columns]
        token_number            timestamp           time_entry  volume  open  \
0              40550  1980-01-01 00:00:00  2023-12-01 09:15:02       0   0.0
1              40550  1980-01-01 00:00:00  2023-12-01 09:15:02       0   0.0
2              40550  1980-01-01 00:00:00  2023-12-01 09:15:04       0   0.0
3              40550  1980-01-01 00:00:00  2023-12-01 09:15:14       0   0.0
4              40550  1980-01-01 00:00:00  2023-12-01 09:15:23       0   0.0
...              ...                  ...                  ...     ...   ...
113868         40824  2023-12-01 10:01:18  2023-12-01 10:01:20  864150  14.0
113869         40824  2023-12-01 10:01:22  2023-12-01 10:01:22  864195  14.0
113870         40824  2023-12-01 10:01:22  2023-12-01 10:01:23  864195  14.0
113871         40824  2023-12-01 10:01:52  2023-12-01 10:01:56  868380  14.0
113872         40824  2023-12-01 10:01:59  2023-12-01 10:02:01  868845  14.0

        high  low  prev-close    ltp    atp
0        0.0  0.0      6455.1   0.00   0.00
1        0.0  0.0      6455.1   0.00   0.00
2        0.0  0.0      6455.1   0.00   0.00
3        0.0  0.0      6455.1   0.00   0.00
4        0.0  0.0      6455.1   0.00   0.00
...      ...  ...         ...    ...    ...
113868  14.0  9.8        14.8  10.50  10.51
113869  14.0  9.8        14.8  10.40  10.51
113870  14.0  9.8        14.8  10.40  10.51
113871  14.0  9.8        14.8  10.55  10.51
113872  14.0  9.8        14.8  10.60  10.51

[113873 rows x 10 columns]
        token_number            timestamp           time_entry  volume  \
0              40550  1980-01-01 00:00:00  2023-12-01 09:15:02       0
1              40550  1980-01-01 00:00:00  2023-12-01 09:15:02       0
2              40550  1980-01-01 00:00:00  2023-12-01 09:15:04       0
3              40550  1980-01-01 00:00:00  2023-12-01 09:15:14       0
4              40550  1980-01-01 00:00:00  2023-12-01 09:15:23       0
...              ...                  ...                  ...     ...
113924         40825  2023-12-01 10:00:57  2023-12-01 10:01:13     345
113925         40825  2023-12-01 10:00:57  2023-12-01 10:01:24     345
113926         40825  2023-12-01 10:00:57  2023-12-01 10:01:27     345
113927         40825  2023-12-01 10:00:57  2023-12-01 10:01:42     345
113928         40825  2023-12-01 10:00:57  2023-12-01 10:01:51     345

          open    high     low  prev-close     ltp      atp
0          0.0     0.0     0.0      6455.1     0.0     0.00
1          0.0     0.0     0.0      6455.1     0.0     0.00
2          0.0     0.0     0.0      6455.1     0.0     0.00
3          0.0     0.0     0.0      6455.1     0.0     0.00
4          0.0     0.0     0.0      6455.1     0.0     0.00
...        ...     ...     ...         ...     ...      ...
113924  2238.3  2508.3  2208.0      2089.6  2456.2  2325.97
113925  2238.3  2508.3  2208.0      2089.6  2456.2  2325.97
113926  2238.3  2508.3  2208.0      2089.6  2456.2  2325.97
113927  2238.3  2508.3  2208.0      2089.6  2456.2  2325.97
113928  2238.3  2508.3  2208.0      2089.6  2456.2  2325.97

[113929 rows x 10 columns]
        token_number            timestamp           time_entry   volume  open  \
0              40550  1980-01-01 00:00:00  2023-12-01 09:15:02        0   0.0
1              40550  1980-01-01 00:00:00  2023-12-01 09:15:02        0   0.0
2              40550  1980-01-01 00:00:00  2023-12-01 09:15:04        0   0.0
3              40550  1980-01-01 00:00:00  2023-12-01 09:15:14        0   0.0
4              40550  1980-01-01 00:00:00  2023-12-01 09:15:23        0   0.0
...              ...                  ...                  ...      ...   ...
114074         40829  2023-12-01 10:01:37  2023-12-01 10:01:39  3329955  15.0
114075         40829  2023-12-01 10:01:47  2023-12-01 10:01:48  3348525  15.0
114076         40829  2023-12-01 10:01:54  2023-12-01 10:01:55  3358350  15.0
114077         40829  2023-12-01 10:01:58  2023-12-01 10:01:59  3363660  15.0
114078         40829  2023-12-01 10:02:02  2023-12-01 10:02:03  3368910  15.0

        high   low  prev-close    ltp    atp
0        0.0   0.0      6455.1   0.00   0.00
1        0.0   0.0      6455.1   0.00   0.00
2        0.0   0.0      6455.1   0.00   0.00
3        0.0   0.0      6455.1   0.00   0.00
4        0.0   0.0      6455.1   0.00   0.00
...      ...   ...         ...    ...    ...
114074  15.0  10.7        16.8  11.45  11.56
114075  15.0  10.7        16.8  11.55  11.56
114076  15.0  10.7        16.8  11.55  11.56
114077  15.0  10.7        16.8  11.55  11.56
114078  15.0  10.7        16.8  11.50  11.56

[114079 rows x 10 columns]

        token_number            timestamp           time_entry  volume  open  \
0              40550  1980-01-01 00:00:00  2023-12-01 09:15:02       0   0.0
1              40550  1980-01-01 00:00:00  2023-12-01 09:15:02       0   0.0
2              40550  1980-01-01 00:00:00  2023-12-01 09:15:04       0   0.0
3              40550  1980-01-01 00:00:00  2023-12-01 09:15:14       0   0.0
4              40550  1980-01-01 00:00:00  2023-12-01 09:15:23       0   0.0
...              ...                  ...                  ...     ...   ...
114100         40830  2023-11-30 13:58:07  2023-12-01 10:00:33       0   0.0
114101         40830  2023-11-30 13:58:07  2023-12-01 10:00:36       0   0.0
114102         40830  2023-11-30 13:58:07  2023-12-01 10:00:38       0   0.0
114103         40830  2023-11-30 13:58:07  2023-12-01 10:01:00       0   0.0
114104         40830  2023-11-30 13:58:07  2023-12-01 10:01:10       0   0.0

        high  low  prev-close      ltp  atp
0        0.0  0.0     6455.10     0.00  0.0
1        0.0  0.0     6455.10     0.00  0.0
2        0.0  0.0     6455.10     0.00  0.0
3        0.0  0.0     6455.10     0.00  0.0
4        0.0  0.0     6455.10     0.00  0.0
...      ...  ...         ...      ...  ...
114100   0.0  0.0     1955.85  1955.85  0.0
114101   0.0  0.0     1955.85  1955.85  0.0
114102   0.0  0.0     1955.85  1955.85  0.0
114103   0.0  0.0     1955.85  1955.85  0.0
114104   0.0  0.0     1955.85  1955.85  0.0

[114105 rows x 10 columns]
        token_number            timestamp           time_entry  volume   open  \
0              40550  1980-01-01 00:00:00  2023-12-01 09:15:02       0   0.00
1              40550  1980-01-01 00:00:00  2023-12-01 09:15:02       0   0.00
2              40550  1980-01-01 00:00:00  2023-12-01 09:15:04       0   0.00
3              40550  1980-01-01 00:00:00  2023-12-01 09:15:14       0   0.00
4              40550  1980-01-01 00:00:00  2023-12-01 09:15:23       0   0.00
...              ...                  ...                  ...     ...    ...
114229         40831  2023-12-01 10:01:20  2023-12-01 10:01:22  859020  15.05
114230         40831  2023-12-01 10:01:20  2023-12-01 10:01:23  859020  15.05
114231         40831  2023-12-01 10:01:20  2023-12-01 10:01:25  859020  15.05
114232         40831  2023-12-01 10:01:53  2023-12-01 10:01:57  862275  15.05
114233         40831  2023-12-01 10:01:53  2023-12-01 10:02:00  862275  15.05

         high    low  prev-close    ltp    atp
0        0.00   0.00      6455.1   0.00   0.00
1        0.00   0.00      6455.1   0.00   0.00
2        0.00   0.00      6455.1   0.00   0.00
3        0.00   0.00      6455.1   0.00   0.00
4        0.00   0.00      6455.1   0.00   0.00
...       ...    ...         ...    ...    ...
114229  15.75  11.55        18.6  12.25  12.56
114230  15.75  11.55        18.6  12.25  12.56
114231  15.75  11.55        18.6  12.25  12.56
114232  15.75  11.55        18.6  12.35  12.56
114233  15.75  11.55        18.6  12.35  12.56

[114234 rows x 10 columns]
        token_number            timestamp           time_entry  volume  open  \
0              40550  1980-01-01 00:00:00  2023-12-01 09:15:02       0   0.0
1              40550  1980-01-01 00:00:00  2023-12-01 09:15:02       0   0.0
2              40550  1980-01-01 00:00:00  2023-12-01 09:15:04       0   0.0
3              40550  1980-01-01 00:00:00  2023-12-01 09:15:14       0   0.0
4              40550  1980-01-01 00:00:00  2023-12-01 09:15:23       0   0.0
...              ...                  ...                  ...     ...   ...
114254         40835  2023-11-23 09:40:40  2023-12-01 10:01:01       0   0.0
114255         40835  2023-11-23 09:40:40  2023-12-01 10:01:04       0   0.0
114256         40835  2023-11-23 09:40:40  2023-12-01 10:01:45       0   0.0
114257         40835  2023-11-23 09:40:40  2023-12-01 10:01:51       0   0.0
114258         40835  2023-11-23 09:40:40  2023-12-01 10:01:58       0   0.0

        high  low  prev-close     ltp  atp
0        0.0  0.0      6455.1     0.0  0.0
1        0.0  0.0      6455.1     0.0  0.0
2        0.0  0.0      6455.1     0.0  0.0
3        0.0  0.0      6455.1     0.0  0.0
4        0.0  0.0      6455.1     0.0  0.0
...      ...  ...         ...     ...  ...
114254   0.0  0.0      1176.3  1176.3  0.0
114255   0.0  0.0      1176.3  1176.3  0.0
114256   0.0  0.0      1176.3  1176.3  0.0
114257   0.0  0.0      1176.3  1176.3  0.0
114258   0.0  0.0      1176.3  1176.3  0.0

[114259 rows x 10 columns]
        token_number            timestamp           time_entry   volume  \
0              40550  1980-01-01 00:00:00  2023-12-01 09:15:02        0
1              40550  1980-01-01 00:00:00  2023-12-01 09:15:02        0
2              40550  1980-01-01 00:00:00  2023-12-01 09:15:04        0
3              40550  1980-01-01 00:00:00  2023-12-01 09:15:14        0
4              40550  1980-01-01 00:00:00  2023-12-01 09:15:23        0
...              ...                  ...                  ...      ...
114376         40842  2023-12-01 10:01:33  2023-12-01 10:01:34  1163715
114377         40842  2023-12-01 10:01:33  2023-12-01 10:01:36  1163715
114378         40842  2023-12-01 10:01:37  2023-12-01 10:01:39  1165665
114379         40842  2023-12-01 10:01:45  2023-12-01 10:01:45  1170870
114380         40842  2023-12-01 10:01:51  2023-12-01 10:01:55  1171785

         open   high   low  prev-close    ltp    atp
0        0.00   0.00   0.0     6455.10   0.00   0.00
1        0.00   0.00   0.0     6455.10   0.00   0.00
2        0.00   0.00   0.0     6455.10   0.00   0.00
3        0.00   0.00   0.0     6455.10   0.00   0.00
4        0.00   0.00   0.0     6455.10   0.00   0.00
...       ...    ...   ...         ...    ...    ...
114376  18.35  18.35  12.6       20.85  13.45  13.81
114377  18.35  18.35  12.6       20.85  13.45  13.81
114378  18.35  18.35  12.6       20.85  13.40  13.80
114379  18.35  18.35  12.6       20.85  13.60  13.80
114380  18.35  18.35  12.6       20.85  13.55  13.80

[114381 rows x 10 columns]
        token_number            timestamp           time_entry  volume  \
0              40550  1980-01-01 00:00:00  2023-12-01 09:15:02       0
1              40550  1980-01-01 00:00:00  2023-12-01 09:15:02       0
2              40550  1980-01-01 00:00:00  2023-12-01 09:15:04       0
3              40550  1980-01-01 00:00:00  2023-12-01 09:15:14       0
4              40550  1980-01-01 00:00:00  2023-12-01 09:15:23       0
...              ...                  ...                  ...     ...
114439         40852  2023-12-01 09:56:19  2023-12-01 10:01:31      30
114440         40852  2023-12-01 09:56:19  2023-12-01 10:01:32      30
114441         40852  2023-12-01 09:56:19  2023-12-01 10:02:02      30
114442         40852  2023-12-01 09:56:19  2023-12-01 10:02:06      30
114443         40852  2023-12-01 09:56:19  2023-12-01 10:02:07      30

           open    high      low  prev-close     ltp      atp
0          0.00     0.0     0.00     6455.10     0.0     0.00
1          0.00     0.0     0.00     6455.10     0.0     0.00
2          0.00     0.0     0.00     6455.10     0.0     0.00
3          0.00     0.0     0.00     6455.10     0.0     0.00
4          0.00     0.0     0.00     6455.10     0.0     0.00
...         ...     ...      ...         ...     ...      ...
114439  1905.75  2201.5  1905.75     1805.65  2201.5  2053.62
114440  1905.75  2201.5  1905.75     1805.65  2201.5  2053.62
114441  1905.75  2201.5  1905.75     1805.65  2201.5  2053.62
114442  1905.75  2201.5  1905.75     1805.65  2201.5  2053.62
114443  1905.75  2201.5  1905.75     1805.65  2201.5  2053.62

[114444 rows x 10 columns]
        token_number            timestamp           time_entry   volume  open  \
0              40550  1980-01-01 00:00:00  2023-12-01 09:15:02        0   0.0
1              40550  1980-01-01 00:00:00  2023-12-01 09:15:02        0   0.0
2              40550  1980-01-01 00:00:00  2023-12-01 09:15:04        0   0.0
3              40550  1980-01-01 00:00:00  2023-12-01 09:15:14        0   0.0
4              40550  1980-01-01 00:00:00  2023-12-01 09:15:23        0   0.0
...              ...                  ...                  ...      ...   ...
114604         40859  2023-12-01 10:01:45  2023-12-01 10:01:48  2044260  18.0
114605         40859  2023-12-01 10:01:48  2023-12-01 10:01:49  2044695  18.0
114606         40859  2023-12-01 10:01:53  2023-12-01 10:01:53  2045910  18.0
114607         40859  2023-12-01 10:02:01  2023-12-01 10:02:02  2050140  18.0
114608         40859  2023-12-01 10:02:04  2023-12-01 10:02:05  2050290  18.0

        high   low  prev-close    ltp    atp
0        0.0   0.0      6455.1   0.00   0.00
1        0.0   0.0      6455.1   0.00   0.00
2        0.0   0.0      6455.1   0.00   0.00
3        0.0   0.0      6455.1   0.00   0.00
4        0.0   0.0      6455.1   0.00   0.00
...      ...   ...         ...    ...    ...
114604  19.9  14.1        23.5  14.95  15.45
114605  19.9  14.1        23.5  15.00  15.45
114606  19.9  14.1        23.5  14.90  15.45
114607  19.9  14.1        23.5  14.95  15.45
114608  19.9  14.1        23.5  14.95  15.45

[114609 rows x 10 columns]

        token_number            timestamp           time_entry  volume  \
0              40550  1980-01-01 00:00:00  2023-12-01 09:15:02       0
1              40550  1980-01-01 00:00:00  2023-12-01 09:15:02       0
2              40550  1980-01-01 00:00:00  2023-12-01 09:15:04       0
3              40550  1980-01-01 00:00:00  2023-12-01 09:15:14       0
4              40550  1980-01-01 00:00:00  2023-12-01 09:15:23       0
...              ...                  ...                  ...     ...
114663         40862  2023-12-01 09:56:31  2023-12-01 10:01:09    1575
114664         40862  2023-12-01 09:56:31  2023-12-01 10:01:18    1575
114665         40862  2023-12-01 09:56:31  2023-12-01 10:01:30    1575
114666         40862  2023-12-01 09:56:31  2023-12-01 10:01:49    1575
114667         40862  2023-12-01 09:56:31  2023-12-01 10:01:52    1575

           open    high      low  prev-close     ltp      atp
0          0.00     0.0     0.00      6455.1     0.0     0.00
1          0.00     0.0     0.00      6455.1     0.0     0.00
2          0.00     0.0     0.00      6455.1     0.0     0.00
3          0.00     0.0     0.00      6455.1     0.0     0.00
4          0.00     0.0     0.00      6455.1     0.0     0.00
...         ...     ...      ...         ...     ...      ...
114663  1799.95  2163.1  1799.95      1686.7  2111.7  1976.05
114664  1799.95  2163.1  1799.95      1686.7  2111.7  1976.05
114665  1799.95  2163.1  1799.95      1686.7  2111.7  1976.05
114666  1799.95  2163.1  1799.95      1686.7  2111.7  1976.05
114667  1799.95  2163.1  1799.95      1686.7  2111.7  1976.05

[114668 rows x 10 columns]
        token_number            timestamp           time_entry  volume   open  \
0              40550  1980-01-01 00:00:00  2023-12-01 09:15:02       0   0.00
1              40550  1980-01-01 00:00:00  2023-12-01 09:15:02       0   0.00
2              40550  1980-01-01 00:00:00  2023-12-01 09:15:04       0   0.00
3              40550  1980-01-01 00:00:00  2023-12-01 09:15:14       0   0.00
4              40550  1980-01-01 00:00:00  2023-12-01 09:15:23       0   0.00
...              ...                  ...                  ...     ...    ...
114810         40863  2023-12-01 10:01:36  2023-12-01 10:01:39  794100  23.15
114811         40863  2023-12-01 10:01:36  2023-12-01 10:01:39  794100  23.15
114812         40863  2023-12-01 10:01:43  2023-12-01 10:01:44  794490  23.15
114813         40863  2023-12-01 10:02:03  2023-12-01 10:02:05  800085  23.15
114814         40863  2023-12-01 10:02:03  2023-12-01 10:02:07  800085  23.15

         high   low  prev-close    ltp    atp
0        0.00   0.0      6455.1   0.00   0.00
1        0.00   0.0      6455.1   0.00   0.00
2        0.00   0.0      6455.1   0.00   0.00
3        0.00   0.0      6455.1   0.00   0.00
4        0.00   0.0      6455.1   0.00   0.00
...       ...   ...         ...    ...    ...
114810  23.15  15.5        26.0  16.30  17.03
114811  23.15  15.5        26.0  16.30  17.03
114812  23.15  15.5        26.0  16.30  17.03
114813  23.15  15.5        26.0  16.45  17.03
114814  23.15  15.5        26.0  16.45  17.03

[114815 rows x 10 columns]
        token_number            timestamp           time_entry  volume  \
0              40550  1980-01-01 00:00:00  2023-12-01 09:15:02       0
1              40550  1980-01-01 00:00:00  2023-12-01 09:15:02       0
2              40550  1980-01-01 00:00:00  2023-12-01 09:15:04       0
3              40550  1980-01-01 00:00:00  2023-12-01 09:15:14       0
4              40550  1980-01-01 00:00:00  2023-12-01 09:15:23       0
...              ...                  ...                  ...     ...
114887         40871  2023-12-01 10:01:30  2023-12-01 10:01:35    8805
114888         40871  2023-12-01 10:01:30  2023-12-01 10:01:35    8805
114889         40871  2023-12-01 10:01:30  2023-12-01 10:01:38    8805
114890         40871  2023-12-01 10:02:00  2023-12-01 10:02:06    9270
114891         40871  2023-12-01 10:02:00  2023-12-01 10:02:07    9270

           open    high     low  prev-close     ltp      atp
0          0.00     0.0     0.0      6455.1     0.0     0.00
1          0.00     0.0     0.0      6455.1     0.0     0.00
2          0.00     0.0     0.0      6455.1     0.0     0.00
3          0.00     0.0     0.0      6455.1     0.0     0.00
4          0.00     0.0     0.0      6455.1     0.0     0.00
...         ...     ...     ...         ...     ...      ...
114887  1665.05  2060.0  1615.2      1605.8  1967.4  1827.13
114888  1665.05  2060.0  1615.2      1605.8  1967.4  1827.13
114889  1665.05  2060.0  1615.2      1605.8  1967.4  1827.13
114890  1665.05  2060.0  1615.2      1605.8  1980.0  1834.79
114891  1665.05  2060.0  1615.2      1605.8  1980.0  1834.79

[114892 rows x 10 columns]
        token_number            timestamp           time_entry   volume  open  \
0              40550  1980-01-01 00:00:00  2023-12-01 09:15:02        0   0.0
1              40550  1980-01-01 00:00:00  2023-12-01 09:15:02        0   0.0
2              40550  1980-01-01 00:00:00  2023-12-01 09:15:04        0   0.0
3              40550  1980-01-01 00:00:00  2023-12-01 09:15:14        0   0.0
4              40550  1980-01-01 00:00:00  2023-12-01 09:15:23        0   0.0
...              ...                  ...                  ...      ...   ...
115009         40872  2023-12-01 10:01:25  2023-12-01 10:01:26  3912630  26.3
115010         40872  2023-12-01 10:01:25  2023-12-01 10:01:27  3912630  26.3
115011         40872  2023-12-01 10:01:27  2023-12-01 10:01:28  3914430  26.3
115012         40872  2023-12-01 10:01:28  2023-12-01 10:01:28  3914730  26.3
115013         40872  2023-12-01 10:01:45  2023-12-01 10:01:46  3936735  26.3

        high    low  prev-close    ltp    atp
0        0.0   0.00     6455.10   0.00   0.00
1        0.0   0.00     6455.10   0.00   0.00
2        0.0   0.00     6455.10   0.00   0.00
3        0.0   0.00     6455.10   0.00   0.00
4        0.0   0.00     6455.10   0.00   0.00
...      ...    ...         ...    ...    ...
115009  26.5  17.25       29.95  18.25  19.17
115010  26.5  17.25       29.95  18.25  19.17
115011  26.5  17.25       29.95  18.25  19.17
115012  26.5  17.25       29.95  18.20  19.17
115013  26.5  17.25       29.95  18.40  19.17

[115014 rows x 10 columns]
        token_number            timestamp           time_entry  volume  \
0              40550  1980-01-01 00:00:00  2023-12-01 09:15:02       0
1              40550  1980-01-01 00:00:00  2023-12-01 09:15:02       0
2              40550  1980-01-01 00:00:00  2023-12-01 09:15:04       0
3              40550  1980-01-01 00:00:00  2023-12-01 09:15:14       0
4              40550  1980-01-01 00:00:00  2023-12-01 09:15:23       0
...              ...                  ...                  ...     ...
115051         40873  2023-12-01 10:00:16  2023-12-01 10:01:00     195
115052         40873  2023-12-01 10:00:16  2023-12-01 10:01:02     195
115053         40873  2023-12-01 10:00:16  2023-12-01 10:01:12     195
115054         40873  2023-12-01 10:00:16  2023-12-01 10:01:27     195
115055         40873  2023-12-01 10:00:16  2023-12-01 10:01:53     195

           open    high      low  prev-close     ltp      atp
0          0.00     0.0     0.00      6455.1     0.0     0.00
1          0.00     0.0     0.00      6455.1     0.0     0.00
2          0.00     0.0     0.00      6455.1     0.0     0.00
3          0.00     0.0     0.00      6455.1     0.0     0.00
4          0.00     0.0     0.00      6455.1     0.0     0.00
...         ...     ...      ...         ...     ...      ...
115051  1696.55  1988.3  1696.55      1506.6  1876.5  1804.46
115052  1696.55  1988.3  1696.55      1506.6  1876.5  1804.46
115053  1696.55  1988.3  1696.55      1506.6  1876.5  1804.46
115054  1696.55  1988.3  1696.55      1506.6  1876.5  1804.46
115055  1696.55  1988.3  1696.55      1506.6  1876.5  1804.46

[115056 rows x 10 columns]

        token_number            timestamp           time_entry   volume  open  \
0              40550  1980-01-01 00:00:00  2023-12-01 09:15:02        0   0.0
1              40550  1980-01-01 00:00:00  2023-12-01 09:15:02        0   0.0
2              40550  1980-01-01 00:00:00  2023-12-01 09:15:04        0   0.0
3              40550  1980-01-01 00:00:00  2023-12-01 09:15:14        0   0.0
4              40550  1980-01-01 00:00:00  2023-12-01 09:15:23        0   0.0
...              ...                  ...                  ...      ...   ...
115188         40877  2023-12-01 10:01:38  2023-12-01 10:01:42  1427640  36.0
115189         40877  2023-12-01 10:01:45  2023-12-01 10:01:46  1427955  36.0
115190         40877  2023-12-01 10:01:47  2023-12-01 10:01:48  1428165  36.0
115191         40877  2023-12-01 10:01:59  2023-12-01 10:02:02  1430280  36.0
115192         40877  2023-12-01 10:02:03  2023-12-01 10:02:04  1430805  36.0

        high   low  prev-close    ltp    atp
0        0.0   0.0      6455.1   0.00   0.00
1        0.0   0.0      6455.1   0.00   0.00
2        0.0   0.0      6455.1   0.00   0.00
3        0.0   0.0      6455.1   0.00   0.00
4        0.0   0.0      6455.1   0.00   0.00
...      ...   ...         ...    ...    ...
115188  36.0  19.3        33.9  20.35  21.32
115189  36.0  19.3        33.9  20.50  21.32
115190  36.0  19.3        33.9  20.55  21.32
115191  36.0  19.3        33.9  20.50  21.32
115192  36.0  19.3        33.9  20.30  21.32

[115193 rows x 10 columns]
        token_number            timestamp           time_entry  volume  \
0              40550  1980-01-01 00:00:00  2023-12-01 09:15:02       0
1              40550  1980-01-01 00:00:00  2023-12-01 09:15:02       0
2              40550  1980-01-01 00:00:00  2023-12-01 09:15:04       0
3              40550  1980-01-01 00:00:00  2023-12-01 09:15:14       0
4              40550  1980-01-01 00:00:00  2023-12-01 09:15:23       0
...              ...                  ...                  ...     ...
115308         40878  2023-12-01 09:59:40  2023-12-01 10:01:46    1290
115309         40878  2023-12-01 09:59:40  2023-12-01 10:01:53    1290
115310         40878  2023-12-01 09:59:40  2023-12-01 10:01:58    1290
115311         40878  2023-12-01 09:59:40  2023-12-01 10:02:01    1290
115312         40878  2023-12-01 09:59:40  2023-12-01 10:02:07    1290

          open     high     low  prev-close     ltp      atp
0          0.0     0.00     0.0      6455.1     0.0     0.00
1          0.0     0.00     0.0      6455.1     0.0     0.00
2          0.0     0.00     0.0      6455.1     0.0     0.00
3          0.0     0.00     0.0      6455.1     0.0     0.00
4          0.0     0.00     0.0      6455.1     0.0     0.00
...        ...      ...     ...         ...     ...      ...
115308  1441.2  1832.75  1441.2      1419.9  1805.0  1620.86
115309  1441.2  1832.75  1441.2      1419.9  1805.0  1620.86
115310  1441.2  1832.75  1441.2      1419.9  1805.0  1620.86
115311  1441.2  1832.75  1441.2      1419.9  1805.0  1620.86
115312  1441.2  1832.75  1441.2      1419.9  1805.0  1620.86

[115313 rows x 10 columns]
        token_number            timestamp           time_entry   volume  open  \
0              40550  1980-01-01 00:00:00  2023-12-01 09:15:02        0   0.0
1              40550  1980-01-01 00:00:00  2023-12-01 09:15:02        0   0.0
2              40550  1980-01-01 00:00:00  2023-12-01 09:15:04        0   0.0
3              40550  1980-01-01 00:00:00  2023-12-01 09:15:14        0   0.0
4              40550  1980-01-01 00:00:00  2023-12-01 09:15:23        0   0.0
...              ...                  ...                  ...      ...   ...
115415         40895  2023-12-01 10:01:24  2023-12-01 10:01:28  1634370  37.0
115416         40895  2023-12-01 10:01:28  2023-12-01 10:01:28  1636170  37.0
115417         40895  2023-12-01 10:01:31  2023-12-01 10:01:32  1639200  37.0
115418         40895  2023-12-01 10:01:56  2023-12-01 10:01:56  1648245  37.0
115419         40895  2023-12-01 10:01:58  2023-12-01 10:01:59  1648965  37.0

        high    low  prev-close    ltp    atp
0        0.0   0.00     6455.10   0.00   0.00
1        0.0   0.00     6455.10   0.00   0.00
2        0.0   0.00     6455.10   0.00   0.00
3        0.0   0.00     6455.10   0.00   0.00
4        0.0   0.00     6455.10   0.00   0.00
...      ...    ...         ...    ...    ...
115415  37.0  21.35       38.05  22.75  24.14
115416  37.0  21.35       38.05  22.80  24.14
115417  37.0  21.35       38.05  22.85  24.13
115418  37.0  21.35       38.05  22.95  24.13
115419  37.0  21.35       38.05  22.85  24.13

[115420 rows x 10 columns]
        token_number            timestamp           time_entry  volume  \
0              40550  1980-01-01 00:00:00  2023-12-01 09:15:02       0
1              40550  1980-01-01 00:00:00  2023-12-01 09:15:02       0
2              40550  1980-01-01 00:00:00  2023-12-01 09:15:04       0
3              40550  1980-01-01 00:00:00  2023-12-01 09:15:14       0
4              40550  1980-01-01 00:00:00  2023-12-01 09:15:23       0
...              ...                  ...                  ...     ...
115496         40896  2023-12-01 10:00:43  2023-12-01 10:01:48    1830
115497         40896  2023-12-01 10:00:43  2023-12-01 10:01:58    1830
115498         40896  2023-12-01 10:00:43  2023-12-01 10:02:00    1830
115499         40896  2023-12-01 10:00:43  2023-12-01 10:02:01    1830
115500         40896  2023-12-01 10:00:43  2023-12-01 10:02:02    1830

           open     high     low  prev-close     ltp     atp
0          0.00     0.00     0.0      6455.1     0.0     0.0
1          0.00     0.00     0.0      6455.1     0.0     0.0
2          0.00     0.00     0.0      6455.1     0.0     0.0
3          0.00     0.00     0.0      6455.1     0.0     0.0
4          0.00     0.00     0.0      6455.1     0.0     0.0
...         ...      ...     ...         ...     ...     ...
115496  1407.75  1786.95  1389.9      1340.7  1700.3  1527.6
115497  1407.75  1786.95  1389.9      1340.7  1700.3  1527.6
115498  1407.75  1786.95  1389.9      1340.7  1700.3  1527.6
115499  1407.75  1786.95  1389.9      1340.7  1700.3  1527.6
115500  1407.75  1786.95  1389.9      1340.7  1700.3  1527.6

[115501 rows x 10 columns]
        token_number            timestamp           time_entry   volume  \
0              40550  1980-01-01 00:00:00  2023-12-01 09:15:02        0
1              40550  1980-01-01 00:00:00  2023-12-01 09:15:02        0
2              40550  1980-01-01 00:00:00  2023-12-01 09:15:04        0
3              40550  1980-01-01 00:00:00  2023-12-01 09:15:14        0
4              40550  1980-01-01 00:00:00  2023-12-01 09:15:23        0
...              ...                  ...                  ...      ...
115623         40902  2023-12-01 10:01:39  2023-12-01 10:01:39  1990470
115624         40902  2023-12-01 10:01:41  2023-12-01 10:01:42  1996860
115625         40902  2023-12-01 10:01:41  2023-12-01 10:01:42  1996965
115626         40902  2023-12-01 10:02:01  2023-12-01 10:02:02  2000850
115627         40902  2023-12-01 10:02:02  2023-12-01 10:02:03  2000910

         open   high   low  prev-close    ltp    atp
0        0.00   0.00   0.0      6455.1   0.00   0.00
1        0.00   0.00   0.0      6455.1   0.00   0.00
2        0.00   0.00   0.0      6455.1   0.00   0.00
3        0.00   0.00   0.0      6455.1   0.00   0.00
4        0.00   0.00   0.0      6455.1   0.00   0.00
...       ...    ...   ...         ...    ...    ...
115623  44.45  44.45  23.9        44.0  25.50  27.49
115624  44.45  44.45  23.9        44.0  25.55  27.49
115625  44.45  44.45  23.9        44.0  25.45  27.49
115626  44.45  44.45  23.9        44.0  25.45  27.48
115627  44.45  44.45  23.9        44.0  25.40  27.48

[115628 rows x 10 columns]
        token_number            timestamp           time_entry  volume  \
0              40550  1980-01-01 00:00:00  2023-12-01 09:15:02       0
1              40550  1980-01-01 00:00:00  2023-12-01 09:15:02       0
2              40550  1980-01-01 00:00:00  2023-12-01 09:15:04       0
3              40550  1980-01-01 00:00:00  2023-12-01 09:15:14       0
4              40550  1980-01-01 00:00:00  2023-12-01 09:15:23       0
...              ...                  ...                  ...     ...
115683         40903  2023-12-01 09:59:40  2023-12-01 10:01:35    2610
115684         40903  2023-12-01 09:59:40  2023-12-01 10:01:47    2610
115685         40903  2023-12-01 09:59:40  2023-12-01 10:01:49    2610
115686         40903  2023-12-01 09:59:40  2023-12-01 10:01:58    2610
115687         40903  2023-12-01 09:59:40  2023-12-01 10:02:03    2610

          open    high     low  prev-close     ltp      atp
0          0.0     0.0     0.0      6455.1     0.0     0.00
1          0.0     0.0     0.0      6455.1     0.0     0.00
2          0.0     0.0     0.0      6455.1     0.0     0.00
3          0.0     0.0     0.0      6455.1     0.0     0.00
4          0.0     0.0     0.0      6455.1     0.0     0.00
...        ...     ...     ...         ...     ...      ...
115683  1281.4  1680.0  1281.3      1220.3  1612.6  1447.26
115684  1281.4  1680.0  1281.3      1220.3  1612.6  1447.26
115685  1281.4  1680.0  1281.3      1220.3  1612.6  1447.26
115686  1281.4  1680.0  1281.3      1220.3  1612.6  1447.26
115687  1281.4  1680.0  1281.3      1220.3  1612.6  1447.26

[115688 rows x 10 columns]

        token_number            timestamp           time_entry   volume  open  \
0              40550  1980-01-01 00:00:00  2023-12-01 09:15:02        0   0.0
1              40550  1980-01-01 00:00:00  2023-12-01 09:15:02        0   0.0
2              40550  1980-01-01 00:00:00  2023-12-01 09:15:04        0   0.0
3              40550  1980-01-01 00:00:00  2023-12-01 09:15:14        0   0.0
4              40550  1980-01-01 00:00:00  2023-12-01 09:15:23        0   0.0
...              ...                  ...                  ...      ...   ...
115815         40904  2023-12-01 10:01:28  2023-12-01 10:01:28  1404330  48.0
115816         40904  2023-12-01 10:01:28  2023-12-01 10:01:29  1404330  48.0
115817         40904  2023-12-01 10:01:46  2023-12-01 10:01:48  1407630  48.0
115818         40904  2023-12-01 10:01:46  2023-12-01 10:01:49  1407630  48.0
115819         40904  2023-12-01 10:02:03  2023-12-01 10:02:06  1409775  48.0

        high    low  prev-close    ltp    atp
0        0.0   0.00      6455.1   0.00   0.00
1        0.0   0.00      6455.1   0.00   0.00
2        0.0   0.00      6455.1   0.00   0.00
3        0.0   0.00      6455.1   0.00   0.00
4        0.0   0.00      6455.1   0.00   0.00
...      ...    ...         ...    ...    ...
115815  48.0  27.55        50.6  29.15  31.67
115816  48.0  27.55        50.6  29.15  31.67
115817  48.0  27.55        50.6  29.30  31.67
115818  48.0  27.55        50.6  29.30  31.67
115819  48.0  27.55        50.6  29.10  31.66

[115820 rows x 10 columns]
        token_number            timestamp           time_entry  volume  \
0              40550  1980-01-01 00:00:00  2023-12-01 09:15:02       0
1              40550  1980-01-01 00:00:00  2023-12-01 09:15:02       0
2              40550  1980-01-01 00:00:00  2023-12-01 09:15:04       0
3              40550  1980-01-01 00:00:00  2023-12-01 09:15:14       0
4              40550  1980-01-01 00:00:00  2023-12-01 09:15:23       0
...              ...                  ...                  ...     ...
115849         40905  2023-12-01 10:01:34  2023-12-01 10:01:35   47355
115850         40905  2023-12-01 10:01:34  2023-12-01 10:01:38   47355
115851         40905  2023-12-01 10:01:44  2023-12-01 10:01:46   47400
115852         40905  2023-12-01 10:01:44  2023-12-01 10:01:49   47400
115853         40905  2023-12-01 10:01:44  2023-12-01 10:01:51   47400

          open    high     low  prev-close      ltp      atp
0          0.0     0.0     0.0      6455.1     0.00     0.00
1          0.0     0.0     0.0      6455.1     0.00     0.00
2          0.0     0.0     0.0      6455.1     0.00     0.00
3          0.0     0.0     0.0      6455.1     0.00     0.00
4          0.0     0.0     0.0      6455.1     0.00     0.00
...        ...     ...     ...         ...      ...      ...
115849  1212.2  1604.7  1144.0      1133.4  1482.75  1333.21
115850  1212.2  1604.7  1144.0      1133.4  1482.75  1333.21
115851  1212.2  1604.7  1144.0      1133.4  1498.70  1333.36
115852  1212.2  1604.7  1144.0      1133.4  1498.70  1333.36
115853  1212.2  1604.7  1144.0      1133.4  1498.70  1333.36

[115854 rows x 10 columns]
        token_number            timestamp           time_entry   volume  open  \
0              40550  1980-01-01 00:00:00  2023-12-01 09:15:02        0   0.0
1              40550  1980-01-01 00:00:00  2023-12-01 09:15:02        0   0.0
2              40550  1980-01-01 00:00:00  2023-12-01 09:15:04        0   0.0
3              40550  1980-01-01 00:00:00  2023-12-01 09:15:14        0   0.0
4              40550  1980-01-01 00:00:00  2023-12-01 09:15:23        0   0.0
...              ...                  ...                  ...      ...   ...
116007         40906  2023-12-01 10:01:41  2023-12-01 10:01:42  3155865  50.0
116008         40906  2023-12-01 10:01:42  2023-12-01 10:01:42  3156750  50.0
116009         40906  2023-12-01 10:01:43  2023-12-01 10:01:44  3166365  50.0
116010         40906  2023-12-01 10:01:52  2023-12-01 10:01:53  3171000  50.0
116011         40906  2023-12-01 10:01:58  2023-12-01 10:01:59  3177630  50.0

        high    low  prev-close    ltp    atp
0        0.0   0.00      6455.1   0.00   0.00
1        0.0   0.00      6455.1   0.00   0.00
2        0.0   0.00      6455.1   0.00   0.00
3        0.0   0.00      6455.1   0.00   0.00
4        0.0   0.00      6455.1   0.00   0.00
...      ...    ...         ...    ...    ...
116007  53.2  31.55        59.3  33.55  36.64
116008  53.2  31.55        59.3  33.55  36.64
116009  53.2  31.55        59.3  33.45  36.63
116010  53.2  31.55        59.3  33.55  36.62
116011  53.2  31.55        59.3  33.45  36.61

[116012 rows x 10 columns]
        token_number            timestamp           time_entry  volume  \
0              40550  1980-01-01 00:00:00  2023-12-01 09:15:02       0
1              40550  1980-01-01 00:00:00  2023-12-01 09:15:02       0
2              40550  1980-01-01 00:00:00  2023-12-01 09:15:04       0
3              40550  1980-01-01 00:00:00  2023-12-01 09:15:14       0
4              40550  1980-01-01 00:00:00  2023-12-01 09:15:23       0
...              ...                  ...                  ...     ...
116120         40907  2023-12-01 10:01:02  2023-12-01 10:01:49   10365
116121         40907  2023-12-01 10:01:02  2023-12-01 10:01:52   10365
116122         40907  2023-12-01 10:01:55  2023-12-01 10:01:58   10380
116123         40907  2023-12-01 10:01:55  2023-12-01 10:02:02   10380
116124         40907  2023-12-01 10:01:55  2023-12-01 10:02:07   10380

          open    high      low  prev-close      ltp      atp
0          0.0     0.0     0.00      6455.1     0.00     0.00
1          0.0     0.0     0.00      6455.1     0.00     0.00
2          0.0     0.0     0.00      6455.1     0.00     0.00
3          0.0     0.0     0.00      6455.1     0.00     0.00
4          0.0     0.0     0.00      6455.1     0.00     0.00
...        ...     ...      ...         ...      ...      ...
116120  1125.0  1508.7  1083.95      1050.2  1386.95  1299.76
116121  1125.0  1508.7  1083.95      1050.2  1386.95  1299.76
116122  1125.0  1508.7  1083.95      1050.2  1403.95  1299.91
116123  1125.0  1508.7  1083.95      1050.2  1403.95  1299.91
116124  1125.0  1508.7  1083.95      1050.2  1403.95  1299.91

[116125 rows x 10 columns]
        token_number            timestamp           time_entry   volume  open  \
0              40550  1980-01-01 00:00:00  2023-12-01 09:15:02        0   0.0
1              40550  1980-01-01 00:00:00  2023-12-01 09:15:02        0   0.0
2              40550  1980-01-01 00:00:00  2023-12-01 09:15:04        0   0.0
3              40550  1980-01-01 00:00:00  2023-12-01 09:15:14        0   0.0
4              40550  1980-01-01 00:00:00  2023-12-01 09:15:23        0   0.0
...              ...                  ...                  ...      ...   ...
116257         40909  2023-12-01 10:01:25  2023-12-01 10:01:28  1759815  52.0
116258         40909  2023-12-01 10:01:25  2023-12-01 10:01:28  1759815  52.0
116259         40909  2023-12-01 10:01:31  2023-12-01 10:01:31  1759860  52.0
116260         40909  2023-12-01 10:01:56  2023-12-01 10:01:59  1771515  52.0
116261         40909  2023-12-01 10:02:00  2023-12-01 10:02:01  1772595  52.0

         high    low  prev-close    ltp    atp
0        0.00   0.00     6455.10   0.00   0.00
1        0.00   0.00     6455.10   0.00   0.00
2        0.00   0.00     6455.10   0.00   0.00
3        0.00   0.00     6455.10   0.00   0.00
4        0.00   0.00     6455.10   0.00   0.00
...       ...    ...         ...    ...    ...
116257  62.45  35.85       67.25  38.45  42.53
116258  62.45  35.85       67.25  38.45  42.53
116259  62.45  35.85       67.25  38.55  42.53
116260  62.45  35.85       67.25  38.35  42.50
116261  62.45  35.85       67.25  38.00  42.50

[116262 rows x 10 columns]
        token_number            timestamp           time_entry  volume  \
0              40550  1980-01-01 00:00:00  2023-12-01 09:15:02       0
1              40550  1980-01-01 00:00:00  2023-12-01 09:15:02       0
2              40550  1980-01-01 00:00:00  2023-12-01 09:15:04       0
3              40550  1980-01-01 00:00:00  2023-12-01 09:15:14       0
4              40550  1980-01-01 00:00:00  2023-12-01 09:15:23       0
...              ...                  ...                  ...     ...
116331         40910  2023-12-01 10:01:03  2023-12-01 10:01:04   24180
116332         40910  2023-12-01 10:01:21  2023-12-01 10:01:24   24255
116333         40910  2023-12-01 10:01:21  2023-12-01 10:01:48   24255
116334         40910  2023-12-01 10:01:21  2023-12-01 10:01:52   24255
116335         40910  2023-12-01 10:01:21  2023-12-01 10:01:55   24255

          open    high     low  prev-close      ltp      atp
0         0.00     0.0    0.00      6455.1     0.00     0.00
1         0.00     0.0    0.00      6455.1     0.00     0.00
2         0.00     0.0    0.00      6455.1     0.00     0.00
3         0.00     0.0    0.00      6455.1     0.00     0.00
4         0.00     0.0    0.00      6455.1     0.00     0.00
...        ...     ...     ...         ...      ...      ...
116331  983.35  1396.3  916.95       959.3  1285.00  1150.02
116332  983.35  1396.3  916.95       959.3  1304.85  1150.47
116333  983.35  1396.3  916.95       959.3  1304.85  1150.47
116334  983.35  1396.3  916.95       959.3  1304.85  1150.47
116335  983.35  1396.3  916.95       959.3  1304.85  1150.47

[116336 rows x 10 columns]

        token_number            timestamp           time_entry   volume  \
0              40550  1980-01-01 00:00:00  2023-12-01 09:15:02        0
1              40550  1980-01-01 00:00:00  2023-12-01 09:15:02        0
2              40550  1980-01-01 00:00:00  2023-12-01 09:15:04        0
3              40550  1980-01-01 00:00:00  2023-12-01 09:15:14        0
4              40550  1980-01-01 00:00:00  2023-12-01 09:15:23        0
...              ...                  ...                  ...      ...
116485         40911  2023-12-01 10:01:39  2023-12-01 10:01:39  2150895
116486         40911  2023-12-01 10:01:41  2023-12-01 10:01:42  2152080
116487         40911  2023-12-01 10:01:41  2023-12-01 10:01:42  2152080
116488         40911  2023-12-01 10:01:45  2023-12-01 10:01:45  2154960
116489         40911  2023-12-01 10:02:05  2023-12-01 10:02:05  2166720

         open   high    low  prev-close    ltp    atp
0        0.00   0.00   0.00     6455.10   0.00   0.00
1        0.00   0.00   0.00     6455.10   0.00   0.00
2        0.00   0.00   0.00     6455.10   0.00   0.00
3        0.00   0.00   0.00     6455.10   0.00   0.00
4        0.00   0.00   0.00     6455.10   0.00   0.00
...       ...    ...    ...         ...    ...    ...
116485  64.95  73.15  41.65       79.15  44.40  50.01
116486  64.95  73.15  41.65       79.15  44.55  50.00
116487  64.95  73.15  41.65       79.15  44.55  50.00
116488  64.95  73.15  41.65       79.15  44.25  49.99
116489  64.95  73.15  41.65       79.15  43.95  49.96

[116490 rows x 10 columns]
        token_number            timestamp           time_entry  volume   open  \
0              40550  1980-01-01 00:00:00  2023-12-01 09:15:02       0    0.0
1              40550  1980-01-01 00:00:00  2023-12-01 09:15:02       0    0.0
2              40550  1980-01-01 00:00:00  2023-12-01 09:15:04       0    0.0
3              40550  1980-01-01 00:00:00  2023-12-01 09:15:14       0    0.0
4              40550  1980-01-01 00:00:00  2023-12-01 09:15:23       0    0.0
...              ...                  ...                  ...     ...    ...
116560         40912  2023-12-01 10:01:44  2023-12-01 10:01:58   65370  932.7
116561         40912  2023-12-01 10:01:59  2023-12-01 10:02:02   65400  932.7
116562         40912  2023-12-01 10:01:59  2023-12-01 10:02:03   65400  932.7
116563         40912  2023-12-01 10:01:59  2023-12-01 10:02:04   65400  932.7
116564         40912  2023-12-01 10:01:59  2023-12-01 10:02:07   65400  932.7

          high     low  prev-close      ltp      atp
0          0.0    0.00      6455.1     0.00     0.00
1          0.0    0.00      6455.1     0.00     0.00
2          0.0    0.00      6455.1     0.00     0.00
3          0.0    0.00      6455.1     0.00     0.00
4          0.0    0.00      6455.1     0.00     0.00
...        ...     ...         ...      ...      ...
116560  1313.0  871.85       877.2  1220.95  1153.27
116561  1313.0  871.85       877.2  1213.30  1153.30
116562  1313.0  871.85       877.2  1213.30  1153.30
116563  1313.0  871.85       877.2  1213.30  1153.30
116564  1313.0  871.85       877.2  1213.30  1153.30

[116565 rows x 10 columns]
        token_number            timestamp           time_entry   volume  open  \
0              40550  1980-01-01 00:00:00  2023-12-01 09:15:02        0   0.0
1              40550  1980-01-01 00:00:00  2023-12-01 09:15:02        0   0.0
2              40550  1980-01-01 00:00:00  2023-12-01 09:15:04        0   0.0
3              40550  1980-01-01 00:00:00  2023-12-01 09:15:14        0   0.0
4              40550  1980-01-01 00:00:00  2023-12-01 09:15:23        0   0.0
...              ...                  ...                  ...      ...   ...
116724         40913  2023-12-01 10:01:50  2023-12-01 10:01:51  2370795  90.0
116725         40913  2023-12-01 10:01:53  2023-12-01 10:01:53  2372325  90.0
116726         40913  2023-12-01 10:01:56  2023-12-01 10:01:56  2372400  90.0
116727         40913  2023-12-01 10:01:58  2023-12-01 10:01:59  2372745  90.0
116728         40913  2023-12-01 10:02:05  2023-12-01 10:02:06  2373885  90.0

        high   low  prev-close    ltp    atp
0        0.0   0.0     6455.10   0.00   0.00
1        0.0   0.0     6455.10   0.00   0.00
2        0.0   0.0     6455.10   0.00   0.00
3        0.0   0.0     6455.10   0.00   0.00
4        0.0   0.0     6455.10   0.00   0.00
...      ...   ...         ...    ...    ...
116724  90.0  48.5       93.65  51.55  58.83
116725  90.0  48.5       93.65  51.45  58.83
116726  90.0  48.5       93.65  51.45  58.83
116727  90.0  48.5       93.65  51.30  58.83
116728  90.0  48.5       93.65  51.25  58.82

[116729 rows x 10 columns]
        token_number            timestamp           time_entry  volume   open  \
0              40550  1980-01-01 00:00:00  2023-12-01 09:15:02       0    0.0
1              40550  1980-01-01 00:00:00  2023-12-01 09:15:02       0    0.0
2              40550  1980-01-01 00:00:00  2023-12-01 09:15:04       0    0.0
3              40550  1980-01-01 00:00:00  2023-12-01 09:15:14       0    0.0
4              40550  1980-01-01 00:00:00  2023-12-01 09:15:23       0    0.0
...              ...                  ...                  ...     ...    ...
116772         40914  2023-12-01 10:01:44  2023-12-01 10:01:45   36645  791.0
116773         40914  2023-12-01 10:01:50  2023-12-01 10:01:58   36720  791.0
116774         40914  2023-12-01 10:01:50  2023-12-01 10:02:01   36720  791.0
116775         40914  2023-12-01 10:01:50  2023-12-01 10:02:02   36720  791.0
116776         40914  2023-12-01 10:01:50  2023-12-01 10:02:06   36720  791.0

          high    low  prev-close      ltp     atp
0          0.0    0.0     6455.10     0.00    0.00
1          0.0    0.0     6455.10     0.00    0.00
2          0.0    0.0     6455.10     0.00    0.00
3          0.0    0.0     6455.10     0.00    0.00
4          0.0    0.0     6455.10     0.00    0.00
...        ...    ...         ...      ...     ...
116772  1226.0  790.9      785.65  1130.20  995.43
116773  1226.0  790.9      785.65  1127.45  995.71
116774  1226.0  790.9      785.65  1127.45  995.71
116775  1226.0  790.9      785.65  1127.45  995.71
116776  1226.0  790.9      785.65  1127.45  995.71

[116777 rows x 10 columns]
        token_number            timestamp           time_entry   volume  \
0              40550  1980-01-01 00:00:00  2023-12-01 09:15:02        0
1              40550  1980-01-01 00:00:00  2023-12-01 09:15:02        0
2              40550  1980-01-01 00:00:00  2023-12-01 09:15:04        0
3              40550  1980-01-01 00:00:00  2023-12-01 09:15:14        0
4              40550  1980-01-01 00:00:00  2023-12-01 09:15:23        0
...              ...                  ...                  ...      ...
116946         40915  2023-12-01 10:01:48  2023-12-01 10:01:49  2166900
116947         40915  2023-12-01 10:01:51  2023-12-01 10:01:52  2167680
116948         40915  2023-12-01 10:01:54  2023-12-01 10:01:55  2169135
116949         40915  2023-12-01 10:02:04  2023-12-01 10:02:04  2171355
116950         40915  2023-12-01 10:02:06  2023-12-01 10:02:07  2171535

         open   high    low  prev-close    ltp    atp
0        0.00    0.0   0.00     6455.10   0.00   0.00
1        0.00    0.0   0.00     6455.10   0.00   0.00
2        0.00    0.0   0.00     6455.10   0.00   0.00
3        0.00    0.0   0.00     6455.10   0.00   0.00
4        0.00    0.0   0.00     6455.10   0.00   0.00
...       ...    ...    ...         ...    ...    ...
116946  94.05  101.4  57.05      108.55  59.50  69.77
116947  94.05  101.4  57.05      108.55  60.10  69.77
116948  94.05  101.4  57.05      108.55  60.15  69.76
116949  94.05  101.4  57.05      108.55  59.85  69.75
116950  94.05  101.4  57.05      108.55  59.85  69.75

[116951 rows x 10 columns]
        token_number            timestamp           time_entry  volume   open  \
0              40550  1980-01-01 00:00:00  2023-12-01 09:15:02       0    0.0
1              40550  1980-01-01 00:00:00  2023-12-01 09:15:02       0    0.0
2              40550  1980-01-01 00:00:00  2023-12-01 09:15:04       0    0.0
3              40550  1980-01-01 00:00:00  2023-12-01 09:15:14       0    0.0
4              40550  1980-01-01 00:00:00  2023-12-01 09:15:23       0    0.0
...              ...                  ...                  ...     ...    ...
117059         40916  2023-12-01 10:01:33  2023-12-01 10:01:35  634350  750.0
117060         40916  2023-12-01 10:01:38  2023-12-01 10:01:38  635220  750.0
117061         40916  2023-12-01 10:01:46  2023-12-01 10:01:49  636345  750.0
117062         40916  2023-12-01 10:01:55  2023-12-01 10:01:58  638025  750.0
117063         40916  2023-12-01 10:02:06  2023-12-01 10:02:07  638235  750.0

          high    low  prev-close      ltp     atp
0          0.0    0.0      6455.1     0.00    0.00
1          0.0    0.0      6455.1     0.00    0.00
2          0.0    0.0      6455.1     0.00    0.00
3          0.0    0.0      6455.1     0.00    0.00
4          0.0    0.0      6455.1     0.00    0.00
...        ...    ...         ...      ...     ...
117059  1140.9  700.0       700.7  1024.95  883.91
117060  1140.9  700.0       700.7  1027.85  884.10
117061  1140.9  700.0       700.7  1039.35  884.36
117062  1140.9  700.0       700.7  1034.95  884.76
117063  1140.9  700.0       700.7  1037.45  884.81

[117064 rows x 10 columns]

        token_number            timestamp           time_entry   volume  \
0              40550  1980-01-01 00:00:00  2023-12-01 09:15:02        0
1              40550  1980-01-01 00:00:00  2023-12-01 09:15:02        0
2              40550  1980-01-01 00:00:00  2023-12-01 09:15:04        0
3              40550  1980-01-01 00:00:00  2023-12-01 09:15:14        0
4              40550  1980-01-01 00:00:00  2023-12-01 09:15:23        0
...              ...                  ...                  ...      ...
117186         40917  2023-12-01 10:01:30  2023-12-01 10:01:30  5634240
117187         40917  2023-12-01 10:01:31  2023-12-01 10:01:31  5637225
117188         40917  2023-12-01 10:01:32  2023-12-01 10:01:32  5638665
117189         40917  2023-12-01 10:01:39  2023-12-01 10:01:40  5649615
117190         40917  2023-12-01 10:01:45  2023-12-01 10:01:46  5659170

          open    high    low  prev-close    ltp    atp
0         0.00    0.00   0.00     6455.10   0.00   0.00
1         0.00    0.00   0.00     6455.10   0.00   0.00
2         0.00    0.00   0.00     6455.10   0.00   0.00
3         0.00    0.00   0.00     6455.10   0.00   0.00
4         0.00    0.00   0.00     6455.10   0.00   0.00
...        ...     ...    ...         ...    ...    ...
117186  110.95  123.35  66.25      128.05  71.00  81.80
117187  110.95  123.35  66.25      128.05  71.05  81.79
117188  110.95  123.35  66.25      128.05  71.05  81.79
117189  110.95  123.35  66.25      128.05  70.95  81.77
117190  110.95  123.35  66.25      128.05  70.20  81.75

[117191 rows x 10 columns]
        token_number            timestamp           time_entry  volume   open  \
0              40550  1980-01-01 00:00:00  2023-12-01 09:15:02       0    0.0
1              40550  1980-01-01 00:00:00  2023-12-01 09:15:02       0    0.0
2              40550  1980-01-01 00:00:00  2023-12-01 09:15:04       0    0.0
3              40550  1980-01-01 00:00:00  2023-12-01 09:15:14       0    0.0
4              40550  1980-01-01 00:00:00  2023-12-01 09:15:23       0    0.0
...              ...                  ...                  ...     ...    ...
117254         40918  2023-12-01 10:01:12  2023-12-01 10:01:18  144150  691.0
117255         40918  2023-12-01 10:01:19  2023-12-01 10:01:35  144165  691.0
117256         40918  2023-12-01 10:01:47  2023-12-01 10:01:56  144240  691.0
117257         40918  2023-12-01 10:01:47  2023-12-01 10:01:58  144240  691.0
117258         40918  2023-12-01 10:02:00  2023-12-01 10:02:03  144420  691.0

          high     low  prev-close     ltp     atp
0          0.0    0.00     6455.10    0.00    0.00
1          0.0    0.00     6455.10    0.00    0.00
2          0.0    0.00     6455.10    0.00    0.00
3          0.0    0.00     6455.10    0.00    0.00
4          0.0    0.00     6455.10    0.00    0.00
...        ...     ...         ...     ...     ...
117254  1050.9  632.85      625.05  930.00  796.49
117255  1050.9  632.85      625.05  936.25  796.51
117256  1050.9  632.85      625.05  952.00  796.59
117257  1050.9  632.85      625.05  952.00  796.59
117258  1050.9  632.85      625.05  948.50  796.77

[117259 rows x 10 columns]
        token_number            timestamp           time_entry   volume  \
0              40550  1980-01-01 00:00:00  2023-12-01 09:15:02        0
1              40550  1980-01-01 00:00:00  2023-12-01 09:15:02        0
2              40550  1980-01-01 00:00:00  2023-12-01 09:15:04        0
3              40550  1980-01-01 00:00:00  2023-12-01 09:15:14        0
4              40550  1980-01-01 00:00:00  2023-12-01 09:15:23        0
...              ...                  ...                  ...      ...
117411         40919  2023-12-01 10:01:44  2023-12-01 10:01:45  3440655
117412         40919  2023-12-01 10:01:45  2023-12-01 10:01:46  3440910
117413         40919  2023-12-01 10:01:52  2023-12-01 10:01:53  3444360
117414         40919  2023-12-01 10:01:56  2023-12-01 10:01:58  3444915
117415         40919  2023-12-01 10:02:03  2023-12-01 10:02:04  3448560

         open   high   low  prev-close    ltp    atp
0         0.0    0.0   0.0     6455.10   0.00   0.00
1         0.0    0.0   0.0     6455.10   0.00   0.00
2         0.0    0.0   0.0     6455.10   0.00   0.00
3         0.0    0.0   0.0     6455.10   0.00   0.00
4         0.0    0.0   0.0     6455.10   0.00   0.00
...       ...    ...   ...         ...    ...    ...
117411  140.6  144.9  77.6      150.95  82.10  96.04
117412  140.6  144.9  77.6      150.95  82.20  96.04
117413  140.6  144.9  77.6      150.95  83.05  96.03
117414  140.6  144.9  77.6      150.95  82.90  96.02
117415  140.6  144.9  77.6      150.95  82.00  96.01

[117416 rows x 10 columns]
        token_number            timestamp           time_entry  volume   open  \
0              40550  1980-01-01 00:00:00  2023-12-01 09:15:02       0    0.0
1              40550  1980-01-01 00:00:00  2023-12-01 09:15:02       0    0.0
2              40550  1980-01-01 00:00:00  2023-12-01 09:15:04       0    0.0
3              40550  1980-01-01 00:00:00  2023-12-01 09:15:14       0    0.0
4              40550  1980-01-01 00:00:00  2023-12-01 09:15:23       0    0.0
...              ...                  ...                  ...     ...    ...
117509         40920  2023-12-01 10:02:00  2023-12-01 10:02:01  505620  555.0
117510         40920  2023-12-01 10:02:01  2023-12-01 10:02:02  505725  555.0
117511         40920  2023-12-01 10:02:01  2023-12-01 10:02:03  505725  555.0
117512         40920  2023-12-01 10:02:05  2023-12-01 10:02:06  505740  555.0
117513         40920  2023-12-01 10:02:05  2023-12-01 10:02:07  505740  555.0

         high     low  prev-close    ltp     atp
0         0.0    0.00      6455.1    0.0    0.00
1         0.0    0.00      6455.1    0.0    0.00
2         0.0    0.00      6455.1    0.0    0.00
3         0.0    0.00      6455.1    0.0    0.00
4         0.0    0.00      6455.1    0.0    0.00
...       ...     ...         ...    ...     ...
117509  966.8  533.65       549.3  863.0  713.05
117510  966.8  533.65       549.3  865.5  713.08
117511  966.8  533.65       549.3  865.5  713.08
117512  966.8  533.65       549.3  867.2  713.09
117513  966.8  533.65       549.3  867.2  713.09

[117514 rows x 10 columns]
        token_number            timestamp           time_entry   volume  \
0              40550  1980-01-01 00:00:00  2023-12-01 09:15:02        0
1              40550  1980-01-01 00:00:00  2023-12-01 09:15:02        0
2              40550  1980-01-01 00:00:00  2023-12-01 09:15:04        0
3              40550  1980-01-01 00:00:00  2023-12-01 09:15:14        0
4              40550  1980-01-01 00:00:00  2023-12-01 09:15:23        0
...              ...                  ...                  ...      ...
117651         40921  2023-12-01 10:01:33  2023-12-01 10:01:34  4452405
117652         40921  2023-12-01 10:01:36  2023-12-01 10:01:37  4453995
117653         40921  2023-12-01 10:01:45  2023-12-01 10:01:45  4463370
117654         40921  2023-12-01 10:01:59  2023-12-01 10:02:00  4471395
117655         40921  2023-12-01 10:02:01  2023-12-01 10:02:02  4471680

         open   high    low  prev-close    ltp     atp
0         0.0    0.0   0.00     6455.10   0.00    0.00
1         0.0    0.0   0.00     6455.10   0.00    0.00
2         0.0    0.0   0.00     6455.10   0.00    0.00
3         0.0    0.0   0.00     6455.10   0.00    0.00
4         0.0    0.0   0.00     6455.10   0.00    0.00
...       ...    ...    ...         ...    ...     ...
117651  162.1  168.8  90.95      176.75  98.75  114.79
117652  162.1  168.8  90.95      176.75  98.55  114.78
117653  162.1  168.8  90.95      176.75  97.00  114.75
117654  162.1  168.8  90.95      176.75  98.00  114.72
117655  162.1  168.8  90.95      176.75  97.15  114.72

[117656 rows x 10 columns]
        token_number            timestamp           time_entry   volume  \
0              40550  1980-01-01 00:00:00  2023-12-01 09:15:02        0
1              40550  1980-01-01 00:00:00  2023-12-01 09:15:02        0
2              40550  1980-01-01 00:00:00  2023-12-01 09:15:04        0
3              40550  1980-01-01 00:00:00  2023-12-01 09:15:14        0
4              40550  1980-01-01 00:00:00  2023-12-01 09:15:23        0
...              ...                  ...                  ...      ...
117710         40922  2023-12-01 10:01:20  2023-12-01 10:01:21  1288200
117711         40922  2023-12-01 10:01:36  2023-12-01 10:01:38  1288980
117712         40922  2023-12-01 10:01:44  2023-12-01 10:01:45  1290750
117713         40922  2023-12-01 10:02:01  2023-12-01 10:02:02  1294215
117714         40922  2023-12-01 10:02:02  2023-12-01 10:02:03  1294350

          open    high     low  prev-close     ltp     atp
0         0.00    0.00    0.00     6455.10    0.00    0.00
1         0.00    0.00    0.00     6455.10    0.00    0.00
2         0.00    0.00    0.00     6455.10    0.00    0.00
3         0.00    0.00    0.00     6455.10    0.00    0.00
4         0.00    0.00    0.00     6455.10    0.00    0.00
...        ...     ...     ...         ...     ...     ...
117710  493.95  881.95  443.45      477.15  773.25  631.02
117711  493.95  881.95  443.45      477.15  771.00  631.10
117712  493.95  881.95  443.45      477.15  783.85  631.31
117713  493.95  881.95  443.45      477.15  783.45  631.71
117714  493.95  881.95  443.45      477.15  786.30  631.73

[117715 rows x 10 columns]

        token_number            timestamp           time_entry   volume  \
0              40550  1980-01-01 00:00:00  2023-12-01 09:15:02        0
1              40550  1980-01-01 00:00:00  2023-12-01 09:15:02        0
2              40550  1980-01-01 00:00:00  2023-12-01 09:15:04        0
3              40550  1980-01-01 00:00:00  2023-12-01 09:15:14        0
4              40550  1980-01-01 00:00:00  2023-12-01 09:15:23        0
...              ...                  ...                  ...      ...
117871         40925  2023-12-01 10:01:45  2023-12-01 10:01:45  3983025
117872         40925  2023-12-01 10:01:45  2023-12-01 10:01:46  3983820
117873         40925  2023-12-01 10:01:47  2023-12-01 10:01:48  3984450
117874         40925  2023-12-01 10:01:53  2023-12-01 10:01:53  3987285
117875         40925  2023-12-01 10:01:58  2023-12-01 10:01:59  3988770

          open    high    low  prev-close     ltp     atp
0         0.00    0.00    0.0     6455.10    0.00    0.00
1         0.00    0.00    0.0     6455.10    0.00    0.00
2         0.00    0.00    0.0     6455.10    0.00    0.00
3         0.00    0.00    0.0     6455.10    0.00    0.00
4         0.00    0.00    0.0     6455.10    0.00    0.00
...        ...     ...    ...         ...     ...     ...
117871  195.15  199.75  106.3      210.35  114.45  135.70
117872  195.15  199.75  106.3      210.35  114.40  135.70
117873  195.15  199.75  106.3      210.35  114.15  135.69
117874  195.15  199.75  106.3      210.35  116.00  135.68
117875  195.15  199.75  106.3      210.35  115.15  135.67

[117876 rows x 10 columns]
        token_number            timestamp           time_entry   volume  \
0              40550  1980-01-01 00:00:00  2023-12-01 09:15:02        0
1              40550  1980-01-01 00:00:00  2023-12-01 09:15:02        0
2              40550  1980-01-01 00:00:00  2023-12-01 09:15:04        0
3              40550  1980-01-01 00:00:00  2023-12-01 09:15:14        0
4              40550  1980-01-01 00:00:00  2023-12-01 09:15:23        0
...              ...                  ...                  ...      ...
117961         40926  2023-12-01 10:01:38  2023-12-01 10:01:38  2592930
117962         40926  2023-12-01 10:01:47  2023-12-01 10:01:47  2594790
117963         40926  2023-12-01 10:01:51  2023-12-01 10:01:51  2594985
117964         40926  2023-12-01 10:01:51  2023-12-01 10:01:52  2595030
117965         40926  2023-12-01 10:02:04  2023-12-01 10:02:04  2596905

         open   high     low  prev-close     ltp     atp
0         0.0    0.0    0.00      6455.1    0.00    0.00
1         0.0    0.0    0.00      6455.1    0.00    0.00
2         0.0    0.0    0.00      6455.1    0.00    0.00
3         0.0    0.0    0.00      6455.1    0.00    0.00
4         0.0    0.0    0.00      6455.1    0.00    0.00
...       ...    ...     ...         ...     ...     ...
117961  420.1  800.0  347.05       414.1  692.35  552.00
117962  420.1  800.0  347.05       414.1  704.00  552.10
117963  420.1  800.0  347.05       414.1  696.50  552.12
117964  420.1  800.0  347.05       414.1  695.05  552.12
117965  420.1  800.0  347.05       414.1  706.50  552.23

[117966 rows x 10 columns]
        token_number            timestamp           time_entry   volume  \
0              40550  1980-01-01 00:00:00  2023-12-01 09:15:02        0
1              40550  1980-01-01 00:00:00  2023-12-01 09:15:02        0
2              40550  1980-01-01 00:00:00  2023-12-01 09:15:04        0
3              40550  1980-01-01 00:00:00  2023-12-01 09:15:14        0
4              40550  1980-01-01 00:00:00  2023-12-01 09:15:23        0
...              ...                  ...                  ...      ...
118113         40927  2023-12-01 10:01:31  2023-12-01 10:01:31  4861605
118114         40927  2023-12-01 10:01:32  2023-12-01 10:01:32  4861920
118115         40927  2023-12-01 10:01:48  2023-12-01 10:01:49  4878420
118116         40927  2023-12-01 10:01:51  2023-12-01 10:01:52  4881045
118117         40927  2023-12-01 10:01:53  2023-12-01 10:01:53  4883340

          open    high     low  prev-close     ltp     atp
0         0.00    0.00    0.00     6455.10    0.00    0.00
1         0.00    0.00    0.00     6455.10    0.00    0.00
2         0.00    0.00    0.00     6455.10    0.00    0.00
3         0.00    0.00    0.00     6455.10    0.00    0.00
4         0.00    0.00    0.00     6455.10    0.00    0.00
...        ...     ...     ...         ...     ...     ...
118113  218.15  233.95  124.85      243.75  137.75  162.01
118114  218.15  233.95  124.85      243.75  137.85  162.01
118115  218.15  233.95  124.85      243.75  134.85  161.92
118116  218.15  233.95  124.85      243.75  136.40  161.90
118117  218.15  233.95  124.85      243.75  136.10  161.89

[118118 rows x 10 columns]
        token_number            timestamp           time_entry    volume  \
0              40550  1980-01-01 00:00:00  2023-12-01 09:15:02         0
1              40550  1980-01-01 00:00:00  2023-12-01 09:15:02         0
2              40550  1980-01-01 00:00:00  2023-12-01 09:15:04         0
3              40550  1980-01-01 00:00:00  2023-12-01 09:15:14         0
4              40550  1980-01-01 00:00:00  2023-12-01 09:15:23         0
...              ...                  ...                  ...       ...
118185         40928  2023-12-01 10:01:07  2023-12-01 10:01:08  10489980
118186         40928  2023-12-01 10:01:09  2023-12-01 10:01:09  10491900
118187         40928  2023-12-01 10:01:37  2023-12-01 10:01:38  10524435
118188         40928  2023-12-01 10:01:51  2023-12-01 10:01:51  10535370
118189         40928  2023-12-01 10:01:55  2023-12-01 10:01:56  10538640

         open   high     low  prev-close     ltp     atp
0         0.0    0.0    0.00      6455.1    0.00    0.00
1         0.0    0.0    0.00      6455.1    0.00    0.00
2         0.0    0.0    0.00      6455.1    0.00    0.00
3         0.0    0.0    0.00      6455.1    0.00    0.00
4         0.0    0.0    0.00      6455.1    0.00    0.00
...       ...    ...     ...         ...     ...     ...
118185  393.0  721.2  335.25       357.9  610.20  486.93
118186  393.0  721.2  335.25       357.9  614.45  486.96
118187  393.0  721.2  335.25       357.9  617.15  487.35
118188  393.0  721.2  335.25       357.9  619.75  487.49
118189  393.0  721.2  335.25       357.9  620.55  487.53

[118190 rows x 10 columns]
        token_number            timestamp           time_entry    volume  \
0              40550  1980-01-01 00:00:00  2023-12-01 09:15:02         0
1              40550  1980-01-01 00:00:00  2023-12-01 09:15:02         0
2              40550  1980-01-01 00:00:00  2023-12-01 09:15:04         0
3              40550  1980-01-01 00:00:00  2023-12-01 09:15:14         0
4              40550  1980-01-01 00:00:00  2023-12-01 09:15:23         0
...              ...                  ...                  ...       ...
118356         40929  2023-12-01 10:01:48  2023-12-01 10:01:49  10737045
118357         40929  2023-12-01 10:01:53  2023-12-01 10:01:53  10746330
118358         40929  2023-12-01 10:01:56  2023-12-01 10:01:56  10752465
118359         40929  2023-12-01 10:02:01  2023-12-01 10:02:02  10763190
118360         40929  2023-12-01 10:02:07  2023-12-01 10:02:07  10771875

         open   high     low  prev-close     ltp     atp
0         0.0    0.0    0.00     6455.10    0.00    0.00
1         0.0    0.0    0.00     6455.10    0.00    0.00
2         0.0    0.0    0.00     6455.10    0.00    0.00
3         0.0    0.0    0.00     6455.10    0.00    0.00
4         0.0    0.0    0.00     6455.10    0.00    0.00
...       ...    ...     ...         ...     ...     ...
118356  269.0  275.0  146.25      278.95  158.50  191.80
118357  269.0  275.0  146.25      278.95  160.85  191.78
118358  269.0  275.0  146.25      278.95  159.85  191.76
118359  269.0  275.0  146.25      278.95  159.10  191.73
118360  269.0  275.0  146.25      278.95  159.00  191.70

[118361 rows x 10 columns]

        token_number            timestamp           time_entry    volume  \
0              40550  1980-01-01 00:00:00  2023-12-01 09:15:02         0
1              40550  1980-01-01 00:00:00  2023-12-01 09:15:02         0
2              40550  1980-01-01 00:00:00  2023-12-01 09:15:04         0
3              40550  1980-01-01 00:00:00  2023-12-01 09:15:14         0
4              40550  1980-01-01 00:00:00  2023-12-01 09:15:23         0
...              ...                  ...                  ...       ...
118450         40930  2023-12-01 10:01:34  2023-12-01 10:01:35  13912620
118451         40930  2023-12-01 10:01:35  2023-12-01 10:01:35  13913520
118452         40930  2023-12-01 10:01:38  2023-12-01 10:01:38  13914420
118453         40930  2023-12-01 10:02:02  2023-12-01 10:02:02  13933800
118454         40930  2023-12-01 10:02:06  2023-12-01 10:02:07  13936275

          open   high    low  prev-close     ltp     atp
0         0.00    0.0    0.0      6455.1    0.00    0.00
1         0.00    0.0    0.0      6455.1    0.00    0.00
2         0.00    0.0    0.0      6455.1    0.00    0.00
3         0.00    0.0    0.0      6455.1    0.00    0.00
4         0.00    0.0    0.0      6455.1    0.00    0.00
...        ...    ...    ...         ...     ...     ...
118450  290.05  646.9  279.0       304.3  542.35  421.81
118451  290.05  646.9  279.0       304.3  541.75  421.82
118452  290.05  646.9  279.0       304.3  545.35  421.83
118453  290.05  646.9  279.0       304.3  558.00  422.01
118454  290.05  646.9  279.0       304.3  555.10  422.03

[118455 rows x 10 columns]
        token_number            timestamp           time_entry    volume  \
0              40550  1980-01-01 00:00:00  2023-12-01 09:15:02         0
1              40550  1980-01-01 00:00:00  2023-12-01 09:15:02         0
2              40550  1980-01-01 00:00:00  2023-12-01 09:15:04         0
3              40550  1980-01-01 00:00:00  2023-12-01 09:15:14         0
4              40550  1980-01-01 00:00:00  2023-12-01 09:15:23         0
...              ...                  ...                  ...       ...
118603         40940  2023-12-01 10:01:30  2023-12-01 10:01:30  11829435
118604         40940  2023-12-01 10:01:31  2023-12-01 10:01:31  11830740
118605         40940  2023-12-01 10:01:32  2023-12-01 10:01:32  11832420
118606         40940  2023-12-01 10:01:48  2023-12-01 10:01:48  11862840
118607         40940  2023-12-01 10:01:59  2023-12-01 10:01:59  11875080

         open    high     low  prev-close     ltp     atp
0         0.0    0.00    0.00     6455.10    0.00    0.00
1         0.0    0.00    0.00     6455.10    0.00    0.00
2         0.0    0.00    0.00     6455.10    0.00    0.00
3         0.0    0.00    0.00     6455.10    0.00    0.00
4         0.0    0.00    0.00     6455.10    0.00    0.00
...       ...     ...     ...         ...     ...     ...
118603  350.0  350.05  170.65      322.35  190.40  227.66
118604  350.0  350.05  170.65      322.35  190.85  227.65
118605  350.0  350.05  170.65      322.35  190.80  227.65
118606  350.0  350.05  170.65      322.35  185.95  227.55
118607  350.0  350.05  170.65      322.35  189.10  227.51

[118608 rows x 10 columns]
        token_number            timestamp           time_entry    volume  \
0              40550  1980-01-01 00:00:00  2023-12-01 09:15:02         0
1              40550  1980-01-01 00:00:00  2023-12-01 09:15:02         0
2              40550  1980-01-01 00:00:00  2023-12-01 09:15:04         0
3              40550  1980-01-01 00:00:00  2023-12-01 09:15:14         0
4              40550  1980-01-01 00:00:00  2023-12-01 09:15:23         0
...              ...                  ...                  ...       ...
118706         40941  2023-12-01 10:01:52  2023-12-01 10:01:53  17138325
118707         40941  2023-12-01 10:01:57  2023-12-01 10:01:58  17144490
118708         40941  2023-12-01 10:02:00  2023-12-01 10:02:00  17153625
118709         40941  2023-12-01 10:02:06  2023-12-01 10:02:06  17160300
118710         40941  2023-12-01 10:02:06  2023-12-01 10:02:07  17161005

         open    high    low  prev-close     ltp     atp
0         0.0    0.00    0.0     6455.10    0.00    0.00
1         0.0    0.00    0.0     6455.10    0.00    0.00
2         0.0    0.00    0.0     6455.10    0.00    0.00
3         0.0    0.00    0.0     6455.10    0.00    0.00
4         0.0    0.00    0.0     6455.10    0.00    0.00
...       ...     ...    ...         ...     ...     ...
118706  237.1  574.95  231.7      256.55  481.50  377.78
118707  237.1  574.95  231.7      256.55  483.20  377.82
118708  237.1  574.95  231.7      256.55  486.35  377.88
118709  237.1  574.95  231.7      256.55  489.80  377.92
118710  237.1  574.95  231.7      256.55  486.95  377.92

[118711 rows x 10 columns]
        token_number            timestamp           time_entry    volume  \
0              40550  1980-01-01 00:00:00  2023-12-01 09:15:02         0
1              40550  1980-01-01 00:00:00  2023-12-01 09:15:02         0
2              40550  1980-01-01 00:00:00  2023-12-01 09:15:04         0
3              40550  1980-01-01 00:00:00  2023-12-01 09:15:14         0
4              40550  1980-01-01 00:00:00  2023-12-01 09:15:23         0
...              ...                  ...                  ...       ...
118882         40951  2023-12-01 10:01:53  2023-12-01 10:01:53  12575835
118883         40951  2023-12-01 10:01:55  2023-12-01 10:01:55  12578130
118884         40951  2023-12-01 10:02:02  2023-12-01 10:02:03  12585030
118885         40951  2023-12-01 10:02:04  2023-12-01 10:02:04  12588600
118886         40951  2023-12-01 10:02:05  2023-12-01 10:02:05  12590295

         open   high     low  prev-close     ltp     atp
0         0.0    0.0    0.00     6455.10    0.00    0.00
1         0.0    0.0    0.00     6455.10    0.00    0.00
2         0.0    0.0    0.00     6455.10    0.00    0.00
3         0.0    0.0    0.00     6455.10    0.00    0.00
4         0.0    0.0    0.00     6455.10    0.00    0.00
...       ...    ...     ...         ...     ...     ...
118882  348.2  371.6  199.25      375.55  221.50  257.11
118883  348.2  371.6  199.25      375.55  220.70  257.10
118884  348.2  371.6  199.25      375.55  218.85  257.08
118885  348.2  371.6  199.25      375.55  219.30  257.07
118886  348.2  371.6  199.25      375.55  219.05  257.06

[118887 rows x 10 columns]
        token_number            timestamp           time_entry    volume  \
0              40550  1980-01-01 00:00:00  2023-12-01 09:15:02         0
1              40550  1980-01-01 00:00:00  2023-12-01 09:15:02         0
2              40550  1980-01-01 00:00:00  2023-12-01 09:15:04         0
3              40550  1980-01-01 00:00:00  2023-12-01 09:15:14         0
4              40550  1980-01-01 00:00:00  2023-12-01 09:15:23         0
...              ...                  ...                  ...       ...
119014         40976  2023-12-01 10:01:38  2023-12-01 10:01:38  16861155
119015         40976  2023-12-01 10:01:41  2023-12-01 10:01:42  16879395
119016         40976  2023-12-01 10:01:52  2023-12-01 10:01:52  16913760
119017         40976  2023-12-01 10:01:57  2023-12-01 10:01:58  16919670
119018         40976  2023-12-01 10:02:01  2023-12-01 10:02:01  16925745

         open    high     low  prev-close     ltp     atp
0         0.0    0.00    0.00      6455.1    0.00    0.00
1         0.0    0.00    0.00      6455.1    0.00    0.00
2         0.0    0.00    0.00      6455.1    0.00    0.00
3         0.0    0.00    0.00      6455.1    0.00    0.00
4         0.0    0.00    0.00      6455.1    0.00    0.00
...       ...     ...     ...         ...     ...     ...
119014  201.4  507.55  190.55       214.2  415.40  341.16
119015  201.4  507.55  190.55       214.2  418.80  341.25
119016  201.4  507.55  190.55       214.2  418.55  341.41
119017  201.4  507.55  190.55       214.2  420.20  341.44
119018  201.4  507.55  190.55       214.2  423.75  341.47

[119019 rows x 10 columns]

        token_number            timestamp           time_entry   volume  \
0              40550  1980-01-01 00:00:00  2023-12-01 09:15:02        0
1              40550  1980-01-01 00:00:00  2023-12-01 09:15:02        0
2              40550  1980-01-01 00:00:00  2023-12-01 09:15:04        0
3              40550  1980-01-01 00:00:00  2023-12-01 09:15:14        0
4              40550  1980-01-01 00:00:00  2023-12-01 09:15:23        0
...              ...                  ...                  ...      ...
119179         40977  2023-12-01 10:01:31  2023-12-01 10:01:31  9486375
119180         40977  2023-12-01 10:01:32  2023-12-01 10:01:32  9488520
119181         40977  2023-12-01 10:01:36  2023-12-01 10:01:37  9499650
119182         40977  2023-12-01 10:02:01  2023-12-01 10:02:02  9584235
119183         40977  2023-12-01 10:02:04  2023-12-01 10:02:05  9590130

          open    high    low  prev-close     ltp     atp
0         0.00    0.00    0.0      6455.1    0.00    0.00
1         0.00    0.00    0.0      6455.1    0.00    0.00
2         0.00    0.00    0.0      6455.1    0.00    0.00
3         0.00    0.00    0.0      6455.1    0.00    0.00
4         0.00    0.00    0.0      6455.1    0.00    0.00
...        ...     ...    ...         ...     ...     ...
119179  330.45  428.65  232.2       432.7  261.10  292.98
119180  330.45  428.65  232.2       432.7  261.50  292.98
119181  330.45  428.65  232.2       432.7  259.15  292.94
119182  330.45  428.65  232.2       432.7  255.60  292.62
119183  330.45  428.65  232.2       432.7  255.75  292.60

[119184 rows x 10 columns]
        token_number            timestamp           time_entry    volume  \
0              40550  1980-01-01 00:00:00  2023-12-01 09:15:02         0
1              40550  1980-01-01 00:00:00  2023-12-01 09:15:02         0
2              40550  1980-01-01 00:00:00  2023-12-01 09:15:04         0
3              40550  1980-01-01 00:00:00  2023-12-01 09:15:14         0
4              40550  1980-01-01 00:00:00  2023-12-01 09:15:23         0
...              ...                  ...                  ...       ...
119307         41009  2023-12-01 10:01:37  2023-12-01 10:01:38  12207135
119308         41009  2023-12-01 10:01:54  2023-12-01 10:01:55  12271005
119309         41009  2023-12-01 10:01:55  2023-12-01 10:01:56  12271935
119310         41009  2023-12-01 10:01:57  2023-12-01 10:01:58  12273810
119311         41009  2023-12-01 10:02:01  2023-12-01 10:02:01  12282420

         open   high     low  prev-close     ltp     atp
0         0.0    0.0    0.00     6455.10    0.00    0.00
1         0.0    0.0    0.00     6455.10    0.00    0.00
2         0.0    0.0    0.00     6455.10    0.00    0.00
3         0.0    0.0    0.00     6455.10    0.00    0.00
4         0.0    0.0    0.00     6455.10    0.00    0.00
...       ...    ...     ...         ...     ...     ...
119307  164.4  444.0  153.55      177.45  358.35  306.23
119308  164.4  444.0  153.55      177.45  361.75  306.53
119309  164.4  444.0  153.55      177.45  363.00  306.53
119310  164.4  444.0  153.55      177.45  362.55  306.54
119311  164.4  444.0  153.55      177.45  365.85  306.58

[119312 rows x 10 columns]
        token_number            timestamp           time_entry   volume  \
0              40550  1980-01-01 00:00:00  2023-12-01 09:15:02        0
1              40550  1980-01-01 00:00:00  2023-12-01 09:15:02        0
2              40550  1980-01-01 00:00:00  2023-12-01 09:15:04        0
3              40550  1980-01-01 00:00:00  2023-12-01 09:15:14        0
4              40550  1980-01-01 00:00:00  2023-12-01 09:15:23        0
...              ...                  ...                  ...      ...
119492         41010  2023-12-01 10:01:47  2023-12-01 10:01:48  4799610
119493         41010  2023-12-01 10:01:50  2023-12-01 10:01:50  4821735
119494         41010  2023-12-01 10:01:51  2023-12-01 10:01:52  4830255
119495         41010  2023-12-01 10:01:53  2023-12-01 10:01:53  4837095
119496         41010  2023-12-01 10:01:55  2023-12-01 10:01:55  4839690

          open    high    low  prev-close     ltp     atp
0         0.00    0.00    0.0     6455.10    0.00    0.00
1         0.00    0.00    0.0     6455.10    0.00    0.00
2         0.00    0.00    0.0     6455.10    0.00    0.00
3         0.00    0.00    0.0     6455.10    0.00    0.00
4         0.00    0.00    0.0     6455.10    0.00    0.00
...        ...     ...    ...         ...     ...     ...
119492  416.75  490.45  268.9      497.35  296.75  322.42
119493  416.75  490.45  268.9      497.35  298.35  322.31
119494  416.75  490.45  268.9      497.35  300.45  322.27
119495  416.75  490.45  268.9      497.35  300.50  322.24
119496  416.75  490.45  268.9      497.35  300.00  322.22

[119497 rows x 10 columns]
        token_number            timestamp           time_entry    volume  \
0              40550  1980-01-01 00:00:00  2023-12-01 09:15:02         0
1              40550  1980-01-01 00:00:00  2023-12-01 09:15:02         0
2              40550  1980-01-01 00:00:00  2023-12-01 09:15:04         0
3              40550  1980-01-01 00:00:00  2023-12-01 09:15:14         0
4              40550  1980-01-01 00:00:00  2023-12-01 09:15:23         0
...              ...                  ...                  ...       ...
119639         41011  2023-12-01 10:01:53  2023-12-01 10:01:53  18127740
119640         41011  2023-12-01 10:01:54  2023-12-01 10:01:55  18134820
119641         41011  2023-12-01 10:01:55  2023-12-01 10:01:56  18138060
119642         41011  2023-12-01 10:02:03  2023-12-01 10:02:03  18167145
119643         41011  2023-12-01 10:02:06  2023-12-01 10:02:06  18182430

          open   high    low  prev-close     ltp     atp
0         0.00    0.0    0.0      6455.1    0.00    0.00
1         0.00    0.0    0.0      6455.1    0.00    0.00
2         0.00    0.0    0.0      6455.1    0.00    0.00
3         0.00    0.0    0.0      6455.1    0.00    0.00
4         0.00    0.0    0.0      6455.1    0.00    0.00
...        ...    ...    ...         ...     ...     ...
119639  129.95  385.0  125.4       145.8  306.55  261.08
119640  129.95  385.0  125.4       145.8  308.65  261.10
119641  129.95  385.0  125.4       145.8  309.50  261.11
119642  129.95  385.0  125.4       145.8  312.55  261.19
119643  129.95  385.0  125.4       145.8  314.15  261.23

[119644 rows x 10 columns]
        token_number            timestamp           time_entry   volume  \
0              40550  1980-01-01 00:00:00  2023-12-01 09:15:02        0
1              40550  1980-01-01 00:00:00  2023-12-01 09:15:02        0
2              40550  1980-01-01 00:00:00  2023-12-01 09:15:04        0
3              40550  1980-01-01 00:00:00  2023-12-01 09:15:14        0
4              40550  1980-01-01 00:00:00  2023-12-01 09:15:23        0
...              ...                  ...                  ...      ...
119798         41012  2023-12-01 10:01:29  2023-12-01 10:01:29  5715960
119799         41012  2023-12-01 10:01:30  2023-12-01 10:01:30  5718105
119800         41012  2023-12-01 10:01:31  2023-12-01 10:01:31  5723865
119801         41012  2023-12-01 10:01:32  2023-12-01 10:01:32  5725365
119802         41012  2023-12-01 10:02:00  2023-12-01 10:02:01  5786235

         open   high    low  prev-close     ltp     atp
0         0.0    0.0    0.0      6455.1    0.00    0.00
1         0.0    0.0    0.0      6455.1    0.00    0.00
2         0.0    0.0    0.0      6455.1    0.00    0.00
3         0.0    0.0    0.0      6455.1    0.00    0.00
4         0.0    0.0    0.0      6455.1    0.00    0.00
...       ...    ...    ...         ...     ...     ...
119798  620.0  620.0  310.0       561.1  350.10  373.51
119799  620.0  620.0  310.0       561.1  350.10  373.50
119800  620.0  620.0  310.0       561.1  350.85  373.48
119801  620.0  620.0  310.0       561.1  350.75  373.47
119802  620.0  620.0  310.0       561.1  344.20  373.19

[119803 rows x 10 columns]

        token_number            timestamp           time_entry   volume  \
0              40550  1980-01-01 00:00:00  2023-12-01 09:15:02        0
1              40550  1980-01-01 00:00:00  2023-12-01 09:15:02        0
2              40550  1980-01-01 00:00:00  2023-12-01 09:15:04        0
3              40550  1980-01-01 00:00:00  2023-12-01 09:15:14        0
4              40550  1980-01-01 00:00:00  2023-12-01 09:15:23        0
...              ...                  ...                  ...      ...
119912         41013  2023-12-01 10:01:54  2023-12-01 10:01:55  7281405
119913         41013  2023-12-01 10:01:55  2023-12-01 10:01:56  7282020
119914         41013  2023-12-01 10:01:57  2023-12-01 10:01:58  7284555
119915         41013  2023-12-01 10:02:01  2023-12-01 10:02:01  7294245
119916         41013  2023-12-01 10:02:03  2023-12-01 10:02:03  7296900

          open   high     low  prev-close     ltp     atp
0         0.00    0.0    0.00      6455.1    0.00    0.00
1         0.00    0.0    0.00      6455.1    0.00    0.00
2         0.00    0.0    0.00      6455.1    0.00    0.00
3         0.00    0.0    0.00      6455.1    0.00    0.00
4         0.00    0.0    0.00      6455.1    0.00    0.00
...        ...    ...     ...         ...     ...     ...
119912  107.35  331.6  101.05       118.3  260.85  219.55
119913  107.35  331.6  101.05       118.3  262.05  219.56
119914  107.35  331.6  101.05       118.3  261.05  219.57
119915  107.35  331.6  101.05       118.3  264.50  219.63
119916  107.35  331.6  101.05       118.3  264.75  219.64

[119917 rows x 10 columns]
        token_number            timestamp           time_entry   volume  \
0              40550  1980-01-01 00:00:00  2023-12-01 09:15:02        0
1              40550  1980-01-01 00:00:00  2023-12-01 09:15:02        0
2              40550  1980-01-01 00:00:00  2023-12-01 09:15:04        0
3              40550  1980-01-01 00:00:00  2023-12-01 09:15:14        0
4              40550  1980-01-01 00:00:00  2023-12-01 09:15:23        0
...              ...                  ...                  ...      ...
120090         41014  2023-12-01 10:01:45  2023-12-01 10:01:45  1035315
120091         41014  2023-12-01 10:01:45  2023-12-01 10:01:46  1035510
120092         41014  2023-12-01 10:01:47  2023-12-01 10:01:48  1037220
120093         41014  2023-12-01 10:01:53  2023-12-01 10:01:53  1039875
120094         41014  2023-12-01 10:01:55  2023-12-01 10:01:55  1040145

          open    high     low  prev-close     ltp     atp
0         0.00    0.00    0.00     6455.10    0.00    0.00
1         0.00    0.00    0.00     6455.10    0.00    0.00
2         0.00    0.00    0.00     6455.10    0.00    0.00
3         0.00    0.00    0.00     6455.10    0.00    0.00
4         0.00    0.00    0.00     6455.10    0.00    0.00
...        ...     ...     ...         ...     ...     ...
120090  551.95  624.05  357.55      641.05  395.05  426.64
120091  551.95  624.05  357.55      641.05  395.55  426.63
120092  551.95  624.05  357.55      641.05  395.05  426.58
120093  551.95  624.05  357.55      641.05  400.95  426.51
120094  551.95  624.05  357.55      641.05  399.30  426.51

[120095 rows x 10 columns]
        token_number            timestamp           time_entry   volume  \
0              40550  1980-01-01 00:00:00  2023-12-01 09:15:02        0
1              40550  1980-01-01 00:00:00  2023-12-01 09:15:02        0
2              40550  1980-01-01 00:00:00  2023-12-01 09:15:04        0
3              40550  1980-01-01 00:00:00  2023-12-01 09:15:14        0
4              40550  1980-01-01 00:00:00  2023-12-01 09:15:23        0
...              ...                  ...                  ...      ...
120199         41023  2023-12-01 10:01:38  2023-12-01 10:01:38  7988955
120200         41023  2023-12-01 10:01:44  2023-12-01 10:01:45  8005080
120201         41023  2023-12-01 10:01:54  2023-12-01 10:01:55  8027490
120202         41023  2023-12-01 10:02:00  2023-12-01 10:02:01  8034105
120203         41023  2023-12-01 10:02:03  2023-12-01 10:02:03  8038440

         open    high    low  prev-close    ltp     atp
0         0.0    0.00   0.00     6455.10    0.0    0.00
1         0.0    0.00   0.00     6455.10    0.0    0.00
2         0.0    0.00   0.00     6455.10    0.0    0.00
3         0.0    0.00   0.00     6455.10    0.0    0.00
4         0.0    0.00   0.00     6455.10    0.0    0.00
...       ...     ...    ...         ...    ...     ...
120199  105.0  282.65  75.95       95.75  216.1  175.45
120200  105.0  282.65  75.95       95.75  222.4  175.54
120201  105.0  282.65  75.95       95.75  218.6  175.66
120202  105.0  282.65  75.95       95.75  220.7  175.70
120203  105.0  282.65  75.95       95.75  222.4  175.72

[120204 rows x 10 columns]
        token_number            timestamp           time_entry  volume   open  \
0              40550  1980-01-01 00:00:00  2023-12-01 09:15:02       0    0.0
1              40550  1980-01-01 00:00:00  2023-12-01 09:15:02       0    0.0
2              40550  1980-01-01 00:00:00  2023-12-01 09:15:04       0    0.0
3              40550  1980-01-01 00:00:00  2023-12-01 09:15:14       0    0.0
4              40550  1980-01-01 00:00:00  2023-12-01 09:15:23       0    0.0
...              ...                  ...                  ...     ...    ...
120355         41027  2023-12-01 10:01:32  2023-12-01 10:01:32  505395  625.0
120356         41027  2023-12-01 10:01:49  2023-12-01 10:01:50  509550  625.0
120357         41027  2023-12-01 10:01:50  2023-12-01 10:01:51  509745  625.0
120358         41027  2023-12-01 10:01:55  2023-12-01 10:01:56  510525  625.0
120359         41027  2023-12-01 10:02:04  2023-12-01 10:02:06  511290  625.0

         high    low  prev-close     ltp     atp
0         0.0    0.0      6455.1    0.00    0.00
1         0.0    0.0      6455.1    0.00    0.00
2         0.0    0.0      6455.1    0.00    0.00
3         0.0    0.0      6455.1    0.00    0.00
4         0.0    0.0      6455.1    0.00    0.00
...       ...    ...         ...     ...     ...
120355  705.1  409.2       712.9  462.80  480.53
120356  705.1  409.2       712.9  455.15  480.33
120357  705.1  409.2       712.9  456.05  480.32
120358  705.1  409.2       712.9  455.85  480.29
120359  705.1  409.2       712.9  454.45  480.25

[120360 rows x 10 columns]
        token_number            timestamp           time_entry   volume  open  \
0              40550  1980-01-01 00:00:00  2023-12-01 09:15:02        0   0.0
1              40550  1980-01-01 00:00:00  2023-12-01 09:15:02        0   0.0
2              40550  1980-01-01 00:00:00  2023-12-01 09:15:04        0   0.0
3              40550  1980-01-01 00:00:00  2023-12-01 09:15:14        0   0.0
4              40550  1980-01-01 00:00:00  2023-12-01 09:15:23        0   0.0
...              ...                  ...                  ...      ...   ...
120428         41030  2023-12-01 10:01:11  2023-12-01 10:01:11  7120305  92.0
120429         41030  2023-12-01 10:01:29  2023-12-01 10:01:30  7141080  92.0
120430         41030  2023-12-01 10:01:45  2023-12-01 10:01:46  7171095  92.0
120431         41030  2023-12-01 10:01:49  2023-12-01 10:01:49  7176735  92.0
120432         41030  2023-12-01 10:02:01  2023-12-01 10:02:01  7186395  92.0

          high   low  prev-close     ltp     atp
0         0.00   0.0     6455.10    0.00    0.00
1         0.00   0.0     6455.10    0.00    0.00
2         0.00   0.0     6455.10    0.00    0.00
3         0.00   0.0     6455.10    0.00    0.00
4         0.00   0.0     6455.10    0.00    0.00
...        ...   ...         ...     ...     ...
120428  238.95  61.0       76.85  176.50  143.04
120429  238.95  61.0       76.85  177.90  143.14
120430  238.95  61.0       76.85  185.15  143.30
120431  238.95  61.0       76.85  184.30  143.33
120432  238.95  61.0       76.85  184.55  143.38

[120433 rows x 10 columns]
        token_number            timestamp           time_entry  volume  \
0              40550  1980-01-01 00:00:00  2023-12-01 09:15:02       0
1              40550  1980-01-01 00:00:00  2023-12-01 09:15:02       0
2              40550  1980-01-01 00:00:00  2023-12-01 09:15:04       0
3              40550  1980-01-01 00:00:00  2023-12-01 09:15:14       0
4              40550  1980-01-01 00:00:00  2023-12-01 09:15:23       0
...              ...                  ...                  ...     ...
120598         41031  2023-12-01 10:01:44  2023-12-01 10:01:45  258780
120599         41031  2023-12-01 10:01:45  2023-12-01 10:01:46  258825
120600         41031  2023-12-01 10:01:47  2023-12-01 10:01:48  258885
120601         41031  2023-12-01 10:01:47  2023-12-01 10:01:50  258885
120602         41031  2023-12-01 10:01:52  2023-12-01 10:01:53  260040

          open    high    low  prev-close     ltp     atp
0         0.00    0.00    0.0      6455.1    0.00    0.00
1         0.00    0.00    0.0      6455.1    0.00    0.00
2         0.00    0.00    0.0      6455.1    0.00    0.00
3         0.00    0.00    0.0      6455.1    0.00    0.00
4         0.00    0.00    0.0      6455.1    0.00    0.00
...        ...     ...    ...         ...     ...     ...
120598  731.95  773.55  466.0       776.9  515.00  557.88
120599  731.95  773.55  466.0       776.9  514.55  557.87
120600  731.95  773.55  466.0       776.9  514.85  557.86
120601  731.95  773.55  466.0       776.9  514.85  557.86
120602  731.95  773.55  466.0       776.9  520.90  557.69

[120603 rows x 10 columns]

        token_number            timestamp           time_entry   volume  open  \
0              40550  1980-01-01 00:00:00  2023-12-01 09:15:02        0   0.0
1              40550  1980-01-01 00:00:00  2023-12-01 09:15:02        0   0.0
2              40550  1980-01-01 00:00:00  2023-12-01 09:15:04        0   0.0
3              40550  1980-01-01 00:00:00  2023-12-01 09:15:14        0   0.0
4              40550  1980-01-01 00:00:00  2023-12-01 09:15:23        0   0.0
...              ...                  ...                  ...      ...   ...
120697         41032  2023-12-01 10:01:35  2023-12-01 10:01:35  5706285  77.0
120698         41032  2023-12-01 10:01:38  2023-12-01 10:01:38  5711160  77.0
120699         41032  2023-12-01 10:01:45  2023-12-01 10:01:46  5720670  77.0
120700         41032  2023-12-01 10:01:49  2023-12-01 10:01:49  5723775  77.0
120701         41032  2023-12-01 10:02:06  2023-12-01 10:02:06  5740665  77.0

         high   low  prev-close     ltp     atp
0         0.0   0.0     6455.10    0.00    0.00
1         0.0   0.0     6455.10    0.00    0.00
2         0.0   0.0     6455.10    0.00    0.00
3         0.0   0.0     6455.10    0.00    0.00
4         0.0   0.0     6455.10    0.00    0.00
...       ...   ...         ...     ...     ...
120697  200.0  50.4       62.15  146.30  116.07
120698  200.0  50.4       62.15  147.85  116.10
120699  200.0  50.4       62.15  152.60  116.15
120700  200.0  50.4       62.15  152.35  116.17
120701  200.0  50.4       62.15  153.85  116.28

[120702 rows x 10 columns]
        token_number            timestamp           time_entry  volume  \
0              40550  1980-01-01 00:00:00  2023-12-01 09:15:02       0
1              40550  1980-01-01 00:00:00  2023-12-01 09:15:02       0
2              40550  1980-01-01 00:00:00  2023-12-01 09:15:04       0
3              40550  1980-01-01 00:00:00  2023-12-01 09:15:14       0
4              40550  1980-01-01 00:00:00  2023-12-01 09:15:23       0
...              ...                  ...                  ...     ...
120836         41034  2023-12-01 10:01:30  2023-12-01 10:01:31   89025
120837         41034  2023-12-01 10:01:32  2023-12-01 10:01:32   89070
120838         41034  2023-12-01 10:01:46  2023-12-01 10:01:48   89490
120839         41034  2023-12-01 10:02:00  2023-12-01 10:02:01   89640
120840         41034  2023-12-01 10:02:02  2023-12-01 10:02:05   89715

          open   high    low  prev-close     ltp     atp
0         0.00    0.0    0.0     6455.10    0.00    0.00
1         0.00    0.0    0.0     6455.10    0.00    0.00
2         0.00    0.0    0.0     6455.10    0.00    0.00
3         0.00    0.0    0.0     6455.10    0.00    0.00
4         0.00    0.0    0.0     6455.10    0.00    0.00
...        ...    ...    ...         ...     ...     ...
120836  831.45  835.5  526.2      867.05  592.85  636.34
120837  831.45  835.5  526.2      867.05  593.90  636.32
120838  831.45  835.5  526.2      867.05  583.25  636.08
120839  831.45  835.5  526.2      867.05  585.50  636.00
120840  831.45  835.5  526.2      867.05  583.70  635.95

[120841 rows x 10 columns]
        token_number            timestamp           time_entry   volume  open  \
0              40550  1980-01-01 00:00:00  2023-12-01 09:15:02        0   0.0
1              40550  1980-01-01 00:00:00  2023-12-01 09:15:02        0   0.0
2              40550  1980-01-01 00:00:00  2023-12-01 09:15:04        0   0.0
3              40550  1980-01-01 00:00:00  2023-12-01 09:15:14        0   0.0
4              40550  1980-01-01 00:00:00  2023-12-01 09:15:23        0   0.0
...              ...                  ...                  ...      ...   ...
120888         41035  2023-12-01 10:01:31  2023-12-01 10:01:32  8843040  64.9
120889         41035  2023-12-01 10:01:52  2023-12-01 10:01:52  8891865  64.9
120890         41035  2023-12-01 10:01:53  2023-12-01 10:01:54  8895330  64.9
120891         41035  2023-12-01 10:01:57  2023-12-01 10:01:58  8902905  64.9
120892         41035  2023-12-01 10:02:04  2023-12-01 10:02:04  8917350  64.9

         high   low  prev-close     ltp    atp
0         0.0   0.0     6455.10    0.00   0.00
1         0.0   0.0     6455.10    0.00   0.00
2         0.0   0.0     6455.10    0.00   0.00
3         0.0   0.0     6455.10    0.00   0.00
4         0.0   0.0     6455.10    0.00   0.00
...       ...   ...         ...     ...    ...
120888  166.5  40.5       50.45  119.75  94.63
120889  166.5  40.5       50.45  122.05  94.79
120890  166.5  40.5       50.45  122.10  94.80
120891  166.5  40.5       50.45  123.00  94.82
120892  166.5  40.5       50.45  126.10  94.87

[120893 rows x 10 columns]
        token_number            timestamp           time_entry  volume  \
0              40550  1980-01-01 00:00:00  2023-12-01 09:15:02       0
1              40550  1980-01-01 00:00:00  2023-12-01 09:15:02       0
2              40550  1980-01-01 00:00:00  2023-12-01 09:15:04       0
3              40550  1980-01-01 00:00:00  2023-12-01 09:15:14       0
4              40550  1980-01-01 00:00:00  2023-12-01 09:15:23       0
...              ...                  ...                  ...     ...
121051         41037  2023-12-01 10:01:41  2023-12-01 10:01:42  177225
121052         41037  2023-12-01 10:01:44  2023-12-01 10:01:45  177810
121053         41037  2023-12-01 10:01:45  2023-12-01 10:01:46  177840
121054         41037  2023-12-01 10:01:49  2023-12-01 10:01:50  177930
121055         41037  2023-12-01 10:01:51  2023-12-01 10:01:53  178230

          open    high    low  prev-close     ltp     atp
0         0.00    0.00    0.0      6455.1    0.00    0.00
1         0.00    0.00    0.0      6455.1    0.00    0.00
2         0.00    0.00    0.0      6455.1    0.00    0.00
3         0.00    0.00    0.0      6455.1    0.00    0.00
4         0.00    0.00    0.0      6455.1    0.00    0.00
...        ...     ...    ...         ...     ...     ...
121051  863.25  953.35  592.3       961.4  663.50  705.18
121052  863.25  953.35  592.3       961.4  654.20  705.02
121053  863.25  953.35  592.3       961.4  652.95  705.01
121054  863.25  953.35  592.3       961.4  657.25  704.98
121055  863.25  953.35  592.3       961.4  660.40  704.91

[121056 rows x 10 columns]
        token_number            timestamp           time_entry   volume  open  \
0              40550  1980-01-01 00:00:00  2023-12-01 09:15:02        0   0.0
1              40550  1980-01-01 00:00:00  2023-12-01 09:15:02        0   0.0
2              40550  1980-01-01 00:00:00  2023-12-01 09:15:04        0   0.0
3              40550  1980-01-01 00:00:00  2023-12-01 09:15:14        0   0.0
4              40550  1980-01-01 00:00:00  2023-12-01 09:15:23        0   0.0
...              ...                  ...                  ...      ...   ...
121140         41038  2023-12-01 10:01:34  2023-12-01 10:01:35  4386885  43.0
121141         41038  2023-12-01 10:01:35  2023-12-01 10:01:35  4387530  43.0
121142         41038  2023-12-01 10:01:38  2023-12-01 10:01:38  4388340  43.0
121143         41038  2023-12-01 10:01:48  2023-12-01 10:01:48  4399515  43.0
121144         41038  2023-12-01 10:02:03  2023-12-01 10:02:03  4412085  43.0

         high    low  prev-close     ltp    atp
0         0.0   0.00      6455.1    0.00   0.00
1         0.0   0.00      6455.1    0.00   0.00
2         0.0   0.00      6455.1    0.00   0.00
3         0.0   0.00      6455.1    0.00   0.00
4         0.0   0.00      6455.1    0.00   0.00
...       ...    ...         ...     ...    ...
121140  137.1  35.25        40.0   97.25  77.47
121141  137.1  35.25        40.0   97.20  77.47
121142  137.1  35.25        40.0   98.50  77.48
121143  137.1  35.25        40.0  102.50  77.53
121144  137.1  35.25        40.0  102.40  77.60

[121145 rows x 10 columns]
        token_number            timestamp           time_entry  volume  \
0              40550  1980-01-01 00:00:00  2023-12-01 09:15:02       0
1              40550  1980-01-01 00:00:00  2023-12-01 09:15:02       0
2              40550  1980-01-01 00:00:00  2023-12-01 09:15:04       0
3              40550  1980-01-01 00:00:00  2023-12-01 09:15:14       0
4              40550  1980-01-01 00:00:00  2023-12-01 09:15:23       0
...              ...                  ...                  ...     ...
121295         41039  2023-12-01 10:01:26  2023-12-01 10:01:29   47445
121296         41039  2023-12-01 10:01:31  2023-12-01 10:01:31   47490
121297         41039  2023-12-01 10:01:31  2023-12-01 10:01:34   47490
121298         41039  2023-12-01 10:01:36  2023-12-01 10:01:40   47550
121299         41039  2023-12-01 10:01:48  2023-12-01 10:01:50   47625

           open     high     low  prev-close     ltp     atp
0          0.00     0.00    0.00      6455.1    0.00    0.00
1          0.00     0.00    0.00      6455.1    0.00    0.00
2          0.00     0.00    0.00      6455.1    0.00    0.00
3          0.00     0.00    0.00      6455.1    0.00    0.00
4          0.00     0.00    0.00      6455.1    0.00    0.00
...         ...      ...     ...         ...     ...     ...
121295  1013.15  1013.15  665.45      1058.8  741.25  784.68
121296  1013.15  1013.15  665.45      1058.8  743.35  784.64
121297  1013.15  1013.15  665.45      1058.8  743.35  784.64
121298  1013.15  1013.15  665.45      1058.8  744.15  784.59
121299  1013.15  1013.15  665.45      1058.8  732.50  784.51

[121300 rows x 10 columns]

        token_number            timestamp           time_entry   volume  open  \
0              40550  1980-01-01 00:00:00  2023-12-01 09:15:02        0   0.0
1              40550  1980-01-01 00:00:00  2023-12-01 09:15:02        0   0.0
2              40550  1980-01-01 00:00:00  2023-12-01 09:15:04        0   0.0
3              40550  1980-01-01 00:00:00  2023-12-01 09:15:14        0   0.0
4              40550  1980-01-01 00:00:00  2023-12-01 09:15:23        0   0.0
...              ...                  ...                  ...      ...   ...
121354         41040  2023-12-01 10:00:46  2023-12-01 10:00:46  3982875  34.7
121355         41040  2023-12-01 10:01:02  2023-12-01 10:01:02  4018785  34.7
121356         41040  2023-12-01 10:01:34  2023-12-01 10:01:35  4055700  34.7
121357         41040  2023-12-01 10:01:48  2023-12-01 10:01:48  4072380  34.7
121358         41040  2023-12-01 10:01:49  2023-12-01 10:01:50  4073520  34.7

         high   low  prev-close    ltp    atp
0         0.0   0.0     6455.10   0.00   0.00
1         0.0   0.0     6455.10   0.00   0.00
2         0.0   0.0     6455.10   0.00   0.00
3         0.0   0.0     6455.10   0.00   0.00
4         0.0   0.0     6455.10   0.00   0.00
...       ...   ...         ...    ...    ...
121354  112.2  30.7       32.65  81.05  64.25
121355  112.2  30.7       32.65  75.70  64.37
121356  112.2  30.7       32.65  78.60  64.49
121357  112.2  30.7       32.65  82.90  64.55
121358  112.2  30.7       32.65  81.80  64.56

[121359 rows x 10 columns]
        token_number            timestamp           time_entry  volume  \
0              40550  1980-01-01 00:00:00  2023-12-01 09:15:02       0
1              40550  1980-01-01 00:00:00  2023-12-01 09:15:02       0
2              40550  1980-01-01 00:00:00  2023-12-01 09:15:04       0
3              40550  1980-01-01 00:00:00  2023-12-01 09:15:14       0
4              40550  1980-01-01 00:00:00  2023-12-01 09:15:23       0
...              ...                  ...                  ...     ...
121497         41044  2023-12-01 10:01:20  2023-12-01 10:01:39   28020
121498         41044  2023-12-01 10:01:20  2023-12-01 10:01:39   28020
121499         41044  2023-12-01 10:01:20  2023-12-01 10:01:42   28020
121500         41044  2023-12-01 10:01:20  2023-12-01 10:01:42   28020
121501         41044  2023-12-01 10:01:20  2023-12-01 10:01:50   28020

           open     high     low  prev-close    ltp     atp
0          0.00     0.00    0.00      6455.1    0.0    0.00
1          0.00     0.00    0.00      6455.1    0.0    0.00
2          0.00     0.00    0.00      6455.1    0.0    0.00
3          0.00     0.00    0.00      6455.1    0.0    0.00
4          0.00     0.00    0.00      6455.1    0.0    0.00
...         ...      ...     ...         ...    ...     ...
121497  1075.55  1109.15  745.75      1157.2  821.9  934.53
121498  1075.55  1109.15  745.75      1157.2  821.9  934.53
121499  1075.55  1109.15  745.75      1157.2  821.9  934.53
121500  1075.55  1109.15  745.75      1157.2  821.9  934.53
121501  1075.55  1109.15  745.75      1157.2  821.9  934.53

[121502 rows x 10 columns]
        token_number            timestamp           time_entry   volume  open  \
0              40550  1980-01-01 00:00:00  2023-12-01 09:15:02        0   0.0
1              40550  1980-01-01 00:00:00  2023-12-01 09:15:02        0   0.0
2              40550  1980-01-01 00:00:00  2023-12-01 09:15:04        0   0.0
3              40550  1980-01-01 00:00:00  2023-12-01 09:15:14        0   0.0
4              40550  1980-01-01 00:00:00  2023-12-01 09:15:23        0   0.0
...              ...                  ...                  ...      ...   ...
121639         41045  2023-12-01 10:01:35  2023-12-01 10:01:35  4919280  28.5
121640         41045  2023-12-01 10:01:37  2023-12-01 10:01:38  4922160  28.5
121641         41045  2023-12-01 10:01:54  2023-12-01 10:01:55  4944105  28.5
121642         41045  2023-12-01 10:01:55  2023-12-01 10:01:56  4944600  28.5
121643         41045  2023-12-01 10:02:01  2023-12-01 10:02:01  4947300  28.5

         high    low  prev-close    ltp    atp
0        0.00   0.00      6455.1   0.00   0.00
1        0.00   0.00      6455.1   0.00   0.00
2        0.00   0.00      6455.1   0.00   0.00
3        0.00   0.00      6455.1   0.00   0.00
4        0.00   0.00      6455.1   0.00   0.00
...       ...    ...         ...    ...    ...
121639  90.75  24.45        26.9  62.85  48.87
121640  90.75  24.45        26.9  63.70  48.88
121641  90.75  24.45        26.9  64.80  48.95
121642  90.75  24.45        26.9  65.00  48.96
121643  90.75  24.45        26.9  66.25  48.96

[121644 rows x 10 columns]
        token_number            timestamp           time_entry  volume  \
0              40550  1980-01-01 00:00:00  2023-12-01 09:15:02       0
1              40550  1980-01-01 00:00:00  2023-12-01 09:15:02       0
2              40550  1980-01-01 00:00:00  2023-12-01 09:15:04       0
3              40550  1980-01-01 00:00:00  2023-12-01 09:15:14       0
4              40550  1980-01-01 00:00:00  2023-12-01 09:15:23       0
...              ...                  ...                  ...     ...
121757         41046  2023-12-01 10:00:49  2023-12-01 10:01:28   10140
121758         41046  2023-12-01 10:00:49  2023-12-01 10:01:28   10140
121759         41046  2023-12-01 10:01:43  2023-12-01 10:01:45   10155
121760         41046  2023-12-01 10:01:55  2023-12-01 10:01:56   10185
121761         41046  2023-12-01 10:01:55  2023-12-01 10:02:00   10185

           open     high     low  prev-close    ltp     atp
0          0.00     0.00    0.00      6455.1    0.0    0.00
1          0.00     0.00    0.00      6455.1    0.0    0.00
2          0.00     0.00    0.00      6455.1    0.0    0.00
3          0.00     0.00    0.00      6455.1    0.0    0.00
4          0.00     0.00    0.00      6455.1    0.0    0.00
...         ...      ...     ...         ...    ...     ...
121757  1148.25  1148.25  824.15      1220.6  904.3  915.82
121758  1148.25  1148.25  824.15      1220.6  904.3  915.82
121759  1148.25  1148.25  824.15      1220.6  898.0  915.79
121760  1148.25  1148.25  824.15      1220.6  901.2  915.75
121761  1148.25  1148.25  824.15      1220.6  901.2  915.75

[121762 rows x 10 columns]
        token_number            timestamp           time_entry   volume  open  \
0              40550  1980-01-01 00:00:00  2023-12-01 09:15:02        0   0.0
1              40550  1980-01-01 00:00:00  2023-12-01 09:15:02        0   0.0
2              40550  1980-01-01 00:00:00  2023-12-01 09:15:04        0   0.0
3              40550  1980-01-01 00:00:00  2023-12-01 09:15:14        0   0.0
4              40550  1980-01-01 00:00:00  2023-12-01 09:15:23        0   0.0
...              ...                  ...                  ...      ...   ...
121868         41048  2023-12-01 10:01:54  2023-12-01 10:01:55  3694500  18.9
121869         41048  2023-12-01 10:01:55  2023-12-01 10:01:56  3695040  18.9
121870         41048  2023-12-01 10:01:57  2023-12-01 10:01:58  3695955  18.9
121871         41048  2023-12-01 10:02:01  2023-12-01 10:02:01  3701220  18.9
121872         41048  2023-12-01 10:02:05  2023-12-01 10:02:06  3706200  18.9

         high   low  prev-close   ltp    atp
0        0.00   0.0     6455.10   0.0   0.00
1        0.00   0.0     6455.10   0.0   0.00
2        0.00   0.0     6455.10   0.0   0.00
3        0.00   0.0     6455.10   0.0   0.00
4        0.00   0.0     6455.10   0.0   0.00
...       ...   ...         ...   ...    ...
121868  73.95  17.7       21.75  52.4  41.06
121869  73.95  17.7       21.75  52.7  41.06
121870  73.95  17.7       21.75  52.8  41.07
121871  73.95  17.7       21.75  53.7  41.08
121872  73.95  17.7       21.75  54.3  41.10

[121873 rows x 10 columns]
        token_number            timestamp           time_entry  volume  \
0              40550  1980-01-01 00:00:00  2023-12-01 09:15:02       0
1              40550  1980-01-01 00:00:00  2023-12-01 09:15:02       0
2              40550  1980-01-01 00:00:00  2023-12-01 09:15:04       0
3              40550  1980-01-01 00:00:00  2023-12-01 09:15:14       0
4              40550  1980-01-01 00:00:00  2023-12-01 09:15:23       0
...              ...                  ...                  ...     ...
121996         41049  2023-12-01 10:01:29  2023-12-01 10:01:39    2910
121997         41049  2023-12-01 10:01:29  2023-12-01 10:01:39    2910
121998         41049  2023-12-01 10:01:29  2023-12-01 10:01:42    2910
121999         41049  2023-12-01 10:01:29  2023-12-01 10:01:42    2910
122000         41049  2023-12-01 10:01:29  2023-12-01 10:02:04    2910

           open     high    low  prev-close    ltp      atp
0          0.00     0.00    0.0      6455.1    0.0     0.00
1          0.00     0.00    0.0      6455.1    0.0     0.00
2          0.00     0.00    0.0      6455.1    0.0     0.00
3          0.00     0.00    0.0      6455.1    0.0     0.00
4          0.00     0.00    0.0      6455.1    0.0     0.00
...         ...      ...    ...         ...    ...      ...
121996  1250.05  1250.05  912.8      1318.1  999.2  1047.34
121997  1250.05  1250.05  912.8      1318.1  999.2  1047.34
121998  1250.05  1250.05  912.8      1318.1  999.2  1047.34
121999  1250.05  1250.05  912.8      1318.1  999.2  1047.34
122000  1250.05  1250.05  912.8      1318.1  999.2  1047.34

[122001 rows x 10 columns]

        token_number            timestamp           time_entry   volume  open  \
0              40550  1980-01-01 00:00:00  2023-12-01 09:15:02        0   0.0
1              40550  1980-01-01 00:00:00  2023-12-01 09:15:02        0   0.0
2              40550  1980-01-01 00:00:00  2023-12-01 09:15:04        0   0.0
3              40550  1980-01-01 00:00:00  2023-12-01 09:15:14        0   0.0
4              40550  1980-01-01 00:00:00  2023-12-01 09:15:23        0   0.0
...              ...                  ...                  ...      ...   ...
122108         41050  2023-12-01 10:01:38  2023-12-01 10:01:38  8173830  15.9
122109         41050  2023-12-01 10:01:48  2023-12-01 10:01:48  8200830  15.9
122110         41050  2023-12-01 10:01:49  2023-12-01 10:01:49  8201160  15.9
122111         41050  2023-12-01 10:02:00  2023-12-01 10:02:01  8217075  15.9
122112         41050  2023-12-01 10:02:06  2023-12-01 10:02:07  8234805  15.9

        high   low  prev-close    ltp    atp
0        0.0   0.0      6455.1   0.00   0.00
1        0.0   0.0      6455.1   0.00   0.00
2        0.0   0.0      6455.1   0.00   0.00
3        0.0   0.0      6455.1   0.00   0.00
4        0.0   0.0      6455.1   0.00   0.00
...      ...   ...         ...    ...    ...
122108  59.8  15.1        18.5  41.45  33.40
122109  59.8  15.1        18.5  43.65  33.44
122110  59.8  15.1        18.5  43.35  33.44
122111  59.8  15.1        18.5  43.25  33.45
122112  59.8  15.1        18.5  43.35  33.47

[122113 rows x 10 columns]
        token_number            timestamp           time_entry  volume  \
0              40550  1980-01-01 00:00:00  2023-12-01 09:15:02       0
1              40550  1980-01-01 00:00:00  2023-12-01 09:15:02       0
2              40550  1980-01-01 00:00:00  2023-12-01 09:15:04       0
3              40550  1980-01-01 00:00:00  2023-12-01 09:15:14       0
4              40550  1980-01-01 00:00:00  2023-12-01 09:15:23       0
...              ...                  ...                  ...     ...
122232         41052  2023-12-01 10:01:30  2023-12-01 10:01:30   27810
122233         41052  2023-12-01 10:01:30  2023-12-01 10:01:31   27810
122234         41052  2023-12-01 10:01:49  2023-12-01 10:01:56   27990
122235         41052  2023-12-01 10:01:59  2023-12-01 10:02:02   28005
122236         41052  2023-12-01 10:01:59  2023-12-01 10:02:05   28005

          open    high     low  prev-close     ltp      atp
0          0.0     0.0    0.00     6455.10     0.0     0.00
1          0.0     0.0    0.00     6455.10     0.0     0.00
2          0.0     0.0    0.00     6455.10     0.0     0.00
3          0.0     0.0    0.00     6455.10     0.0     0.00
4          0.0     0.0    0.00     6455.10     0.0     0.00
...        ...     ...     ...         ...     ...      ...
122232  1378.9  1416.5  986.45     1433.95  1084.5  1149.85
122233  1378.9  1416.5  986.45     1433.95  1084.5  1149.85
122234  1378.9  1416.5  986.45     1433.95  1072.0  1149.35
122235  1378.9  1416.5  986.45     1433.95  1080.0  1149.31
122236  1378.9  1416.5  986.45     1433.95  1080.0  1149.31

[122237 rows x 10 columns]
        token_number            timestamp           time_entry   volume  open  \
0              40550  1980-01-01 00:00:00  2023-12-01 09:15:02        0   0.0
1              40550  1980-01-01 00:00:00  2023-12-01 09:15:02        0   0.0
2              40550  1980-01-01 00:00:00  2023-12-01 09:15:04        0   0.0
3              40550  1980-01-01 00:00:00  2023-12-01 09:15:14        0   0.0
4              40550  1980-01-01 00:00:00  2023-12-01 09:15:23        0   0.0
...              ...                  ...                  ...      ...   ...
122306         41054  2023-12-01 10:01:26  2023-12-01 10:01:27  4000335  13.1
122307         41054  2023-12-01 10:01:48  2023-12-01 10:01:48  4033485  13.1
122308         41054  2023-12-01 10:02:01  2023-12-01 10:02:01  4048080  13.1
122309         41054  2023-12-01 10:02:04  2023-12-01 10:02:04  4049925  13.1
122310         41054  2023-12-01 10:02:06  2023-12-01 10:02:07  4050435  13.1

        high   low  prev-close    ltp    atp
0        0.0   0.0      6455.1   0.00   0.00
1        0.0   0.0      6455.1   0.00   0.00
2        0.0   0.0      6455.1   0.00   0.00
3        0.0   0.0      6455.1   0.00   0.00
4        0.0   0.0      6455.1   0.00   0.00
...      ...   ...         ...    ...    ...
122306  48.0  12.4        15.2  33.00  26.53
122307  48.0  12.4        15.2  35.00  26.60
122308  48.0  12.4        15.2  34.80  26.62
122309  48.0  12.4        15.2  35.45  26.63
122310  48.0  12.4        15.2  34.95  26.63

[122311 rows x 10 columns]
        token_number            timestamp           time_entry  volume  \
0              40550  1980-01-01 00:00:00  2023-12-01 09:15:02       0
1              40550  1980-01-01 00:00:00  2023-12-01 09:15:02       0
2              40550  1980-01-01 00:00:00  2023-12-01 09:15:04       0
3              40550  1980-01-01 00:00:00  2023-12-01 09:15:14       0
4              40550  1980-01-01 00:00:00  2023-12-01 09:15:23       0
...              ...                  ...                  ...     ...
122444         41055  2023-12-01 09:59:00  2023-12-01 10:01:36     360
122445         41055  2023-12-01 09:59:00  2023-12-01 10:01:39     360
122446         41055  2023-12-01 09:59:00  2023-12-01 10:01:46     360
122447         41055  2023-12-01 09:59:00  2023-12-01 10:01:55     360
122448         41055  2023-12-01 09:59:00  2023-12-01 10:02:05     360

          open    high     low  prev-close      ltp      atp
0          0.0     0.0     0.0     6455.10     0.00     0.00
1          0.0     0.0     0.0     6455.10     0.00     0.00
2          0.0     0.0     0.0     6455.10     0.00     0.00
3          0.0     0.0     0.0     6455.10     0.00     0.00
4          0.0     0.0     0.0     6455.10     0.00     0.00
...        ...     ...     ...         ...      ...      ...
122444  1436.5  1436.5  1130.0     1598.75  1142.45  1223.17
122445  1436.5  1436.5  1130.0     1598.75  1142.45  1223.17
122446  1436.5  1436.5  1130.0     1598.75  1142.45  1223.17
122447  1436.5  1436.5  1130.0     1598.75  1142.45  1223.17
122448  1436.5  1436.5  1130.0     1598.75  1142.45  1223.17

[122449 rows x 10 columns]
        token_number            timestamp           time_entry   volume  open  \
0              40550  1980-01-01 00:00:00  2023-12-01 09:15:02        0   0.0
1              40550  1980-01-01 00:00:00  2023-12-01 09:15:02        0   0.0
2              40550  1980-01-01 00:00:00  2023-12-01 09:15:04        0   0.0
3              40550  1980-01-01 00:00:00  2023-12-01 09:15:14        0   0.0
4              40550  1980-01-01 00:00:00  2023-12-01 09:15:23        0   0.0
...              ...                  ...                  ...      ...   ...
122521         41059  2023-12-01 10:01:34  2023-12-01 10:01:35  4157490  11.7
122522         41059  2023-12-01 10:01:35  2023-12-01 10:01:35  4157610  11.7
122523         41059  2023-12-01 10:01:38  2023-12-01 10:01:38  4160895  11.7
122524         41059  2023-12-01 10:01:47  2023-12-01 10:01:47  4178115  11.7
122525         41059  2023-12-01 10:01:57  2023-12-01 10:01:58  4182885  11.7

        high   low  prev-close    ltp    atp
0        0.0   0.0     6455.10   0.00   0.00
1        0.0   0.0     6455.10   0.00   0.00
2        0.0   0.0     6455.10   0.00   0.00
3        0.0   0.0     6455.10   0.00   0.00
4        0.0   0.0     6455.10   0.00   0.00
...      ...   ...         ...    ...    ...
122521  38.6  10.8       12.55  26.75  22.38
122522  38.6  10.8       12.55  26.65  22.38
122523  38.6  10.8       12.55  26.95  22.39
122524  38.6  10.8       12.55  28.25  22.41
122525  38.6  10.8       12.55  27.80  22.42

[122526 rows x 10 columns]
        token_number            timestamp           time_entry  volume  \
0              40550  1980-01-01 00:00:00  2023-12-01 09:15:02       0
1              40550  1980-01-01 00:00:00  2023-12-01 09:15:02       0
2              40550  1980-01-01 00:00:00  2023-12-01 09:15:04       0
3              40550  1980-01-01 00:00:00  2023-12-01 09:15:14       0
4              40550  1980-01-01 00:00:00  2023-12-01 09:15:23       0
...              ...                  ...                  ...     ...
122615         41060  2023-12-01 09:51:05  2023-12-01 10:01:22      30
122616         41060  2023-12-01 09:51:05  2023-12-01 10:01:23      30
122617         41060  2023-12-01 09:51:05  2023-12-01 10:01:40      30
122618         41060  2023-12-01 09:51:05  2023-12-01 10:01:51      30
122619         41060  2023-12-01 09:51:05  2023-12-01 10:01:59      30

          open    high      low  prev-close      ltp      atp
0          0.0     0.0     0.00      6455.1     0.00     0.00
1          0.0     0.0     0.00      6455.1     0.00     0.00
2          0.0     0.0     0.00      6455.1     0.00     0.00
3          0.0     0.0     0.00      6455.1     0.00     0.00
4          0.0     0.0     0.00      6455.1     0.00     0.00
...        ...     ...      ...         ...      ...      ...
122615  1321.1  1321.1  1191.65      1790.9  1191.65  1256.37
122616  1321.1  1321.1  1191.65      1790.9  1191.65  1256.37
122617  1321.1  1321.1  1191.65      1790.9  1191.65  1256.37
122618  1321.1  1321.1  1191.65      1790.9  1191.65  1256.37
122619  1321.1  1321.1  1191.65      1790.9  1191.65  1256.37

[122620 rows x 10 columns]

        token_number            timestamp           time_entry   volume  open  \
0              40550  1980-01-01 00:00:00  2023-12-01 09:15:02        0  0.00
1              40550  1980-01-01 00:00:00  2023-12-01 09:15:02        0  0.00
2              40550  1980-01-01 00:00:00  2023-12-01 09:15:04        0  0.00
3              40550  1980-01-01 00:00:00  2023-12-01 09:15:14        0  0.00
4              40550  1980-01-01 00:00:00  2023-12-01 09:15:23        0  0.00
...              ...                  ...                  ...      ...   ...
122670         41061  2023-12-01 10:01:05  2023-12-01 10:01:06  4199580  9.25
122671         41061  2023-12-01 10:01:12  2023-12-01 10:01:13  4207170  9.25
122672         41061  2023-12-01 10:01:29  2023-12-01 10:01:30  4212285  9.25
122673         41061  2023-12-01 10:01:43  2023-12-01 10:01:44  4220520  9.25
122674         41061  2023-12-01 10:01:47  2023-12-01 10:01:47  4224855  9.25

         high   low  prev-close    ltp    atp
0        0.00  0.00     6455.10   0.00   0.00
1        0.00  0.00     6455.10   0.00   0.00
2        0.00  0.00     6455.10   0.00   0.00
3        0.00  0.00     6455.10   0.00   0.00
4        0.00  0.00     6455.10   0.00   0.00
...       ...   ...         ...    ...    ...
122670  31.05  7.65       10.65  20.70  16.99
122671  31.05  7.65       10.65  20.85  17.00
122672  31.05  7.65       10.65  21.80  17.00
122673  31.05  7.65       10.65  22.70  17.01
122674  31.05  7.65       10.65  22.85  17.02

[122675 rows x 10 columns]
        token_number            timestamp           time_entry  volume  open  \
0              40550  1980-01-01 00:00:00  2023-12-01 09:15:02       0   0.0
1              40550  1980-01-01 00:00:00  2023-12-01 09:15:02       0   0.0
2              40550  1980-01-01 00:00:00  2023-12-01 09:15:04       0   0.0
3              40550  1980-01-01 00:00:00  2023-12-01 09:15:14       0   0.0
4              40550  1980-01-01 00:00:00  2023-12-01 09:15:23       0   0.0
...              ...                  ...                  ...     ...   ...
122701         41062  2023-11-30 15:06:41  2023-12-01 10:01:20       0   0.0
122702         41062  2023-11-30 15:06:41  2023-12-01 10:01:44       0   0.0
122703         41062  2023-11-30 15:06:41  2023-12-01 10:01:51       0   0.0
122704         41062  2023-11-30 15:06:41  2023-12-01 10:01:53       0   0.0
122705         41062  2023-11-30 15:06:41  2023-12-01 10:02:00       0   0.0

        high  low  prev-close     ltp  atp
0        0.0  0.0      6455.1     0.0  0.0
1        0.0  0.0      6455.1     0.0  0.0
2        0.0  0.0      6455.1     0.0  0.0
3        0.0  0.0      6455.1     0.0  0.0
4        0.0  0.0      6455.1     0.0  0.0
...      ...  ...         ...     ...  ...
122701   0.0  0.0      1735.1  1735.1  0.0
122702   0.0  0.0      1735.1  1735.1  0.0
122703   0.0  0.0      1735.1  1735.1  0.0
122704   0.0  0.0      1735.1  1735.1  0.0
122705   0.0  0.0      1735.1  1735.1  0.0

[122706 rows x 10 columns]
        token_number            timestamp           time_entry   volume  open  \
0              40550  1980-01-01 00:00:00  2023-12-01 09:15:02        0   0.0
1              40550  1980-01-01 00:00:00  2023-12-01 09:15:02        0   0.0
2              40550  1980-01-01 00:00:00  2023-12-01 09:15:04        0   0.0
3              40550  1980-01-01 00:00:00  2023-12-01 09:15:14        0   0.0
4              40550  1980-01-01 00:00:00  2023-12-01 09:15:23        0   0.0
...              ...                  ...                  ...      ...   ...
122780         41063  2023-12-01 10:01:38  2023-12-01 10:01:38  3541710   8.0
122781         41063  2023-12-01 10:01:44  2023-12-01 10:01:45  3546840   8.0
122782         41063  2023-12-01 10:01:50  2023-12-01 10:01:50  3553245   8.0
122783         41063  2023-12-01 10:01:53  2023-12-01 10:01:53  3554835   8.0
122784         41063  2023-12-01 10:02:06  2023-12-01 10:02:07  3557430   8.0

         high   low  prev-close    ltp    atp
0        0.00  0.00      6455.1   0.00   0.00
1        0.00  0.00      6455.1   0.00   0.00
2        0.00  0.00      6455.1   0.00   0.00
3        0.00  0.00      6455.1   0.00   0.00
4        0.00  0.00      6455.1   0.00   0.00
...       ...   ...         ...    ...    ...
122780  24.95  7.25         9.2  17.70  13.96
122781  24.95  7.25         9.2  18.40  13.96
122782  24.95  7.25         9.2  18.35  13.97
122783  24.95  7.25         9.2  17.90  13.97
122784  24.95  7.25         9.2  18.55  13.97

[122785 rows x 10 columns]
        token_number            timestamp           time_entry  volume  open  \
0              40550  1980-01-01 00:00:00  2023-12-01 09:15:02       0   0.0
1              40550  1980-01-01 00:00:00  2023-12-01 09:15:02       0   0.0
2              40550  1980-01-01 00:00:00  2023-12-01 09:15:04       0   0.0
3              40550  1980-01-01 00:00:00  2023-12-01 09:15:14       0   0.0
4              40550  1980-01-01 00:00:00  2023-12-01 09:15:23       0   0.0
...              ...                  ...                  ...     ...   ...
122815         41064  1980-01-01 00:00:00  2023-12-01 10:01:16       0   0.0
122816         41064  1980-01-01 00:00:00  2023-12-01 10:01:17       0   0.0
122817         41064  1980-01-01 00:00:00  2023-12-01 10:01:20       0   0.0
122818         41064  1980-01-01 00:00:00  2023-12-01 10:01:32       0   0.0
122819         41064  1980-01-01 00:00:00  2023-12-01 10:01:51       0   0.0

        high  low  prev-close  ltp  atp
0        0.0  0.0     6455.10  0.0  0.0
1        0.0  0.0     6455.10  0.0  0.0
2        0.0  0.0     6455.10  0.0  0.0
3        0.0  0.0     6455.10  0.0  0.0
4        0.0  0.0     6455.10  0.0  0.0
...      ...  ...         ...  ...  ...
122815   0.0  0.0     3508.75  0.0  0.0
122816   0.0  0.0     3508.75  0.0  0.0
122817   0.0  0.0     3508.75  0.0  0.0
122818   0.0  0.0     3508.75  0.0  0.0
122819   0.0  0.0     3508.75  0.0  0.0

[122820 rows x 10 columns]
        token_number            timestamp           time_entry   volume  open  \
0              40550  1980-01-01 00:00:00  2023-12-01 09:15:02        0  0.00
1              40550  1980-01-01 00:00:00  2023-12-01 09:15:02        0  0.00
2              40550  1980-01-01 00:00:00  2023-12-01 09:15:04        0  0.00
3              40550  1980-01-01 00:00:00  2023-12-01 09:15:14        0  0.00
4              40550  1980-01-01 00:00:00  2023-12-01 09:15:23        0  0.00
...              ...                  ...                  ...      ...   ...
122864         41065  2023-12-01 10:01:06  2023-12-01 10:01:07  7428990  7.25
122865         41065  2023-12-01 10:01:14  2023-12-01 10:01:15  7448715  7.25
122866         41065  2023-12-01 10:01:20  2023-12-01 10:01:21  7456890  7.25
122867         41065  2023-12-01 10:01:25  2023-12-01 10:01:26  7466250  7.25
122868         41065  2023-12-01 10:01:52  2023-12-01 10:01:53  7505100  7.25

         high  low  prev-close    ltp    atp
0        0.00  0.0      6455.1   0.00   0.00
1        0.00  0.0      6455.1   0.00   0.00
2        0.00  0.0      6455.1   0.00   0.00
3        0.00  0.0      6455.1   0.00   0.00
4        0.00  0.0      6455.1   0.00   0.00
...       ...  ...         ...    ...    ...
122864  19.95  6.2         7.8  13.75  11.81
122865  19.95  6.2         7.8  13.80  11.81
122866  19.95  6.2         7.8  14.30  11.82
122867  19.95  6.2         7.8  14.25  11.82
122868  19.95  6.2         7.8  14.60  11.83

[122869 rows x 10 columns]
        token_number            timestamp           time_entry  volume  \
0              40550  1980-01-01 00:00:00  2023-12-01 09:15:02       0
1              40550  1980-01-01 00:00:00  2023-12-01 09:15:02       0
2              40550  1980-01-01 00:00:00  2023-12-01 09:15:04       0
3              40550  1980-01-01 00:00:00  2023-12-01 09:15:14       0
4              40550  1980-01-01 00:00:00  2023-12-01 09:15:23       0
...              ...                  ...                  ...     ...
123008         41066  2023-12-01 10:01:49  2023-12-01 10:01:50    2565
123009         41066  2023-12-01 10:01:49  2023-12-01 10:01:52    2565
123010         41066  2023-12-01 10:01:49  2023-12-01 10:01:55    2565
123011         41066  2023-12-01 10:01:49  2023-12-01 10:01:56    2565
123012         41066  2023-12-01 10:01:49  2023-12-01 10:01:58    2565

           open     high      low  prev-close      ltp      atp
0          0.00     0.00     0.00      6455.1     0.00     0.00
1          0.00     0.00     0.00      6455.1     0.00     0.00
2          0.00     0.00     0.00      6455.1     0.00     0.00
3          0.00     0.00     0.00      6455.1     0.00     0.00
4          0.00     0.00     0.00      6455.1     0.00     0.00
...         ...      ...      ...         ...      ...      ...
123008  1772.85  1772.85  1468.05      1899.2  1542.95  1666.07
123009  1772.85  1772.85  1468.05      1899.2  1542.95  1666.07
123010  1772.85  1772.85  1468.05      1899.2  1542.95  1666.07
123011  1772.85  1772.85  1468.05      1899.2  1542.95  1666.07
123012  1772.85  1772.85  1468.05      1899.2  1542.95  1666.07

[123013 rows x 10 columns]

        token_number            timestamp           time_entry   volume  open  \
0              40550  1980-01-01 00:00:00  2023-12-01 09:15:02        0   0.0
1              40550  1980-01-01 00:00:00  2023-12-01 09:15:02        0   0.0
2              40550  1980-01-01 00:00:00  2023-12-01 09:15:04        0   0.0
3              40550  1980-01-01 00:00:00  2023-12-01 09:15:14        0   0.0
4              40550  1980-01-01 00:00:00  2023-12-01 09:15:23        0   0.0
...              ...                  ...                  ...      ...   ...
123076         41067  2023-12-01 10:01:34  2023-12-01 10:01:35  2079720   7.0
123077         41067  2023-12-01 10:01:38  2023-12-01 10:01:38  2081250   7.0
123078         41067  2023-12-01 10:01:51  2023-12-01 10:01:51  2091090   7.0
123079         41067  2023-12-01 10:01:54  2023-12-01 10:01:55  2093940   7.0
123080         41067  2023-12-01 10:01:55  2023-12-01 10:01:56  2097240   7.0

         high  low  prev-close   ltp   atp
0        0.00  0.0      6455.1   0.0  0.00
1        0.00  0.0      6455.1   0.0  0.00
2        0.00  0.0      6455.1   0.0  0.00
3        0.00  0.0      6455.1   0.0  0.00
4        0.00  0.0      6455.1   0.0  0.00
...       ...  ...         ...   ...   ...
123076  16.15  6.9         6.9  11.6  9.69
123077  16.15  6.9         6.9  11.8  9.69
123078  16.15  6.9         6.9  12.1  9.70
123079  16.15  6.9         6.9  12.1  9.71
123080  16.15  6.9         6.9  12.1  9.71

[123081 rows x 10 columns]
        token_number            timestamp           time_entry  volume  open  \
0              40550  1980-01-01 00:00:00  2023-12-01 09:15:02       0   0.0
1              40550  1980-01-01 00:00:00  2023-12-01 09:15:02       0   0.0
2              40550  1980-01-01 00:00:00  2023-12-01 09:15:04       0   0.0
3              40550  1980-01-01 00:00:00  2023-12-01 09:15:14       0   0.0
4              40550  1980-01-01 00:00:00  2023-12-01 09:15:23       0   0.0
...              ...                  ...                  ...     ...   ...
123105         41068  1980-01-01 00:00:00  2023-12-01 10:01:02       0   0.0
123106         41068  1980-01-01 00:00:00  2023-12-01 10:01:05       0   0.0
123107         41068  1980-01-01 00:00:00  2023-12-01 10:01:05       0   0.0
123108         41068  1980-01-01 00:00:00  2023-12-01 10:01:09       0   0.0
123109         41068  1980-01-01 00:00:00  2023-12-01 10:01:47       0   0.0

        high  low  prev-close  ltp  atp
0        0.0  0.0     6455.10  0.0  0.0
1        0.0  0.0     6455.10  0.0  0.0
2        0.0  0.0     6455.10  0.0  0.0
3        0.0  0.0     6455.10  0.0  0.0
4        0.0  0.0     6455.10  0.0  0.0
...      ...  ...         ...  ...  ...
123105   0.0  0.0     3689.25  0.0  0.0
123106   0.0  0.0     3689.25  0.0  0.0
123107   0.0  0.0     3689.25  0.0  0.0
123108   0.0  0.0     3689.25  0.0  0.0
123109   0.0  0.0     3689.25  0.0  0.0

[123110 rows x 10 columns]
        token_number            timestamp           time_entry   volume  open  \
0              40550  1980-01-01 00:00:00  2023-12-01 09:15:02        0   0.0
1              40550  1980-01-01 00:00:00  2023-12-01 09:15:02        0   0.0
2              40550  1980-01-01 00:00:00  2023-12-01 09:15:04        0   0.0
3              40550  1980-01-01 00:00:00  2023-12-01 09:15:14        0   0.0
4              40550  1980-01-01 00:00:00  2023-12-01 09:15:23        0   0.0
...              ...                  ...                  ...      ...   ...
123201         41077  2023-12-01 10:01:44  2023-12-01 10:01:46  2635275   5.8
123202         41077  2023-12-01 10:01:54  2023-12-01 10:01:55  2641200   5.8
123203         41077  2023-12-01 10:01:59  2023-12-01 10:02:00  2643915   5.8
123204         41077  2023-12-01 10:02:02  2023-12-01 10:02:02  2651700   5.8
123205         41077  2023-12-01 10:02:03  2023-12-01 10:02:03  2652135   5.8

        high  low  prev-close    ltp   atp
0        0.0  0.0     6455.10   0.00  0.00
1        0.0  0.0     6455.10   0.00  0.00
2        0.0  0.0     6455.10   0.00  0.00
3        0.0  0.0     6455.10   0.00  0.00
4        0.0  0.0     6455.10   0.00  0.00
...      ...  ...         ...    ...   ...
123201  12.9  5.8        6.35  10.10  7.98
123202  12.9  5.8        6.35   9.80  7.99
123203  12.9  5.8        6.35   9.95  7.99
123204  12.9  5.8        6.35  10.15  8.00
123205  12.9  5.8        6.35  10.20  8.00

[123206 rows x 10 columns]
        token_number            timestamp           time_entry  volume  open  \
0              40550  1980-01-01 00:00:00  2023-12-01 09:15:02       0   0.0
1              40550  1980-01-01 00:00:00  2023-12-01 09:15:02       0   0.0
2              40550  1980-01-01 00:00:00  2023-12-01 09:15:04       0   0.0
3              40550  1980-01-01 00:00:00  2023-12-01 09:15:14       0   0.0
4              40550  1980-01-01 00:00:00  2023-12-01 09:15:23       0   0.0
...              ...                  ...                  ...     ...   ...
123238         41078  1980-01-01 00:00:00  2023-12-01 10:01:34       0   0.0
123239         41078  1980-01-01 00:00:00  2023-12-01 10:01:39       0   0.0
123240         41078  1980-01-01 00:00:00  2023-12-01 10:01:53       0   0.0
123241         41078  1980-01-01 00:00:00  2023-12-01 10:02:00       0   0.0
123242         41078  1980-01-01 00:00:00  2023-12-01 10:02:02       0   0.0

        high  low  prev-close  ltp  atp
0        0.0  0.0     6455.10  0.0  0.0
1        0.0  0.0     6455.10  0.0  0.0
2        0.0  0.0     6455.10  0.0  0.0
3        0.0  0.0     6455.10  0.0  0.0
4        0.0  0.0     6455.10  0.0  0.0
...      ...  ...         ...  ...  ...
123238   0.0  0.0     3780.35  0.0  0.0
123239   0.0  0.0     3780.35  0.0  0.0
123240   0.0  0.0     3780.35  0.0  0.0
123241   0.0  0.0     3780.35  0.0  0.0
123242   0.0  0.0     3780.35  0.0  0.0

[123243 rows x 10 columns]
        token_number            timestamp           time_entry   volume  open  \
0              40550  1980-01-01 00:00:00  2023-12-01 09:15:02        0   0.0
1              40550  1980-01-01 00:00:00  2023-12-01 09:15:02        0   0.0
2              40550  1980-01-01 00:00:00  2023-12-01 09:15:04        0   0.0
3              40550  1980-01-01 00:00:00  2023-12-01 09:15:14        0   0.0
4              40550  1980-01-01 00:00:00  2023-12-01 09:15:23        0   0.0
...              ...                  ...                  ...      ...   ...
123363         41079  2023-12-01 10:01:45  2023-12-01 10:01:46  2413935   6.1
123364         41079  2023-12-01 10:01:47  2023-12-01 10:01:47  2416110   6.1
123365         41079  2023-12-01 10:01:50  2023-12-01 10:01:51  2422965   6.1
123366         41079  2023-12-01 10:01:56  2023-12-01 10:01:58  2424390   6.1
123367         41079  2023-12-01 10:02:06  2023-12-01 10:02:07  2437935   6.1

        high  low  prev-close   ltp   atp
0        0.0  0.0      6455.1  0.00  0.00
1        0.0  0.0      6455.1  0.00  0.00
2        0.0  0.0      6455.1  0.00  0.00
3        0.0  0.0      6455.1  0.00  0.00
4        0.0  0.0      6455.1  0.00  0.00
...      ...  ...         ...   ...   ...
123363  10.6  5.2         6.0  8.50  6.98
123364  10.6  5.2         6.0  8.50  6.98
123365  10.6  5.2         6.0  8.35  6.99
123366  10.6  5.2         6.0  8.25  6.99
123367  10.6  5.2         6.0  8.50  7.00

[123368 rows x 10 columns]
        token_number            timestamp           time_entry  volume  \
0              40550  1980-01-01 00:00:00  2023-12-01 09:15:02       0
1              40550  1980-01-01 00:00:00  2023-12-01 09:15:02       0
2              40550  1980-01-01 00:00:00  2023-12-01 09:15:04       0
3              40550  1980-01-01 00:00:00  2023-12-01 09:15:14       0
4              40550  1980-01-01 00:00:00  2023-12-01 09:15:23       0
...              ...                  ...                  ...     ...
123490         41080  2023-12-01 09:23:16  2023-12-01 10:01:37      15
123491         41080  2023-12-01 09:23:16  2023-12-01 10:01:42      15
123492         41080  2023-12-01 09:23:16  2023-12-01 10:01:49      15
123493         41080  2023-12-01 09:23:16  2023-12-01 10:01:52      15
123494         41080  2023-12-01 09:23:16  2023-12-01 10:02:05      15

           open     high      low  prev-close      ltp      atp
0          0.00     0.00     0.00      6455.1     0.00     0.00
1          0.00     0.00     0.00      6455.1     0.00     0.00
2          0.00     0.00     0.00      6455.1     0.00     0.00
3          0.00     0.00     0.00      6455.1     0.00     0.00
4          0.00     0.00     0.00      6455.1     0.00     0.00
...         ...      ...      ...         ...      ...      ...
123490  2076.25  2076.25  2076.25      3872.0  2076.25  2076.25
123491  2076.25  2076.25  2076.25      3872.0  2076.25  2076.25
123492  2076.25  2076.25  2076.25      3872.0  2076.25  2076.25
123493  2076.25  2076.25  2076.25      3872.0  2076.25  2076.25
123494  2076.25  2076.25  2076.25      3872.0  2076.25  2076.25

[123495 rows x 10 columns]

        token_number            timestamp           time_entry   volume  open  \
0              40550  1980-01-01 00:00:00  2023-12-01 09:15:02        0   0.0
1              40550  1980-01-01 00:00:00  2023-12-01 09:15:02        0   0.0
2              40550  1980-01-01 00:00:00  2023-12-01 09:15:04        0   0.0
3              40550  1980-01-01 00:00:00  2023-12-01 09:15:14        0   0.0
4              40550  1980-01-01 00:00:00  2023-12-01 09:15:23        0   0.0
...              ...                  ...                  ...      ...   ...
123573         41083  2023-12-01 10:01:54  2023-12-01 10:01:55  2283525   5.8
123574         41083  2023-12-01 10:02:00  2023-12-01 10:02:00  2296545   5.8
123575         41083  2023-12-01 10:02:01  2023-12-01 10:02:02  2296875   5.8
123576         41083  2023-12-01 10:02:05  2023-12-01 10:02:06  2298945   5.8
123577         41083  2023-12-01 10:02:06  2023-12-01 10:02:07  2299650   5.8

        high  low  prev-close   ltp   atp
0        0.0  0.0     6455.10  0.00  0.00
1        0.0  0.0     6455.10  0.00  0.00
2        0.0  0.0     6455.10  0.00  0.00
3        0.0  0.0     6455.10  0.00  0.00
4        0.0  0.0     6455.10  0.00  0.00
...      ...  ...         ...   ...   ...
123573   8.2  4.2        5.35  6.75  5.47
123574   8.2  4.2        5.35  6.85  5.48
123575   8.2  4.2        5.35  6.90  5.48
123576   8.2  4.2        5.35  7.00  5.48
123577   8.2  4.2        5.35  6.90  5.48

[123578 rows x 10 columns]
        token_number            timestamp           time_entry  volume  \
0              40550  1980-01-01 00:00:00  2023-12-01 09:15:02       0
1              40550  1980-01-01 00:00:00  2023-12-01 09:15:02       0
2              40550  1980-01-01 00:00:00  2023-12-01 09:15:04       0
3              40550  1980-01-01 00:00:00  2023-12-01 09:15:14       0
4              40550  1980-01-01 00:00:00  2023-12-01 09:15:23       0
...              ...                  ...                  ...     ...
123676         41084  2023-12-01 09:23:17  2023-12-01 10:01:46      15
123677         41084  2023-12-01 09:23:17  2023-12-01 10:01:49      15
123678         41084  2023-12-01 09:23:17  2023-12-01 10:01:52      15
123679         41084  2023-12-01 09:23:17  2023-12-01 10:01:55      15
123680         41084  2023-12-01 09:23:17  2023-12-01 10:01:56      15

          open    high     low  prev-close     ltp     atp
0          0.0     0.0     0.0      6455.1     0.0     0.0
1          0.0     0.0     0.0      6455.1     0.0     0.0
2          0.0     0.0     0.0      6455.1     0.0     0.0
3          0.0     0.0     0.0      6455.1     0.0     0.0
4          0.0     0.0     0.0      6455.1     0.0     0.0
...        ...     ...     ...         ...     ...     ...
123676  2175.0  2175.0  2175.0      3964.1  2175.0  2175.0
123677  2175.0  2175.0  2175.0      3964.1  2175.0  2175.0
123678  2175.0  2175.0  2175.0      3964.1  2175.0  2175.0
123679  2175.0  2175.0  2175.0      3964.1  2175.0  2175.0
123680  2175.0  2175.0  2175.0      3964.1  2175.0  2175.0

[123681 rows x 10 columns]
        token_number            timestamp           time_entry  volume  \
0              40550  1980-01-01 00:00:00  2023-12-01 09:15:02       0
1              40550  1980-01-01 00:00:00  2023-12-01 09:15:02       0
2              40550  1980-01-01 00:00:00  2023-12-01 09:15:04       0
3              40550  1980-01-01 00:00:00  2023-12-01 09:15:14       0
4              40550  1980-01-01 00:00:00  2023-12-01 09:15:23       0
...              ...                  ...                  ...     ...
123676         41084  2023-12-01 09:23:17  2023-12-01 10:01:46      15
123677         41084  2023-12-01 09:23:17  2023-12-01 10:01:49      15
123678         41084  2023-12-01 09:23:17  2023-12-01 10:01:52      15
123679         41084  2023-12-01 09:23:17  2023-12-01 10:01:55      15
123680         41084  2023-12-01 09:23:17  2023-12-01 10:01:56      15

          open    high     low  prev-close     ltp     atp
0          0.0     0.0     0.0      6455.1     0.0     0.0
1          0.0     0.0     0.0      6455.1     0.0     0.0
2          0.0     0.0     0.0      6455.1     0.0     0.0
3          0.0     0.0     0.0      6455.1     0.0     0.0
4          0.0     0.0     0.0      6455.1     0.0     0.0
...        ...     ...     ...         ...     ...     ...
123676  2175.0  2175.0  2175.0      3964.1  2175.0  2175.0
123677  2175.0  2175.0  2175.0      3964.1  2175.0  2175.0
123678  2175.0  2175.0  2175.0      3964.1  2175.0  2175.0
123679  2175.0  2175.0  2175.0      3964.1  2175.0  2175.0
123680  2175.0  2175.0  2175.0      3964.1  2175.0  2175.0

[123681 rows x 10 columns]
        token_number            timestamp           time_entry  volume  \
0              40550  1980-01-01 00:00:00  2023-12-01 09:15:02       0
1              40550  1980-01-01 00:00:00  2023-12-01 09:15:02       0
2              40550  1980-01-01 00:00:00  2023-12-01 09:15:04       0
3              40550  1980-01-01 00:00:00  2023-12-01 09:15:14       0
4              40550  1980-01-01 00:00:00  2023-12-01 09:15:23       0
...              ...                  ...                  ...     ...
123676         41084  2023-12-01 09:23:17  2023-12-01 10:01:46      15
123677         41084  2023-12-01 09:23:17  2023-12-01 10:01:49      15
123678         41084  2023-12-01 09:23:17  2023-12-01 10:01:52      15
123679         41084  2023-12-01 09:23:17  2023-12-01 10:01:55      15
123680         41084  2023-12-01 09:23:17  2023-12-01 10:01:56      15

          open    high     low  prev-close     ltp     atp
0          0.0     0.0     0.0      6455.1     0.0     0.0
1          0.0     0.0     0.0      6455.1     0.0     0.0
2          0.0     0.0     0.0      6455.1     0.0     0.0
3          0.0     0.0     0.0      6455.1     0.0     0.0
4          0.0     0.0     0.0      6455.1     0.0     0.0
...        ...     ...     ...         ...     ...     ...
123676  2175.0  2175.0  2175.0      3964.1  2175.0  2175.0
123677  2175.0  2175.0  2175.0      3964.1  2175.0  2175.0
123678  2175.0  2175.0  2175.0      3964.1  2175.0  2175.0
123679  2175.0  2175.0  2175.0      3964.1  2175.0  2175.0
123680  2175.0  2175.0  2175.0      3964.1  2175.0  2175.0

[123681 rows x 10 columns]
        token_number            timestamp           time_entry   volume  open  \
0              40550  1980-01-01 00:00:00  2023-12-01 09:15:02        0   0.0
1              40550  1980-01-01 00:00:00  2023-12-01 09:15:02        0   0.0
2              40550  1980-01-01 00:00:00  2023-12-01 09:15:04        0   0.0
3              40550  1980-01-01 00:00:00  2023-12-01 09:15:14        0   0.0
4              40550  1980-01-01 00:00:00  2023-12-01 09:15:23        0   0.0
...              ...                  ...                  ...      ...   ...
123760         41122  2023-12-01 10:01:31  2023-12-01 10:01:32  7292010   4.9
123761         41122  2023-12-01 10:01:50  2023-12-01 10:01:50  7342455   4.9
123762         41122  2023-12-01 10:01:54  2023-12-01 10:01:55  7353255   4.9
123763         41122  2023-12-01 10:01:55  2023-12-01 10:01:56  7353885   4.9
123764         41122  2023-12-01 10:02:06  2023-12-01 10:02:07  7379475   4.9

        high   low  prev-close   ltp   atp
0       0.00  0.00      6455.1  0.00  0.00
1       0.00  0.00      6455.1  0.00  0.00
2       0.00  0.00      6455.1  0.00  0.00
3       0.00  0.00      6455.1  0.00  0.00
4       0.00  0.00      6455.1  0.00  0.00
...      ...   ...         ...   ...   ...
123760  6.55  3.75         4.9  5.65  4.80
123761  6.55  3.75         4.9  5.85  4.80
123762  6.55  3.75         4.9  5.65  4.80
123763  6.55  3.75         4.9  5.70  4.80
123764  6.55  3.75         4.9  5.80  4.81

[123765 rows x 10 columns]
        token_number            timestamp           time_entry  volume  \
0              40550  1980-01-01 00:00:00  2023-12-01 09:15:02       0
1              40550  1980-01-01 00:00:00  2023-12-01 09:15:02       0
2              40550  1980-01-01 00:00:00  2023-12-01 09:15:04       0
3              40550  1980-01-01 00:00:00  2023-12-01 09:15:14       0
4              40550  1980-01-01 00:00:00  2023-12-01 09:15:23       0
...              ...                  ...                  ...     ...
123859         41125  2023-12-01 09:56:52  2023-12-01 10:01:25      30
123860         41125  2023-12-01 09:56:52  2023-12-01 10:01:30      30
123861         41125  2023-12-01 09:56:52  2023-12-01 10:01:32      30
123862         41125  2023-12-01 09:56:52  2023-12-01 10:01:45      30
123863         41125  2023-12-01 09:56:52  2023-12-01 10:01:52      30

          open    high      low  prev-close      ltp      atp
0          0.0     0.0     0.00      6455.1     0.00     0.00
1          0.0     0.0     0.00      6455.1     0.00     0.00
2          0.0     0.0     0.00      6455.1     0.00     0.00
3          0.0     0.0     0.00      6455.1     0.00     0.00
4          0.0     0.0     0.00      6455.1     0.00     0.00
...        ...     ...      ...         ...      ...      ...
123859  2054.4  2054.4  1939.15      4056.7  1939.15  1996.77
123860  2054.4  2054.4  1939.15      4056.7  1939.15  1996.77
123861  2054.4  2054.4  1939.15      4056.7  1939.15  1996.77
123862  2054.4  2054.4  1939.15      4056.7  1939.15  1996.77
123863  2054.4  2054.4  1939.15      4056.7  1939.15  1996.77

[123864 rows x 10 columns]

        token_number            timestamp           time_entry   volume  open  \
0              40550  1980-01-01 00:00:00  2023-12-01 09:15:02        0   0.0
1              40550  1980-01-01 00:00:00  2023-12-01 09:15:02        0   0.0
2              40550  1980-01-01 00:00:00  2023-12-01 09:15:04        0   0.0
3              40550  1980-01-01 00:00:00  2023-12-01 09:15:14        0   0.0
4              40550  1980-01-01 00:00:00  2023-12-01 09:15:23        0   0.0
...              ...                  ...                  ...      ...   ...
123894         41126  2023-12-01 10:01:26  2023-12-01 10:01:26  1592580   5.0
123895         41126  2023-12-01 10:01:43  2023-12-01 10:01:44  1604355   5.0
123896         41126  2023-12-01 10:01:44  2023-12-01 10:01:45  1604370   5.0
123897         41126  2023-12-01 10:01:47  2023-12-01 10:01:47  1604625   5.0
123898         41126  2023-12-01 10:02:01  2023-12-01 10:02:03  1607550   5.0

        high  low  prev-close   ltp   atp
0       0.00  0.0     6455.10  0.00  0.00
1       0.00  0.0     6455.10  0.00  0.00
2       0.00  0.0     6455.10  0.00  0.00
3       0.00  0.0     6455.10  0.00  0.00
4       0.00  0.0     6455.10  0.00  0.00
...      ...  ...         ...   ...   ...
123894  5.45  3.2        5.15  4.85  4.17
123895  5.45  3.2        5.15  4.95  4.18
123896  5.45  3.2        5.15  4.95  4.18
123897  5.45  3.2        5.15  5.05  4.18
123898  5.45  3.2        5.15  5.00  4.18

[123899 rows x 10 columns]
        token_number            timestamp           time_entry  volume  open  \
0              40550  1980-01-01 00:00:00  2023-12-01 09:15:02       0   0.0
1              40550  1980-01-01 00:00:00  2023-12-01 09:15:02       0   0.0
2              40550  1980-01-01 00:00:00  2023-12-01 09:15:04       0   0.0
3              40550  1980-01-01 00:00:00  2023-12-01 09:15:14       0   0.0
4              40550  1980-01-01 00:00:00  2023-12-01 09:15:23       0   0.0
...              ...                  ...                  ...     ...   ...
123921         41129  1980-01-01 00:00:00  2023-12-01 10:01:00       0   0.0
123922         41129  1980-01-01 00:00:00  2023-12-01 10:01:20       0   0.0
123923         41129  1980-01-01 00:00:00  2023-12-01 10:01:42       0   0.0
123924         41129  1980-01-01 00:00:00  2023-12-01 10:01:50       0   0.0
123925         41129  1980-01-01 00:00:00  2023-12-01 10:01:52       0   0.0

        high  low  prev-close  ltp  atp
0        0.0  0.0     6455.10  0.0  0.0
1        0.0  0.0     6455.10  0.0  0.0
2        0.0  0.0     6455.10  0.0  0.0
3        0.0  0.0     6455.10  0.0  0.0
4        0.0  0.0     6455.10  0.0  0.0
...      ...  ...         ...  ...  ...
123921   0.0  0.0     4149.75  0.0  0.0
123922   0.0  0.0     4149.75  0.0  0.0
123923   0.0  0.0     4149.75  0.0  0.0
123924   0.0  0.0     4149.75  0.0  0.0
123925   0.0  0.0     4149.75  0.0  0.0

[123926 rows x 10 columns]
        token_number            timestamp           time_entry  volume  open  \
0              40550  1980-01-01 00:00:00  2023-12-01 09:15:02       0   0.0
1              40550  1980-01-01 00:00:00  2023-12-01 09:15:02       0   0.0
2              40550  1980-01-01 00:00:00  2023-12-01 09:15:04       0   0.0
3              40550  1980-01-01 00:00:00  2023-12-01 09:15:14       0   0.0
4              40550  1980-01-01 00:00:00  2023-12-01 09:15:23       0   0.0
...              ...                  ...                  ...     ...   ...
123921         41129  1980-01-01 00:00:00  2023-12-01 10:01:00       0   0.0
123922         41129  1980-01-01 00:00:00  2023-12-01 10:01:20       0   0.0
123923         41129  1980-01-01 00:00:00  2023-12-01 10:01:42       0   0.0
123924         41129  1980-01-01 00:00:00  2023-12-01 10:01:50       0   0.0
123925         41129  1980-01-01 00:00:00  2023-12-01 10:01:52       0   0.0

        high  low  prev-close  ltp  atp
0        0.0  0.0     6455.10  0.0  0.0
1        0.0  0.0     6455.10  0.0  0.0
2        0.0  0.0     6455.10  0.0  0.0
3        0.0  0.0     6455.10  0.0  0.0
4        0.0  0.0     6455.10  0.0  0.0
...      ...  ...         ...  ...  ...
123921   0.0  0.0     4149.75  0.0  0.0
123922   0.0  0.0     4149.75  0.0  0.0
123923   0.0  0.0     4149.75  0.0  0.0
123924   0.0  0.0     4149.75  0.0  0.0
123925   0.0  0.0     4149.75  0.0  0.0

[123926 rows x 10 columns]
        token_number            timestamp           time_entry  volume  open  \
0              40550  1980-01-01 00:00:00  2023-12-01 09:15:02       0   0.0
1              40550  1980-01-01 00:00:00  2023-12-01 09:15:02       0   0.0
2              40550  1980-01-01 00:00:00  2023-12-01 09:15:04       0   0.0
3              40550  1980-01-01 00:00:00  2023-12-01 09:15:14       0   0.0
4              40550  1980-01-01 00:00:00  2023-12-01 09:15:23       0   0.0
...              ...                  ...                  ...     ...   ...
123921         41129  1980-01-01 00:00:00  2023-12-01 10:01:00       0   0.0
123922         41129  1980-01-01 00:00:00  2023-12-01 10:01:20       0   0.0
123923         41129  1980-01-01 00:00:00  2023-12-01 10:01:42       0   0.0
123924         41129  1980-01-01 00:00:00  2023-12-01 10:01:50       0   0.0
123925         41129  1980-01-01 00:00:00  2023-12-01 10:01:52       0   0.0

        high  low  prev-close  ltp  atp
0        0.0  0.0     6455.10  0.0  0.0
1        0.0  0.0     6455.10  0.0  0.0
2        0.0  0.0     6455.10  0.0  0.0
3        0.0  0.0     6455.10  0.0  0.0
4        0.0  0.0     6455.10  0.0  0.0
...      ...  ...         ...  ...  ...
123921   0.0  0.0     4149.75  0.0  0.0
123922   0.0  0.0     4149.75  0.0  0.0
123923   0.0  0.0     4149.75  0.0  0.0
123924   0.0  0.0     4149.75  0.0  0.0
123925   0.0  0.0     4149.75  0.0  0.0

[123926 rows x 10 columns]
        token_number            timestamp           time_entry  volume  open  \
0              40550  1980-01-01 00:00:00  2023-12-01 09:15:02       0   0.0
1              40550  1980-01-01 00:00:00  2023-12-01 09:15:02       0   0.0
2              40550  1980-01-01 00:00:00  2023-12-01 09:15:04       0   0.0
3              40550  1980-01-01 00:00:00  2023-12-01 09:15:14       0   0.0
4              40550  1980-01-01 00:00:00  2023-12-01 09:15:23       0   0.0
...              ...                  ...                  ...     ...   ...
123921         41129  1980-01-01 00:00:00  2023-12-01 10:01:00       0   0.0
123922         41129  1980-01-01 00:00:00  2023-12-01 10:01:20       0   0.0
123923         41129  1980-01-01 00:00:00  2023-12-01 10:01:42       0   0.0
123924         41129  1980-01-01 00:00:00  2023-12-01 10:01:50       0   0.0
123925         41129  1980-01-01 00:00:00  2023-12-01 10:01:52       0   0.0

        high  low  prev-close  ltp  atp
0        0.0  0.0     6455.10  0.0  0.0
1        0.0  0.0     6455.10  0.0  0.0
2        0.0  0.0     6455.10  0.0  0.0
3        0.0  0.0     6455.10  0.0  0.0
4        0.0  0.0     6455.10  0.0  0.0
...      ...  ...         ...  ...  ...
123921   0.0  0.0     4149.75  0.0  0.0
123922   0.0  0.0     4149.75  0.0  0.0
123923   0.0  0.0     4149.75  0.0  0.0
123924   0.0  0.0     4149.75  0.0  0.0
123925   0.0  0.0     4149.75  0.0  0.0

[123926 rows x 10 columns]
        token_number            timestamp           time_entry  volume  open  \
0              40550  1980-01-01 00:00:00  2023-12-01 09:15:02       0   0.0
1              40550  1980-01-01 00:00:00  2023-12-01 09:15:02       0   0.0
2              40550  1980-01-01 00:00:00  2023-12-01 09:15:04       0   0.0
3              40550  1980-01-01 00:00:00  2023-12-01 09:15:14       0   0.0
4              40550  1980-01-01 00:00:00  2023-12-01 09:15:23       0   0.0
...              ...                  ...                  ...     ...   ...
123921         41129  1980-01-01 00:00:00  2023-12-01 10:01:00       0   0.0
123922         41129  1980-01-01 00:00:00  2023-12-01 10:01:20       0   0.0
123923         41129  1980-01-01 00:00:00  2023-12-01 10:01:42       0   0.0
123924         41129  1980-01-01 00:00:00  2023-12-01 10:01:50       0   0.0
123925         41129  1980-01-01 00:00:00  2023-12-01 10:01:52       0   0.0

        high  low  prev-close  ltp  atp
0        0.0  0.0     6455.10  0.0  0.0
1        0.0  0.0     6455.10  0.0  0.0
2        0.0  0.0     6455.10  0.0  0.0
3        0.0  0.0     6455.10  0.0  0.0
4        0.0  0.0     6455.10  0.0  0.0
...      ...  ...         ...  ...  ...
123921   0.0  0.0     4149.75  0.0  0.0
123922   0.0  0.0     4149.75  0.0  0.0
123923   0.0  0.0     4149.75  0.0  0.0
123924   0.0  0.0     4149.75  0.0  0.0
123925   0.0  0.0     4149.75  0.0  0.0

[123926 rows x 10 columns]

        token_number            timestamp           time_entry  volume  open  \
0              40550  1980-01-01 00:00:00  2023-12-01 09:15:02       0   0.0
1              40550  1980-01-01 00:00:00  2023-12-01 09:15:02       0   0.0
2              40550  1980-01-01 00:00:00  2023-12-01 09:15:04       0   0.0
3              40550  1980-01-01 00:00:00  2023-12-01 09:15:14       0   0.0
4              40550  1980-01-01 00:00:00  2023-12-01 09:15:23       0   0.0
...              ...                  ...                  ...     ...   ...
123921         41129  1980-01-01 00:00:00  2023-12-01 10:01:00       0   0.0
123922         41129  1980-01-01 00:00:00  2023-12-01 10:01:20       0   0.0
123923         41129  1980-01-01 00:00:00  2023-12-01 10:01:42       0   0.0
123924         41129  1980-01-01 00:00:00  2023-12-01 10:01:50       0   0.0
123925         41129  1980-01-01 00:00:00  2023-12-01 10:01:52       0   0.0

        high  low  prev-close  ltp  atp
0        0.0  0.0     6455.10  0.0  0.0
1        0.0  0.0     6455.10  0.0  0.0
2        0.0  0.0     6455.10  0.0  0.0
3        0.0  0.0     6455.10  0.0  0.0
4        0.0  0.0     6455.10  0.0  0.0
...      ...  ...         ...  ...  ...
123921   0.0  0.0     4149.75  0.0  0.0
123922   0.0  0.0     4149.75  0.0  0.0
123923   0.0  0.0     4149.75  0.0  0.0
123924   0.0  0.0     4149.75  0.0  0.0
123925   0.0  0.0     4149.75  0.0  0.0

[123926 rows x 10 columns]
        token_number            timestamp           time_entry  volume  open  \
0              40550  1980-01-01 00:00:00  2023-12-01 09:15:02       0   0.0
1              40550  1980-01-01 00:00:00  2023-12-01 09:15:02       0   0.0
2              40550  1980-01-01 00:00:00  2023-12-01 09:15:04       0   0.0
3              40550  1980-01-01 00:00:00  2023-12-01 09:15:14       0   0.0
4              40550  1980-01-01 00:00:00  2023-12-01 09:15:23       0   0.0
...              ...                  ...                  ...     ...   ...
123921         41129  1980-01-01 00:00:00  2023-12-01 10:01:00       0   0.0
123922         41129  1980-01-01 00:00:00  2023-12-01 10:01:20       0   0.0
123923         41129  1980-01-01 00:00:00  2023-12-01 10:01:42       0   0.0
123924         41129  1980-01-01 00:00:00  2023-12-01 10:01:50       0   0.0
123925         41129  1980-01-01 00:00:00  2023-12-01 10:01:52       0   0.0

        high  low  prev-close  ltp  atp
0        0.0  0.0     6455.10  0.0  0.0
1        0.0  0.0     6455.10  0.0  0.0
2        0.0  0.0     6455.10  0.0  0.0
3        0.0  0.0     6455.10  0.0  0.0
4        0.0  0.0     6455.10  0.0  0.0
...      ...  ...         ...  ...  ...
123921   0.0  0.0     4149.75  0.0  0.0
123922   0.0  0.0     4149.75  0.0  0.0
123923   0.0  0.0     4149.75  0.0  0.0
123924   0.0  0.0     4149.75  0.0  0.0
123925   0.0  0.0     4149.75  0.0  0.0

[123926 rows x 10 columns]
        token_number            timestamp           time_entry   volume  open  \
0              40550  1980-01-01 00:00:00  2023-12-01 09:15:02        0   0.0
1              40550  1980-01-01 00:00:00  2023-12-01 09:15:02        0   0.0
2              40550  1980-01-01 00:00:00  2023-12-01 09:15:04        0   0.0
3              40550  1980-01-01 00:00:00  2023-12-01 09:15:14        0   0.0
4              40550  1980-01-01 00:00:00  2023-12-01 09:15:23        0   0.0
...              ...                  ...                  ...      ...   ...
123973         41166  2023-12-01 10:01:13  2023-12-01 10:01:13  3187305   3.9
123974         41166  2023-12-01 10:01:45  2023-12-01 10:01:46  3219630   3.9
123975         41166  2023-12-01 10:01:52  2023-12-01 10:01:55  3222495   3.9
123976         41166  2023-12-01 10:02:00  2023-12-01 10:02:00  3227505   3.9
123977         41166  2023-12-01 10:02:04  2023-12-01 10:02:04  3229500   3.9

        high   low  prev-close   ltp   atp
0       0.00  0.00      6455.1  0.00  0.00
1       0.00  0.00      6455.1  0.00  0.00
2       0.00  0.00      6455.1  0.00  0.00
3       0.00  0.00      6455.1  0.00  0.00
4       0.00  0.00      6455.1  0.00  0.00
...      ...   ...         ...   ...   ...
123973  4.15  2.95         3.8  3.40  3.32
123974  4.15  2.95         3.8  3.40  3.32
123975  4.15  2.95         3.8  3.45  3.32
123976  4.15  2.95         3.8  3.45  3.32
123977  4.15  2.95         3.8  3.45  3.32

[123978 rows x 10 columns]
        token_number            timestamp           time_entry  volume  \
0              40550  1980-01-01 00:00:00  2023-12-01 09:15:02       0
1              40550  1980-01-01 00:00:00  2023-12-01 09:15:02       0
2              40550  1980-01-01 00:00:00  2023-12-01 09:15:04       0
3              40550  1980-01-01 00:00:00  2023-12-01 09:15:14       0
4              40550  1980-01-01 00:00:00  2023-12-01 09:15:23       0
...              ...                  ...                  ...     ...
124104         41167  2023-12-01 09:55:41  2023-12-01 10:01:36      15
124105         41167  2023-12-01 09:55:41  2023-12-01 10:01:42      15
124106         41167  2023-12-01 09:55:41  2023-12-01 10:01:44      15
124107         41167  2023-12-01 09:55:41  2023-12-01 10:01:50      15
124108         41167  2023-12-01 09:55:41  2023-12-01 10:02:04      15

          open    high     low  prev-close     ltp     atp
0          0.0     0.0     0.0      6455.1     0.0     0.0
1          0.0     0.0     0.0      6455.1     0.0     0.0
2          0.0     0.0     0.0      6455.1     0.0     0.0
3          0.0     0.0     0.0      6455.1     0.0     0.0
4          0.0     0.0     0.0      6455.1     0.0     0.0
...        ...     ...     ...         ...     ...     ...
124104  2551.0  2551.0  2551.0      2867.0  2551.0  2551.0
124105  2551.0  2551.0  2551.0      2867.0  2551.0  2551.0
124106  2551.0  2551.0  2551.0      2867.0  2551.0  2551.0
124107  2551.0  2551.0  2551.0      2867.0  2551.0  2551.0
124108  2551.0  2551.0  2551.0      2867.0  2551.0  2551.0

[124109 rows x 10 columns]
        token_number            timestamp           time_entry  volume  \
0              40550  1980-01-01 00:00:00  2023-12-01 09:15:02       0
1              40550  1980-01-01 00:00:00  2023-12-01 09:15:02       0
2              40550  1980-01-01 00:00:00  2023-12-01 09:15:04       0
3              40550  1980-01-01 00:00:00  2023-12-01 09:15:14       0
4              40550  1980-01-01 00:00:00  2023-12-01 09:15:23       0
...              ...                  ...                  ...     ...
124104         41167  2023-12-01 09:55:41  2023-12-01 10:01:36      15
124105         41167  2023-12-01 09:55:41  2023-12-01 10:01:42      15
124106         41167  2023-12-01 09:55:41  2023-12-01 10:01:44      15
124107         41167  2023-12-01 09:55:41  2023-12-01 10:01:50      15
124108         41167  2023-12-01 09:55:41  2023-12-01 10:02:04      15

          open    high     low  prev-close     ltp     atp
0          0.0     0.0     0.0      6455.1     0.0     0.0
1          0.0     0.0     0.0      6455.1     0.0     0.0
2          0.0     0.0     0.0      6455.1     0.0     0.0
3          0.0     0.0     0.0      6455.1     0.0     0.0
4          0.0     0.0     0.0      6455.1     0.0     0.0
...        ...     ...     ...         ...     ...     ...
124104  2551.0  2551.0  2551.0      2867.0  2551.0  2551.0
124105  2551.0  2551.0  2551.0      2867.0  2551.0  2551.0
124106  2551.0  2551.0  2551.0      2867.0  2551.0  2551.0
124107  2551.0  2551.0  2551.0      2867.0  2551.0  2551.0
124108  2551.0  2551.0  2551.0      2867.0  2551.0  2551.0

[124109 rows x 10 columns]
        token_number            timestamp           time_entry  volume  \
0              40550  1980-01-01 00:00:00  2023-12-01 09:15:02       0
1              40550  1980-01-01 00:00:00  2023-12-01 09:15:02       0
2              40550  1980-01-01 00:00:00  2023-12-01 09:15:04       0
3              40550  1980-01-01 00:00:00  2023-12-01 09:15:14       0
4              40550  1980-01-01 00:00:00  2023-12-01 09:15:23       0
...              ...                  ...                  ...     ...
124104         41167  2023-12-01 09:55:41  2023-12-01 10:01:36      15
124105         41167  2023-12-01 09:55:41  2023-12-01 10:01:42      15
124106         41167  2023-12-01 09:55:41  2023-12-01 10:01:44      15
124107         41167  2023-12-01 09:55:41  2023-12-01 10:01:50      15
124108         41167  2023-12-01 09:55:41  2023-12-01 10:02:04      15

          open    high     low  prev-close     ltp     atp
0          0.0     0.0     0.0      6455.1     0.0     0.0
1          0.0     0.0     0.0      6455.1     0.0     0.0
2          0.0     0.0     0.0      6455.1     0.0     0.0
3          0.0     0.0     0.0      6455.1     0.0     0.0
4          0.0     0.0     0.0      6455.1     0.0     0.0
...        ...     ...     ...         ...     ...     ...
124104  2551.0  2551.0  2551.0      2867.0  2551.0  2551.0
124105  2551.0  2551.0  2551.0      2867.0  2551.0  2551.0
124106  2551.0  2551.0  2551.0      2867.0  2551.0  2551.0
124107  2551.0  2551.0  2551.0      2867.0  2551.0  2551.0
124108  2551.0  2551.0  2551.0      2867.0  2551.0  2551.0

[124109 rows x 10 columns]

        token_number            timestamp           time_entry  volume  \
0              40550  1980-01-01 00:00:00  2023-12-01 09:15:02       0
1              40550  1980-01-01 00:00:00  2023-12-01 09:15:02       0
2              40550  1980-01-01 00:00:00  2023-12-01 09:15:04       0
3              40550  1980-01-01 00:00:00  2023-12-01 09:15:14       0
4              40550  1980-01-01 00:00:00  2023-12-01 09:15:23       0
...              ...                  ...                  ...     ...
124104         41167  2023-12-01 09:55:41  2023-12-01 10:01:36      15
124105         41167  2023-12-01 09:55:41  2023-12-01 10:01:42      15
124106         41167  2023-12-01 09:55:41  2023-12-01 10:01:44      15
124107         41167  2023-12-01 09:55:41  2023-12-01 10:01:50      15
124108         41167  2023-12-01 09:55:41  2023-12-01 10:02:04      15

          open    high     low  prev-close     ltp     atp
0          0.0     0.0     0.0      6455.1     0.0     0.0
1          0.0     0.0     0.0      6455.1     0.0     0.0
2          0.0     0.0     0.0      6455.1     0.0     0.0
3          0.0     0.0     0.0      6455.1     0.0     0.0
4          0.0     0.0     0.0      6455.1     0.0     0.0
...        ...     ...     ...         ...     ...     ...
124104  2551.0  2551.0  2551.0      2867.0  2551.0  2551.0
124105  2551.0  2551.0  2551.0      2867.0  2551.0  2551.0
124106  2551.0  2551.0  2551.0      2867.0  2551.0  2551.0
124107  2551.0  2551.0  2551.0      2867.0  2551.0  2551.0
124108  2551.0  2551.0  2551.0      2867.0  2551.0  2551.0

[124109 rows x 10 columns]
        token_number            timestamp           time_entry  volume  \
0              40550  1980-01-01 00:00:00  2023-12-01 09:15:02       0
1              40550  1980-01-01 00:00:00  2023-12-01 09:15:02       0
2              40550  1980-01-01 00:00:00  2023-12-01 09:15:04       0
3              40550  1980-01-01 00:00:00  2023-12-01 09:15:14       0
4              40550  1980-01-01 00:00:00  2023-12-01 09:15:23       0
...              ...                  ...                  ...     ...
124104         41167  2023-12-01 09:55:41  2023-12-01 10:01:36      15
124105         41167  2023-12-01 09:55:41  2023-12-01 10:01:42      15
124106         41167  2023-12-01 09:55:41  2023-12-01 10:01:44      15
124107         41167  2023-12-01 09:55:41  2023-12-01 10:01:50      15
124108         41167  2023-12-01 09:55:41  2023-12-01 10:02:04      15

          open    high     low  prev-close     ltp     atp
0          0.0     0.0     0.0      6455.1     0.0     0.0
1          0.0     0.0     0.0      6455.1     0.0     0.0
2          0.0     0.0     0.0      6455.1     0.0     0.0
3          0.0     0.0     0.0      6455.1     0.0     0.0
4          0.0     0.0     0.0      6455.1     0.0     0.0
...        ...     ...     ...         ...     ...     ...
124104  2551.0  2551.0  2551.0      2867.0  2551.0  2551.0
124105  2551.0  2551.0  2551.0      2867.0  2551.0  2551.0
124106  2551.0  2551.0  2551.0      2867.0  2551.0  2551.0
124107  2551.0  2551.0  2551.0      2867.0  2551.0  2551.0
124108  2551.0  2551.0  2551.0      2867.0  2551.0  2551.0

[124109 rows x 10 columns]
        token_number            timestamp           time_entry   volume  open  \
0              40550  1980-01-01 00:00:00  2023-12-01 09:15:02        0  0.00
1              40550  1980-01-01 00:00:00  2023-12-01 09:15:02        0  0.00
2              40550  1980-01-01 00:00:00  2023-12-01 09:15:04        0  0.00
3              40550  1980-01-01 00:00:00  2023-12-01 09:15:14        0  0.00
4              40550  1980-01-01 00:00:00  2023-12-01 09:15:23        0  0.00
...              ...                  ...                  ...      ...   ...
124179         41209  2023-12-01 10:01:29  2023-12-01 10:01:31  1648365  3.15
124180         41209  2023-12-01 10:01:31  2023-12-01 10:01:32  1649565  3.15
124181         41209  2023-12-01 10:01:37  2023-12-01 10:01:38  1653600  3.15
124182         41209  2023-12-01 10:02:01  2023-12-01 10:02:01  1664385  3.15
124183         41209  2023-12-01 10:02:05  2023-12-01 10:02:06  1668255  3.15

        high   low  prev-close   ltp   atp
0        0.0  0.00     6455.10  0.00  0.00
1        0.0  0.00     6455.10  0.00  0.00
2        0.0  0.00     6455.10  0.00  0.00
3        0.0  0.00     6455.10  0.00  0.00
4        0.0  0.00     6455.10  0.00  0.00
...      ...   ...         ...   ...   ...
124179   3.5  2.45        3.15  2.70  2.72
124180   3.5  2.45        3.15  2.75  2.72
124181   3.5  2.45        3.15  2.70  2.72
124182   3.5  2.45        3.15  2.75  2.72
124183   3.5  2.45        3.15  2.70  2.72

[124184 rows x 10 columns]
        token_number            timestamp           time_entry  volume  open  \
0              40550  1980-01-01 00:00:00  2023-12-01 09:15:02       0   0.0
1              40550  1980-01-01 00:00:00  2023-12-01 09:15:02       0   0.0
2              40550  1980-01-01 00:00:00  2023-12-01 09:15:04       0   0.0
3              40550  1980-01-01 00:00:00  2023-12-01 09:15:14       0   0.0
4              40550  1980-01-01 00:00:00  2023-12-01 09:15:23       0   0.0
...              ...                  ...                  ...     ...   ...
124256         41214  1980-01-01 00:00:00  2023-12-01 10:01:31       0   0.0
124257         41214  1980-01-01 00:00:00  2023-12-01 10:01:34       0   0.0
124258         41214  1980-01-01 00:00:00  2023-12-01 10:01:37       0   0.0
124259         41214  1980-01-01 00:00:00  2023-12-01 10:02:01       0   0.0
124260         41214  1980-01-01 00:00:00  2023-12-01 10:02:05       0   0.0

        high  low  prev-close  ltp  atp
0        0.0  0.0      6455.1  0.0  0.0
1        0.0  0.0      6455.1  0.0  0.0
2        0.0  0.0      6455.1  0.0  0.0
3        0.0  0.0      6455.1  0.0  0.0
4        0.0  0.0      6455.1  0.0  0.0
...      ...  ...         ...  ...  ...
124256   0.0  0.0      5003.5  0.0  0.0
124257   0.0  0.0      5003.5  0.0  0.0
124258   0.0  0.0      5003.5  0.0  0.0
124259   0.0  0.0      5003.5  0.0  0.0
124260   0.0  0.0      5003.5  0.0  0.0

[124261 rows x 10 columns]
        token_number            timestamp           time_entry  volume  open  \
0              40550  1980-01-01 00:00:00  2023-12-01 09:15:02       0  0.00
1              40550  1980-01-01 00:00:00  2023-12-01 09:15:02       0  0.00
2              40550  1980-01-01 00:00:00  2023-12-01 09:15:04       0  0.00
3              40550  1980-01-01 00:00:00  2023-12-01 09:15:14       0  0.00
4              40550  1980-01-01 00:00:00  2023-12-01 09:15:23       0  0.00
...              ...                  ...                  ...     ...   ...
124358         41225  2023-12-01 10:01:22  2023-12-01 10:01:23  982515  3.05
124359         41225  2023-12-01 10:01:22  2023-12-01 10:01:29  982515  3.05
124360         41225  2023-12-01 10:01:36  2023-12-01 10:01:51  985875  3.05
124361         41225  2023-12-01 10:01:57  2023-12-01 10:01:58  989115  3.05
124362         41225  2023-12-01 10:02:02  2023-12-01 10:02:02  991680  3.05

        high  low  prev-close   ltp   atp
0        0.0  0.0      6455.1  0.00  0.00
1        0.0  0.0      6455.1  0.00  0.00
2        0.0  0.0      6455.1  0.00  0.00
3        0.0  0.0      6455.1  0.00  0.00
4        0.0  0.0      6455.1  0.00  0.00
...      ...  ...         ...   ...   ...
124358   3.6  2.2         3.0  2.45  2.53
124359   3.6  2.2         3.0  2.45  2.53
124360   3.6  2.2         3.0  2.45  2.53
124361   3.6  2.2         3.0  2.50  2.53
124362   3.6  2.2         3.0  2.50  2.53

[124363 rows x 10 columns]
        token_number            timestamp           time_entry  volume  open  \
0              40550  1980-01-01 00:00:00  2023-12-01 09:15:02       0   0.0
1              40550  1980-01-01 00:00:00  2023-12-01 09:15:02       0   0.0
2              40550  1980-01-01 00:00:00  2023-12-01 09:15:04       0   0.0
3              40550  1980-01-01 00:00:00  2023-12-01 09:15:14       0   0.0
4              40550  1980-01-01 00:00:00  2023-12-01 09:15:23       0   0.0
...              ...                  ...                  ...     ...   ...
124461         41226  1980-01-01 00:00:00  2023-12-01 10:01:35       0   0.0
124462         41226  1980-01-01 00:00:00  2023-12-01 10:01:36       0   0.0
124463         41226  1980-01-01 00:00:00  2023-12-01 10:01:44       0   0.0
124464         41226  1980-01-01 00:00:00  2023-12-01 10:01:48       0   0.0
124465         41226  1980-01-01 00:00:00  2023-12-01 10:01:52       0   0.0

        high  low  prev-close  ltp  atp
0        0.0  0.0     6455.10  0.0  0.0
1        0.0  0.0     6455.10  0.0  0.0
2        0.0  0.0     6455.10  0.0  0.0
3        0.0  0.0     6455.10  0.0  0.0
4        0.0  0.0     6455.10  0.0  0.0
...      ...  ...         ...  ...  ...
124461   0.0  0.0     5487.25  0.0  0.0
124462   0.0  0.0     5487.25  0.0  0.0
124463   0.0  0.0     5487.25  0.0  0.0
124464   0.0  0.0     5487.25  0.0  0.0
124465   0.0  0.0     5487.25  0.0  0.0

[124466 rows x 10 columns]

        token_number            timestamp           time_entry  volume  open  \
0              40550  1980-01-01 00:00:00  2023-12-01 09:15:02       0  0.00
1              40550  1980-01-01 00:00:00  2023-12-01 09:15:02       0  0.00
2              40550  1980-01-01 00:00:00  2023-12-01 09:15:04       0  0.00
3              40550  1980-01-01 00:00:00  2023-12-01 09:15:14       0  0.00
4              40550  1980-01-01 00:00:00  2023-12-01 09:15:23       0  0.00
...              ...                  ...                  ...     ...   ...
124587         41227  2023-12-01 10:01:22  2023-12-01 10:01:27  780375  2.95
124588         41227  2023-12-01 10:01:22  2023-12-01 10:01:30  780375  2.95
124589         41227  2023-12-01 10:01:22  2023-12-01 10:01:34  780375  2.95
124590         41227  2023-12-01 10:01:51  2023-12-01 10:01:52  780555  2.95
124591         41227  2023-12-01 10:02:06  2023-12-01 10:02:07  786045  2.95

        high   low  prev-close   ltp   atp
0        0.0  0.00     6455.10  0.00  0.00
1        0.0  0.00     6455.10  0.00  0.00
2        0.0  0.00     6455.10  0.00  0.00
3        0.0  0.00     6455.10  0.00  0.00
4        0.0  0.00     6455.10  0.00  0.00
...      ...   ...         ...   ...   ...
124587   3.2  1.75        2.95  2.35  2.42
124588   3.2  1.75        2.95  2.35  2.42
124589   3.2  1.75        2.95  2.35  2.42
124590   3.2  1.75        2.95  2.30  2.42
124591   3.2  1.75        2.95  2.35  2.41

[124592 rows x 10 columns]
        token_number            timestamp           time_entry  volume  open  \
0              40550  1980-01-01 00:00:00  2023-12-01 09:15:02       0   0.0
1              40550  1980-01-01 00:00:00  2023-12-01 09:15:02       0   0.0
2              40550  1980-01-01 00:00:00  2023-12-01 09:15:04       0   0.0
3              40550  1980-01-01 00:00:00  2023-12-01 09:15:14       0   0.0
4              40550  1980-01-01 00:00:00  2023-12-01 09:15:23       0   0.0
...              ...                  ...                  ...     ...   ...
124708         41228  1980-01-01 00:00:00  2023-12-01 10:01:45       0   0.0
124709         41228  1980-01-01 00:00:00  2023-12-01 10:01:51       0   0.0
124710         41228  1980-01-01 00:00:00  2023-12-01 10:01:56       0   0.0
124711         41228  1980-01-01 00:00:00  2023-12-01 10:02:00       0   0.0
124712         41228  1980-01-01 00:00:00  2023-12-01 10:02:04       0   0.0

        high  low  prev-close  ltp  atp
0        0.0  0.0      6455.1  0.0  0.0
1        0.0  0.0      6455.1  0.0  0.0
2        0.0  0.0      6455.1  0.0  0.0
3        0.0  0.0      6455.1  0.0  0.0
4        0.0  0.0      6455.1  0.0  0.0
...      ...  ...         ...  ...  ...
124708   0.0  0.0      5975.3  0.0  0.0
124709   0.0  0.0      5975.3  0.0  0.0
124710   0.0  0.0      5975.3  0.0  0.0
124711   0.0  0.0      5975.3  0.0  0.0
124712   0.0  0.0      5975.3  0.0  0.0

[124713 rows x 10 columns]
        token_number            timestamp           time_entry  volume  open  \
0              40550  1980-01-01 00:00:00  2023-12-01 09:15:02       0  0.00
1              40550  1980-01-01 00:00:00  2023-12-01 09:15:02       0  0.00
2              40550  1980-01-01 00:00:00  2023-12-01 09:15:04       0  0.00
3              40550  1980-01-01 00:00:00  2023-12-01 09:15:14       0  0.00
4              40550  1980-01-01 00:00:00  2023-12-01 09:15:23       0  0.00
...              ...                  ...                  ...     ...   ...
124783         41229  2023-12-01 10:00:36  2023-12-01 10:01:29  369810  2.65
124784         41229  2023-12-01 10:01:47  2023-12-01 10:01:51  369915  2.65
124785         41229  2023-12-01 10:01:51  2023-12-01 10:01:56  369990  2.65
124786         41229  2023-12-01 10:01:51  2023-12-01 10:01:57  369990  2.65
124787         41229  2023-12-01 10:02:05  2023-12-01 10:02:06  370440  2.65

        high   low  prev-close   ltp   atp
0       0.00  0.00      6455.1  0.00  0.00
1       0.00  0.00      6455.1  0.00  0.00
2       0.00  0.00      6455.1  0.00  0.00
3       0.00  0.00      6455.1  0.00  0.00
4       0.00  0.00      6455.1  0.00  0.00
...      ...   ...         ...   ...   ...
124783  3.15  1.95         2.7  2.15  2.39
124784  3.15  1.95         2.7  2.20  2.39
124785  3.15  1.95         2.7  2.20  2.39
124786  3.15  1.95         2.7  2.20  2.39
124787  3.15  1.95         2.7  2.20  2.38

[124788 rows x 10 columns]
        token_number            timestamp           time_entry  volume  open  \
0              40550  1980-01-01 00:00:00  2023-12-01 09:15:02       0   0.0
1              40550  1980-01-01 00:00:00  2023-12-01 09:15:02       0   0.0
2              40550  1980-01-01 00:00:00  2023-12-01 09:15:04       0   0.0
3              40550  1980-01-01 00:00:00  2023-12-01 09:15:14       0   0.0
4              40550  1980-01-01 00:00:00  2023-12-01 09:15:23       0   0.0
...              ...                  ...                  ...     ...   ...
124876         41230  1980-01-01 00:00:00  2023-12-01 10:01:39       0   0.0
124877         41230  1980-01-01 00:00:00  2023-12-01 10:01:42       0   0.0
124878         41230  1980-01-01 00:00:00  2023-12-01 10:01:44       0   0.0
124879         41230  1980-01-01 00:00:00  2023-12-01 10:01:45       0   0.0
124880         41230  1980-01-01 00:00:00  2023-12-01 10:01:56       0   0.0

        high  low  prev-close  ltp  atp
0        0.0  0.0     6455.10  0.0  0.0
1        0.0  0.0     6455.10  0.0  0.0
2        0.0  0.0     6455.10  0.0  0.0
3        0.0  0.0     6455.10  0.0  0.0
4        0.0  0.0     6455.10  0.0  0.0
...      ...  ...         ...  ...  ...
124876   0.0  0.0     6466.35  0.0  0.0
124877   0.0  0.0     6466.35  0.0  0.0
124878   0.0  0.0     6466.35  0.0  0.0
124879   0.0  0.0     6466.35  0.0  0.0
124880   0.0  0.0     6466.35  0.0  0.0

[124881 rows x 10 columns]
        token_number            timestamp           time_entry   volume  open  \
0              40550  1980-01-01 00:00:00  2023-12-01 09:15:02        0  0.00
1              40550  1980-01-01 00:00:00  2023-12-01 09:15:02        0  0.00
2              40550  1980-01-01 00:00:00  2023-12-01 09:15:04        0  0.00
3              40550  1980-01-01 00:00:00  2023-12-01 09:15:14        0  0.00
4              40550  1980-01-01 00:00:00  2023-12-01 09:15:23        0  0.00
...              ...                  ...                  ...      ...   ...
125001         41231  2023-12-01 10:01:47  2023-12-01 10:01:49  1255920  2.45
125002         41231  2023-12-01 10:01:52  2023-12-01 10:01:52  1256100  2.45
125003         41231  2023-12-01 10:02:00  2023-12-01 10:02:01  1257090  2.45
125004         41231  2023-12-01 10:02:00  2023-12-01 10:02:01  1257105  2.45
125005         41231  2023-12-01 10:02:00  2023-12-01 10:02:07  1257105  2.45

        high  low  prev-close  ltp   atp
0       0.00  0.0      6455.1  0.0  0.00
1       0.00  0.0      6455.1  0.0  0.00
2       0.00  0.0      6455.1  0.0  0.00
3       0.00  0.0      6455.1  0.0  0.00
4       0.00  0.0      6455.1  0.0  0.00
...      ...  ...         ...  ...   ...
125001  2.55  1.7         2.8  2.1  2.21
125002  2.55  1.7         2.8  2.1  2.21
125003  2.55  1.7         2.8  2.1  2.21
125004  2.55  1.7         2.8  2.1  2.21
125005  2.55  1.7         2.8  2.1  2.21

[125006 rows x 10 columns]
        token_number            timestamp           time_entry  volume  open  \
0              40550  1980-01-01 00:00:00  2023-12-01 09:15:02       0   0.0
1              40550  1980-01-01 00:00:00  2023-12-01 09:15:02       0   0.0
2              40550  1980-01-01 00:00:00  2023-12-01 09:15:04       0   0.0
3              40550  1980-01-01 00:00:00  2023-12-01 09:15:14       0   0.0
4              40550  1980-01-01 00:00:00  2023-12-01 09:15:23       0   0.0
...              ...                  ...                  ...     ...   ...
125130         41232  2023-11-29 11:15:29  2023-12-01 10:01:57       0   0.0
125131         41232  2023-11-29 11:15:29  2023-12-01 10:01:57       0   0.0
125132         41232  2023-11-29 11:15:29  2023-12-01 10:01:59       0   0.0
125133         41232  2023-11-29 11:15:29  2023-12-01 10:02:01       0   0.0
125134         41232  2023-11-29 11:15:29  2023-12-01 10:02:02       0   0.0

        high  low  prev-close     ltp  atp
0        0.0  0.0      6455.1     0.0  0.0
1        0.0  0.0      6455.1     0.0  0.0
2        0.0  0.0      6455.1     0.0  0.0
3        0.0  0.0      6455.1     0.0  0.0
4        0.0  0.0      6455.1     0.0  0.0
...      ...  ...         ...     ...  ...
125130   0.0  0.0      5725.0  5725.0  0.0
125131   0.0  0.0      5725.0  5725.0  0.0
125132   0.0  0.0      5725.0  5725.0  0.0
125133   0.0  0.0      5725.0  5725.0  0.0
125134   0.0  0.0      5725.0  5725.0  0.0

[125135 rows x 10 columns]

        token_number            timestamp           time_entry   volume  open  \
0              40550  1980-01-01 00:00:00  2023-12-01 09:15:02        0  0.00
1              40550  1980-01-01 00:00:00  2023-12-01 09:15:02        0  0.00
2              40550  1980-01-01 00:00:00  2023-12-01 09:15:04        0  0.00
3              40550  1980-01-01 00:00:00  2023-12-01 09:15:14        0  0.00
4              40550  1980-01-01 00:00:00  2023-12-01 09:15:23        0  0.00
...              ...                  ...                  ...      ...   ...
125231         41233  2023-12-01 10:01:57  2023-12-01 10:02:00  1534125  2.35
125232         41233  2023-12-01 10:01:57  2023-12-01 10:02:01  1534125  2.35
125233         41233  2023-12-01 10:01:57  2023-12-01 10:02:01  1534125  2.35
125234         41233  2023-12-01 10:02:03  2023-12-01 10:02:03  1535025  2.35
125235         41233  2023-12-01 10:02:03  2023-12-01 10:02:05  1535070  2.35

        high   low  prev-close   ltp   atp
0        0.0  0.00     6455.10  0.00  0.00
1        0.0  0.00     6455.10  0.00  0.00
2        0.0  0.00     6455.10  0.00  0.00
3        0.0  0.00     6455.10  0.00  0.00
4        0.0  0.00     6455.10  0.00  0.00
...      ...   ...         ...   ...   ...
125231   2.8  1.65        2.65  1.85  2.18
125232   2.8  1.65        2.65  1.85  2.18
125233   2.8  1.65        2.65  1.85  2.18
125234   2.8  1.65        2.65  1.85  2.18
125235   2.8  1.65        2.65  1.80  2.18

[125236 rows x 10 columns]
        token_number            timestamp           time_entry  volume  \
0              40550  1980-01-01 00:00:00  2023-12-01 09:15:02       0
1              40550  1980-01-01 00:00:00  2023-12-01 09:15:02       0
2              40550  1980-01-01 00:00:00  2023-12-01 09:15:04       0
3              40550  1980-01-01 00:00:00  2023-12-01 09:15:14       0
4              40550  1980-01-01 00:00:00  2023-12-01 09:15:23       0
...              ...                  ...                  ...     ...
125268         41234  2023-12-01 09:17:50  2023-12-01 10:00:15      15
125269         41234  2023-12-01 09:17:50  2023-12-01 10:01:09      15
125270         41234  2023-12-01 09:17:50  2023-12-01 10:01:21      15
125271         41234  2023-12-01 09:17:50  2023-12-01 10:01:30      15
125272         41234  2023-12-01 09:17:50  2023-12-01 10:01:36      15

          open    high     low  prev-close     ltp     atp
0          0.0     0.0     0.0      6455.1     0.0     0.0
1          0.0     0.0     0.0      6455.1     0.0     0.0
2          0.0     0.0     0.0      6455.1     0.0     0.0
3          0.0     0.0     0.0      6455.1     0.0     0.0
4          0.0     0.0     0.0      6455.1     0.0     0.0
...        ...     ...     ...         ...     ...     ...
125268  6260.4  6260.4  6260.4      6030.0  6260.4  6260.4
125269  6260.4  6260.4  6260.4      6030.0  6260.4  6260.4
125270  6260.4  6260.4  6260.4      6030.0  6260.4  6260.4
125271  6260.4  6260.4  6260.4      6030.0  6260.4  6260.4
125272  6260.4  6260.4  6260.4      6030.0  6260.4  6260.4

[125273 rows x 10 columns]
        token_number            timestamp           time_entry  volume  \
0              40550  1980-01-01 00:00:00  2023-12-01 09:15:02       0
1              40550  1980-01-01 00:00:00  2023-12-01 09:15:02       0
2              40550  1980-01-01 00:00:00  2023-12-01 09:15:04       0
3              40550  1980-01-01 00:00:00  2023-12-01 09:15:14       0
4              40550  1980-01-01 00:00:00  2023-12-01 09:15:23       0
...              ...                  ...                  ...     ...
125268         41234  2023-12-01 09:17:50  2023-12-01 10:00:15      15
125269         41234  2023-12-01 09:17:50  2023-12-01 10:01:09      15
125270         41234  2023-12-01 09:17:50  2023-12-01 10:01:21      15
125271         41234  2023-12-01 09:17:50  2023-12-01 10:01:30      15
125272         41234  2023-12-01 09:17:50  2023-12-01 10:01:36      15

          open    high     low  prev-close     ltp     atp
0          0.0     0.0     0.0      6455.1     0.0     0.0
1          0.0     0.0     0.0      6455.1     0.0     0.0
2          0.0     0.0     0.0      6455.1     0.0     0.0
3          0.0     0.0     0.0      6455.1     0.0     0.0
4          0.0     0.0     0.0      6455.1     0.0     0.0
...        ...     ...     ...         ...     ...     ...
125268  6260.4  6260.4  6260.4      6030.0  6260.4  6260.4
125269  6260.4  6260.4  6260.4      6030.0  6260.4  6260.4
125270  6260.4  6260.4  6260.4      6030.0  6260.4  6260.4
125271  6260.4  6260.4  6260.4      6030.0  6260.4  6260.4
125272  6260.4  6260.4  6260.4      6030.0  6260.4  6260.4

[125273 rows x 10 columns]
        token_number            timestamp           time_entry  volume  \
0              40550  1980-01-01 00:00:00  2023-12-01 09:15:02       0
1              40550  1980-01-01 00:00:00  2023-12-01 09:15:02       0
2              40550  1980-01-01 00:00:00  2023-12-01 09:15:04       0
3              40550  1980-01-01 00:00:00  2023-12-01 09:15:14       0
4              40550  1980-01-01 00:00:00  2023-12-01 09:15:23       0
...              ...                  ...                  ...     ...
125268         41234  2023-12-01 09:17:50  2023-12-01 10:00:15      15
125269         41234  2023-12-01 09:17:50  2023-12-01 10:01:09      15
125270         41234  2023-12-01 09:17:50  2023-12-01 10:01:21      15
125271         41234  2023-12-01 09:17:50  2023-12-01 10:01:30      15
125272         41234  2023-12-01 09:17:50  2023-12-01 10:01:36      15

          open    high     low  prev-close     ltp     atp
0          0.0     0.0     0.0      6455.1     0.0     0.0
1          0.0     0.0     0.0      6455.1     0.0     0.0
2          0.0     0.0     0.0      6455.1     0.0     0.0
3          0.0     0.0     0.0      6455.1     0.0     0.0
4          0.0     0.0     0.0      6455.1     0.0     0.0
...        ...     ...     ...         ...     ...     ...
125268  6260.4  6260.4  6260.4      6030.0  6260.4  6260.4
125269  6260.4  6260.4  6260.4      6030.0  6260.4  6260.4
125270  6260.4  6260.4  6260.4      6030.0  6260.4  6260.4
125271  6260.4  6260.4  6260.4      6030.0  6260.4  6260.4
125272  6260.4  6260.4  6260.4      6030.0  6260.4  6260.4

[125273 rows x 10 columns]
        token_number            timestamp           time_entry  volume  \
0              40550  1980-01-01 00:00:00  2023-12-01 09:15:02       0
1              40550  1980-01-01 00:00:00  2023-12-01 09:15:02       0
2              40550  1980-01-01 00:00:00  2023-12-01 09:15:04       0
3              40550  1980-01-01 00:00:00  2023-12-01 09:15:14       0
4              40550  1980-01-01 00:00:00  2023-12-01 09:15:23       0
...              ...                  ...                  ...     ...
125268         41234  2023-12-01 09:17:50  2023-12-01 10:00:15      15
125269         41234  2023-12-01 09:17:50  2023-12-01 10:01:09      15
125270         41234  2023-12-01 09:17:50  2023-12-01 10:01:21      15
125271         41234  2023-12-01 09:17:50  2023-12-01 10:01:30      15
125272         41234  2023-12-01 09:17:50  2023-12-01 10:01:36      15

          open    high     low  prev-close     ltp     atp
0          0.0     0.0     0.0      6455.1     0.0     0.0
1          0.0     0.0     0.0      6455.1     0.0     0.0
2          0.0     0.0     0.0      6455.1     0.0     0.0
3          0.0     0.0     0.0      6455.1     0.0     0.0
4          0.0     0.0     0.0      6455.1     0.0     0.0
...        ...     ...     ...         ...     ...     ...
125268  6260.4  6260.4  6260.4      6030.0  6260.4  6260.4
125269  6260.4  6260.4  6260.4      6030.0  6260.4  6260.4
125270  6260.4  6260.4  6260.4      6030.0  6260.4  6260.4
125271  6260.4  6260.4  6260.4      6030.0  6260.4  6260.4
125272  6260.4  6260.4  6260.4      6030.0  6260.4  6260.4

[125273 rows x 10 columns]
        token_number            timestamp           time_entry  volume  \
0              40550  1980-01-01 00:00:00  2023-12-01 09:15:02       0
1              40550  1980-01-01 00:00:00  2023-12-01 09:15:02       0
2              40550  1980-01-01 00:00:00  2023-12-01 09:15:04       0
3              40550  1980-01-01 00:00:00  2023-12-01 09:15:14       0
4              40550  1980-01-01 00:00:00  2023-12-01 09:15:23       0
...              ...                  ...                  ...     ...
125268         41234  2023-12-01 09:17:50  2023-12-01 10:00:15      15
125269         41234  2023-12-01 09:17:50  2023-12-01 10:01:09      15
125270         41234  2023-12-01 09:17:50  2023-12-01 10:01:21      15
125271         41234  2023-12-01 09:17:50  2023-12-01 10:01:30      15
125272         41234  2023-12-01 09:17:50  2023-12-01 10:01:36      15

          open    high     low  prev-close     ltp     atp
0          0.0     0.0     0.0      6455.1     0.0     0.0
1          0.0     0.0     0.0      6455.1     0.0     0.0
2          0.0     0.0     0.0      6455.1     0.0     0.0
3          0.0     0.0     0.0      6455.1     0.0     0.0
4          0.0     0.0     0.0      6455.1     0.0     0.0
...        ...     ...     ...         ...     ...     ...
125268  6260.4  6260.4  6260.4      6030.0  6260.4  6260.4
125269  6260.4  6260.4  6260.4      6030.0  6260.4  6260.4
125270  6260.4  6260.4  6260.4      6030.0  6260.4  6260.4
125271  6260.4  6260.4  6260.4      6030.0  6260.4  6260.4
125272  6260.4  6260.4  6260.4      6030.0  6260.4  6260.4

[125273 rows x 10 columns]

        token_number            timestamp           time_entry  volume  \
0              40550  1980-01-01 00:00:00  2023-12-01 09:15:02       0
1              40550  1980-01-01 00:00:00  2023-12-01 09:15:02       0
2              40550  1980-01-01 00:00:00  2023-12-01 09:15:04       0
3              40550  1980-01-01 00:00:00  2023-12-01 09:15:14       0
4              40550  1980-01-01 00:00:00  2023-12-01 09:15:23       0
...              ...                  ...                  ...     ...
125268         41234  2023-12-01 09:17:50  2023-12-01 10:00:15      15
125269         41234  2023-12-01 09:17:50  2023-12-01 10:01:09      15
125270         41234  2023-12-01 09:17:50  2023-12-01 10:01:21      15
125271         41234  2023-12-01 09:17:50  2023-12-01 10:01:30      15
125272         41234  2023-12-01 09:17:50  2023-12-01 10:01:36      15

          open    high     low  prev-close     ltp     atp
0          0.0     0.0     0.0      6455.1     0.0     0.0
1          0.0     0.0     0.0      6455.1     0.0     0.0
2          0.0     0.0     0.0      6455.1     0.0     0.0
3          0.0     0.0     0.0      6455.1     0.0     0.0
4          0.0     0.0     0.0      6455.1     0.0     0.0
...        ...     ...     ...         ...     ...     ...
125268  6260.4  6260.4  6260.4      6030.0  6260.4  6260.4
125269  6260.4  6260.4  6260.4      6030.0  6260.4  6260.4
125270  6260.4  6260.4  6260.4      6030.0  6260.4  6260.4
125271  6260.4  6260.4  6260.4      6030.0  6260.4  6260.4
125272  6260.4  6260.4  6260.4      6030.0  6260.4  6260.4

[125273 rows x 10 columns]
        token_number            timestamp           time_entry  volume  \
0              40550  1980-01-01 00:00:00  2023-12-01 09:15:02       0
1              40550  1980-01-01 00:00:00  2023-12-01 09:15:02       0
2              40550  1980-01-01 00:00:00  2023-12-01 09:15:04       0
3              40550  1980-01-01 00:00:00  2023-12-01 09:15:14       0
4              40550  1980-01-01 00:00:00  2023-12-01 09:15:23       0
...              ...                  ...                  ...     ...
125268         41234  2023-12-01 09:17:50  2023-12-01 10:00:15      15
125269         41234  2023-12-01 09:17:50  2023-12-01 10:01:09      15
125270         41234  2023-12-01 09:17:50  2023-12-01 10:01:21      15
125271         41234  2023-12-01 09:17:50  2023-12-01 10:01:30      15
125272         41234  2023-12-01 09:17:50  2023-12-01 10:01:36      15

          open    high     low  prev-close     ltp     atp
0          0.0     0.0     0.0      6455.1     0.0     0.0
1          0.0     0.0     0.0      6455.1     0.0     0.0
2          0.0     0.0     0.0      6455.1     0.0     0.0
3          0.0     0.0     0.0      6455.1     0.0     0.0
4          0.0     0.0     0.0      6455.1     0.0     0.0
...        ...     ...     ...         ...     ...     ...
125268  6260.4  6260.4  6260.4      6030.0  6260.4  6260.4
125269  6260.4  6260.4  6260.4      6030.0  6260.4  6260.4
125270  6260.4  6260.4  6260.4      6030.0  6260.4  6260.4
125271  6260.4  6260.4  6260.4      6030.0  6260.4  6260.4
125272  6260.4  6260.4  6260.4      6030.0  6260.4  6260.4

[125273 rows x 10 columns]
        token_number            timestamp           time_entry  volume  \
0              40550  1980-01-01 00:00:00  2023-12-01 09:15:02       0
1              40550  1980-01-01 00:00:00  2023-12-01 09:15:02       0
2              40550  1980-01-01 00:00:00  2023-12-01 09:15:04       0
3              40550  1980-01-01 00:00:00  2023-12-01 09:15:14       0
4              40550  1980-01-01 00:00:00  2023-12-01 09:15:23       0
...              ...                  ...                  ...     ...
125268         41234  2023-12-01 09:17:50  2023-12-01 10:00:15      15
125269         41234  2023-12-01 09:17:50  2023-12-01 10:01:09      15
125270         41234  2023-12-01 09:17:50  2023-12-01 10:01:21      15
125271         41234  2023-12-01 09:17:50  2023-12-01 10:01:30      15
125272         41234  2023-12-01 09:17:50  2023-12-01 10:01:36      15

          open    high     low  prev-close     ltp     atp
0          0.0     0.0     0.0      6455.1     0.0     0.0
1          0.0     0.0     0.0      6455.1     0.0     0.0
2          0.0     0.0     0.0      6455.1     0.0     0.0
3          0.0     0.0     0.0      6455.1     0.0     0.0
4          0.0     0.0     0.0      6455.1     0.0     0.0
...        ...     ...     ...         ...     ...     ...
125268  6260.4  6260.4  6260.4      6030.0  6260.4  6260.4
125269  6260.4  6260.4  6260.4      6030.0  6260.4  6260.4
125270  6260.4  6260.4  6260.4      6030.0  6260.4  6260.4
125271  6260.4  6260.4  6260.4      6030.0  6260.4  6260.4
125272  6260.4  6260.4  6260.4      6030.0  6260.4  6260.4

[125273 rows x 10 columns]
        token_number            timestamp           time_entry  volume  \
0              40550  1980-01-01 00:00:00  2023-12-01 09:15:02       0
1              40550  1980-01-01 00:00:00  2023-12-01 09:15:02       0
2              40550  1980-01-01 00:00:00  2023-12-01 09:15:04       0
3              40550  1980-01-01 00:00:00  2023-12-01 09:15:14       0
4              40550  1980-01-01 00:00:00  2023-12-01 09:15:23       0
...              ...                  ...                  ...     ...
125268         41234  2023-12-01 09:17:50  2023-12-01 10:00:15      15
125269         41234  2023-12-01 09:17:50  2023-12-01 10:01:09      15
125270         41234  2023-12-01 09:17:50  2023-12-01 10:01:21      15
125271         41234  2023-12-01 09:17:50  2023-12-01 10:01:30      15
125272         41234  2023-12-01 09:17:50  2023-12-01 10:01:36      15

          open    high     low  prev-close     ltp     atp
0          0.0     0.0     0.0      6455.1     0.0     0.0
1          0.0     0.0     0.0      6455.1     0.0     0.0
2          0.0     0.0     0.0      6455.1     0.0     0.0
3          0.0     0.0     0.0      6455.1     0.0     0.0
4          0.0     0.0     0.0      6455.1     0.0     0.0
...        ...     ...     ...         ...     ...     ...
125268  6260.4  6260.4  6260.4      6030.0  6260.4  6260.4
125269  6260.4  6260.4  6260.4      6030.0  6260.4  6260.4
125270  6260.4  6260.4  6260.4      6030.0  6260.4  6260.4
125271  6260.4  6260.4  6260.4      6030.0  6260.4  6260.4
125272  6260.4  6260.4  6260.4      6030.0  6260.4  6260.4

[125273 rows x 10 columns]
        token_number            timestamp           time_entry  volume  \
0              40550  1980-01-01 00:00:00  2023-12-01 09:15:02       0
1              40550  1980-01-01 00:00:00  2023-12-01 09:15:02       0
2              40550  1980-01-01 00:00:00  2023-12-01 09:15:04       0
3              40550  1980-01-01 00:00:00  2023-12-01 09:15:14       0
4              40550  1980-01-01 00:00:00  2023-12-01 09:15:23       0
...              ...                  ...                  ...     ...
125268         41234  2023-12-01 09:17:50  2023-12-01 10:00:15      15
125269         41234  2023-12-01 09:17:50  2023-12-01 10:01:09      15
125270         41234  2023-12-01 09:17:50  2023-12-01 10:01:21      15
125271         41234  2023-12-01 09:17:50  2023-12-01 10:01:30      15
125272         41234  2023-12-01 09:17:50  2023-12-01 10:01:36      15

          open    high     low  prev-close     ltp     atp
0          0.0     0.0     0.0      6455.1     0.0     0.0
1          0.0     0.0     0.0      6455.1     0.0     0.0
2          0.0     0.0     0.0      6455.1     0.0     0.0
3          0.0     0.0     0.0      6455.1     0.0     0.0
4          0.0     0.0     0.0      6455.1     0.0     0.0
...        ...     ...     ...         ...     ...     ...
125268  6260.4  6260.4  6260.4      6030.0  6260.4  6260.4
125269  6260.4  6260.4  6260.4      6030.0  6260.4  6260.4
125270  6260.4  6260.4  6260.4      6030.0  6260.4  6260.4
125271  6260.4  6260.4  6260.4      6030.0  6260.4  6260.4
125272  6260.4  6260.4  6260.4      6030.0  6260.4  6260.4

[125273 rows x 10 columns]

        token_number            timestamp           time_entry  volume  \
0              40550  1980-01-01 00:00:00  2023-12-01 09:15:02       0
1              40550  1980-01-01 00:00:00  2023-12-01 09:15:02       0
2              40550  1980-01-01 00:00:00  2023-12-01 09:15:04       0
3              40550  1980-01-01 00:00:00  2023-12-01 09:15:14       0
4              40550  1980-01-01 00:00:00  2023-12-01 09:15:23       0
...              ...                  ...                  ...     ...
125268         41234  2023-12-01 09:17:50  2023-12-01 10:00:15      15
125269         41234  2023-12-01 09:17:50  2023-12-01 10:01:09      15
125270         41234  2023-12-01 09:17:50  2023-12-01 10:01:21      15
125271         41234  2023-12-01 09:17:50  2023-12-01 10:01:30      15
125272         41234  2023-12-01 09:17:50  2023-12-01 10:01:36      15

          open    high     low  prev-close     ltp     atp
0          0.0     0.0     0.0      6455.1     0.0     0.0
1          0.0     0.0     0.0      6455.1     0.0     0.0
2          0.0     0.0     0.0      6455.1     0.0     0.0
3          0.0     0.0     0.0      6455.1     0.0     0.0
4          0.0     0.0     0.0      6455.1     0.0     0.0
...        ...     ...     ...         ...     ...     ...
125268  6260.4  6260.4  6260.4      6030.0  6260.4  6260.4
125269  6260.4  6260.4  6260.4      6030.0  6260.4  6260.4
125270  6260.4  6260.4  6260.4      6030.0  6260.4  6260.4
125271  6260.4  6260.4  6260.4      6030.0  6260.4  6260.4
125272  6260.4  6260.4  6260.4      6030.0  6260.4  6260.4

[125273 rows x 10 columns]
        token_number            timestamp           time_entry  volume  \
0              40550  1980-01-01 00:00:00  2023-12-01 09:15:02       0
1              40550  1980-01-01 00:00:00  2023-12-01 09:15:02       0
2              40550  1980-01-01 00:00:00  2023-12-01 09:15:04       0
3              40550  1980-01-01 00:00:00  2023-12-01 09:15:14       0
4              40550  1980-01-01 00:00:00  2023-12-01 09:15:23       0
...              ...                  ...                  ...     ...
125268         41234  2023-12-01 09:17:50  2023-12-01 10:00:15      15
125269         41234  2023-12-01 09:17:50  2023-12-01 10:01:09      15
125270         41234  2023-12-01 09:17:50  2023-12-01 10:01:21      15
125271         41234  2023-12-01 09:17:50  2023-12-01 10:01:30      15
125272         41234  2023-12-01 09:17:50  2023-12-01 10:01:36      15

          open    high     low  prev-close     ltp     atp
0          0.0     0.0     0.0      6455.1     0.0     0.0
1          0.0     0.0     0.0      6455.1     0.0     0.0
2          0.0     0.0     0.0      6455.1     0.0     0.0
3          0.0     0.0     0.0      6455.1     0.0     0.0
4          0.0     0.0     0.0      6455.1     0.0     0.0
...        ...     ...     ...         ...     ...     ...
125268  6260.4  6260.4  6260.4      6030.0  6260.4  6260.4
125269  6260.4  6260.4  6260.4      6030.0  6260.4  6260.4
125270  6260.4  6260.4  6260.4      6030.0  6260.4  6260.4
125271  6260.4  6260.4  6260.4      6030.0  6260.4  6260.4
125272  6260.4  6260.4  6260.4      6030.0  6260.4  6260.4

[125273 rows x 10 columns]
        token_number            timestamp           time_entry  volume  \
0              40550  1980-01-01 00:00:00  2023-12-01 09:15:02       0
1              40550  1980-01-01 00:00:00  2023-12-01 09:15:02       0
2              40550  1980-01-01 00:00:00  2023-12-01 09:15:04       0
3              40550  1980-01-01 00:00:00  2023-12-01 09:15:14       0
4              40550  1980-01-01 00:00:00  2023-12-01 09:15:23       0
...              ...                  ...                  ...     ...
125268         41234  2023-12-01 09:17:50  2023-12-01 10:00:15      15
125269         41234  2023-12-01 09:17:50  2023-12-01 10:01:09      15
125270         41234  2023-12-01 09:17:50  2023-12-01 10:01:21      15
125271         41234  2023-12-01 09:17:50  2023-12-01 10:01:30      15
125272         41234  2023-12-01 09:17:50  2023-12-01 10:01:36      15

          open    high     low  prev-close     ltp     atp
0          0.0     0.0     0.0      6455.1     0.0     0.0
1          0.0     0.0     0.0      6455.1     0.0     0.0
2          0.0     0.0     0.0      6455.1     0.0     0.0
3          0.0     0.0     0.0      6455.1     0.0     0.0
4          0.0     0.0     0.0      6455.1     0.0     0.0
...        ...     ...     ...         ...     ...     ...
125268  6260.4  6260.4  6260.4      6030.0  6260.4  6260.4
125269  6260.4  6260.4  6260.4      6030.0  6260.4  6260.4
125270  6260.4  6260.4  6260.4      6030.0  6260.4  6260.4
125271  6260.4  6260.4  6260.4      6030.0  6260.4  6260.4
125272  6260.4  6260.4  6260.4      6030.0  6260.4  6260.4

[125273 rows x 10 columns]
        token_number            timestamp           time_entry  volume  \
0              40550  1980-01-01 00:00:00  2023-12-01 09:15:02       0
1              40550  1980-01-01 00:00:00  2023-12-01 09:15:02       0
2              40550  1980-01-01 00:00:00  2023-12-01 09:15:04       0
3              40550  1980-01-01 00:00:00  2023-12-01 09:15:14       0
4              40550  1980-01-01 00:00:00  2023-12-01 09:15:23       0
...              ...                  ...                  ...     ...
125268         41234  2023-12-01 09:17:50  2023-12-01 10:00:15      15
125269         41234  2023-12-01 09:17:50  2023-12-01 10:01:09      15
125270         41234  2023-12-01 09:17:50  2023-12-01 10:01:21      15
125271         41234  2023-12-01 09:17:50  2023-12-01 10:01:30      15
125272         41234  2023-12-01 09:17:50  2023-12-01 10:01:36      15

          open    high     low  prev-close     ltp     atp
0          0.0     0.0     0.0      6455.1     0.0     0.0
1          0.0     0.0     0.0      6455.1     0.0     0.0
2          0.0     0.0     0.0      6455.1     0.0     0.0
3          0.0     0.0     0.0      6455.1     0.0     0.0
4          0.0     0.0     0.0      6455.1     0.0     0.0
...        ...     ...     ...         ...     ...     ...
125268  6260.4  6260.4  6260.4      6030.0  6260.4  6260.4
125269  6260.4  6260.4  6260.4      6030.0  6260.4  6260.4
125270  6260.4  6260.4  6260.4      6030.0  6260.4  6260.4
125271  6260.4  6260.4  6260.4      6030.0  6260.4  6260.4
125272  6260.4  6260.4  6260.4      6030.0  6260.4  6260.4

[125273 rows x 10 columns]
        token_number            timestamp           time_entry  volume  \
0              40550  1980-01-01 00:00:00  2023-12-01 09:15:02       0
1              40550  1980-01-01 00:00:00  2023-12-01 09:15:02       0
2              40550  1980-01-01 00:00:00  2023-12-01 09:15:04       0
3              40550  1980-01-01 00:00:00  2023-12-01 09:15:14       0
4              40550  1980-01-01 00:00:00  2023-12-01 09:15:23       0
...              ...                  ...                  ...     ...
125268         41234  2023-12-01 09:17:50  2023-12-01 10:00:15      15
125269         41234  2023-12-01 09:17:50  2023-12-01 10:01:09      15
125270         41234  2023-12-01 09:17:50  2023-12-01 10:01:21      15
125271         41234  2023-12-01 09:17:50  2023-12-01 10:01:30      15
125272         41234  2023-12-01 09:17:50  2023-12-01 10:01:36      15

          open    high     low  prev-close     ltp     atp
0          0.0     0.0     0.0      6455.1     0.0     0.0
1          0.0     0.0     0.0      6455.1     0.0     0.0
2          0.0     0.0     0.0      6455.1     0.0     0.0
3          0.0     0.0     0.0      6455.1     0.0     0.0
4          0.0     0.0     0.0      6455.1     0.0     0.0
...        ...     ...     ...         ...     ...     ...
125268  6260.4  6260.4  6260.4      6030.0  6260.4  6260.4
125269  6260.4  6260.4  6260.4      6030.0  6260.4  6260.4
125270  6260.4  6260.4  6260.4      6030.0  6260.4  6260.4
125271  6260.4  6260.4  6260.4      6030.0  6260.4  6260.4
125272  6260.4  6260.4  6260.4      6030.0  6260.4  6260.4

[125273 rows x 10 columns]

        token_number            timestamp           time_entry  volume  \
0              40550  1980-01-01 00:00:00  2023-12-01 09:15:02       0
1              40550  1980-01-01 00:00:00  2023-12-01 09:15:02       0
2              40550  1980-01-01 00:00:00  2023-12-01 09:15:04       0
3              40550  1980-01-01 00:00:00  2023-12-01 09:15:14       0
4              40550  1980-01-01 00:00:00  2023-12-01 09:15:23       0
...              ...                  ...                  ...     ...
125268         41234  2023-12-01 09:17:50  2023-12-01 10:00:15      15
125269         41234  2023-12-01 09:17:50  2023-12-01 10:01:09      15
125270         41234  2023-12-01 09:17:50  2023-12-01 10:01:21      15
125271         41234  2023-12-01 09:17:50  2023-12-01 10:01:30      15
125272         41234  2023-12-01 09:17:50  2023-12-01 10:01:36      15

          open    high     low  prev-close     ltp     atp
0          0.0     0.0     0.0      6455.1     0.0     0.0
1          0.0     0.0     0.0      6455.1     0.0     0.0
2          0.0     0.0     0.0      6455.1     0.0     0.0
3          0.0     0.0     0.0      6455.1     0.0     0.0
4          0.0     0.0     0.0      6455.1     0.0     0.0
...        ...     ...     ...         ...     ...     ...
125268  6260.4  6260.4  6260.4      6030.0  6260.4  6260.4
125269  6260.4  6260.4  6260.4      6030.0  6260.4  6260.4
125270  6260.4  6260.4  6260.4      6030.0  6260.4  6260.4
125271  6260.4  6260.4  6260.4      6030.0  6260.4  6260.4
125272  6260.4  6260.4  6260.4      6030.0  6260.4  6260.4

[125273 rows x 10 columns]
        token_number            timestamp           time_entry  volume  \
0              40550  1980-01-01 00:00:00  2023-12-01 09:15:02       0
1              40550  1980-01-01 00:00:00  2023-12-01 09:15:02       0
2              40550  1980-01-01 00:00:00  2023-12-01 09:15:04       0
3              40550  1980-01-01 00:00:00  2023-12-01 09:15:14       0
4              40550  1980-01-01 00:00:00  2023-12-01 09:15:23       0
...              ...                  ...                  ...     ...
125268         41234  2023-12-01 09:17:50  2023-12-01 10:00:15      15
125269         41234  2023-12-01 09:17:50  2023-12-01 10:01:09      15
125270         41234  2023-12-01 09:17:50  2023-12-01 10:01:21      15
125271         41234  2023-12-01 09:17:50  2023-12-01 10:01:30      15
125272         41234  2023-12-01 09:17:50  2023-12-01 10:01:36      15

          open    high     low  prev-close     ltp     atp
0          0.0     0.0     0.0      6455.1     0.0     0.0
1          0.0     0.0     0.0      6455.1     0.0     0.0
2          0.0     0.0     0.0      6455.1     0.0     0.0
3          0.0     0.0     0.0      6455.1     0.0     0.0
4          0.0     0.0     0.0      6455.1     0.0     0.0
...        ...     ...     ...         ...     ...     ...
125268  6260.4  6260.4  6260.4      6030.0  6260.4  6260.4
125269  6260.4  6260.4  6260.4      6030.0  6260.4  6260.4
125270  6260.4  6260.4  6260.4      6030.0  6260.4  6260.4
125271  6260.4  6260.4  6260.4      6030.0  6260.4  6260.4
125272  6260.4  6260.4  6260.4      6030.0  6260.4  6260.4

[125273 rows x 10 columns]
        token_number            timestamp           time_entry  volume  \
0              40550  1980-01-01 00:00:00  2023-12-01 09:15:02       0
1              40550  1980-01-01 00:00:00  2023-12-01 09:15:02       0
2              40550  1980-01-01 00:00:00  2023-12-01 09:15:04       0
3              40550  1980-01-01 00:00:00  2023-12-01 09:15:14       0
4              40550  1980-01-01 00:00:00  2023-12-01 09:15:23       0
...              ...                  ...                  ...     ...
125268         41234  2023-12-01 09:17:50  2023-12-01 10:00:15      15
125269         41234  2023-12-01 09:17:50  2023-12-01 10:01:09      15
125270         41234  2023-12-01 09:17:50  2023-12-01 10:01:21      15
125271         41234  2023-12-01 09:17:50  2023-12-01 10:01:30      15
125272         41234  2023-12-01 09:17:50  2023-12-01 10:01:36      15

          open    high     low  prev-close     ltp     atp
0          0.0     0.0     0.0      6455.1     0.0     0.0
1          0.0     0.0     0.0      6455.1     0.0     0.0
2          0.0     0.0     0.0      6455.1     0.0     0.0
3          0.0     0.0     0.0      6455.1     0.0     0.0
4          0.0     0.0     0.0      6455.1     0.0     0.0
...        ...     ...     ...         ...     ...     ...
125268  6260.4  6260.4  6260.4      6030.0  6260.4  6260.4
125269  6260.4  6260.4  6260.4      6030.0  6260.4  6260.4
125270  6260.4  6260.4  6260.4      6030.0  6260.4  6260.4
125271  6260.4  6260.4  6260.4      6030.0  6260.4  6260.4
125272  6260.4  6260.4  6260.4      6030.0  6260.4  6260.4

[125273 rows x 10 columns]
        token_number            timestamp           time_entry  volume  \
0              40550  1980-01-01 00:00:00  2023-12-01 09:15:02       0
1              40550  1980-01-01 00:00:00  2023-12-01 09:15:02       0
2              40550  1980-01-01 00:00:00  2023-12-01 09:15:04       0
3              40550  1980-01-01 00:00:00  2023-12-01 09:15:14       0
4              40550  1980-01-01 00:00:00  2023-12-01 09:15:23       0
...              ...                  ...                  ...     ...
125268         41234  2023-12-01 09:17:50  2023-12-01 10:00:15      15
125269         41234  2023-12-01 09:17:50  2023-12-01 10:01:09      15
125270         41234  2023-12-01 09:17:50  2023-12-01 10:01:21      15
125271         41234  2023-12-01 09:17:50  2023-12-01 10:01:30      15
125272         41234  2023-12-01 09:17:50  2023-12-01 10:01:36      15

          open    high     low  prev-close     ltp     atp
0          0.0     0.0     0.0      6455.1     0.0     0.0
1          0.0     0.0     0.0      6455.1     0.0     0.0
2          0.0     0.0     0.0      6455.1     0.0     0.0
3          0.0     0.0     0.0      6455.1     0.0     0.0
4          0.0     0.0     0.0      6455.1     0.0     0.0
...        ...     ...     ...         ...     ...     ...
125268  6260.4  6260.4  6260.4      6030.0  6260.4  6260.4
125269  6260.4  6260.4  6260.4      6030.0  6260.4  6260.4
125270  6260.4  6260.4  6260.4      6030.0  6260.4  6260.4
125271  6260.4  6260.4  6260.4      6030.0  6260.4  6260.4
125272  6260.4  6260.4  6260.4      6030.0  6260.4  6260.4

[125273 rows x 10 columns]
        token_number            timestamp           time_entry  volume  \
0              40550  1980-01-01 00:00:00  2023-12-01 09:15:02       0
1              40550  1980-01-01 00:00:00  2023-12-01 09:15:02       0
2              40550  1980-01-01 00:00:00  2023-12-01 09:15:04       0
3              40550  1980-01-01 00:00:00  2023-12-01 09:15:14       0
4              40550  1980-01-01 00:00:00  2023-12-01 09:15:23       0
...              ...                  ...                  ...     ...
125268         41234  2023-12-01 09:17:50  2023-12-01 10:00:15      15
125269         41234  2023-12-01 09:17:50  2023-12-01 10:01:09      15
125270         41234  2023-12-01 09:17:50  2023-12-01 10:01:21      15
125271         41234  2023-12-01 09:17:50  2023-12-01 10:01:30      15
125272         41234  2023-12-01 09:17:50  2023-12-01 10:01:36      15

          open    high     low  prev-close     ltp     atp
0          0.0     0.0     0.0      6455.1     0.0     0.0
1          0.0     0.0     0.0      6455.1     0.0     0.0
2          0.0     0.0     0.0      6455.1     0.0     0.0
3          0.0     0.0     0.0      6455.1     0.0     0.0
4          0.0     0.0     0.0      6455.1     0.0     0.0
...        ...     ...     ...         ...     ...     ...
125268  6260.4  6260.4  6260.4      6030.0  6260.4  6260.4
125269  6260.4  6260.4  6260.4      6030.0  6260.4  6260.4
125270  6260.4  6260.4  6260.4      6030.0  6260.4  6260.4
125271  6260.4  6260.4  6260.4      6030.0  6260.4  6260.4
125272  6260.4  6260.4  6260.4      6030.0  6260.4  6260.4

[125273 rows x 10 columns]

        token_number            timestamp           time_entry  volume  \
0              40550  1980-01-01 00:00:00  2023-12-01 09:15:02       0
1              40550  1980-01-01 00:00:00  2023-12-01 09:15:02       0
2              40550  1980-01-01 00:00:00  2023-12-01 09:15:04       0
3              40550  1980-01-01 00:00:00  2023-12-01 09:15:14       0
4              40550  1980-01-01 00:00:00  2023-12-01 09:15:23       0
...              ...                  ...                  ...     ...
125268         41234  2023-12-01 09:17:50  2023-12-01 10:00:15      15
125269         41234  2023-12-01 09:17:50  2023-12-01 10:01:09      15
125270         41234  2023-12-01 09:17:50  2023-12-01 10:01:21      15
125271         41234  2023-12-01 09:17:50  2023-12-01 10:01:30      15
125272         41234  2023-12-01 09:17:50  2023-12-01 10:01:36      15

          open    high     low  prev-close     ltp     atp
0          0.0     0.0     0.0      6455.1     0.0     0.0
1          0.0     0.0     0.0      6455.1     0.0     0.0
2          0.0     0.0     0.0      6455.1     0.0     0.0
3          0.0     0.0     0.0      6455.1     0.0     0.0
4          0.0     0.0     0.0      6455.1     0.0     0.0
...        ...     ...     ...         ...     ...     ...
125268  6260.4  6260.4  6260.4      6030.0  6260.4  6260.4
125269  6260.4  6260.4  6260.4      6030.0  6260.4  6260.4
125270  6260.4  6260.4  6260.4      6030.0  6260.4  6260.4
125271  6260.4  6260.4  6260.4      6030.0  6260.4  6260.4
125272  6260.4  6260.4  6260.4      6030.0  6260.4  6260.4

[125273 rows x 10 columns]
        token_number            timestamp           time_entry  volume  \
0              40550  1980-01-01 00:00:00  2023-12-01 09:15:02       0
1              40550  1980-01-01 00:00:00  2023-12-01 09:15:02       0
2              40550  1980-01-01 00:00:00  2023-12-01 09:15:04       0
3              40550  1980-01-01 00:00:00  2023-12-01 09:15:14       0
4              40550  1980-01-01 00:00:00  2023-12-01 09:15:23       0
...              ...                  ...                  ...     ...
125268         41234  2023-12-01 09:17:50  2023-12-01 10:00:15      15
125269         41234  2023-12-01 09:17:50  2023-12-01 10:01:09      15
125270         41234  2023-12-01 09:17:50  2023-12-01 10:01:21      15
125271         41234  2023-12-01 09:17:50  2023-12-01 10:01:30      15
125272         41234  2023-12-01 09:17:50  2023-12-01 10:01:36      15

          open    high     low  prev-close     ltp     atp
0          0.0     0.0     0.0      6455.1     0.0     0.0
1          0.0     0.0     0.0      6455.1     0.0     0.0
2          0.0     0.0     0.0      6455.1     0.0     0.0
3          0.0     0.0     0.0      6455.1     0.0     0.0
4          0.0     0.0     0.0      6455.1     0.0     0.0
...        ...     ...     ...         ...     ...     ...
125268  6260.4  6260.4  6260.4      6030.0  6260.4  6260.4
125269  6260.4  6260.4  6260.4      6030.0  6260.4  6260.4
125270  6260.4  6260.4  6260.4      6030.0  6260.4  6260.4
125271  6260.4  6260.4  6260.4      6030.0  6260.4  6260.4
125272  6260.4  6260.4  6260.4      6030.0  6260.4  6260.4

[125273 rows x 10 columns]
        token_number            timestamp           time_entry  volume  \
0              40550  1980-01-01 00:00:00  2023-12-01 09:15:02       0
1              40550  1980-01-01 00:00:00  2023-12-01 09:15:02       0
2              40550  1980-01-01 00:00:00  2023-12-01 09:15:04       0
3              40550  1980-01-01 00:00:00  2023-12-01 09:15:14       0
4              40550  1980-01-01 00:00:00  2023-12-01 09:15:23       0
...              ...                  ...                  ...     ...
125268         41234  2023-12-01 09:17:50  2023-12-01 10:00:15      15
125269         41234  2023-12-01 09:17:50  2023-12-01 10:01:09      15
125270         41234  2023-12-01 09:17:50  2023-12-01 10:01:21      15
125271         41234  2023-12-01 09:17:50  2023-12-01 10:01:30      15
125272         41234  2023-12-01 09:17:50  2023-12-01 10:01:36      15

          open    high     low  prev-close     ltp     atp
0          0.0     0.0     0.0      6455.1     0.0     0.0
1          0.0     0.0     0.0      6455.1     0.0     0.0
2          0.0     0.0     0.0      6455.1     0.0     0.0
3          0.0     0.0     0.0      6455.1     0.0     0.0
4          0.0     0.0     0.0      6455.1     0.0     0.0
...        ...     ...     ...         ...     ...     ...
125268  6260.4  6260.4  6260.4      6030.0  6260.4  6260.4
125269  6260.4  6260.4  6260.4      6030.0  6260.4  6260.4
125270  6260.4  6260.4  6260.4      6030.0  6260.4  6260.4
125271  6260.4  6260.4  6260.4      6030.0  6260.4  6260.4
125272  6260.4  6260.4  6260.4      6030.0  6260.4  6260.4

[125273 rows x 10 columns]